[2020-09-23 17:22] aelmanaa opened #237 "plugin GA on AKS"
Hello and thanks for the work.

are there any plans to make this plugin GA on AKS?

for instance, we are using azure-file-csi (https://github.com/kubernetes-sigs/azurefile-csi-driver) since the earlier versions and now we see that it is in preview and will be soon GA on AKS. So I was thinking that you would have similar roadmap.
I'm asking this question as our stakeholders (Infra managers..Etc) wi

[2020-09-24 16:15] Shaked opened #239 "Integration with Kubeflow's PodDefault (or PodPreset) doesn't seem to work"
Integration with PodDefault (or PodPreset) doesn't seem to work

Honestly, I am not 100% sure that this is a driver's bug, so forgive me if that's the case.

However, if you know how this can be fixed, I would be more than happy to file a PR.

I have also opened https://github.com/kubeflow/kubeflow/issues/5315.

**What steps did you take and what happened:**

Steps:

1. I have installed kubeflow h

[2020-09-24 16:30] aramase commented on #239
@Shaked This is in a known issue in kubeflow. Please see [issue](https://github.com/kubeflow/pipelines/issues/4325) for details.

[2020-09-24 16:32] Shaked commented on #239
@aramase Thank you! I missed it as I looked in the wrong place.

[2020-09-24 16:54] aramase commented on #239
@Shaked Sure thing! I'm going to close this as it's not an issue with the driver. Please feel free to open a new issue if you have any other questions.

[2020-09-24 16:54] #239 closed

[2020-09-24 17:26] aramase commented on #237
@aelmanaa Thank you for opening the issue 👍

The integration is in the AKS backlog. You can open an issue here - https://github.com/Azure/AKS/issues to get updates.

[2020-09-25 10:01] aelmanaa commented on #237
ok thanks @aramase  will do.
another question: do you support all AKS GA versions ? For instance 1.18 is GA now and 1.19 will GA soon. Do you ensure that AZure CSI secret store supports new k8s versions before that they become GA?

thanks

[2020-09-25 15:42] tigran-a opened #240 "kubernetes secret sync does not recreate it if already exists"
**What steps did you take and what happened:**
secretObjects does not honor updates in the KeyVault

Scenario:
Assuming a SecretProviderClass with secretObjects defined.
A secret with value Value1 is in KeyVault

1. Create a pod that mounts a csi volume with secrets-store.csi.k8s.io driver referencing the secretProviderClass.
 _(it will create a k8s secret with value Value1)_
2. Update secret valu

[2020-09-25 17:19] aramase commented on #240
@tigran-a Thank you for opening the issue 👍

This is a know limitation in the `secrets-store-csi-driver` - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/README.limitations.md#mounted-content-and-kubernetes-secret-not-updated-after-secret-is-updated-in-external-secrets-store.

When the `v0.0.15` for driver will be released, the secrets and mounted contents will be per

[2020-09-25 18:29] tigran-a commented on #240
Thanks @aramase, you are right, I did not spot it. Closing the issue.

[2020-09-25 18:29] #240 closed

[2020-09-25 19:48] akav opened #241 "Additional example for usage of CSI with Service Principal when deploying resources in different namespaces"
Documentation provided for usage of Service Principal:
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/service-principal-mode.md

If one applies the secrets-store-creds and SecretProviderClass in default namespace only, when one deploys resources in namespace other than default containers will generate not found errors. It would be helpful to expand the documentat

[2020-09-28 15:59] jrudley commented on #232
@jweaver4 I am not sure if you solved this or not, but it is working just fine for me. A couple of things to note in your SecretProviderClass file
          objectName: ingresscert <-name of pem file holding your public/private key
          objectType: secret

  - secretName: global-cd-tls
    type: kubernetes.io/tls
    data:
    - objectName: ingresscert -<matches object name from above
      k

[2020-09-28 16:45] aramase commented on #202
Closing this issue due to inactivity. Please feel free to open an issue with `aad-pod-identity` if you're still experiencing issues.

[2020-09-28 16:45] #202 closed

[2020-09-28 16:49] aramase commented on #237
@aelmanaa We currently test the driver with the latest versions of AKS as part of our CI pipeline.

[2020-09-28 21:00] aelmanaa commented on #237
ok thanks @aramase

[2020-09-28 21:00] #237 closed

[2020-09-29 17:22] aramase commented on #218
Closed with #219

[2020-09-29 17:22] #218 closed

[2020-09-29 22:21] aramase opened #245 "Update to go 1.15"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-09-29 22:23] aramase commented on #232
@jweaver4 thank you for confirming the solution is working.

@jrudley thank you for chiming in to help 😄

Closing this issue now. Please feel free to open a new issue if you hit any other issues.

[2020-09-29 22:23] #232 closed

[2020-09-30 16:04] #89 closed

[2020-10-01 04:17] #197 closed

[2020-10-02 02:35] Extant-1 opened #250 "Unable to mount secrets volume to Windows pods using pod identity"
**What steps did you take and what happened:**
On our AKS cluster I set installed the key vault CSI driver using helm char v 0.0.10 with only windows enabled and linux disabled (for both the driver and provider).

I then configured a SecretProviderClass that uses pod identity to retrive a single test secret from the key vault. After setting up the azureidentity and corresponding binding, I configu

[2020-10-02 02:39] aramase commented on #250
@Extant-1 `pod-identity` is only supported for Linux workloads - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/pod-identity-mode.md

[code]

For windows, you can use [Service Principal](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/service-principal-mode.md), [User Assigned Managed Identity](https://github.com/Azure/secrets-st

[2020-10-02 02:45] Extant-1 commented on #250
Understood, thanks.

[2020-10-02 02:45] #250 closed

[2020-10-06 11:17] tuxfight3r opened #252 "flux errors out when trying to read csi/secret-store/driver image tags"
**What steps did you take and what happened:**
We are using flux and helm operator to deploy azure CSI driver to our AKS clusters. when deployed using helmreleases everything works except for the part the flux complains that its not able to read all the available tags for the csi driver. The image in question is ```mcr.microsoft.com/k8s/csi/secrets-store/driver``` for which I'm unable to browse th

[2020-10-06 19:57] salehio opened #253 "[Closed as Dupe] Basic installation of AKS and the CSI provider fails to fetch secret due to missing provider"
**What steps did you take and what happened:**
1- Deploy basic AKS cluster in Azure using System Identity (not sure if System Identity is relevant)
2- Use helm to install the provider:
[code]
3- Deploy provider:
[code]
[code]
4- Deploy the nginx sample config:
[code]
[code]

5- Checking the status of the nginx deployment:
[code]
**err: failed to find provider binary azure, err: stat /etc/kubernete

[2020-10-06 20:02] salehio opened #254 "Add debug guide - deployment failing with "failed to find provider binary azure""
**What steps did you take and what happened:**
1- Deploy basic AKS cluster in Azure using System Identity (not sure if System Identity is relevant)
2- Use helm to install the provider:
[code]
3- Deploy provider:
[code]
[code]
4- Deploy the nginx sample config:
[code]
[code]

5- Checking the status of the nginx deployment:
[code]
**err: failed to find provider binary azure, err: stat /etc/kubernete

[2020-10-06 20:15] aramase commented on #253
@salehio

[code]

installs only the driver and not the provider.

The following docs have the steps on how to install the driver and provider using helm/deployment manifests - https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider

For installing the latest releases with deployment manifests, PTAL at https://github.com/

[2020-10-06 20:16] aramase commented on #254
@salehio

[code]

installs only the driver and not the provider.

The following docs have the steps on how to install the driver and provider using helm/deployment manifests - https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider

For installing the latest releases with deployment manifests, PTAL at https://github.com/

[2020-10-06 20:16] aramase commented on #254
Closing this issue as it's a duplicate of #253

[2020-10-06 20:16] salehio commented on #253
Closing since a github transient issue caused me to post twice.

[2020-10-06 20:16] #253 closed

[2020-10-06 20:19] aramase commented on #254
Reopening this as #253 is closed

[2020-10-06 20:57] salehio commented on #254
Hey @aramase

Thanks! Yeah, apparently I had the wrong helm repo/chart. I wonder how I ended up with the wrong one, but documentation looks good.

As a side note: I was hoping there would be a "Troubleshooting" readme with a bunch of mistakes/errors and solutions that I could add this to, but I can't find one. Any place to document this? Because googling this error brought up pretty much nothing.

[2020-10-06 21:01] aramase commented on #254
@salehio We have basic troubleshooting docs in here - https://github.com/Azure/secrets-store-csi-driver-provider-azure#troubleshooting. We could add a new doc in https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/docs (debug.md) that could contain this. Would you be interested in opening a PR for this?

[2020-10-06 21:05] aramase commented on #252
@tuxfight3r That's because with the next release we'll be switching the driver images to a new url - `mcr.microsoft.com/oss/kubernetes-csi/secrets-store/driver` instead of `mcr.microsoft.com/k8s/csi/secrets-store/driver`. This configuration update has been merged which is why the old url returns a 404 (the images will exist but the registry will return 404 as the config no longer exists).

We'll b

[2020-10-06 21:21] salehio commented on #254
Sure, I'm interested in creating that. I'll send a PR out within the next 2 days.

[2020-10-06 21:53] aramase opened #255 "Build multi-arch images for 1809, 1903 and 1909"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-10-06 22:00] aramase opened #256 "Create a documentation site for Azure Key Vault Provider"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-10-08 08:12] veboddu opened #259 "MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = stat /etc/kubernetes/secrets-store-csi-providers/azure/provider-azure: no such file or directory"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Using deployment yaml files to deploy CSI secret store with azure provider for Geneva services. The same script worked for deploying geneva services with CSI driver enabled for most of our deployments, but failed with below error in one region.

`
  Warning  FailedMount  69s (x12 over 9m27s)  kube

[2020-10-08 16:12] aramase commented on #259
@veboddu The latest version of the Azure Key Vault provider `0.0.9` is not compatible with driver versions < `v0.0.14`. While installing the driver and providers using yamls, there are few additional configuration flags that need to be set as documented here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/install-yamls.md

[code]
arg in the `secrets-store` conta

[2020-10-08 17:33] aramase commented on #259
If the Secrets Store CSI Driver and Azure Key Vault provider are installed using helm from this repo, the helm charts automatically configure the required flags documented above.

[2020-10-08 17:54] veboddu commented on #259
Thanks @aramase . But the same has been working for other regions. Any reason why this could have been a specifically for few?

[2020-10-08 17:56] aramase commented on #259
@veboddu That's probably because the old version of provider binary exists and is being used with the driver. If you want to use the latest version `0.0.9`, then you would need to set the flags to configure the driver.

[2020-10-08 17:58] veboddu commented on #259
Ok. As we don't have specific reason for the older binaries, will update driver to the latest and check.

[2020-10-10 16:30] drwoods commented on #206
Ability to defein our own labels and annotations to add to the pods would be great, as we're using custom labels to track deployer and cost tracking info

Also, being able to override priorityClassName is a must, as using the default of 0 means the pod is getting starved in some of our clusters where we use priorities to ensure some pods (like infrastructure or system critical pods) are not evicte

[2020-10-10 16:42] drwoods commented on #206
PR #263 adds the priorityClassName

[2020-10-11 12:06] smartaquarius10 opened #266 "Mount volume setup failed error is coming"
Team,

I have used aad-pod-identity to establish connection between Azure Key vault and csi driver. I'm trying to pull 3 secrets from kv using 2 **secredproviderclasses** but getting this error. Can you help me please?

[code]

[code]

**SecretProviderClass 1**:-
[code]
**SecretProviderClass 2:-**
[code]
Here 3 different secrets saved in key vault are tlscert, tlskey and X-Header-license and my ng

[2020-10-11 15:25] smartaquarius10 commented on #266
Issue resolved. I have not updated the azure policy rules of managed identity to provide read role to azure key vault

[2020-10-11 15:25] #266 closed

[2020-10-11 21:42] jrudley commented on #259
I think I ran into this on, but a windows container. I am not sure if it is related? It was a k8s job and successfully ran, so I am assuming it worked eventually?
` Warning  FailedToCreateSecret  42s (x17 over 6m16s)  csi-secrets-store-controller  failed to get mounted files, err: failed to list all files in target path c:\var\lib\kubelet\pods\35a528b8-57d2-44a6-b219-f78fe5ca91b3\volumes\kubernete

[2020-10-12 16:55] spr-metlife opened #267 "Ability to authenticate the ServicePrinciple for KeyVault access with a certificate instead of a password"
**Describe the solution you'd like**

We are looking to use the secrets-store-csi-driver-provider-azure to integrate AKS secrets with Keyvault, but our internal IT Risk and Security team require all access to KeyVault to be authenticated with certificates, not passwords. I don't see, at first blush, any mention of doing that in the documentation here. Would like to see that support added if it doe

[2020-10-12 17:25] aramase commented on #259
@veboddu Were you able to follow the instructions to update to the latest version? Is the issue resolved now?

[2020-10-12 19:12] aramase commented on #267
@spr-metlife Thank you for opening the issue 👍

The provider currently only supports clientID and password for Service Principal mode. This will be a good feature to have. I've added this to our backlog for now.

[2020-10-12 19:15] aramase commented on #252
Closing this issue with the new driver images (`v0.0.16`) hosted in the new repo.

[code]

[2020-10-12 19:15] #252 closed

[2020-10-12 19:17] aramase commented on #224
We have added the latest CSI Driver `v0.0.16` as part of the Azure Key Vault provider helm release. The secret rotation alpha feature can be tried out with the latest helm charts.

Here are some docs on how to enable the secret rotation and configure the poll interval for rotation -
- https://github.com/Azure/secrets-store-csi-driver-provider-azure#optional-enable-auto-rotation-of-secrets
- https:

[2020-10-12 19:17] #224 closed

[2020-10-12 21:22] jrudley opened #268 "aks failed to get mounted files, err: failed to list all files in target path"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am only seeing this error on k8s init windows jobs. I am unsure of linux jobs are impacted as I don't run any linux init jobs.
[code]
This does not stop the k8s job from running and completing successfully.

I did not see this issue in 0.0.8, but I am on 0.0.9
aks 1.18.8 vmss with latest windows

[2020-10-12 21:30] aramase commented on #268
@jrudley Could you provide the following -
1. `SecretProviderClass` YAML
2. Job YAML

`v0.0.16` generates events in case of failures. It's possible these errors existed in the logs before but wasn't concerning?

[2020-10-13 12:33] aelmanaa opened #269 ""provider-azure" binary expected in "/etc/kubernetes/secrets-store-csi-providers/azure" of every node"
Hello,

we have a lab cluster on which I'm testing new versions of secret store csi & provider-azure before rolling out on our other AKS clusters.

I've remarked that with the last version of azure provider (mcr.microsoft.com/oss/azure/secrets-store/provider-azure:0.0.9) , on every node, a file "azure.sock" is created in "/etc/kubernetes/secrets-store-csi-providers" and there is no more the binary

[2020-10-13 13:37] jrudley commented on #268
[code]

[code]

Let me run some tests today and will report back my findings to give some more info

[2020-10-13 16:26] aramase commented on #269
@aelmanaa If the driver is installed manually using the yamls from the driver repo, you'll need to set the `--grpc-supported-providers=azure` arg in the driver manifest.

Ref doc: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/install-yamls.md#install-the-secrets-store-csi-driver

If using helm, this arg is automatically configured in the driver deployment - http

[2020-10-13 17:34] aelmanaa commented on #269
ok @aramase  thanks ,it works fine now.
The note is confusing though:

elease of the Azure Key Vault provider is incompatible with the Secrets Store CSI Driver versions < **v0.0.14** ; I'm using secret store CSI driver v0.0.16 and as we can see, "--grpc-supported-providers=azure" is needed

[2020-10-13 20:35] aramase commented on #269
@aelmanaa The release notes also have a ref to the doc which explains setting this flag if you using manifests - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/how-to-upgrade.md

[code]

[2020-10-13 20:36] aramase commented on #269
Closing this issue as it's resolved now. Please feel free to reopen if there is any other issue.

[2020-10-13 20:36] #269 closed

[2020-10-14 06:51] ahmedkhammessi opened #270 "Kubernetes Secret Sync Requires the alias as an ObjectName"
**What steps did you take and what happened:**
1- Create a SecretProviderClass
apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  secretObjects:                                 # [OPTIONAL] SecretObject defines the desired state of synced K8s secret objects
  - secretName: sqlserver
    type: Opaque
    data:
    - obj

[2020-10-14 12:20] aelmanaa opened #271 "kubernetes secret sync without creating pod"
**Describe the solution you'd like**
Hello,

currently we have to create a secret provider class and a pod so that a k8s object gets created
would it be possible to have a controller which sync automatically azure keyvault with k8s secrets without going through the pod creation step?

the current solution works fine so this is suggestion is a nice to have feature (if possible of course)

[2020-10-14 21:11] aramase commented on #271
Duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298

I've added few comments in the issue. Please feel free to chime in there.

[2020-10-14 21:11] #271 closed

[2020-10-15 09:10] ahmedkhammessi commented on #270
@aramase Thanks for the support

apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  secretObjects:                                 #SecretObject defines the desired state of synced K8s secret objects
  - secretName: sqlserver
    type: Opaque
    data:
    - objectName: $secretName                    # name of the moun

[2020-10-15 09:17] mortenlerudjordet commented on #259
Can confirm on my side that adding --grpc-supported-providers=azure to secrets-store-csi-driver.yaml solved my problem with the same error.
Should look like this after edit:
[code]

[2020-10-15 15:22] aramase commented on #270
@ahmedkhammessi The Secrets Store CSI Driver uses the files from the pod mount to mirror as Kubernetes Secrets. If using an alias for the object then the objectName for `secretObjects` need to be the alias which in this case is `SECRET_1`.

[code]

As you can see from the above error, the file `pbb-sonarqube-db-password` is not found. Could you change to using alias here -

[code]

If the secret s

[2020-10-15 16:56] jrudley commented on #268
I reprovisioned my cluster and cannot repo this now. I did use a custom name space in my new deploys, so maybe that had something to do with it?

[2020-10-16 08:53] deuch opened #273 "PFX secret are not converted to PEM"
**What steps did you take and what happened:**

I’ve created a certificate with App Service Certificate. This one is stored as a secret in a keyvault (PFX with cert and key embedded) in base64. It’s done like that by Azure.

I’ve tried your sample for ingress TLS certificate and have issue.
The certificate is reprieves from Keyvault but not converted in PEM in my container.
I’ve tried objectFormat

[2020-10-16 10:25] mortenlerudjordet commented on #273
I'm on the same versions.

What works for me in SecretProviderClass:
[code]
For me this gives me both the private and public key in the pem file set in objectAlias
I tested this by using **kubectl cp** to get the cert file from a pod that has a secret store mountpoint active.

If you are not getting what you expect I would download the pfx from the keyvault and use openssl to get content:
[code]
N

[2020-10-16 11:07] deuch commented on #273
Tested your conf and still have the base64 encoded pfx in the container.

The certificate came from app service certificate and is created by azure.
I do not want to modify it because I will loose the auto-renew feature.

I’ve convert the certificate in PEM and convert it to pfx without luck.
The public and private key are in the same cert and store as a secret. In my KV there is no key or certifi

[2020-10-16 11:41] mortenlerudjordet commented on #273
In my kv the pfx is stored as a certificate. So if you have stored it as a secret, this might be why you have a different experience.
I also use the pfx in another container, but before using it there I have to do a initContiner using tannerfe/alpine-openssl image and do a command:
[code]
With the following in SecretProviderClass:
[code]

[2020-10-16 12:03] deuch commented on #273
Yes we already do that for converting pfx to pem with initContainer.

My aim is to have this secret injected in a k8s tls secret and set the auto-rotation of csi-driver. This is a new feature released a few day ago I’m waiting for ...
With the 2 auto-rotation (auto-renew of certificate in KV and auto-rotation in csi drivers) the ingress tls certificate are always up to date ...

[2020-10-16 16:07] deuch commented on #150
Same thing here. We are trying to use App Service Certificate to handle certs in AKS and csi drivers to have the auto-renew feature ...

[2020-10-16 16:14] aramase commented on #273
@deuch The certificate in PFX/PEM format needs to be stored as a certificate. Key Vault on the backend will split the components and store them as secret, key and cert. If the PFX data is stored as a secret it's just a blob which will be returned as is by the Azure Key Vault provider or `az keyvault secret download`.

If using the CLI, you can upload the PFX file by running `az keyvault certificat

[2020-10-16 16:34] deuch commented on #273
I do not import the certificate in keyvault by myself, it’s the azure managed service App Service Cerificate that do it. When t’yoinbuy a certificate from App Service Certificate, you need to choose (mandatory) a keyvault to store it. And it is store as a secret, n’ont a certificate.

If I export and import it as certificate and key I will list the auto-renew and rekey features of app service cert

[2020-10-16 23:16] aramase commented on #273
Thank you for the details @deuch!

Looks like upload the certificate directly as a secret is deprecated and the recommended way is to import it as a certificate.

![Screen Shot 2020-10-16 at 4 12 44 PM](https://user-images.githubusercontent.com/10608509/96321518-9571b680-0fca-11eb-9646-ad79f880a8ce.png)

@jlichwa Do you know when this option will be removed? Should App service be storing the pfx d

[2020-10-17 05:58] deuch commented on #273
@aramase Maybe it’s not the official way to import certificate, but it’s how app service certificate work right now :) Only Azure can change this behavior. And it will be nice to have it ASAP to avoid issue in production with expired certificate.

We have everything available in Azure to auto-rotate the cerificate but the azure components are not compatible between them🤨

Again, having this workin

[2020-10-19 09:59] kenans commented on #138
@aramase Hi, any update on this one?

[2020-10-19 16:16] aramase commented on #138
@kenans Correct. The KeyVault GetSecret API returns raw PFX file in base64 encoded format. That is by design. We have added a new field `objectEncoding` in release 0.0.9 which can be set to `base64` and the Key Vault Provider will base64 decode the PFX data before writing to the file.

[2020-10-19 16:51] jlichwa commented on #273
@deuch I don't think that is how it is how it is recommended for managing app service certificate. You should not upload it as secret. Some guidelines here https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#import-a-certificate-from-key-vault also adding @sebansal

[2020-10-19 18:18] deuch commented on #273
App service certificate is a managed service of Azure that generate certificates from GoDaddy. It’s app service certificate that store the certificate as secret furring creation not me.

You have no choice to do it in another way. It’s fully done by Azure. I just set the domain and the keyvault and all is automatically store in keyvault as secret and not certificate.

If the official service to ge

[2020-10-19 18:26] jlichwa commented on #273
@deuch I'm representing key vault, and this CSI Driver for Key Vault. If AppService does not follow our best practices, that is not our fault. You can create issue on them. #please-close

[2020-10-19 18:42] aramase opened #274 "Add security code checking using gosec linter"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Scan source code for security vulnerabilities using gosec.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):

[2020-10-19 19:24] sebansal commented on #273
An App Service Certificate is stored as a Key Vault secret. You can export a PFX copy of it and use it for other Azure services or outside of Azure.
How-to commands are provided here by the App Service Team.
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#export-certificate

[2020-10-19 19:24] sebansal commented on #273
The downloaded appservicecertificate.pfx file is a raw PKCS12 file that contains both the public and private certificates.

[2020-10-19 19:34] deuch commented on #273
Doing that and I lost the auro-renew feature because I need to develop a synchronisation tool between the certificate as secret and the one I exported ... many many productions incident to come ...

Everything is already setup with app service certificate. We just need to be able to retrieve a pfx stored a secret with the csi driver, to mount it as PEM files or PFX in the pod and create the accord

[2020-10-19 19:35] deuch commented on #273
You already have the pfx to PEM. You just have to call the method when using a secret instead of a certificate (decodePKCS12 function in provider.go). But you will have limitation with the design of provider.go.

[2020-10-19 19:40] sebansal commented on #273
As @aramase mentioned, the app service cert needs to be stored as a cert. Perhaps Azure app service certificate team may be able to assist further.
@Azure/appservice

[2020-10-19 19:53] kikokikok commented on #273
Or you could try to talk within your organization Azure team A to Azure team B on the things to be aligned to make Azure as a whole more consistent and easy to use from a client perspective.
Anyway we will have the topic escalated through the CSAs where it makes most sense to have it considered.

Thanks anyway !

[2020-10-19 20:13] ritazh commented on #273
@deuch I share your frustration with this. Let us find the right contact in Azure App Service and get back to you on this issue.

[2020-10-19 21:17] deuch commented on #273
Thank you !

[2020-10-19 22:57] aramase opened #275 "Switch to using HostToContainer instead of Bidirectional mount"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (

[2020-10-19 22:57] aramase commented on #270
@ahmedkhammessi Is the issue resolved now?

[2020-10-19 22:58] aramase commented on #259
@veboddu Any update on this issue?

[2020-10-19 23:27] ahmedkhammessi commented on #270
The issue is resolved, I simply think the documentation is misleading since it doesn't state the fact that if the alias is used in the object definition it has to be used in the secret reference too, actually it states that its optional.

[2020-10-20 07:03] veboddu commented on #259
Thank you @aramase . With the suggested change, I was able to get it working.

[2020-10-20 07:04] #259 closed

[2020-10-20 11:52] varunjain1995 commented on #200
@mansing2 - I am facing similar issue, can you explain where you have added that.

Error Message : failed to mount objects, error: failed to get keyvault client: failed to get key vault token: nmi response failed with status code: 404

[2020-10-20 12:59] jrudley opened #278 "aks start/stop"
I am testing out the aks start/stop preview feature. What is happening when I start the cluster back up is that the specific node running the provider and driver need to pull the image, so other pods on the same node are throwing mount failures.  I was looking to run an init container to check to make sure the pod is up, but not sure what kind of health check I could use. I could depend on the ret

[2020-10-20 16:20] stefsch commented on #273
There is a long term plan to change the object type to "certificate" for App Service Certificates (ASC) that are generated and stored in KeyVault.  For the near term though, it is an implementation limitation of the feature that it stores certificates as type "secret".

[2020-10-20 16:29] deuch commented on #273
In the mean time can we have a patch in the csi driver to be able to use ASC certificates as secret ?

[2020-10-20 19:05] ritazh commented on #278
@jrudley Thanks for the feedback!
We should think about adding readiness probe for the csi driver @aramase

[2020-10-20 19:12] aramase commented on #278
Thank you @jrudley!

I've opened https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/353 to track it.

[2020-10-20 22:29] deuch commented on #278
Maybe use a PriorityClassName too to system-cluster-critical to be sure that csi pods are scheduled and started before applicative pods ?

[2020-10-20 23:13] jrudley commented on #268
Reopening..I am seeing this on multiple pods on different windows nodes. When I apply a new yaml is when I see this error.
[code]

This time, it isn't a job like I initially mentioned. Happens on any of my windows pods.
k logs azure-csi-secrets-store-csi-driver-windows-k5kvl secrets-store --tail=100
[code]

I have to forcefully delete the pod.

[2020-10-21 12:46] local-master opened #279 "Possibility to annotate the created secret with secretprovider"
**Describe the solution you'd like**
At the moment the secrets can only be used within the namespace that the pod mounts the disk and secret is created. Using kubed we could share that secret with other namespaces. This will allow us to have single namespace with some alpine pod running all the mounts with secret and spread the secrets across namespaces.

For this to work the secret has to be anno

[2020-10-21 17:44] aramase commented on #279
@local-master Thank you for the feedback. Since this is a driver feature I've opened the issue here - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/356.

[2020-10-21 17:44] #279 closed

[2020-10-22 00:04] aramase commented on #268
@jrudley Are those pods using the `secretObjects`. `FailedToCreateSecret` indicates there are `secretObjects` in `SecretProviderClass`. The reconciler tries periodically to create the secret if initial attempt failed.

So in this scenario, the pod is being deleted and the SecretProviderClass still exists?

[2020-10-22 00:17] ZeroMagic opened #281 "Support for reading the azure environment file"
**Describe the solution you'd like**
Currently, secret-store-csi-driver-provider-azure just sets the azure environment file path. It does not read the content.
In the MSI scenario, it works as a managed addon in AKS. While in the SP scenario, users still need to create another SP to access their key vaults.

As a managed addon, it is a better way for SP users to directly access the key vault with

[2020-10-22 00:38] jrudley commented on #268
@aramase The one secretproviderclass named azure-sync is being used by multiple pods. When one of the pods that is using the azyre-sync secretproviderclass goes to terminate from a deployment, it seems that maybe the reconciler is hitting and halting the termination of the pod. Hopefully I am understanding your question correctly?

[2020-10-23 15:39] chrisamert opened #283 "Support configuring updateStrategy.rollingUpdate.maxUnavailable in Helm charts"
**Describe the solution you'd like**
Right now the Helm Charts configure Daemonsets with the RollingUpdate strategy, but don't provide any option so specify the 'maxUnavailble' property, so the default value of '1' is being used.  On our 60+ node clusters this is causing the deployment to take 40+ minutes to complete.  It would be great if the Helm charts allowed 'maxUnavailable' to be configurabl

[2020-10-23 16:32] aramase commented on #283
@chrisamert Thank you for opening the issue 👍

Yeah, please open another issue for the driver.

That is correct. When kubelet invokes the driver for the volume mount it needs to wait until the new pod is up and running for the mount to succeed.

Would you be interested in opening a PR for this?

[2020-10-23 16:47] chrisamert commented on #283
@aramase Yes, I can send a PR for this.  And I will open another issue for the driver

[2020-10-23 17:14] aramase commented on #268
@jrudley Thank you for the information. The reconciler will only generate an event for the pod but shouldn't prevent it from terminating. I'll take a look.

[2020-10-23 17:18] jrudley commented on #268
@aramase Thanks. Let me know how I can help.

[2020-10-23 17:51] jbearor opened #284 "Support using `userAssignedIdentityID` when `usePodIdentity` is true"
**Describe the solution you'd like**
When `usePodIdentity` is `true`, I would like to be able to use `userAssignedIdentityID` to chose the `AzureIdentity` I want to use in the csi driver (when multiple identities are configured).  Looking through the code, this doesn't seem to be configured, is there another way this functionality is already in place?

**Anything else you would like to add:**
 I c

[2020-10-23 18:23] chrisamert commented on #283
Issue for the driver: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/361

[2020-10-23 19:54] jrudley opened #286 "cluster autoscaler causes failed mount"
**What steps did you take and what happened:**
Deploying new image, no available nodes, new node provisioned, secret store pods deployed, my container keeps retrying to mount while secret store pods are pulling new image and creating container, my container eventually mounts the volume.

whats happening is when my container try's to mount once csi pods are up is a mount failure
[code]
I tried rest

[2020-10-23 20:15] aramase commented on #286
@jrudley From the logs posted above -

[code]

this indicates the driver `secrets-store` container is up and running and is responding on the socket.

On a good node (in my cluster) -
[code]

the last 2 lines of log usually indicate the plugin being registered and kubelet ACK'in it with `NotifyRegistrationStatus`.

Could you check the kubelet logs for the node to see if there are any errors?

[2020-10-27 01:40] jrudley commented on #286
I could not see any errors that stood out. I had to blow away this cluster and reprovisioned. I'll see if I can repo again

[2020-10-28 16:07] barlass opened #289 "Kubernetes Secrets not getting refreshed during pod restart"
**What steps did you take and what happened:**
We have secret-store mounted on pods.

        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: keyvault-v

So when the certs in key vault are updated and we restart the pods , the mounted secret-store gets updated versio

[2020-10-28 16:16] aramase commented on #289
@barlass  So this is a known limitation - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/README.limitations.md#mounted-content-and-kubernetes-secret-not-updated-after-secret-is-updated-in-external-secrets-store. The Kubernetes secret is created the first time a pod referencing it is created. The secret data is mirrored based on the content in mount.

To enable update

[2020-10-28 17:12] #283 closed

[2020-10-28 17:28] #275 closed

[2020-10-28 17:33] barlass commented on #289
So , the only time kubernetes secret is updated is when the first pod referencing it is created for the first time. And after that it is not sync with the mounted secret store during subsequent rolling deployments ?  Is this the correct understanding?

[2020-10-28 18:14] aramase commented on #289
@barlass That's correct. The primary functionality for the driver is to mount the objects in the pod. Mirroring as Kubernetes secret is optional and if enabled will be done if the secret doesn't exist. If the secret already exists and needs update then it would need to be deleted.

But with the new auto rotation alpha feature the secret is periodically updated with the latest mount content. Also,

[2020-10-29 03:01] sireza opened #290 "Failed to mount: 'failed to yaml unmarshal objects'"
**What steps did you take and what happened:**
Followed the steps to sync TLS certificate stored in a Key Vault for the nginx ingress controller. The certificate would be used a the default SSL certificate.

Here's the relevant error message:

[code]
ServiceProviderClass (Sanitized)
[code]
Finally here were added to the values when installing nginx ingress with Helm

[code]

**What did you expect

[2020-10-29 04:31] sireza commented on #290
Just managed to fix this. Seems to be spacing issue under parameters.objects. Also `kubectl apply` did not pick up the spacing fix I did, so had to delete the the resource manually and apply again. (just in case anyone is wondering)

[2020-10-29 05:33] #290 closed

[2020-10-29 06:18] mansing2 commented on #200
@varunjain1995 - Sorry for the delay in response. Answer to your question, you can create another yaml file with the same content above and apply during helm install or update with -f
[code]
Another way is using kubelet

```kubectl set env deployment<deployment_name> KUBERNETES_SERVICE_HOST=<your AKS host> -n <namespace>```

Let me know if that helps.

[2020-10-29 10:10] alarco-l commented on #273
Is there any news on a potential patch in the csi driver ?
On an user perspective, Azure is an all in one service, we expect services to work nicely all together.
I understand it's a **long term plan to change the object type to "certificate" for App Service Certificates (ASC)** but in the meanwhile we have production outage because of that.
My team and I will really appreciate a patch in the csi

[2020-10-29 14:05] rahulgkrishna97 opened #291 "PFX certificate fetched from keyvault is not working/not in correct format"
**What steps did you take and what happened:**

Installed azure-provider using the command
helm repo add csi-secrets-store-provider-azure https://raw.githubusercontent.com/Azure/secrets-store-csi-driver-provider-azure/master/charts
helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --generate-name

installed the secretproviderclass.yaml and deployment.yaml

apiVersion:

[2020-10-29 15:54] JuanFryS opened #292 "Azure Key Vault not being successfully mounted on pod"
**What steps did you take and what happened:**
Followed MS guide to mount Azure Key Vault Secrets into pods: [MS Guide](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes).

- Created Service Principal and key vault instance and granted permissions for SP to access the key vault and retrieve secrets

- Installed the Secrets Store CSI driver and the Azure Key Va

[2020-10-29 17:01] aramase commented on #291
@rahulgkrishna97 If the object type is pfx, then it can't be converted to Kubernetes Secret.
[code]

If you want to sync the data as Kubernetes secret, then you can set the `objectFormat: pem`. This will write the certificate in pem format in the pod and also sync the pem content (splitting cert and key) as kubernetes secret.

[2020-10-29 17:04] aramase commented on #292
Could you provider more info -

1. Which version of the driver and provider are running on the cluster?
2. Logs from the driver pods running on the same node as the workload
3. Logs from providers pods running on the same node as the workload
4. `kubectl get nodes -o wide` output

[2020-10-29 17:46] JuanFryS commented on #292
Thanks for the response.
**1. Which version of the driver and provider are running on the cluster?**
Version of the driver is 0.0.14
Version of the provider is 0.0.9
**2. Logs from the driver pods running on the same node as the workload**
[code]
**3. Logs from providers pods running on the same node as the workload**
[code]
**4. `kubectl get nodes -o wide` output**
[code]

[2020-10-29 17:58] aramase commented on #292
Thank you for the logs.

[code]

This seems to be a timeout error while requesting for a token from AAD and using that to access Key Vault.
1. Do you have any firewall rules blocking egress?
2. Network policies configured on the cluster that's blocking traffic?
3. Are you able to get on the node and check if there is connectivity to AAD from the node?

[2020-10-29 23:40] #274 closed

[2020-10-29 23:45] aramase opened #293 "Add demo script used for recording"

[2020-10-30 07:04] deuch commented on #291
Even if you choose Pem, if you secret is not a part of a certificate object in keyvault, it will not work.
If you store your certificate as a pure secret in keyvault (uploading the pfx cert  in keyvault as a secret for eg) the conversion will not occur.
This is a big issue for us because App Service Cerificate store the certificate as secret and not as certificate :( we faced many incident in prod

[2020-10-30 07:15] rahulgkrishna97 commented on #291
@aramase I've tried as said above and it is still not working as expected , FYI we directly store the CA signed cert(pfx format) as a certificate object in keyvault and it also contains bag attributes, when we try to retrieve the cert those bag attributes are missing and the expected data is not retrieved.

[2020-10-30 14:45] JuanFryS commented on #292
Thank you for the investigation. We weren't able to understand that was the problem from the logs.

We have been doing tests today and we have found out the problem was the firewall blocking the outgoing traffic to the key vault.

Working now. Thanks

[2020-10-30 14:45] #292 closed

[2020-10-30 16:19] aramase commented on #291
@rahulgkrishna97 The bag attributes are not set when the certificate is written to the pod. However that should not affect the actual cert. Is this a cert chain? What is the difference in the PEM written to the pods vs the one uploaded? Are you able to validate the cert and key using openssl?

[2020-10-31 00:03] aramase opened #294 "Update container images to latest for registrar and liveness probe"
Current `node-driver-registrar` and `liveness-probe` images are not multi arch and use different tags for linux and windows builds.

Update to:
`mcr.microsoft.com/oss/kubernetes-csi/csi-node-driver-registrar:v2.0.1`
`mcr.microsoft.com/oss/kubernetes-csi/livenessprobe:v2.0.0`

[2020-10-31 16:54] #294 closed

[2020-11-01 16:28] katomel4 opened #296 "support for keyvault private link"
for best security please consider ability for integrate azure key vault with private link

[2020-11-02 05:38] #291 closed

[2020-11-02 14:44] phillipgibson commented on #296
Thanks for your feedback @katomel4. This would fall under Azure Private Link functionality, which they currently do not support the KeyVault service. I would recommend posting your feedback on the Azure networking forum as well [here](https://feedback.azure.com/forums/217313-networking?category_id=368830)

[2020-11-02 18:49] aramase commented on #205
@lukasmrtvy Thank you for opening the issue. Allowing syncing the secret in multiple namespaces could result in privilege escalation. The Secrets Store CSI Driver has RBAC privileges to create/update secrets in any namespace. However it's possible the user only has access to a particular namespace and could request for the sync secrets in namespaces they don't have access to. This is not a desirab

[2020-11-02 19:00] aramase commented on #254
Closing this issue as the docs are being moved to a docs site. We'll add a troubeshooting guide as part of the website.

[2020-11-02 19:00] #254 closed

[2020-11-02 19:41] aramase commented on #278
@jrudley I did some investigation today. The driver has a liveness probe side car container which queries the driver using the unix socket and reports readiness status every `3s`. You can query the driver readiness status by `curl <node ip>:9808/healthz`. This will return response `ok` with `200 OK` status code if the driver is up and running on the node and is responding on the unix socket.

[cod

[2020-11-02 20:32] jrudley commented on #278
Ah, great suggestion

On Mon, Nov 2, 2020 at 1:42 PM Anish Ramasekar <notifications@github.com>
wrote:

[2020-11-05 14:12] hli07 commented on #268
Hi, I am getting the error: failed to get mounted files, err: failed to list all files in target path as well, though the situation is a little bit different how it ends up. And I am on linux image.

Access mode: SPN
Secrets Store CSI Driver version: 0.0.13
Azure Key Vault provider version: 0.0.9

`3m34s       Warning   FailedToCreateSecret   /inchcape-platform-api-dev-job-multi-dimensions-62h84

[2020-11-05 14:50] kenans commented on #156
@aramase Hi, we also ran into the issue recently. Some of the cert chain order is wrong (wrong means the client cert is not the first one and some softwares assume that). I also understand it's because of the safebag order in the PKCS12 file and the CSI KV driver just honors it by default.

Checking some similar issues under the repo, I found the solution is to propose to the KV team to ensure the

[2020-11-05 18:43] aramase commented on #268
@hli07 Are you using driver version `v0.0.13`? If the `SecretProviderClass` is updated after the pod is deployed then the pod needs to be restarted to pick up the new objects added to `SecretProviderClass`. The volume is mounted and populated only at the pod start.

In driver version `v0.0.16` we have added support for auto rotation. This is in alpha feature and here are some useful links on how t

[2020-11-05 18:44] aramase commented on #289
@barlass Did you get a chance to try out the auto rotation feature?

[2020-11-05 18:45] aramase commented on #278
We'll also add this to the driver docs

[2020-11-05 19:00] aramase commented on #156
@kenans Thank you for the detailed explanation. We want to make it easier for users consuming the CSI driver by including this feature. I've already added this feature to the next milestone.

[2020-11-05 23:46] aramase commented on #185
@zicaden Based on your last comment this should be possible today by getting the pfx file and secret file, then using `ssl_password_file` directive. Is that right? Is there anything outstanding in this issue?

[2020-11-05 23:48] aramase commented on #205
Closing this issue because supporting this feature could be a privilege escalation. Please feel free to reopen if you have any thoughts.

[2020-11-05 23:48] #205 closed

[2020-11-05 23:49] aramase commented on #206
@drwoods Would you be interested in opening a PR for allowing labels and annotations to be configurable using helm?

[2020-11-06 01:12] #245 closed

[2020-11-06 01:12] #207 closed

[2020-11-06 08:49] barlass commented on #289
Yes I did and the secrets are now getting refreshed. If we could restrict this to pod restarts only , it would have been great. thanks for the quick response.

[2020-11-06 08:55] hli07 commented on #268
`@hli07 Are you using driver version v0.0.13?`
yes, should I update it?

`If the SecretProviderClass is updated after the pod is deployed then the pod needs to be restarted to pick up the new objects added to SecretProviderClass. The volume is mounted and populated only at the pod start.`
I didn't manually update SecretProviderClass, It's part of my helm chart deployment which I just ensure Secret

[2020-11-06 14:38] KevinM2k opened #300 "no clientID or resourceID in request"
Hi,

We are using 1.6.3 of the RBAC release, and although this is working in general on most of ours pods, i am seeing some errors with a few, in the nmi i'm seeing this kind of behaviour:

[code]
I'm trying to understand what the above means - it seems to be causing us a few issues when connecting to blob storage accounts in the azure cloud.

Thanks

[2020-11-06 17:09] aramase commented on #300
@KevinM2k For pod identity you can open issues here - https://github.com/Azure/aad-pod-identity/issues.

That's not an error. It's an info message. It indicates there was no specific clientID in the token request, so NMI is going to default to using the first clientID (from `AzureIdentity`) for the token request. The `clientID` is read from the token request header originating from the application

[2020-11-06 17:14] aramase commented on #289
The idea is to not have to restart the pods manually for updates to the mount. Without the secret auto rotation if you still want to do the restart, you can accomplish it as documented here - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/README.limitations.md#mounted-content-and-kubernetes-secret-not-updated-after-secret-is-updated-in-external-secrets-store. Delete t

[2020-11-06 17:14] #289 closed

[2020-11-06 19:19] KevinM2k commented on #300
Thanks for your reply. Absolutely makes sense, and yeah I'll be sure to raise on the other area next time.

[2020-11-06 19:19] #300 closed

[2020-11-07 05:57] chirangaalwis opened #302 "[Question] Understanding the road map of the solution"
**Describe the question**

We have a few road map questions with regards to this solution.

- **Can we consider that this solution ready for a production grade deployment?**

Currently, this solution is at [`0.0.9`](https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.9).

Thus, is it recommended to use this solution in production grade deployments?

- **Will this solu

[2020-11-08 11:15] girishgouda opened #303 "Issue when using csi provider"
C:\Users\Girishgouda.Goudar\source\repos\multicluster\k8sonprem\kustomize\sql\base>kubectl get pods
NAME                                               READY   STATUS              RESTARTS   AGE
csi-secrets-store-provider-azure-f6m7x             1/1     Running             0          5m7s
csi-secrets-store-secrets-store-csi-driver-cnwcv   3/3     Running             0          14m
nginx-secrets-sto

[2020-11-09 15:45] jrudley commented on #268
I worked with Microsoft about another issue, but I believe it is directly related. When using Azure insights, the windows portion is completely broke and not sure why they are deploying this. The windows insight pod in kube-system is constantly restarting. It is causing hangs on other windows container pod during terminations. The fix is to remove insights and I have 0 problems now.

[2020-11-09 17:10] aramase commented on #303
@girishgouda How are you installing the driver and provider? Which version are you installing?

If installing using yamls, please follow the docs here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/install-yamls.md. There is a note in the install docs on setting the required flag in the driver manifest if installing with yamls. Please ensure this flag is added

[2020-11-09 17:42] aramase opened #305 "Add test for backward compatibility"
- Add e2e job to test latest dev image with helm install latest release and n-1 release
- This job should also serve as PR gate for promoting a new chart release

[2020-11-09 17:43] aramase opened #306 "Enhance documentation"
- [x] CSI Driver and Provider version supportability matrix
- [x] Driver features currently supported with the provider
- [x] Troubleshooting guide

[2020-11-09 17:46] aramase commented on #268
@jrudley Thank you for updating the issue with your findings. Is there an RCA for the issue?

@hli07 Do you have windows insight pod running in your cluster too?

[2020-11-09 17:59] hli07 commented on #268
hi @jrudley / @aramase , I don't have Azure insights enabled nor do I see anything suspiciously restarting in the cluster.

[2020-11-09 18:07] jrudley commented on #268
@aramase they are pushing the fix across all the regions and hope to have it done by end of week. css case # 120101424001816

[2020-11-09 18:11] aramase commented on #302
@chirangaalwis Thank you for opening the issue.

We are working on the GA/Stable criteria in the community for the driver and the provider. This is the doc - https://docs.google.com/document/d/1ySjR_Zk93Kk7rel8ZIa4Spum-xArx3jRKPsFWTUKNr0/edit?usp=sharing

We have created `Stable` milestone for both the driver and provider and will be working on those issues for the next few months.

There is a Git

[2020-11-09 18:13] aramase commented on #268
@hli07 Thank you for the response. In your cluster, you're observing the events in the terminating pod but that's not blocking the pod from being terminated and deleted, right?

[2020-11-09 19:09] hli07 commented on #268
thats correct @aramase

[2020-11-10 18:27] kanukhosla opened #307 "pod deployment failing with deployment yaml"
![image](https://user-images.githubusercontent.com/57665232/98715884-984c9680-233f-11eb-95ce-75fd0f1106a9.png)

I am able to deploy the pod yaml file.

getting this error when I switch to deployment spec:

`Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Deployment.spec.template.spec): unknown field "csi" in io.k8s.api.co

[2020-11-10 18:46] kanukhosla commented on #307
my indentation is wrong

[2020-11-10 18:46] #307 closed

[2020-11-11 01:12] aramase commented on #268
We've released driver `v0.0.17` and AKV provider `0.0.10` - https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.10. With `v0.0.17` we have added checks to skip rotation and reconcile for deleting pods.

Closing this issue with the release and also the primary issue for pod stuck in `Terminating` was caused due to windows insights. Please feel free to open a new issue

[2020-11-11 01:12] #268 closed

[2020-11-11 19:39] aramase opened #310 "Add liveness probe for provider"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Add liveness probe check for AKV provider

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes ve

[2020-11-11 19:41] aramase opened #311 "Add image vulnerability scan as part of CI"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-11-13 00:55] pradorodriguez commented on #241
Also, if you try to sync the Secrets in other Namespaces it fails.

[2020-11-13 19:05] ritazh opened #312 "Add support for ClusterIdentity"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
For Arc enabled clusters, an identity resource can be created via a `ClusterIdentity` CRD. Add support for `ClusterIdentity` to allow access to AKV via this identity.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secr

[2020-11-13 19:35] jemag opened #313 "Certificate private key is different from the one in key vault"
**What steps did you take and what happened:**
Installed csi-secrets-store-azure with helm chart:
[code]
Deploy an application with a SecretProviderClass:
[code]
and the following volumes/mounts in deployment.yaml:
[code]
[code]

Upload .pem certificate to azure keyvault using:
`az keyvault certificate import --vault-name aks-temp-kv -n intra -f bundled.pem`

where bundled.pem contains both the ce

[2020-11-13 22:18] chuckthompsonprofisee opened #315 "not base64 encode a secret from keyvault"
Is there a way to have the csi driver not base64 encode a value it pulls from the keyvault?  I have a secret in the keyvault that is already base64 encoded, so when the driver pulls the value from the keyvault it base64 encodes the value again.  so when it ends up in the kubernetes secret, itss a base64 encodes string of a base64 encoded string.  is there anyways to have the driver not encode the

[2020-11-13 22:57] aramase commented on #315
@chuckthompsonprofisee The driver doesn't do the base64 encoding. When data is written in Kubernetes secret it is automatically base64 encoded. The AKV provider for the CSI driver fetches the secret and writes to the mount as is.

You can set `objectEncoding: base64` in the `SecretProviderClass` for the object - https://github.com/Azure/secrets-store-csi-driver-provider-azure#create-your-own-secre

[2020-11-13 23:00] aramase commented on #313
@jemag The cert and key in the mount will match the exact content you uploaded. The private key is converted to `RSA PRIVATE KEY` before being written in the Kubernetes secret but should still be valid for the cert. Did you get a chance to validate it?

[2020-11-13 23:35] kanukhosla opened #316 "azure doesn't let me upload a .cer file"
[code]

After I run the above command I am trying to upload this certificate to certificate section in my AKV. Azure gives an error that .pem certificate expected, so I generated a self signed certificate in the Key Vault.

![image](https://user-images.githubusercontent.com/57665232/99130595-a3b0f380-25c5-11eb-802f-353dfba92fec.png)
If I generate the certificate in key vault, then what will be the

[2020-11-13 23:51] jemag commented on #313
you are right, I should have verified, the key is indeed valid.

Are there any particular reasons why it is converted and not left as is? If I create the secret manually using "kubectl", there is no such conversion happening.

[2020-11-13 23:51] kanukhosla commented on #316
I also tried to generate a .pem certificate and key with the command:` openssl req -newkey rsa:2048 -new -nodes -x509 -days 3650 -keyout key.pem -out cert.pem` but I got the below error.

![image](https://user-images.githubusercontent.com/57665232/99131428-f68baa80-25c7-11eb-87ea-a224e75583fd.png)

[2020-11-14 01:46] #25 closed

[2020-11-14 15:46] ashokbanerjee opened #317 "Unable to mount shared vault secret in eastus2 / voice namespace - csi driver failed"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
40417s         Warning   FailedMount
       pod/gsp-jm-0

      MountVolume.SetUp failed for volume
'gsp-secrets' : kubernetes.io/csi: mounter.SetupAt failed: rpc error:
code = Unknown desc = failed to mount secrets store objects for pod
gsp/gsp-jm-0, err: rpc error: code = Unknown desc = failed to

[2020-11-14 18:53] chuckthompsonprofisee commented on #315
Thanks.  I tried using the objectEncoding: "base64" but I got this error.
MountVolume.SetUp failed for volume "secrets-store-inline" :
  kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = Unknown desc =
  failed to mount secrets store objects for pod
err: rpc error: code = Unknown desc
  = failed to mount objects, error: illegal base64 data at input byte 0

The string in the secret in th

[2020-11-14 20:05] chirangaalwis commented on #315
@aramase @chuckthompsonprofisee I am experiencing the same error when attempting to use this feature.

[2020-11-14 20:51] chirangaalwis opened #318 "[Feature Request] Avoid using a Kubernetes Secret to provide Service Principal credentials"
**Describe the solution you'd like**
Currently, in the approach using a Service Principal for integrating the Key Vault with the AKS cluster, it is required to [provide the Service Principal credentials via a Kubernetes Secret](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#assign-a-service-principal).

As you may know already, the [native Kubernetes Secret

[2020-11-15 01:09] phillipgibson commented on #318
Thanks @chirangaalwis. We are currently looking at new architectures for auth assignments. Please stay tuned for updates.

[2020-11-15 08:54] chirangaalwis commented on #318
Thanks @phillipgibson appreciate the quick response. Please let us know of any update channels which we can stay tuned to.

[2020-11-15 13:16] chirangaalwis commented on #267
@aramase @spr-metlife how about the possibility of not providing any sort of credentials (neither password nor certificate) and attaching the Service Principal to a Service Account which can be used in turn for choosing the Pods having permissions to communicate with the Key Vault?

Please refer to https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/318.

[2020-11-16 14:50] chuckthompsonprofisee commented on #315
My issue was that I did have bad data in the secret in the keyvault, once I put the correct base64 string the in vault, and changed the encoding to base64 like you mentioned above, it works great.  thanks

[2020-11-16 14:50] #315 closed

[2020-11-16 17:27] aramase commented on #317
@ashokbanerjee Could you provide more info that'll help us debug?

1. Which version of the Secrets Store CSI Driver and Key Vault provider are you using?
2. What is the kubernetes version? `kubectl version` and `kubectl get nodes -o wide` output
3. Could you share the `SecretProviderClass` yaml being used?
4. Could you share the `Pod` yaml being used?
5. `failed to get keyvault client: failed to g

[2020-11-16 17:32] aramase commented on #316
@kanukhosla For Kubernetes secrets of type `kubernetes.io/tls`, the key needs to be `tls.crt` and `tls.key`.

The cert and the key needs to be bundled together before they're uploaded to Key Vault. Please take a look at the examples where the cert and key pem are bundled into pfx and then uploaded to Key Vault.

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/ingr

[2020-11-16 17:35] aramase commented on #313
The AKV provider for CSI driver fetches the cert and key from Key Vault and writes to the mount by default in PEM format. So this content will match exactly what's uploaded (including the order for chain of certs). The CSI driver then reads the mount from the pod and uses the content to mirror as Kubernetes secret. The driver determines the key type from the pkcs8 form of the key and sets the type

[2020-11-16 17:36] aramase commented on #303
@girishgouda Could you confirm if this issue is resolved now?

[2020-11-16 17:49] aramase commented on #286
@jrudley Were you able to repro this? I haven't had a repro so far, but will try again.

[2020-11-16 17:57] jrudley commented on #286
I was able to repo it when using insights monitoring. That bug caused all
kinds of issues. They rolled out the fix to the US region Friday. I am
testing my cluster with Microsoft today, but so far so good. I would close
this issue.

On Mon, Nov 16, 2020, 11:50 AM Anish Ramasekar <notifications@github.com>
wrote:

[2020-11-16 17:59] aramase commented on #286
Thank you for confirming. I'll close this issue now but please feel free to reopen.

[2020-11-16 17:59] #286 closed

[2020-11-16 20:17] ashokbanerjee commented on #317
Which version of the Secrets Store CSI Driver and Key Vault provider are you using?
Seems Donald and Derek are actively working on it.  My permission level won’t let me access configs.
What is the kubernetes version? kubectl version and kubectl get nodes -o wide output
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.10", GitCommit:"62876fc6d93e891aa7fbe19771e6a6c03773b0f7", G

[2020-11-16 20:19] kanukhosla opened #319 "deployment app one and two link broken."
If not using service principal mode, remove the following snippet from deployment-app-one.yaml and deployment-app-two.yaml

[2020-11-16 20:20] kanukhosla commented on #319
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/samples/ingress-controller-tls/deployment-app-one.yaml

[2020-11-16 20:35] #313 closed

[2020-11-16 20:55] StephFitz-gene commented on #317
So the current issue has been happen across multiple Kubernetes services.  here's a screen grab of the above requested commands.  I am working on getting more permission to access the rest of the info as I am hitting a permission issue.
<img width="1535" alt="Screen Shot 2020-11-16 at 1 49 59 PM" src="https://user-images.githubusercontent.com/73569556/99306814-ec112100-2812-11eb-8437-258052fc21b1.

[2020-11-16 21:06] StephFitz-gene commented on #317
kubectl describe
[gcxi-raa-0112-westus2-dev-statefulset-0.txt](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/5549706/gcxi-raa-0112-westus2-dev-statefulset-0.txt)

[2020-11-16 21:14] StephFitz-gene commented on #317
Example pod yaml
[gcxi-raa-0112-westus2-dev-statefulset-0.txt](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/5549788/gcxi-raa-0112-westus2-dev-statefulset-0.txt)

[2020-11-16 21:16] StephFitz-gene commented on #317
Example pod with issue yaml
gcxi-raa-0112-west yaml.txt

[2020-11-16 22:22] aramase commented on #317
@StephFitz-gene In the describe output you posted, there is an error log -

[code]

The `SecretProviderClass` doesn't exist in the same namespace the pod is running.

[2020-11-17 20:15] StephFitz-gene commented on #317
This was reported to be a deployment issue and has been resolved.

[2020-11-17 20:29] aramase commented on #317
@StephFitz-gene Just to confirm the deployment issue has been fixed and is now resolved? Can we close this GitHub issue now?

[2020-11-17 20:50] StephFitz-gene commented on #317
From what is being reported to me, yes.  Thank you.

[2020-11-17 20:52] aramase commented on #317
Thank you for the confirmation. Closing this issue. Please feel free to re-open if they're any other issues.

[2020-11-17 20:52] #317 closed

[2020-11-18 02:20] #256 closed

[2020-11-18 02:20] #319 closed

[2020-11-18 13:59] lpghartz opened #320 "Support synchronization to secrets without a pod mount"
**Describe the solution you'd like**

Currently the driver will only sync secrets into a Kubenetes secret if they are mounted onto a pod. This makes it impossible to use KeyVault secrets with services that do not mount secrets, but rather access them via API, without using a hacky work-around like starting a temporary pod with the secret mounted so it triggers the secret to be created.

Some servi

[2020-11-18 23:59] aramase commented on #320
This is a duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298. Please feel free to add your thoughts to that issue.

[2020-11-18 23:59] #320 closed

[2020-11-20 19:30] kgriffiths opened #321 "Job and Deployment using same SecretProviderClass undesirably"
**What steps did you take and what happened:**
Using Helm, I use a job to run a db migration (as a pre-upgrade hook), and then on success, update the deployment. Both the job and deployment make use of the same `SecretProviderClass`.

I add new secrets to Azure Key Vault, then delete the existing `Secret` created by the `SecretProviderClass`. Using Helm, I update the job, which creates a new pod,

[2020-11-22 20:34] kanukhosla opened #322 "unable to deploy the 2 apps"
Got this error while deploying app1 and app2
![image](https://user-images.githubusercontent.com/57665232/99916358-b78fe000-2cbe-11eb-8e9a-9e7674bb14b6.png)

This my secret
![image](https://user-images.githubusercontent.com/57665232/99916384-dd1ce980-2cbe-11eb-8134-e6685cb1810a.png)

This is my SecretProviderClass file:
[code]

Not sure here if my object type should be secret or certificate or some

[2020-11-22 20:38] kanukhosla commented on #322
This is my SecretProviderClass file:
[code]

Not sure here if my object type should be secret or certificate or something else.

[2020-11-22 21:14] armondressler opened #323 "Change secret store provider from DaemonSet to Deployment"
Is it possible to use the csi-secrets-store-provider as a simple deployment instead of a daemonset?

We use a service mesh which injects an additional container into every pod, making a daemonset resource wise an even costlier affair in clusters with a high nodecount. Is there a necessity to deploy this application as a daemonset or could a simple deployment provide the same services?

[2020-11-23 14:39] mvalenzisiAK opened #324 "ECC key not mounted correctly"
**What steps did you take and what happened:**
- generate a PFX certificate from the key/cert pair (the key is in elliptic format P-256)
[code]
- create a certificate in the Key Vault with the following command:
[code]
- create the secret provider class:
[code]

**What did you expect to happen:**
I expect the `tls.key` to be in the format:
[code]
as the original file `my-ecc-key.key`
instead I get

[2020-11-23 15:32] dilip-panwar-by opened #325 "How to Trigger Sync On Demand"
**Describe the solution you'd like**
[We have enabled the Auto Rotation in our AKS cluster and mounted secrets are also getting updated. However, environment variables inside the pod are still stale. Now, when I do another deployment with change in secret values, They are not getting picked up in the environment variables and I have to bounce the pods to get the changes in effect.  To avoid this s

[2020-11-23 17:25] aramase commented on #324
@mvalenzisiAK The driver converts all the keys to RSA Private key. Can you confirm if the private key is valid for that particular certificate?

[2020-11-23 17:26] aramase commented on #323
@armondressler The provider needs to be run as a daemonset because the CSI driver communicates using gRPC with the provider on the same node.

[2020-11-23 17:29] aramase commented on #322
@kanukhosla Could you please provide more info on the versions being used and also the auth method? If not using service principal mode, remove the following snippet from the deployment yamls as noted in the documentation:
[code]

[2020-11-23 17:34] aramase commented on #321
@kgriffiths For multiple pods using different versions of secrets, the recommendation would be to use different `SecretProviderClass`. The Kubernetes secret created by the CSI driver is a mirror of the mounted values inside the pod. The Kubernetes secret is created if not found during pod volume mount and isn't updated unless it's manually deleted/auto rotation is enabled. If the job and deploymen

[2020-11-23 17:48] kanukhosla commented on #322
I revisited my steps and I guess my ingress controller never got deployed.

[code]

I don't think this should however prevent me from deploying the application.

[code]

and I am using service principal in this demo.

Thanks for your time.

[2020-11-23 19:09] aramase commented on #322
Glad the issue is resolved. Closing this issue now. Please feel free to open a new issue if you have any questions.

[2020-11-23 19:10] kanukhosla commented on #322
Sorry the issue is not closed

[2020-11-23 19:13] aramase commented on #322
@kanukhosla If using `ServicePrincipal` auth method did you create the kubernetes secret with `clientid` and `clientsecret`? The error message you posted above shows `clientid` is empty.

[2020-11-23 19:18] kanukhosla commented on #322
@aramase as

as mentioned in my original post is used the below command to grant the service principal permissions to get secrets:

`az keyvault set-policy -n $KV_NAME --certificate-permissions get --spn`

also do you know why I am unable to install the ingress controller in the new namespace ? I installed the ingress controller in a different namespace earlier

[2020-11-23 19:22] aramase commented on #322
@kanukhosla The Kubernetes secret created with the `ServicePrincipal` credentials is missing the `clientid`: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/service-principal-mode.md#service-principal

[code]

[2020-11-23 19:49] kanukhosla commented on #322
thanks that helped. I executed that command earlier but I didn't edit my client id instead I just put clientid=$AZURE_CLIENT_ID .

Now I need to install the ingress controller. I am getting the below error . I am not sure if I can have multiple ingress controllers in different namespaces. I was able to install an ingress controller earlier in a different namespace though.

[code]

@aramase

[2020-11-23 20:03] aramase commented on #322
@kanukhosla For ingress controller issues I would recommend checking the issues in the `ingress-nginx` repo. I found a similar issue that might be helpful - https://github.com/kubernetes/ingress-nginx/issues/5996.

There should be no restriction on the number of ingress controllers deployed on the cluster.

Is the CSI driver issue resolved now?

[2020-11-23 20:05] kanukhosla commented on #322
Yes . thanks .
Let me try the link you shared

[2020-11-23 20:25] kgriffiths commented on #321
@aramase Thanks for the clarification, this sounds like a good approach. I've set up my job with its own corresponding `SecretProviderClass`. It seems like after a pod created by the job completes successfully and is scaled to 0, the corresponding `Secret` is deleted. Is this because there are no mounted values to mirror, once the pod is deleted?

[2020-11-23 20:48] armondressler commented on #323
Thanks for the quick response.

[2020-11-23 20:48] #323 closed

[2020-11-23 21:20] aramase commented on #321
@kgriffiths That's right. The lifetime of the secret is tied to the pods consuming the secret. When all pods using the Kubernetes secret/`SecretProviderClass` are deleted, the secret is garbage collected.

[2020-11-23 21:20] #322 closed

[2020-11-24 07:14] mvalenzisiAK commented on #324
@aramase yes I can confirm that the private key is valid for my certificate.
After the conversion, the key is not valid anymore.

Basically, the converted key contains exactly the lines between `BEGIN EC PRIVATE KEY` and `END EC PRIVATE KEY` from the original file, just surrounded by `BEGIN RSA PRIVATE KEY` and `END RSA PRIVATE KEY`.
You can try to read the converted key with the command `openssl

[2020-11-24 17:01] hli07 opened #326 "MountVolume.SetUp failed write tcp 172.17.0.1:58904->172.17.168.1:443: write: broken pipe"
**What steps did you take and what happened:**
Upgraded from chart version 0.0.13 to 0.0.14. No issues the first couple of days. But now during a helm deployment, it's trying to get secretproviderclass, but it's unable to get it and times out which leads to failing the deployment.

**What did you expect to happen:**
deploy without issues

**Anything else you would like to add:**
it doesn't seem co

[2020-11-24 17:09] aramase commented on #326
@hli07 `172.17.168.1:443: write: broken pipe` is an error connecting to the API server. Could you check your API server logs to during the timeframe to see if there are any failures?

[2020-11-24 18:10] bhaugen-abledocs opened #327 "csi-secrets-store-provider pods in Azure are reported as being privileged containers?"
**What steps did you take and what happened:**
- Deployed the secrets-store-csi-drive-provider-azure via Helm
- Turned on Azure Defender
- Noticed that Azure now complains that the csi-secrets-store-provider pods are listed as affected components in the `Privileged containers should be avoid` security recommendation

**What did you expect to happen:**
- csi-secrets-store-provider pods would not be

[2020-11-24 18:34] aramase commented on #327
@bhaugen-abledocs The helm charts install 2 components - [Secrets Store CSI Driver](https://github.com/kubernetes-sigs/secrets-store-csi-drive) and the [AKV provider for Secrets Store CSI Driver](https://github.com/Azure/secrets-store-csi-driver-provider-azure). The CSI driver pods need to run in privileged mode to be able to mount volumes for the pod.

[2020-11-24 18:42] bhaugen-abledocs commented on #327
@aramase, okay so sounds like this is by design/required to make things functional with no workaround then? If that is the case then this issue can be closed I believe. Thanks for the quick response!

[2020-11-24 19:28] aramase commented on #327
@bhaugen-abledocs Can you try deploying in `kube-system` namespace. I just checked with @miwithro and he said the alert should be mitigated. The CSI driver pods are critical add-on pods which have high privileges. So `kube-system` would be the right fit for it.

[2020-11-24 19:32] bhaugen-abledocs commented on #327
Ah, interesting. Yes, I can try that though may not get to it today (tomorrow for sure though).

[2020-11-24 20:33] kgriffiths commented on #321
@aramase I appreciate the explanation, this makes sense. Would you review a PR with an update to the documentation which explains this behavior? I think it might be useful for others - some of the `Secret` behavior was surprising, to me at least.

[2020-11-24 20:44] aramase commented on #321
@kgriffiths For sure! PRs are always welcome 😄  Thank you for taking the time to help improve our documentation.

[2020-11-25 14:20] hli07 commented on #326
journalctl -u kubelet: Nov 25 14:14:19 aks-azdtlaunpk8s-37109349-vmss000000 kubelet[3860]: I1125 14:14:19.244980    3860 balancer_conn_wrappers.go:127] pickfirstBalancer: HandleSubConnStateChange: 0xc0035c0150, CONNECTING
Nov 25 14:14:19 aks-azdtlaunpk8s-37109349-vmss000000 kubelet[3860]: I1125 14:14:19.245458    3860 balancer_conn_wrappers.go:127] pickfirstBalancer: HandleSubConnStateChange: 0xc0

[2020-11-25 14:54] hli07 commented on #326
could this be the issue @aramase? see below:

mount | grep secret
tmpfs on /var/lib/kubelet/pods/773253e3-369e-4817-93b1-ac562b9b160c/volumes/kubernetes.io~secret/default-token-8sg5d type tmpfs (rw,relatime)
tmpfs on /var/lib/kubelet/pods/773253e3-369e-4817-93b1-ac562b9b160c/volumes/kubernetes.io~secret/default-token-8sg5d type tmpfs (rw,relatime)
tmpfs on /var/lib/kubelet/pods/36c48588-e426-499f-

[2020-11-25 19:43] bhaugen-abledocs commented on #327
@aramase, deploying into the `kube-system` namespace seems to have resolved the issue though I am not entirely sure Azure Defender has refreshed its data yet. Do you mind if we leave this open until Monday so I can make sure there has been enough time for Azure Defender to check everything again?

(I will also check in on it between here and Monday but since its Thanksgiving week for those in the

[2020-11-25 19:47] miwithro commented on #327
@bhaugen-abledocs thanks for the follow up.  Standing by.

[2020-11-26 10:35] hli07 commented on #326
could perhaps help, please? @ritazh ^

[2020-11-26 15:05] Dyllaann opened #328 "Volume not being mounted to pods"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I'm trying to deploy pods mounting Azure KeyVault secrets in an Azure AKS cluster. When developing the app on docker-desktop, everything was working fine. After deploying the secrets-store-csi-driver-provider-azure to my live production cluster, pods are no longer able to mount the csi-secrets volu

[2020-11-30 17:18] aramase commented on #326
@hli07 There is not much to infer from the kubelet logs you posted. The one error that stands out is
[code]

but that is a kubelet error.

The primary error logs you posted from the CSI driver indicates there is an issue communicating with the API server from the cluster.

Could you respond to the above questions I added? Have you checked with the AKS support on any active issues with your API ser

[2020-11-30 17:27] aramase commented on #328
@Dyllaann Could you provide the logs from `secrets-store`, `node-driver-registrar` and `liveness-probe` container for the pod during the time of error?

[2020-11-30 18:41] aramase commented on #327
@bhaugen-abledocs Thank you for following up. Do you still see the alert in Azure Defender?

[2020-11-30 23:31] aramase commented on #303
Closing this for now. Please feel free to re-open if you're still experiencing this issue.

[2020-11-30 23:31] #303 closed

[2020-11-30 23:31] aramase commented on #316
@kanukhosla Any updates on this? Is this issue good to be closed now?

[2020-11-30 23:39] aramase commented on #185
Closing this issue now. Please feel free to re-open if you have any more questions.

[2020-11-30 23:39] #185 closed

[2020-11-30 23:41] aramase commented on #278
@jrudley Did you get a chance to try out the liveness probe response to determine readiness status?

[2020-11-30 23:42] aramase commented on #324
Closed with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/393

[2020-11-30 23:42] #324 closed

[2020-11-30 23:58] kanukhosla commented on #316
Thanks Anish. I will close this one.

[2020-11-30 23:58] #316 closed

[2020-12-01 00:11] jrudley commented on #278
Yes, all good. Feel free to close this! Thanks

On Mon, Nov 30, 2020, 5:41 PM Anish Ramasekar <notifications@github.com>
wrote:

[2020-12-01 01:08] aramase commented on #278
Thank you for the confirmation. Closing this now. Please feel free to re-open if you have any questions.

[2020-12-01 01:08] #278 closed

[2020-12-01 11:24] Dyllaann commented on #328
Sure thing!

I got a set of logs for when the pod is CrashLooping and the secrets store pod restarts [here](https://gist.github.com/Dyllaann/989b247af6dab67bca8761c8d2a4c1b6)
And also a set of logs when the secrets store already exists and then we install the pod [here](https://gist.github.com/Dyllaann/9aa50d99a3591cd6eb6ff0fd16468684)

Hope these help :)

[2020-12-01 16:41] bhaugen-abledocs commented on #327
@aramase, I no longer see the alert in Azure Defender! Sorry for the delay, I ran into issues getting things configured yesterday that were my own doing (if only I could spell and name things consistently 🤣).

I believe this issue can be closed/resolved now! Thanks 💯 for the help!

[2020-12-01 17:11] aramase commented on #327
@bhaugen-abledocs Glad the issue is resolved now.

Closing this now. Please feel free to re-open if you've any questions.

[2020-12-01 17:11] #327 closed

[2020-12-01 22:50] doug-papenthien-by opened #330 "Customizing logVerbosity crashes secret store provider"
**What steps did you take and what happened:**
We upgraded to the latest version of the csi-secrets-store-provider-azure helm chart (v0.0.14) and customized the logVerbosity to 2.  However, deploying the chart with this configuration results in the secret store provider being unable to start due to an unknown flag that's added when logVerbosity != 0:

[code]

Snippet from the pod description showi

[2020-12-01 23:35] aramase commented on #330
@doug-papenthien-by Thank you for reporting the issue. I'll take a look and add the fix to the next release.

[2020-12-01 23:49] aramase commented on #328
In the logs you posted, I don't see any errors and the logs show mount succeeded. However the `lost connection` is interesting. Is this happening only on a specific node? Is there anything interesting in the `kubelet` logs for the node?

[2020-12-05 00:08] veccsolutions opened #333 "storage.k8s.io/v1beta1 CSIDriver is deprecated in v1.19+"
**What steps did you take and what happened:**
Installed the helm chart using the following commands:
[code]

**What did you expect to happen:**
No warnings about things being deprecated

**Anything else you would like to add:**
I get the following messages:
[code]

**Which access mode did you use to access the Azure Key Vault instance:**
Service Principal

**Environment:**

- Secrets Store CSI Dr

[2020-12-05 00:22] aramase commented on #333
This change is already being tracked in https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/319. The deprecation warning is part of the kube-apiserver response and isn't an error. We'll be updating the versions in the driver soon.

[2020-12-07 17:15] aramase commented on #326
@hli07 Any updates on this?

[2020-12-08 15:35] Dyllaann commented on #328
I don't see anything that would raise a concern for me directly. There is something being logged quite frequently about orphaned pods and volumes being left over. I suspect this could be the CSI volume.
Full log during pod initialization [here](https://gist.github.com/Dyllaann/411f166050d7e67187cfafad4a54f722)

[2020-12-09 18:47] aramase commented on #328
@Dyllaann Have you tried with a different Kubernetes version? I can't reproduce this error. Does this only happen with a particular node in your cluster? Also, could you try the latest version of the driver and provider?

[2020-12-09 19:12] aramase commented on #333
Closed with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/402

[2020-12-09 19:12] #333 closed

[2020-12-09 23:58] Extant-1 commented on #328
@Dyllaann We were encountering the same error and pod crashing when trying to mirror a key vault secret. Turns out an egress TCP network policy was needed for the secrets-store-csi-driver pods.

[2020-12-10 01:03] aramase commented on #328
@Extant-1 Was this error in the provider pod when trying to fetch the secret content from Key Vault? Could you post the sample policy that you applied here?

[2020-12-10 04:20] Extant-1 commented on #328
Note this did fix the issue for some of our clusters but we are still noticing OOMemory crashes in some of them. Only happens when the driver attempts to create the secret specified in the SecretProviderClass:

[code]

[2020-12-10 06:27] nreddipalle opened #336 "Install to support windows containers.."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
helm repo add secrets-store-csi-driver https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts
helm upgrade --install csi-secrets-store secrets-store-csi-driver/secrets-store-csi-driver --set windows.enabled=true --set secrets-store-csi-driver.windows.enabled=true

[2020-12-10 07:34] #330 closed

[2020-12-10 07:36] aramase commented on #336
@nreddipalle The helm charts in https://github.com/kubernetes-sigs/secrets-store-csi-driver only install the driver. You'll need to install the provider as well. Please follow the instructions here: https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider to install the driver and the provider.

[2020-12-10 07:39] aramase commented on #328
@Extant-1 What is the kubernetes version? Do you have the logs from the driver pods before restart?

[2020-12-10 16:29] nreddipalle commented on #336
Hello @aramase
I followed as stated here: https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider and followed the helm based installation https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/README.md and as I am planning to use this for windows containers

[2020-12-10 16:57] aramase commented on #336
@nreddipalle From the output you posted above, the helm charts you're adding are for the driver and not the one provider here: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/README.md.

[code]

You can set the windows enabled flags to the above command.

[2020-12-10 18:35] nreddipalle commented on #336
Thanks @aramase . I am able to successfully deploy them now to default namespace (which is a linux pool VM) .. Is this the expected output??
csi-secrets-store-provider-azure-1607621080                                                   default    1   kubernetes.io/os=linux    53m
csi-secrets-store-provider-azure-1607621080-secrets-store-csi-d                   default     1   kubernetes.io/os=linux

[2020-12-10 20:06] aramase commented on #336
@nreddipalle Yeah, that's the expected output. The driver and AKV provider are daemonsets and run on all nodes. As you can see in the output posted, there is a daemonset of each for Linux and Windows.

[2020-12-10 20:18] nreddipalle commented on #336
Thank you so much for quick response.
Closing the issue.

[2020-12-10 20:28] nreddipalle commented on #336
@aramase sorry one final question. currently I do have one windows node running, was it suppose to run a windows pod on it??

[2020-12-10 23:40] Extant-1 commented on #328
Hey @aramase

1. 1.18.8
2. See my previous post, those were the last logs before the crash and restart
3. I increased the resource limit to 400m / 400Mi for the driver container which seems to have stabilized it.
4. No
5. Two. only one of which is using the secret syncing, the other is not and has not had any issues.
6. Yes I did see OOMKilled. After the secret was mounted though, it seemed to rec

[2020-12-11 18:15] dkirrane opened #337 "logFormatJSON only works for some containers"
**What steps did you take and what happened:**
I have `csi-secrets-store-provider-azure` chart version `0.0.14` with `logFormatJSON: true`.

I can only see the `key-vault-csi-csi-secrets-store-provider-azure` Pod using json logging.

All containers in `key-vault-csi-secrets-store-csi-driver` still using standard logging.

**What did you expect to happen:**
JSON logging used by all containers

**En

[2020-12-11 20:10] aramase commented on #337
@dkirrane You can set the `logFormatJSON` for the provider pods, and `secrets-store` container in the driver using `secrets-store-csi-driver.logFormatJSON`. The other 2 containers in the driver pods are provided by the Kubernetes CSI community and is not something we own.

[2020-12-11 21:13] dkirrane commented on #337
@aramase okay thanks I'll give that a go

[2020-12-11 21:13] #337 closed

[2020-12-11 22:42] aramase commented on #328
That's interesting. I've a soak cluster with the same kubernetes version which has been around for 10 days now which has the CSI driver and provider deployed. I'm using the secret rotation feature as well with 2 `SecretProviderClass` and don't see any spike in CPU or memory.

[2020-12-14 06:23] nreddipalle commented on #336
@aramase I am seeing this error while my windows pod trying to mount the volume..
![image](https://user-images.githubusercontent.com/28302399/102047269-f5a68e00-3daa-11eb-8e35-e48fc4153d2e.png)

[2020-12-14 12:50] dkirrane opened #338 "Support logFormatJSON for node-driver-registrar & liveness-probe"
**Describe the solution you'd like**
Currently `secret-store` & `provider-aure-installer` containers support JSON logging format.

This is a feature request to add the same for the other containers in the `key-vault-csi-secrets-store-csi-driver` Pod.
- `node-driver-registrar`
- `liveness-probe`

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): `helm.sh/chart: secrets-stor

[2020-12-14 17:22] aramase commented on #336
@nreddipalle Can you confirm if there is a driver pod running on the windows node? The number of pods show as 0 in the output you posted.

[2020-12-14 17:28] nreddipalle commented on #336
Hello @aramase that is correct.. no pods are running on windows node.. as I ran the install setup against default namespace (default namespace being in linux node), I do not see any pod running on windows node as part of install.. do I need to configure something different during install other than running as below:
`helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --

[2020-12-14 17:49] aramase commented on #336
@nreddipalle Try describing the daemonset for windows nodes. This could be because there are taints configured on the windows nodes? If you've configured taints, then you would need to add tolerations for those taints in the daemonsets so Kubernetes can schedule and run the driver and provider pods on those nodes. The tolerations can be configured using helm: https://github.com/Azure/secrets-store

[2020-12-14 18:27] aramase commented on #338
@dkirrane Thank you for opening the issue. These 2 components are owned by the kubernetes-csi community. I've opened PR to add support for it in both the components:

- https://github.com/kubernetes-csi/node-driver-registrar/pull/129
- https://github.com/kubernetes-csi/livenessprobe/pull/98

[2020-12-14 18:28] aramase commented on #338
I'm closing this issue because it's not owned by us. You can follow the issues: https://github.com/kubernetes-csi/livenessprobe/issues/97 and https://github.com/kubernetes-csi/node-driver-registrar/issues/128 in addition to the PRs to track progress of this support.

[2020-12-14 18:28] #338 closed

[2020-12-14 19:22] aramase commented on #326
@hli07 Ping on the issue.

[2020-12-14 21:41] nreddipalle commented on #336
@aramase My windows node is a spot node.. which has a taint called
`Taints: kubernetes.azure.com/scalesetpriority=spot:NoSchedule`

So re-ran the helm install command with the below values

`helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --set windows.enabled=true,secrets-store-csi-driver.windows.enabled=true,windows.tolerations[0].key="kubernetes.io/os",windows.tol

[2020-12-14 22:05] aramase commented on #336
I just tried the same thing by tainting my linux node and can confirm it works:

[code]

Please check if there are more taints on the windows nodes and if the taints have been added correctly to the *Daemonset* manifest for the driver and the provider.

[2020-12-14 23:56] nreddipalle commented on #336
This is the output for my windows node (describe command)
[code]

[2020-12-15 04:09] nreddipalle commented on #336
@aramase I think it is working now but still not seeing one windows daemon set getting deployed onto nodes..

![image](https://user-images.githubusercontent.com/28302399/102169956-4f698f80-3e61-11eb-99f4-3ba2be305113.png)

[2020-12-15 04:41] nreddipalle commented on #336
@aramase Ok. I think i figured it out now..
`helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --set 'windows.enabled=true,secrets-store-csi-driver.windows.enabled=true,windows.tolerations[0].key=kubernetes.io/os,windows.tolerations[0].value=windows, windows.tolerations[0].effect=NoSchedule,windows.tolerations[0].operator=Equal,windows.tolerations[1].key=kubernetes.azu

[2020-12-15 07:00] #336 closed

[2020-12-15 10:28] Dyllaann commented on #328
@aramase I haven't tried a new Kubernetes version yet, since the issue involves a production cluster. Regardless, it happens for pods deployed to any node.
I did just update the driver to the latest version, so any findings now will be on latest version.

For the sake of debugging step-by-step, I've disabled the secret mirroring for now, and that actually made the volume mount work without any pro

[2020-12-15 11:20] g14como opened #341 "Possibility to add annotation to secretObjects"
**Describe the solution you'd like**
i didn't found any documentation so im opening this issue, i'd like to have the possibility to annotate the secret object directly from the secret provider class:
e.g

[code]
expected result when i describe the created secret:

[code]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):latest
- Azure Key Vault provider version: (use the i

[2020-12-15 17:11] aramase commented on #328
@Dyllaann Thank you for investigating more. That looks like an error from the API server while trying to fetch secrets. How many Kubernetes secrets do you have in your cluster across all namespaces?

[2020-12-15 18:53] Dyllaann commented on #328
The complete sum of secrets in my cluster is `3731`. I expected a lot less, but forgot all Helm3 releases are now stored as a secret.
Nonetheless, is that such an excessive amount the API server isn't able to handle it?

[2020-12-15 19:09] aramase commented on #328
The default timeout for the API server request is `60s`. But from the logs you posted, it looks the API server is unable to serve the request within the specified timeout. The `controller-runtime` library the CSI driver uses is performing chunking and only requesting for `500` secrets (`apiserver panic'd on GET /api/v1/secrets?limit=500&resourceVersion=0\n`) but the API server still seems to be un

[2020-12-15 19:20] Dyllaann commented on #328
I guess 1 second for all 3731 secrets is fine if the timeout is 60s
[code]

[2020-12-15 19:47] aramase commented on #328
I just created 3500 secrets in my cluster to test:

[code]

The driver pods are still up and running. I also have the secrets auto rotation feature enabled. Could you increase the cpu and memory limits on the `secrets-store` container for the driver pods?

[2020-12-15 20:01] Dyllaann commented on #328
Have you deployed an application that triggers the secret retrieval too? Idling works fine for me too (even under default limits).
Its only when you deploy a pod that uses a secretproviderclass, mount and secret mirroring when things start to fail.
I will test some scenarios with increased pod limits and come back on that.

[2020-12-15 20:16] aramase commented on #328
Yeah, I've 2 `SecretProviderClass` with `secretObjects` and 4 application pods.

[2020-12-16 12:17] Dyllaann commented on #328
Alright, I've done some testing with increasing the limits of the `secrets-store` specific. I increased the cpu limit to `1` and the memory limit to `512Mi`.
Unfortunately, still experiencing the same problem.

secrets-store logs:
[code]
I guess the problem still remains on the kubeapi side :(.

[2020-12-16 12:27] Dyllaann commented on #328
Alright, I've increased the limits on the `secret-store` specifically, and it looks like the first success. My secret object is created now and application is able to start up.
The set up limits with which this was achieved were
[code]

When doing a second try, it failed again.

[code]

So I'm not sure whether the one-time success was due to the limits being increased, or because the kubeapi didn'

[2020-12-16 12:27] Dyllaann commented on #328
Alright, I've increased the limits on the `secret-store` specifically, and it looks like the first success. My secret object is created now and application is able to start up.
The set up limits with which this was achieved were
[code]

When doing a second, third and fourth try, it failed again.

[code]

So I'm not sure whether the one-time success was due to the limits being increased, or because

[2020-12-16 15:07] rootd00d opened #342 "Documentation example with Helm and NGINX doesn't seem to work"
**What steps did you take and what happened:**

Referring to the following documentation -- https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/ingress-tls.md#deploy-ingress-controller

Seems like the example for consuming TLS secrets from NGINX doesn't work.  This is what I tried --
[code]
The result was the secrets volume was not mapped anywhere.

**What did you exp

[2020-12-16 15:18] rootd00d commented on #342
Figured it out -- the indentation I grabbed from the sample is a bit off.

Once I used this, it worked fine --
[code]
Notice the indentation is less for the 4 lines from "driver:" to "secretProviderClass:"

Thanks!

[2020-12-16 17:09] aramase commented on #328
@Dyllaann What is the memory and cpu consumption for the CSI driver pod now?

[2020-12-17 00:23] aramase commented on #342
Thank you for reporting the issue. I've opened a PR to fix the indentation in the docs.

[2020-12-17 00:25] aramase commented on #341
Duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/356. Please use the issue in Secrets Store CSI Driver to track the feature.

[2020-12-17 00:25] #341 closed

[2020-12-17 01:49] #342 closed

[2020-12-17 09:11] akshaychopra5207 commented on #200
Hi I am facing the same error as below
**SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod default/nginx-secrets-store, err: rpc error: code = Unknown desc = failed to mount objects, error: failed to get keyvault client: failed to get key vault token: nmi response failed with status code: 403, err: <nil>**

DId this last

[2020-12-17 15:08] rootd00d commented on #342
Seems like it works, but I actually have to run the command _twice_ for some reason.  I have no idea why.

Using `helm get all <release>` will return the computed values.yaml that was deployed and the extra volumes sections are empty.  Running the exact same installation command _again_ seems to fix the issue, and the volumes are defined in the values.yaml.

This is probably a Helm issue, and not

[2020-12-17 17:54] aramase commented on #302
Closing this issue now.

Please follow https://github.com/Azure/AKS/issues/1876 to track progress of AKS integration.

[2020-12-17 17:54] #302 closed

[2020-12-17 17:56] aramase commented on #296
@katomel4 Please take a look at https://docs.microsoft.com/en-us/azure/key-vault/general/private-link-service?tabs=portal.

Closing this issue now.

[2020-12-17 17:56] #296 closed

[2020-12-18 00:38] rootd00d commented on #342
Yep -- issue appears to be fixed as of Helm 3.4.2.  I was using an old 3.0-rc2 release (or something) before.  No issue using this example as is now.

[2020-12-18 02:13] ssbkang commented on #326
@aramase I have encountered the same issue just now. The resolution was to force delete the CSI pods and delete and install the Helm chart again. The below is from the CSI `secrets-store` logs:

[code]

And the pod logs:
[code]

[2020-12-18 13:57] Dyllaann commented on #328
![image](https://user-images.githubusercontent.com/7451618/102622312-1f600c00-4141-11eb-9dfd-c7791ee46141.png)
![image](https://user-images.githubusercontent.com/7451618/102622336-25ee8380-4141-11eb-881c-bd4b933e5c97.png)

[2020-12-18 17:24] aramase commented on #326
@ssbkang The error you posted is different from this issue. The error message ` directory not empty` indicates the target path hasn't been cleaned up after the pod has been deleted.

[2020-12-18 18:09] lukepaceBJ opened #346 "mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers"
**What steps did you take and what happened:**
Followed the steps from here: https://medium.com/faun/how-to-use-secrets-from-azure-key-vault-in-azure-kubernetes-service-704973be5fc1

Also tried these: https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

**What did you expect to happen:**
Pod is created with mounted secrets volume.

**Anything else you would like

[2020-12-18 18:27] aramase commented on #346
@lukepaceBJ

1. Is the application running on windows node?
    - If yes, have you deployed the CSI driver and AKV provider on the windows node with the helm configuration values? [Ref doc](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#configuration)
2. Are the CSI driver and AKV provider pods running on all the nodes? The driv

[2020-12-18 18:34] lukepaceBJ commented on #346
1. The application is running on windows. How should windows.enabled be included in the helm install?
2. CSI driver and AKV provider are only running on Linux nodes. Sounds like installing with windows enabled should allow driver and provider to run on the windows nodes.

[2020-12-18 18:38] aramase commented on #346
You can enable the driver and provider for windows by running

[code]

The supported helm configurations are documented here: https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#configuration

[2020-12-18 19:38] lukepaceBJ commented on #346
That seemed to solve one the problem. Now looks like an issue with nodePublishSecretRef of in the declaration of my volume mount. I was referencing this issue https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/127 but keep getting the below when deploying pod:

MountVolume.SetUp failed for volume "secrets-store01-inline" : rpc error: code
  = Unknown desc = failed to mount sec

[2020-12-18 19:46] aramase commented on #346
@lukepaceBJ that looks like an error in the `objects` array in the `SecretProviderClass`. This is a sample `SecretProviderClass`: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass_service_principal.yaml.

Please check that the yaml is valid similar to the one I posted. Also, the line number 56 in `SecretProviderClass` is the erroneou

[2020-12-20 19:31] ssbkang commented on #326
@aramase probably I have attached wrong logs from the CSI `secrets-store` container but I did face this issue. About 10 pods suffered from this and had to force delete all pods within the CSI namespace to restore the service.

[2020-12-20 23:14] rkapoor028 commented on #226
@aramase  Was facing the same issue with nginx-ingress controller on using a LetsEncrypt issued certificate, further digging saw the below error in the nginx ingress controller logs:-

W1220 22:47:00.530410       6 backend_ssl.go:46] Error obtaining X.509 certificate: unexpected error creating SSL Cert: certificate and private key does not have a matching public key: tls: private key does not matc

[2020-12-21 00:35] Amomanu opened #347 "MountVolume.NewMounter initialization failed for volume "secrets-store-inline" : volume mode "Ephemeral" not supported by driver secrets-store.csi.k8s.io (no CSIDriver object)""
What steps did you take and what happened:

I was trying to deploy the secret store as per https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes and https://github.com/hashicorp/secrets-store-csi-driver-provider-vault .

What did you expect to happen:
Pod should be created with mounted secrets volume.

What happened :
nginx-secrets-store-inline complains about
Mou

[2020-12-22 05:41] xiaowanzizuibang opened #348 "Fail to integrate key vault with AKS cluster"
![image](https://user-images.githubusercontent.com/45681473/102853221-dff43100-445a-11eb-95cf-447842a1b75b.png)
we deploy the environment via the document:
https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes
But the pod is always in creating status and there is an error when describing the pod.
App pod and CSI secret provider are in same namespace.

[2020-12-22 06:36] jai2shukla commented on #348
Some more inputs on the issue is given below
SecretProviderClass:
![ServiceProvider](https://user-images.githubusercontent.com/10209268/102857055-c1d40400-444d-11eb-998c-6e9118b37976.JPG)

Pod file:
![pod](https://user-images.githubusercontent.com/10209268/102857096-d44e3d80-444d-11eb-8583-37e4d47c84f3.JPG)

[2020-12-22 19:03] ritazh commented on #348
Thanks for reporting the issue. Can you please help provide the following information:
[code]

If you can also provide logs to the azure key vault provider pod, that would be helpful as well:
https://github.com/Azure/secrets-store-csi-driver-provider-azure#troubleshooting

[2020-12-22 19:47] ritazh commented on #347
Thanks for reporting the issue @Amomanu
Seems you are on a pretty old version. can you please uninstall and reinstall again with https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.11 or `helm repo update` to get the latest chart.

[2020-12-23 05:44] jai2shukla commented on #348
CSI Driver version=0.0.18
Kubernetes version=1.18.10
Cluster Info: Load balancer type-**Public** and SKU- **basic**
![image](https://user-images.githubusercontent.com/10209268/102963379-ef34b680-450e-11eb-99cd-d86c2312cc48.png)
![image](https://user-images.githubusercontent.com/10209268/102963514-50f52080-450f-11eb-95cc-ef58014be455.png)
![image](https://user-images.githubusercontent.com/10209268/

[2020-12-23 08:14] sandermvanvliet commented on #328
@aramase colleague of @Dyllaann here, we now have 2 out of 10 nodes having issues with the csi driver pod.
When I log onto the nodes in question and run a `dmesg` I can see the following:

[code]

which does suggest high memory pressure on these pods.
After increasing the limit and after all pods are rescheduled I see 2 of 10 pods having issues (on different nodes though).
What's interesting is th

[2020-12-23 08:48] sandermvanvliet commented on #328
All right, I might have thrown a red-herring here.
The 2 nodes affected are the nodes where the test application we use for this is scheduled on, that app has 2 replicas so that explains why we only see this on 2 of the 10 nodes.

[2020-12-23 18:36] ritazh commented on #348
Thanks for the additional info @jai2shukla.
From the secrets store csi driver log, it looks like it's defaulting to `GRPC supported provider: gcp`. It should say `GRPC supported provider: azure` to support the azure grpc provider.

If you use helm to install https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#installing-the-chart, `g

[2020-12-24 13:45] jai2shukla commented on #348
Removed everything and re-configured as per suggestion but issue still exist

![image](https://user-images.githubusercontent.com/10209268/103092029-fbf30080-461b-11eb-8d0e-f5674d1ee60e.png)
![image](https://user-images.githubusercontent.com/10209268/103092104-2d6bcc00-461c-11eb-84df-929575bc4f04.png)

[2020-12-25 02:33] djj0809 opened #349 "Write certificate content as true pfx file instead of base64 encoded string"
**Describe the solution you'd like**

Currently when we choose to write content of a certificate as pfx format to a file, it is base64 encoded. This is not convenient as many programs expect a pfx file format instead of a base64 encoded string.

[2020-12-25 19:47] aramase commented on #348
@jai2shukla How are you installing the driver and provider? From the snapshot it looks like there are only driver pods running on the node? If you install with the helm charts from this [repo](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure), then the driver and provider will be installed. If you're manually installing using yaml

[2020-12-25 19:48] aramase commented on #349
@djj0809 You can use the `objectEncoding: base64` to have the certificate content written in base64 decoded pfx format: https://github.com/Azure/secrets-store-csi-driver-provider-azure#create-your-own-secretproviderclass-object.

[2020-12-26 01:13] jai2shukla commented on #348
Thanks it is working

[2020-12-26 03:10] djj0809 commented on #349
@aramase Thanks, it works. I saw that configuration but not sure what it is used for.

[2020-12-26 03:10] #349 closed

[2020-12-28 19:14] sousadax12 opened #351 "Rotation not working"
Hello, I am using this project for 6 months this project in production and now I was trying to upgrade my chart a start using the auto-rotation feature. That feature is not working for me, it seems that the helm chart does not recognize the value enableSecretRotation.

[code]
I also tried this:
[code]

I did not change anything in SecretProviderClass and secrets are being injected:

[code]

These

[2020-12-29 11:41] sousadax12 commented on #351
I found that everything was working, just missing the Reloader Helm chart.

[2020-12-29 11:41] #351 closed

[2020-12-30 06:46] deepakcse87 opened #352 "failed to get key vault token: nmi response failed with status code: 404"
I am trying to access secrets from azure keyVault in my pod as this article specifies - https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes.
I am using managed identity path for this purpose.
My configuration templates are:

[code]
[code]
[code]
Error that I am recieving:

[code]

[2020-12-31 16:57] cgriebel commented on #326
@aramase I'm also encountering the same issue, I'll provide additional logs once I collect them.

[2020-12-31 18:43] cgriebel commented on #326
In our specific case, we have 2 replicas in the deployment that is failing, the first always successfully starts, the second one fails during init

Events from the failing pod
[code]
secret-store logs
[code]

[2021-01-02 22:52] Riddle4045 opened #353 "How do I delete an installed provider?"
**What steps did you take and what happened:**
I installed the csi azure provider and now I want to uninstall/delete it, how do I go about doing it?
[code]
did not work

**What did you expect to happen:**
I expect the csi-provider to stop running on my aks cluster

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Which access mode did y

[2021-01-03 02:20] #353 closed

[2021-01-03 02:21] Riddle4045 commented on #353
it runs a DaemonSet and can be delete using `kubectl delete daemonset <name>`

[2021-01-04 16:57] aramase commented on #346
@lukepaceBJ Is the issue resolved now?

[2021-01-04 16:59] aramase commented on #347
This error indicates the `SecretProviderClass` azure-kvname is not found in the same namespace as the application pod.

@Amomanu Is this issue resolved now?

[2021-01-04 16:59] aramase commented on #348
Thank you for confirming. Closing this as the issue is resolved now.

[2021-01-04 16:59] #348 closed

[2021-01-04 17:01] aramase commented on #352
@deepakcse87 Please check the aad-pod-identity MIC pod logs to check the what the error is while trying to assign the identity for the pod. 404 from NMI indicates the identity assignment failed in MIC.

[2021-01-04 17:20] lukepaceBJ commented on #346
I am still having an issue when mounting the volume (summarizing) :

failed to mount objects, error: failed to get objectType:secret, objectName:sitecore-adminpassword, objectVersion::azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token
Original Error: adal: Refresh request failed. Status Code =
  '401'. Response body:
  {"error":"invalid_client","error_description":"AADSTS7000215

[2021-01-04 17:22] aramase commented on #326
@cgriebel Could you help with these questions?

1. What is the Kubernetes version?
2. What is the CSI driver and AKV provider version?
  - Have you tried with the latest version of the driver and provider?
3. Could you check the kube-apiserver logs at the same timeframe?

The `write: broken pipe` seems to indicate a network error in the cluster when the driver is trying to connect with the API ser

[2021-01-04 19:34] aramase opened #354 "CVE-2020-27350, CVE-2020-29362"
[code]

Results from https://dev.azure.com/azure/secrets-store-csi-driver-provider-azure/_build/results?buildId=17971&view=logs&j=739e1b7c-752b-5dd3-b8f8-24f95e240c64&t=5196c329-3b6c-5662-0021-740171a12d03&l=1129

[2021-01-04 20:55] aramase commented on #346
@lukepaceBJ The client secret seems to be invalid. If you're using the service principal auth method, please check the client ID and client secret used while creating the Kubernetes secret are correct and valid.

[2021-01-05 00:11] #255 closed

[2021-01-05 00:11] #311 closed

[2021-01-05 00:18] #310 closed

[2021-01-05 00:37] aramase commented on #325
@dilip-panwar-by Thank you for opening the issue.

The only way to get the latest env variable is by restarting the pod. Have you taken a look at [Reloader](https://github.com/stakater/Reloader). This will trigger pod restart when the secret it's consuming is updated.

We have listed some of the use cases and how to handle each here: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob

[2021-01-05 00:46] #156 closed

[2021-01-05 19:36] aramase commented on #352
@deepakcse87 Is this issue resolved now?

[2021-01-05 20:40] rkapoor028 opened #357 "Mount Objects/Sync Secrets By Regex Pattern From Key Vault"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Mount objects from Key Vault following a regex pattern. Could not find an existing way to do this.

Also can't find anyone asking this but it will be a useful feature if we can add Secrets using the regex pattern as well.

Is there a way to mount secrets, keys, certificate by specifying wildcards in

[2021-01-06 07:16] deepakcse87 commented on #352
No. I have deleted MIC, NMI pods and recreated new binding and identity.
I dont see new NMI pods being created

and pod now giving this error. How can I redeploy NMI pods?

  Type     Reason       Age                   From               Message
  ----     ------       ----                  ----               -------
  Normal   Scheduled    6m59s                 default-scheduler  Successfully ass

[2021-01-06 07:18] deepakcse87 commented on #352
No. I have deleted MIC, NMI pods and recreated new binding and identity.
I dont see new NMI pods being created

and pod now giving this error. How can I redeploy NMI pods?

Type Reason Age From Message

Normal Scheduled 6m59s default-scheduler Successfully assigned xyzapp/xyz-866666cf97-glm6p to aks-nodepool1-27943266-vmss000000
Warning FailedMount 2m43s kubelet Unable to attach or mount volumes:

[2021-01-06 07:48] deepakcse87 commented on #352
Yes! it worked. NMI logs suggested that cluster-agentpool Identity does not have write access on vmss resource. Once I explicitly provided access to Identity. It worked fine.

[2021-01-06 15:27] jose-antony-by opened #358 "azure-csi-secrets-csi-secrets-store-provider and secrets-store containers does not apply logVerbosity levels"
**What steps did you take and what happened:**
When installing  Secrets Store CSI driver and the Azure Key Vault provider using Helm and `logVerbosity` and `secrets-store-csi-driver.logVerbosity` set to 2 for `ERROR`, the logs produced by the containers does not reflect the correct verbosity levels. ( looks like the -v argument gets passed down to the containers correctly)

[code]

Example log fro

[2021-01-06 17:22] aramase commented on #358
@jose-antony-by `logVerbosity=2` doesn't indicate error logs. The driver and provider use klog logging framework. Certain debug logs are marked with higher log levels. In case of debugging, if you bump the log verbosity, then logs marked at the level will be included in the logs.

For instance:
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/99ffa929be397384d33237a393e6484305

[2021-01-06 17:23] aramase commented on #352
Thank you for confirming. Closing this issue as it's now resolved. Please feel free to open if you have any questions.

[2021-01-06 17:23] #352 closed

[2021-01-06 17:27] aramase commented on #357
@rkapoor028 Thank you for opening the issue. This issue was initially created to get user consensus on this requirement: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/61.

1. Adding this feature would mean the service principal/managed identity used for auth would require `list` access for secrets/keys/certificates in key vault. Today, we only require `get` permissions.
2

[2021-01-06 19:30] aramase opened #359 "add code coverage tool as part of CI"

[2021-01-06 21:58] Amomanu commented on #347
Hello ,

No , i did not got to fix it yet .
When i tried to update the driver , as per ritazh advice , it failed with an NMI error .

I will take another look at it .

[2021-01-06 22:09] jose-antony-by commented on #358
@aramase  thanks for the quick response.
Is there any other to control the verbosity of these 2 containers? We are polling every 2 minutes and since we ship all our container logs to log workspace it does seem to add up to a lot of entries over time.

[2021-01-06 22:57] aramase commented on #358
@jose-antony-by Which containers are you referring to? The default log verbosity is 0 which means only essential logs are logged by the containers. The logVerbosity is set to a higher level only for debug.

The logVerbosity can be configured for `secrets-store` container in the driver and `provider-azure-installer` container in the provider pods. The other 2 containers in the driver pod are owned

[2021-01-07 00:13] jose-antony-by commented on #358
@aramase  The biggest concern for me was "mcr.microsoft.com/oss/azure/secrets-store/provider-azure". This one does seem to produce a lot of logs on every polling interval per secret.

[code]

What that be covered by the PR to the CSI community?

[2021-01-07 00:22] aramase commented on #358
@jose-antony-by Those are default logs we log to show current state of the world when mount requests come in. Looks like you have the log verbosity set to 2. You can set it to 0 to just get the bare minimum logs. At level 0, the provider only logs the requests coming in, auth method used and errors if any. The same logs apply for rotation requests as well.

The PR for CSI community is for `node-dr

[2021-01-07 03:32] dhirschfeld opened #361 "Provide a discoverable link to the docs"
I only found the doc url by luck/chance!
* https://azure.github.io/secrets-store-csi-driver-provider-azure/

Did I miss some obvious link to the docs?!? If not, it might be useful to provide a prominent link in the README.md or to provide a *website* entry in the about config:

----

![image](https://user-images.githubusercontent.com/881019/103847729-a541f800-50ec-11eb-8ff2-f7f0a5b0f64a.png)

----

[2021-01-07 17:54] aramase commented on #361
@dhirschfeld Thank you for opening the issue. The docs website still requires few changes which are currently in progress. Once that's complete, we'll be updating the main README to stub out the content and point to the new docs URL. I'll be adding the website to the repo details once that's complete.

[2021-01-07 20:28] #361 closed

[2021-01-08 18:16] aramase commented on #347
@Amomanu Just checking in. You should be able to see the logs in the MIC to determine the reason for failure.

[2021-01-08 18:16] aramase commented on #346
@lukepaceBJ Were you able to fix the `clientsecret` and try it out?

[2021-01-08 18:20] lukepaceBJ commented on #346
Yes. This ticket can be closed. Thank you

[2021-01-08 18:33] aramase commented on #346
@lukepaceBJ Thank you for the confirmation.

Closing this issue. Please feel free to reopen if you have any questions.

[2021-01-08 18:33] #346 closed

[2021-01-09 20:13] ezYakaEagle442 opened #363 "secrets-store-csi-driver install fails on Azure RedHat OpenShift [ARO]"
**What steps did you take and what happened:**

Following the secrets-store-csi-driver install docs, I hit a security issue specific to OpenShift related to the securityContext.

[code]

Create key-Vault & Secret
[code]
Perform role assignments

[code]

Configure & Deploy secretproviderclasses
[code]

[code]

[code]

[code]

**What did you expect to happen:**

The install should be sucessfull foll

[2021-01-09 20:31] ezYakaEagle442 commented on #363
oc describe ds csi-secrets-store-provider-azure -n $target_namespace
[code]

[code]

[code]

[code]

[2021-01-09 20:36] ezYakaEagle442 commented on #363
I wonder if the DaemonSet should run with a ServiceAccont, so that we can configure something like :

oc create serviceaccount the-driver-sa -n default
oc adm policy add-cluster-role-to-user cluster-admin system:serviceaccount:default:the-driver-sa
oc adm policy add-scc-to-user hostaccess system:serviceaccount:default:the-driver-sa

?

[2021-01-10 00:49] andyzhangx commented on #363
@ezYakaEagle442 azure disk CSI driver also uses `hostNetwork: true` in driver daemonset, and that driver works on the same env?
cc @aramase @ritazh could you help? this issue is a little urgent, thanks.

[2021-01-10 02:54] rkapoor028 commented on #357
@aramase This would really  be very useful, instead of defining repetitive objects bloating the SecretProviderClass file we can just match objects from KeyVault via a certain pattern.

For 2) Another approach can be that we define the name of the k8s secrectObject(msvc-frontend-secrets) that will be created/synced, and  specify a pattern(msvc-frontend-*) based on which the Objects will be matched

[2021-01-10 21:04] ezYakaEagle442 commented on #363
@andyzhangx indeed I am testing the CSI Drivers for Azure Disk, Azure File, Azure BLOB + Secret store driver on the same ARO cluster, this scenrio will happen in real life :)

[2021-01-11 02:12] andyzhangx commented on #363
@ezYakaEagle442 check this link: https://stackoverflow.com/questions/61239490/openshift-unable-to-validate-against-any-security-context-constraint. if Azure Disk CSI driver works, that means there is some additional restriction in Secret store driver.

[2021-01-11 06:48] ezYakaEagle442 commented on #363
@andyzhangx indeed, the difference is that I could rely on the Azure disk driver SA, adding :

[code]

[code]

Is there any SA running the Secret Strore Driver DaemonSet  ?

[2021-01-11 06:53] andyzhangx commented on #363
it's `csi-secrets-store-provider-azure`: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/deployment/provider-azure-installer.yaml#L1-L4

[2021-01-11 07:31] ezYakaEagle442 commented on #363
@andyzhangx theis SA has not been installed on my cluster that's the issue, I think it could work based the manual installer you referenced, but in my case I did used the [HELM install ](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure/templates) which templates seems not being able to create the SA before being blocked by the Ope

[2021-01-11 07:34] andyzhangx commented on #363
so that's a bug in secret store driver helm install?

[2021-01-11 07:45] ezYakaEagle442 commented on #363
@andyzhangx it looks lilke the install is different between the manual yaml install and the HELM install indeed.
It is super confuding to have [this site install page](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/install-yamls.md) refering to another site  [https://github.com/kubernetes-sigs/secrets-store-csi-driver#install-the-secrets-store-csi-driver](https:/

[2021-01-11 08:08] ezYakaEagle442 commented on #363
[code]

[code]

[2021-01-11 09:13] dilip-panwar-by commented on #358
@aramase  We just want to enable error logs. When we set polling to 2 mins, it is considered as a **request** and we get logs in bulk(as shared by @jose-antony-by) in every 2 mins. Can we disable/suppress these logs?

[2021-01-11 10:08] ezYakaEagle442 commented on #363
@andyzhangx  could you please update the [HELM](url) and [yaml files](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/deployment/provider-azure-installer.yaml) adding in the [DaemonSet ](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yamln)

      securityContext:

[2021-01-11 12:19] ezYakaEagle442 commented on #363
@andyzhangx as discussed applying the SCC to ARO, I have now sucessfully installed the Driver + Azure KV Provider.

Now I hit a new error mesage
[code]

[code]

[2021-01-11 17:10] aramase commented on #363
@ezYakaEagle442 From the events, it looks like `azure` hasn't been configured as a GRPC provider.

If you use helm to install https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#installing-the-chart, [grpcSupportedProviders: azure](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-p

[2021-01-11 17:21] aramase opened #365 "Document how to install and enable in Azure RedHat OpenShift [ARO]"

[2021-01-11 17:48] ezYakaEagle442 commented on #363
@aramase as you have seen I have opened `[PR-364](https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/364)` as I could not used the HELM Chart due to the missing privilege. I then installed the yaml files :
`
``sh
oc apply -f ./cnf/secrets-store-csi-driver-provider-azure__provider-azure-installer.yaml
[code]

I see **grpcSupportedProviders: azure**  the in [https://github.com/Azu

[2021-01-11 17:55] aramase commented on #363
@ezYakaEagle442 That value is for the [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml#L59-L61). The helm charts in this repo have the driver charts as dep and take care of setting the `--grpc-supported-providers=azure`. However if the driver and provider are installed separate

[2021-01-11 18:50] aramase commented on #358
@dilip-panwar-by klog has `stderrthreshold` flag which can be used to configure the log threshold, but `ERROR` is after `INFO` which means it'll include both the logs. The poll at 2min is in fact a regular grpc request because it checks if new contents exist in key vault and updates that in the mount if required.

[2021-01-11 18:54] aramase commented on #357
@rkapoor028 How are you consuming the content from Kubernetes secrets? Are you using the Kubernetes secret to configure as environment variables or actually reading the Kubernetes secret? I'm curious because if you use regex for secret data names, then the data keys aren't deterministic unless they're hardcoded in the yaml manifests for the env var/in the code.

[2021-01-11 19:05] rkapoor028 commented on #357
Yes, so in above approach, the secret data keys are the AKV secrets(msvc-frontend-secret1,msvc-frontend-secret2,msvc-frontend-secret3 so on..). We are referring those AKV secret name by the same name in the Deployment Yaml Manifests as the secret data key name(key: msvc-frontend-secret1, key: msvc-frontend-secret2, key: msvc-frontend-secret3 and so on...).

[code]

So they are deterministic in the

[2021-01-11 19:41] AkshayaAnil opened #366 "Question"
Hey Aramase, I am exploring this project for a use case to mount azure kv secrets to pods, I got a question though, when the secrets are mounted as volume using the csi driver, is it going to live on the disk(of the node where pod is running) until pod is terminated ? This is an important question for my implementation. kindly let me your comment.

[2021-01-11 19:43] ezYakaEagle442 commented on #363
@aramase I am sorry but this is super confusing, I did install the secrets-store-csi-driver from the HELM Chart, I have just double checked the - '--grpc-supported-providers=gcp;' was correctly set in the args.

I had then  I then installed the Azure Keyvault Provider with yaml files as I explained above, should I also add the - '--grpc-supported-providers=gcp;' in the Azure Keyvault Provider  Dae

[2021-01-11 19:52] aramase commented on #363
@ezYakaEagle442 The `--grpc-supported-providers` needs to contain `azure`. If you're using the helm charts to install the driver, please use `--set grpcSupportedProviders=azure` when deploying the driver with the helm chart. This arg is only required for the driver.

[2021-01-11 20:16] aramase commented on #363
We are making changes in the driver repo to add `azure` as a `grpc-supported-provider` by default and this will be part of next release and charts. Until the next release it requires this to be setup during install of the driver if the driver and provider installed separately.

1. If installing driver using helm charts from [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-stor

[2021-01-11 20:33] ezYakaEagle442 commented on #363
ok I missied that Key Information : If the chart used to install is from this repo, then that **installs the driver and provider**, good to know.

I did step1 , not step 2 , so if I understand correctly a tstep 3  I should add - grpcSupportedProviders=azure in the csi-secrets-store-provider-azure DS below, @aramase could you please confirm ?

[code]

[2021-01-11 20:40] aramase commented on #363
@ezYakaEagle442 Sorry if I'm not clear. Those are 3 different options for install and not steps. Please let me know if a call is helpful?

From you description you installed the driver by running
[code]

You just need to add `--set grpcSupportProviders=azure` in that command. This is to tell the driver to use grpc while communicating with the driver.

[2021-01-11 20:41] ezYakaEagle442 commented on #363
also I realized my mistake with  '--grpc-supported-providers=gcp;' wich is the default value set in the
[HELM Chart](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/secrets-store-csi-driver/values.yaml), by the way, this is not fait that GCP is the default value ... should either blank or list all providers including Azure !

[2021-01-11 20:45] aramase commented on #363
HELM Chart, by the way, this is not fait that GCP is the default value ... should either blank or list all providers including Azure !

that's right! `Azure` provider wasn't added to support backward compatibility. However we're adding it as part of next release.

[2021-01-12 08:27] dilip-panwar-by commented on #358
@aramase Thanks for sharing more details. It sounds to me like there is no way of suppressing regular grpc request logs right?

[2021-01-13 17:45] #359 closed

[2021-01-14 15:48] fraserdarwent commented on #326
Just ran into the same issue on AKS. Deleting all csi driver pods and letting them re-create also solved it.

[2021-01-14 17:38] aramase commented on #366
@AkshayaAnil That is right. The content is written to a target path on the node and then mounted into the pod as `tmpfs`. When the pod is deleted, the corresponding target path is cleaned up and deleted.

[2021-01-14 18:48] cgriebel commented on #326
@aramase Sorry for the delay

1. Kubernetes Version: 1.18.8
2. CSI driver: 0.0.16; AKV provider version: 0.0.9
    - I have not tried with the latest, deleting seemed to solve my issue as well and we haven't had the time to look back into this.
3. Unfortunately we didn't have those diagnostics added in azure so there are no logs to provide

[2021-01-15 13:05] deyanp opened #368 "Pod Env Vars from SecretProviderClass (envFrom+secretRef) not updated upon deployment"
**What steps did you take and what happened:**
I am using SecretProviderClass with objectName and objectAlias, with the objectAlias gets mapped to secretObject (objectName), and the latter's (key from yaml and value from azure key vault) gets injected as env vars using envFrom/secretRef.

I have automatic secretRotation enabled.

I have noticed that if I change the secretObjects.key for example an

[2021-01-15 17:39] aramase commented on #368
@deyanp The automatic rotation is the one that updates the Kubernetes secret data with the latest value. The rotation is configured to run on a periodic interval. So after every `x` mins, the driver will check if there is a new version in Azure Keyvault and if there is, it'll update the pod mount and the corresponding key in the Kubernetes secret. The Kubernetes secret is an exact mirror of the po

[2021-01-15 19:18] deyanp commented on #368
@aramase, do you mean that if I change something in the SecretProviderClass section in the yaml, and my app depends on that (eg changed name of env var, new secret -> env var) then upon startup my app will always fail because it will not find the new/changed env var it needs??

[2021-01-17 17:41] Shaked opened #369 "Azure virtual node - ACI support"
Is it possible to use the CSI driver when using Azure virtual nodes (ACI / virtual kublet)?

I have tried to install it with helm using the following values.yaml which should allow the daemon to be loaded on the ACI:

[code]

However, this fails:

I assume that either it's not supported or that I'm doing something completely wrong.

Shaked

[2021-01-18 21:17] ekhaydarov commented on #229
How do you even enable pod security policies in `deployment/pod-security-policy.yaml`. setting `rbac.enable: true` still gives an error of `Host network is not allowed to be used` and `Host port 9808 is not allowed to be used`. There is nothing else in values.yaml that covers enabling pod security policies

[2021-01-18 21:19] ekhaydarov commented on #180
So you manually have to add pod security policy and it does not come shipped as a standard option in your helm charts?

[2021-01-19 04:49] dancs85 opened #370 "Unable to apply ConstructPEMChain feature"
**What steps did you take and what happened:**
I've deployed a fresh version of the CSI driver + provider using Helm, and cannot get the optional feature ConstructPEMChain to apply.
[code]
I've also tried:
[code]
and I've tried installing the CSI Driver (using Helm) and provider (using kubectl manifest separately):
[code]
where the csi-secrets-store-provider-azure.yml contents were:
[code]

**What

[2021-01-19 15:51] joelnotified opened #371 "Can the Secrets Store CSI driver be used to access the Azure Key Vault REST API?"
Hi,
I have a legacy application that pulls secrets from an Azure Key Vault by making HTTP requests to its API (using the URL `https://<keyvaultname>.vault.azure.net`). The application is deployed in Azure and uses managed identities to do this. We're moving the application into Kubernetes, and as a first step I would like to change the current implementation as little as possible.

So my question

[2021-01-19 17:14] aramase commented on #370
@dancs85 The feature hasn't yet been released. It will be part of 0.0.12 release.

[2021-01-19 17:27] aramase commented on #368
If the existing `SecretProviderClass` is updated, then the contents in the pod mount and Kubernetes secret will be updated when the rotation reconciler is triggered. For new pods referencing the existing the Kubernetes secret, the pod deployment will need to wait for the Kubernetes secret to be updated.

The mount and Kubernetes secret creation are triggered first time when it doesn't exist. Subse

[2021-01-19 18:34] aramase commented on #366
Just to clarify:

The secrets aren't persisted to the disk. The mount is done via tmpfs as you can see here:
[code]

[2021-01-19 21:39] dancs85 commented on #370
Any idea when that might be released?

Our cert in KV are fully automated so we can't re-order them, so without this feature we cannot use an ingress controller in Kubernetes.

[2021-01-19 22:36] aramase commented on #370
We're currently in the process of cutting the release. The plan is to have the release today or earliest by tomorrow morning.

[2021-01-20 12:57] deyanp commented on #368
@aramase I think I understand what you said twice - the secret is created (or re-created) only during rotation, not upon deployment, but I am still wondering if nobody else is bothered by the major (in my opinion) drawback that there is long (e.g. 2 minutes) wait time until the pod can be deployed.

We have a single yaml file per pod which includes both the SecretProviderClass CRD as well as the D

[2021-01-20 17:02] aramase commented on #368
@deyanp The default rotation interval is 2m, but it can be changed with `--rotation-poll-interval`. Also, the secret is created if it doesn't exist but update only happens in rotation. My recommendation would be to update the deployment after the secret has been rotated.

[2021-01-20 17:08] aramase commented on #368
We'll also explore what it would mean to enable the Kubernetes secret update during new deployments with the rotation feature also enabled.

[2021-01-20 17:25] aramase commented on #371
@joelnotified Thank you for reaching out.

The Secrets Store CSI Driver makes the HTTP requests to Keyvault, fetches the contents and writes to the pod mount. This means the application can just read the secret from the filesystem or if it relies on env variables, then also do so by leveraging the Sync as Kubernetes secrets and then using that as env variable.

However if the application is alread

[2021-01-20 18:41] aramase commented on #370
We just cut release `0.0.12` for the AKV provider: https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.12.

Refer to https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/feature-flags/#construct-pem-chain-feature-flag on how to enable the experimental feature.

Closing this issue with the release. Please feel free to open a new issue if you h

[2021-01-20 18:41] #370 closed

[2021-01-20 19:35] aramase commented on #358
@dilip-panwar-by The default log level is 0 which doesn't print grpc request or response in the logs. This is the 3 lines of logs that can get printed for each object:

[code]

So keeping the verbosity will provide the bare minimum. Increasing the log verbosity to a higher level will add additional debug logging as well.

[2021-01-20 19:36] aramase commented on #347
@Amomanu Any updates on the issue?

[2021-01-20 21:22] aramase commented on #369
1. The error is because aci requires a `command` and `arg` in the pod spec. Issue: https://github.com/virtual-kubelet/azure-aci/issues/10
2. This will not work in ACI because `hostPath` mount is not supported.

@Shaked This is not supported in virtual nodes.

[2021-01-20 23:59] #354 closed

[2021-01-21 06:28] joelnotified commented on #371
@aramase Thanks for the reply!

Ok, I think I'm starting to understand how it works. I see now that Secrets Store CSI Driver uses AAD Pod Identity. And it looks like having AAD Pod Identity setup is what's required to access the keyvault from within the cluster.

Thanks for clarifying! 👍

[2021-01-21 06:28] #371 closed

[2021-01-21 06:54] oak-tree commented on #369
Hey @aramase,
In this case, what would be the best option to mount the `Azure Keyvault` into `virtual node`?

[2021-01-22 00:48] aramase opened #376 "Support linux and windows image values for provider in helm charts"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-01-22 02:37] vsabella opened #377 "When using podIdentity mode and multiple pod identities - enable to specify the clientid or resource id of the pod identity"
**Describe the solution you'd like**
Not sure if this works with CSI Secrets Driver but - we want to mount multiple pod identities to a pod. It would be great if usePodIdentity could also take the clientid or resourceId and use it to select the right pod identity.

https://azure.github.io/aad-pod-identity/docs/best-practices/

**Environment:**
- Cluster type: AKS

[2021-01-22 16:51] aramase commented on #377
@vsabella Thank you for opening the issue.

This is duplicate of #284. Closing this issue so we can track this request there. Please feel free to reopen if you've any questions.

[2021-01-22 16:51] #377 closed

[2021-01-26 02:36] bebarrey commented on #369
Try this --
This is the standard:
tolerations:
  - key: virtual-kubelet.io/provider
    operator: Exists
  - key: azure.com/aci
    effect: NoSchedule
Ref:https://github.com/virtual-kubelet/azure-aci/blob/master/README.md#readme

Also, ensure to use this in CLI:

az provider register -n Microsoft.ContainerInstance

to register virtual-kubelet if you haven't done already.

[2021-01-26 19:22] aramase commented on #347
We've added new troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

Closing this issue due to inactivity. Please feel free to reopen if you have any questions.

[2021-01-26 19:22] #347 closed

[2021-01-26 22:48] aramase commented on #358
Closing this issue now. Please feel free to reopen if you've any questions.

[2021-01-26 22:48] #358 closed

[2021-01-27 15:45] Shaked commented on #369
@bebarrey How is this different than the example I posted above?

Thanks
Shaked

[2021-01-27 19:36] prateekchawla opened #381 "MountVolume.SetUp failed for volume with error rpc error: code = DeadlineExceeded desc = context deadline exceeded"
**What steps did you take and what happened:**
Not able to mount secret using csi driver.

**What did you expect to happen:**
Secret should have been mounted

**Anything else you would like to add:**
Secret Provider Class -
[code]
Pod file-
Mount details -
[code]
volume details -
[code]
Kubectl describe pod logs -

Namespace:      default
Priority:       0
Node:           aks-agentpool-30824605-2/

[2021-01-27 19:43] aramase commented on #381
@prateekchawla Could you check the logs for the csi driver pod running on the same node as the application?

Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/.

[2021-01-27 20:00] prateekchawla commented on #381
@aramase
1. Installed driver using this -
[code]
(I am not sure about the provider)

2. I can verify the driver is running fine using
kubectl --namespace=default get pods -l "app=secrets-store-csi-driver"

3. kubectl get nodes -o wide
`aks-agentpool-30824605-0   Ready    agent   90m   v1.19.6   10.0.0.35     <none>        Ubuntu 18.04.5 LTS   5.4.0-1035-azure   containerd://1.4.3+azure
aks-agentpo

[2021-01-27 20:05] aramase commented on #381
@prateekchawla If you're installing the driver separately using helm charts, you'll need to also install the provider manually. Please follow the docs here: https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/ for installation.

Also, which docs did you follow to install the driver?

[2021-01-27 20:18] prateekchawla commented on #381
I followed some user's comment on stack overflow (https://stackoverflow.com/questions/65025963/azure-cloud-no-matches-for-kind-secretproviderclass-in-version-secrets-store)

Since the original commands

are giving me a error something like this -

[code]

So, it looks like I am missing the installation of provider?

[2021-01-27 20:26] aramase commented on #381
@prateekchawla that's because the old helm release with the driver chart still exists. Please delete that helm release and then reinstall using the charts from the docs I posted.

[2021-01-27 20:40] prateekchawla commented on #381
@aramase You mean to delete the old installation of csi-driver using helm?

[2021-01-27 20:42] aramase commented on #381
@prateekchawla yeah, that's correct.

[2021-01-28 03:04] bebarrey commented on #369
Change from -value to -key and also the key : azure.com/aci.

I was trying something similar and the above worked for me.

[2021-01-28 11:04] prateekchawla commented on #381
Thanks @aramase
That worked!

[2021-01-28 11:04] #381 closed

[2021-01-28 17:08] aramase commented on #369
@bebarrey The snippet @Shaked posted above allows the pods to be scheduled. But the pods fail to start because of the 2 limitations that I posted here: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/369#issuecomment-763956517

[2021-01-28 18:07] bebarrey commented on #369
Thanks @aramase. https://github.com/virtual-kubelet/azure-aci/issues/10  helps.

[2021-01-29 04:04] ShubhasisMathur opened #382 "Unable to mount secret from Keyvault on pod using managed identity"
FOllowed the doc:
https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  parameters:
    usePodIdentity: "true"                   # [REQUIRED] Set to "true" if using managed identities
    useVMManagedIdentity: "false"             # [O

[2021-01-29 04:07] ShubhasisMathur commented on #382
Label: general/subsvc
key-vault/svc
product-question
triaged

[2021-01-29 04:10] ShubhasisMathur commented on #382
@aramase please have a look

[2021-01-29 17:31] aramase commented on #382
@ShubhasisMathur

1. Pod identity isn't supported for windows. Please refer to [docs](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/) for supported access modes.
2. What is the error with the Linux pod? If it's the same error, then it means the pod identity component hasn't been deployed to the cluster.

This is our [troubleshooting guide](htt

[2021-02-01 10:21] local-master opened #383 "Since version 0.15 there is a bug when pulling private SSH key from Azure Key Vault secret"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When pulling secret from Azure Key Vault that contains SSH private key, there is a bug that rewrites the beginning of the key:

The secret in Azure Key Vault starts with

-----BEGIN RSA PRIVATE KEY-----

When the secret is pulled and mounted into AKS it starts with

-----BEGIN PRIVATE KEY-----

Thi

[2021-02-01 13:57] oak-tree commented on #369
so is the right to say today:  `virutal nodes` cannot mount keyvault?

[2021-02-01 21:04] williamohara opened #384 "where is the kubernetes secret?"
**What steps did you take and what happened:**
I followed these instructions https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/ingress-tls.md
I opted NOT to use the ADD podidentity

1. I first installed csi driver:
helm install vault-link csi-secrets-store-provider-azure/csi-secrets-store-provider-azure

2. I created a SecretProviderClass using this:

[code]

Then I

[2021-02-02 00:13] aramase commented on #383
@local-master Have you tried out the lates release `v0.0.19` of the driver? This change was implemented in [v0.0.18](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.18).

[2021-02-02 00:20] aramase commented on #384
@williamohara You can view if there were any errors while creating the Kubernetes secret by:
1. Describing the pod `kubectl describe pod <pod name>`
2. Logs from the `secrets-store` container from the csi driver pod running on the same node as your application pod.

Here is our [troubleshooting](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/) guide.

[2021-02-02 01:01] aramase commented on #369
@oak-tree That's right. CSI driver is currently not supported with ACI. This is the issue: https://github.com/virtual-kubelet/azure-aci/issues/88.

[2021-02-02 01:01] #369 closed

[2021-02-02 01:01] aramase commented on #382
@ShubhasisMathur Any updates on this?

[2021-02-02 05:23] ShubhasisMathur commented on #382
Hello @aramase  I am not sure where is the problem. I have re created the key vault and re created the managed identities and tried to refer the sceret from a linux node but I am getting this error:

Warning  FailedMount  2s (x6 over 18s)  kubelet            MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod d

[2021-02-02 12:05] local-master commented on #383
I think the key itself was ok but the headers were wrong. Somehow Nginx did not accept it and failed to start. I will test 0.19 version, I couldn't see it in my helm because I used the old helm repo where only 0.16 was available as latest. I will update here once I finish testing.

[2021-02-02 12:45] local-master commented on #383
Ok so it looks like to get 0.19 I have to install secrets-store-csi-driver and then csi-secrets-store-provider-azure? Are there any plans to integrate csi-secrets-store-provider-azure with ecrets-store-csi-driver 0.19?

[2021-02-02 12:50] local-master commented on #383
Ok nvm, I found out that helm chart 0.16 includes

Secrets Store CSI Driver Version: 0.19
Azure Key Vault Provider Version: 0.12

[2021-02-02 13:05] local-master commented on #383
ok I've tested the following setup of csi-secrets-store-provider-azure
Chart version 0.16
Secrets Store CSI Driver Version: 0.19
Azure Key Vault Provider Version: 0.12

This setup fails to run my ingress nginx controller due to the following error:

[code]
Looking into the secrets, the only difference is that the secret in Azure Key Vault and the secret mounted directly to the pod has SSH key star

[2021-02-02 17:30] aramase commented on #382
@ShubhasisMathur As the error suggest, you're missing `nodePublishSecretRef` in the pod yaml.

If you're using service principal, then you need to set `nodePublishSecretRef` with the aad client id and client secret. You can find the required steps and example yamls for using service principal access mode: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-acces

[2021-02-02 18:29] aramase commented on #363
Closed with #364

[2021-02-02 18:29] #363 closed

[2021-02-02 18:42] aramase commented on #383
There has been no change in the AKV provider on how the keys and certs are written to the pod volume mount. The AKV provider always sets the header to `PRIVATE KEY` because the private keys are written in PKCS8 format which handles all algorithms. The only change in CSI driver `v0.0.18` is to set the key header to `RSA` or `EC` while bootstrapping the Kubernetes secret.

1. Are you using the sync

[2021-02-03 09:00] local-master commented on #383
1. Yes
2. Yes
3:

[code]

[2021-02-03 16:15] ShubhasisMathur commented on #382
Thanks Anish and that solved it. I am able to create pod on both windows and Linux Node after creating the secret.

Feedback: https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes, we need to update the doc with the right steps. Cx's face lots of issue following the doc. We need to refine the doc with steps.

[2021-02-03 16:16] ShubhasisMathur commented on #382
Please mark the case as closed. Thanks for your help!

[2021-02-03 16:57] williamohara commented on #384
found it - sorry -not  a bug - I was defining a bad secret name - I should have followed the troubleshooting guide :)

[2021-02-03 16:57] #384 closed

[2021-02-04 15:33] tasb opened #386 "Quertion: Secrets update"
Hi!

If the secret is updated on AKV the pods needs to be restarted t have that update or there is any automatic way to do it?

Thanks!

[2021-02-04 16:50] aramase commented on #382
Thank you for the feedback @ShubhasisMathur. I've a PR to update the docs. I'll also work with the docs team to get the guide updated.

[2021-02-04 16:50] #382 closed

[2021-02-04 17:04] #376 closed

[2021-02-05 10:48] pierluigilenoci opened #387 "Problems with log configurations"
**What steps did you take and what happened:**

* We have configured the pod to generate logs at verbosity 1 (WARNING) but still log type 0 (INFO)

**What did you expect to happen:**

* No more logs are generated for level 0 (INFO) if the level is 1 (WARNING)

**Anything else you would like to add:**

Chart configuration:
[code]

Log with verbosity 1 (WARNING) in JSON format
[code]

`verbosity` is

[2021-02-05 10:51] pierluigilenoci commented on #387
@aramase could you please take a look?

[2021-02-05 12:01] pierluigilenoci commented on #387
I also tried to set level 2 (ERROR):

Chart configuration:
[code]

`provider-azure-installer` logs with verbosity 2 (ERROR) in JSON format
[code]

With `verbosity` at level `2` (ERROR), other messages appeared that did not appear before, those of level `2`. It seems that the filter is implemented backward.

[2021-02-05 15:11] snobu opened #388 "System-assigned Managed Identity"
[This page](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/system-assigned-msi-mode/) says -

AKS uses system-assigned managed identity as cluster managed identity. This managed identity shouldn’t be used to access Keyvault. **You should consider using a User-assigned managed identity instead.**

** emphasis mine.

That's great but it does not

[2021-02-05 15:57] snobu opened #389 "Standard Walkthrough"
This page -
https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/#5-deploy-secretproviderclass

references `userAssignedIdentityID: ""` which isn't clear what it is. It's not the resource id (which would be my first choice just by reading the key name) but the Client ID.

You should add a comment above it to clearly state that's the CLIENT ID of the user ident

[2021-02-05 18:06] aramase commented on #386
@tasb Thank you for opening an issue.

To enable update of the created Kubernetes secret and the mounted contents, we have introduced secret rotation alpha feature in Secrets Store CSI Driver v0.0.16.

Docs on how to enable secret rotation -
https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/enable-auto-rotation-secrets/

[2021-02-05 18:07] aramase commented on #366
Closing this with the docs update in the driver. Please feel free to reopen if you've any questions.

[2021-02-05 18:07] #366 closed

[2021-02-05 22:56] aramase commented on #389
@snobu Thank you for opening the issue.

The standard walkthrough uses the service principal auth method. For more details on the configuration parameters and values, you can see https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/#create-your-own-secretproviderclass-object which defines the expected value for each field.

Also, if you refer to https://azure.githu

[2021-02-05 23:59] aramase opened #390 "Add configuration for additional user agents"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-02-09 12:01] mhyllander commented on #383
We ran into this problem as well. We found that if we have a PKCS#1 key in the keyvault, it is correctly mounted in PKCS#1 as a volume, but in the synced secret the value stays the same but the headers are changed to PKCS#8. So there is a mismatch between headers and value that causes the reading program to fail.

If, however, we put a PKCS#8 key in the keyvault, the key is actually converted corr

[2021-02-09 17:37] aramase commented on #383
Thank you for the details @mhyllander @local-master. I'll try to repro this and fix in the next release.

[2021-02-10 17:18] #390 closed

[2021-02-11 02:21] aramase commented on #387
This project uses [klog](https://github.com/kubernetes/klog) for logging. This is the same logging framework [used by Kubernetes](https://kubernetes.io/docs/concepts/cluster-administration/system-logs/).

This was a bug in the old version of klog which has been fixed in the later releases. I've opened #449 to update the klog version to latest which contains the fix.

[code]

These are not severity

[2021-02-11 11:39] pierluigilenoci commented on #387
So the fix on `secrets-store-csi-driver` will fix also this side? Cool.
Thank you again.

[2021-02-11 11:54] dkirrane commented on #387
Looking for the same.
What are the exact Helm verbosity & loglevel values required to only log WARNING and ERROR for all containers deployed by the Chart?

[2021-02-11 12:19] pierluigilenoci commented on #387
@dkirrane great question!

[2021-02-11 16:40] dkirrane opened #398 "liveness-probe is logging to stderr"
**What steps did you take and what happened:**

We ship logs to DataDog. All the the liveness-probe logs appear as errors.
On closer inspection I found the csi-secrets-store-provider-azure-0.0.15 `liveness-probe` container is always logging to `stderr`

I ssh to AKS node and viewed logs on disk.
They all looks like info logs but have `"stream":"stderr"`
[code]

**What did you expect to happen:**
L

[2021-02-11 16:51] aramase commented on #398
@dkirrane The `liveness-probe` component is owned by the Kubernetes CSI community: https://github.com/kubernetes-csi/livenessprobe

They use the `klog` log framework which is used in all Kubernetes components. All the logs by default are written to `stderr`.

[2021-02-11 16:58] dkirrane commented on #398
Thanks I've raised it there https://github.com/kubernetes-csi/livenessprobe/issues/105

[2021-02-11 17:09] aramase commented on #398
Thanks @dkirrane. I'll close this issue so we can track this in one location. We can follow up with any changes that are recommended on the issue.

[2021-02-11 17:09] #398 closed

[2021-02-12 02:06] #170 closed

[2021-02-12 12:06] ekhaydarov opened #399 "enable pod identity through annotations"
Looking through [this](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/pod-identity-mode/) documentation we can see that the way to make pod identity work is to add a label on the pod spec that will be performing the access. It all works which is great.

However, the standard seems to be to use pod annotations to create markers like this in pret

[2021-02-12 18:58] aramase opened #400 "Add metrics for provider requests"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We have metrics today for the csi driver. Now that the provider runs as a standalone pod, we can enable metrics for the provider.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use th

[2021-02-12 19:40] aramase commented on #383
Closing this with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/448

[2021-02-12 19:40] #383 closed

[2021-02-13 00:01] cheslijones opened #401 "$identityName and <idname> clarification in the documentation"
`$identityName` is referred to here in step 3:

https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#assign-managed-identity

`<idname>` is referred to here in step 2:

https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/pod-identity-mode/

I'm more than likely just dense, but it isn't clear to me from the context

[2021-02-13 00:12] cheslijones commented on #401
Actually, I think I figured it out. It is just an arbitrary name. Wasn't clear if this was a value that needed to be inherited from one of the previous steps.

[2021-02-13 00:12] #401 closed

[2021-02-14 00:36] cheslijones opened #402 "aad-pod-identity-nmi-xxxxx doesn't start and no matches for `AzureIdentity` and `AzureIdentityBinding` in version `aadpodidentity.k8s.io/v1`"
**What steps did you take and what happened:**
The `aad-pod-identity-nmi-xxxxx` Pod does not start and no matches for `AzureIdentity` and `AzureIdentityBinding` in version `aadpodidentity.k8s.io/v1`.

**What did you expect to happen:**
I expected that following the guide, unless I have a wrong parameter somewhere, that the Azure Key Vault and Azure Kubernetes Service integration would work.

**Any

[2021-02-16 17:16] aramase commented on #402
@cheslijones Could you check the NMI pod logs? AAD Pod Identity is disabled by default for clusters with kubenet. If that's the error, you should see it in the logs. Here is the troubleshooting guide for pod identity:
- https://azure.github.io/aad-pod-identity/docs/troubleshooting/
- https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/

[2021-02-16 23:56] cheslijones commented on #402
@aramase Thanks, I did try to create the cluster a few times over the weekend with the `--network-plugin azure` flag and ran into a different issue. However, I just tried it again and it works!

I did want to suggest that in the [documentation I was following](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes#deploy-an-azure-kubernetes-service-aks-cluster-by-u

[2021-02-16 23:56] #402 closed

[2021-02-17 15:20] mo-saeed opened #404 "Add pod security policy to the helm chart"
**Describe the request**
Right now we have a pod security policy enabled in our k8s clusters that prevent the creation of certain volumes and allow only certain capabilities, etc.. this is a blocker to deploy secrets-store-csi-driver-provider-azure properly so we had to create the following pod security policy manually.

[code]

**Explain why AAD Pod Identity needs it**
To deploy secrets-store-csi

[2021-02-17 17:51] aramase commented on #387
Closing this issue in favor of https://github.com/kubernetes/klog/issues/212. There is no option to only pick individual log levels. There is `stderrthreshold` which when set will log everything above the threshold. This however only takes effect when logs are not printed to stderr which would mean no logs will be available in `kubectl logs` if enabled.

[2021-02-17 17:51] #387 closed

[2021-02-17 18:45] aramase commented on #399
Closing this as duplicate of https://github.com/Azure/aad-pod-identity/issues/302

[2021-02-17 18:45] #399 closed

[2021-02-17 18:50] aramase commented on #206
Closing this with #263 and #392. Feel free to open a new issue for any further enhancement requests.

[2021-02-17 18:50] #206 closed

[2021-02-17 20:16] aramase opened #406 "Run and document load testing on large clusters"

[2021-02-18 01:26] #388 closed

[2021-02-18 01:26] #389 closed

[2021-02-23 17:55] cheslijones opened #410 "Azure Key Vault integration with AKS works for nginx tutorial Pod, but not actual project deployment"
**What steps did you take and what happened:**
Followed the steps in the guide to integrate AKV and AKS:

https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

Works with the `nignx` example at the very end. Copied the settings into my `postgres.yaml` and just get:

[code]
[code]

**What did you expect to happen:**
Given that my `postgres.yaml` and `nginx.yaml` h

[2021-02-23 18:06] aramase commented on #410
@cheslijones The `aadpodidbinding` label needs to be in the pod spec. In your manifests above, you have it in the `deployment.metadata.labels` which is why the token request is failing. Here is the example manifest for how to use pod identity with deployments: https://azure.github.io/aad-pod-identity/docs/best-practices/#deploymenthttpskubernetesiodocsconceptsworkloadscontrollersdeployment

[2021-02-23 21:15] cheslijones commented on #410
That did the trick, thanks again.

[2021-02-23 21:15] #410 closed

[2021-02-24 00:39] sozercan opened #411 "docs: add nodeSelector or specify multi platform image"
**What steps did you take and what happened:**
We should add nodeSelector for Linux based images or specify multi platform images

example: https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/#6-deployment-and-validation
which might fail if users have a windows node pool and pod gets scheduled there

[2021-02-25 12:12] melkamar commented on #200
@aramase the links in your answer https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/200#issuecomment-683880300 are either 404 or the anchors you reference are no longer there. Could you please update them?

[2021-02-25 16:58] ilya-git opened #412 "Possibility to inject key-vault values as environment variables with or without k8s secrets"
**Describe the solution you'd like**
Many applications have a native ability to read options/parameters from environment variables like e.g. dot net core. Right now to get that behavior we need to:
1. Mount the files that won't be used later
2. Add secrets as k8s secrets that won't be used later
3. Map k8s secrets to env.variables

For many applications there is not much need for all of these and

[2021-02-25 17:20] vijaythotadappa opened #413 "Unable to read secrets from "/mnt/secrets-store" in spring boot app running on AKS"
**Describe the solution you'd like**
We used the steps on below link to configure SecretProviderClass with CSI, and we were able to mount secrets ("/mnt/secrets-store") from Key vault into application container.

https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

Now we are stuck while trying to read secrets from "/mnt/secrets-store", we are using below depend

[2021-02-25 17:42] aramase commented on #200
@melkamar The documentation for the project is here: https://azure.github.io/secrets-store-csi-driver-provider-azure/

[2021-02-25 21:49] ilya-git opened #414 "Add possibility to use cluster managed identity without explicitly specifying it"
**Describe the solution you'd like**
It is not possible to use system assigned managed identities of VM without extra configuration, it would be nice to have a flag, e.g.:

   `useClusterKubeletManagedIdentity: "true"`

that will allow usage of kubelet identity from AKS (`identityProfile.kubeletidentity.clientId`). It is possible now already, but one has to specify the id in each yaml manifest (`u

[2021-02-25 22:22] aramase commented on #414
@ilya-git The AKS kubelet identity is a user-assigned managed identity. There are multiple user-assigned managed identities in the cluster and the clientID for the kubelet identity needs to be specified so the AKV provider can use the correct one.

You can confirm there is no system assigned identity on the vm/vmss in aks by running:
[code]

As you can see above, the type is only `UserAssigned`. I

[2021-02-25 22:24] aramase commented on #413
@vijaythotadappa Could you elaborate more on the issue?

The file mount is read only and should be generally consumable by the application. What is the issue with reading the secrets?

[2021-02-25 22:42] vijaythotadappa commented on #413
We are unable to read this secret from java spring boot app. I have added the variables in application.properties as below, and added dependency for azure keyvault spring boot starter.
Application is failing to start with error  “ Could not resolve placeholder ' KAFKA-URL' in value "${KAFKA-URL}"”

application.properties file:

spring.kafka.connectionString= "${KAFKA-URL}"
spring.kafka.username= "

[2021-02-25 23:27] aramase commented on #413
The CSI driver writes the individual objects to the files in the mount. So if you're reading each individual file in your application and consuming it then that would work. The file you posted above is just assuming static values which will not be replaced/needs to be set by your app.

There is an issue open for custom file formats: https://github.com/Azure/secrets-store-csi-driver-provider-azure/

[2021-02-26 01:06] vanpyrzericj opened #415 "MountVolume.SetUp failed for volume "secrets-store-inline": connection refused"
**What steps did you take and what happened:**
Followed documentation [here](https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes) to integrate AKV with an **existing** aks cluster with managed identity enabled.

When pod is trying to mount `secrets-store-inline` volume, the following error occurs:
[code]

**What did you expect to happen:**
Successful mount of vo

[2021-02-26 01:18] aramase commented on #415
@vanpyrzericj Did you install pod identity? Can you confirm if all the pod identity components are running in your cluster?

[2021-02-26 02:28] vanpyrzericj commented on #415
@aramase Pod Identity is installed, version 3.0.3.

MIC components are running, but it appears NMI are in a crash loop. There is no specific errors being logged. It just displays the following:

[code]

[2021-02-26 14:16] ilya-git commented on #414
Yes, I thought you would not be able to find the identity among all the assigned ones. There is though a very strange confusion in the name "user-assigned managed identity" as the kubelet identity being user assigned is actually not assigned by the user (not by default anyway). It's Azure that creates this identity and assigns it, though it technically is user assigned :)

What about the service p

[2021-02-26 17:22] aramase commented on #415
@vanpyrzericj We'll update the docs to recommend using azure network plugin by default. If you want to use pod identity in a cluster with kubenet, you can refer to the docs on how to enable it: https://azure.github.io/aad-pod-identity/docs/configure/aad_pod_identity_on_kubenet/

[2021-02-26 17:34] aramase commented on #414
User-assigned managed identity gives the flexibility of having individual identity per component. System-assigned managed identity is one per node and it could have permissions for higher scope. Although, for system-assigned managed identity that you manually create, the permissions can be scoped only to keyvault.

That's right. The `SystemAssigned` is not available on the node. If you still want

[2021-02-26 17:47] vanpyrzericj commented on #415
Thanks @aramase. I can confirm that after redeploying the aad pod identity helm chart with the flag to allow for kublet, the NMI components are running and the error message has gone away.

[2021-02-26 17:47] #415 closed

[2021-02-26 18:42] ilya-git commented on #414
Thanks for the details :)

[2021-02-26 19:21] aramase commented on #414
Sure thing! Anything else I can help answer in this issue?

[2021-02-26 19:25] ilya-git commented on #414
The answer was very detailed thank you :) I am not sure if this is related to the issue, but I was wondering what gives the provider access to assume any identity? I suppose any random pod cannot do the same and impersonate the identity? It's probably some setting in the manifest that allows access to the node resources?

[2021-02-26 23:46] aramase commented on #414
The providers uses only the user assigned identity specified in `userAssignedIdentityID`. If not provided, then the provider requests for a token using the system-assigned managed identity.

User-assigned and system-assigned managed identities are assigned to the underlying VMSS. This means any pod scheduled on the node can access the identity. To make this more fine grained and configure which po

[2021-02-27 00:09] aramase commented on #386
@tasb Did you get a chance to look at the docs and try out the feature?

[2021-02-27 11:24] ilya-git commented on #414
Thanks a lot for your explanation, I'll close the ticket as it seems not feasible to add the feature that I was asking for

[2021-02-27 11:24] #414 closed

[2021-03-01 02:21] vanpyrzericj opened #418 "Client does not have permission to perform action 'Microsoft.ManagedIdentity/userAssignedIdentities/assign/action'"
**What steps did you take and what happened:**
I referenced #66 which appeared to be very similar in nature, however, I am still struggling here since as far as I can tell, the cluster service principal (`cluster_name_agentpool`) **does** have `Managed Identity Operator` assigned to it. The portal's UI for managed identities seems to be inconsistent with showing role permissions. I'm not entirely

[2021-03-01 10:22] mchudinov opened #419 "K8S secrets are not created from Azure Key Vault"
Kubernetes secrets are not created after deployment of SecretProviderClass.
manifest:
[code]

**What did you expect to happen:**
Secret **certificate-nginx-ingress** expected to be created after deployment of a manifest file.

**Which access mode did you use to access the Azure Key Vault instance:**
[e.g. Service Principal, Pod Identity, User Assigned Managed Identity, System Assigned Managed Iden

[2021-03-01 17:10] aramase commented on #419
@mchudinov Did you deploy a pod/deployment using the `SecretProviderClass` referenced in the CSI volume? The Kubernetes secret is only created when the first pod referencing the `SecretProviderClass` is created. The CSI driver first mounts the keyvault contents in the pod and then mirrors that as Kubernetes secret. Please see https://azure.github.io/secrets-store-csi-driver-provider-azure/configur

[2021-03-01 17:14] aramase commented on #418
@vanpyrzericj This is the doc on how to find the cluster identity/service principal that'll be used by pod identity for performing identity assignment/un-assignments in the cluster: https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/. Based on the cluster type, you can get the correct clientID and assign it the required permissions as mentioned in the doc. After performi

[2021-03-02 03:32] vanpyrzericj commented on #418
@aramase Running the identity assignment script yielded this error message:
`Failed to connect to MSI. Please make sure MSI is configured correctly.
Get Token request returned: <Response [400]>`

[2021-03-02 17:05] aramase commented on #418
@vanpyrzericj Could you post the AzureIdentity yaml that you're applying in the cluster? In the error message the resource id for the user-assigned managed identity is `/subscriptions/mysubscriptionid/overview/resourcegroups/mc_myrg_mycluster_eastus/providers/microsoft.managedidentity/userassignedidentities/myusermanagedidentity`.

However user-assigned managed identity resourceID format is /subsc

[2021-03-02 20:05] aramase opened #423 "ci: switch from service principal to managed identity for e2e test"

[2021-03-02 21:56] mchudinov commented on #419
Thank you, it is fixed now. The manifest part that made volume was deleted. As I though it was no use.
Now I see that even secrets depends on the created and attached volume.

[2021-03-02 21:56] #419 closed

[2021-03-02 22:04] tasb commented on #386
Hi @aramase, thanks for your reply. Didn't got the chance yet.
I'll try during this week and give you some feedback.

Thanks!

[2021-03-03 04:38] vanpyrzericj commented on #418
Ah, yes, removing "overview" from the resourceId solved this. However, now its unable to find the secret provider:
[code]

Despite the fact that both the secret provider as well as the secret provider pod status (matching the name of the pod) are both there, and exist in the same namespace as the secret provider "azure-sync":

[code]

[2021-03-03 07:44] aramase commented on #418
@vanpyrzericj Where is that error? Can you post the `SecretProviderClass` and pod yaml that's being applied to the cluster? I see the `Secretproviderclasspodstatus` has been created for the pod `stagehub-app-5f87bf7577-bxzkm` in `stagehub-development` namespace which means there was no error in the mount.

[2021-03-03 18:54] aramase opened #425 "CVE-2021-24032"
[code]

Build: https://dev.azure.com/azure/secrets-store-csi-driver-provider-azure/_build/results?buildId=20318&view=logs&j=739e1b7c-752b-5dd3-b8f8-24f95e240c64&t=7f3f6976-c642-5d47-5315-10c2685aef78

[2021-03-04 05:55] #425 closed

[2021-03-04 16:43] pierluigilenoci opened #427 "Custom annotation to pods"
**Describe the solution you'd like**

I wish I could add annotations to the provider `daemoset` metadata.
The chart provides the possibility only to add labels and not annotations.

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml#L15-L19

**Anything else you would like to add:**

Please? 🙏🏻

[2021-03-04 16:46] pierluigilenoci commented on #427
And nothing ... I'm blind. I found how to do it. Sorry.

[2021-03-04 16:54] pierluigilenoci commented on #427
And I was still wrong. It can only be done on the driver.
@aramase can you also do it for the provider?
It should be a trivial change.

[2021-03-04 17:52] aramase commented on #427
@pierluigilenoci We can add it to the next helm chart release. Would you be interested in opening a PR?

[2021-03-04 18:58] #411 closed

[2021-03-04 19:35] aramase commented on #413
Closing this issue as the CSI driver and AKV provider is writing the file to the mount as expected. Feel free to open a new if you have any questions.

[2021-03-04 19:35] #413 closed

[2021-03-05 09:38] dhananjaya-senanayake opened #428 "Unable to mount a secret yaml file uploaded to Azure Key Vault"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
- Upload a Kuberne

[2021-03-05 09:49] dhananjaya-senanayake commented on #428
The issue is with not defining the provider, and tenant in the SecretProviderClass.

[2021-03-05 09:49] #428 closed

[2021-03-07 23:48] vanpyrzericj commented on #418
@aramase So all the secrets in my keyvault are accessible via the KeyVault provider in my ASP.NET Core application. (Fixing the `/overview/` resolved that).

However, one of my secrets (`firebaseconfig`) is the **contents** of a json file. What I'd like to do is mount _just that secret_ in a folder accessible to my application. This is because Google Firebase requires me to reference a file with t

[2021-03-09 05:58] aramase commented on #418
@vanpyrzericj This snippet in the pod yaml
[code]

is only used when you're using service principal to access keyvault. That secret will need to contain the clientID and client secret of the service principal. As you're not using a SP, you need to remove that from the snippet. If present, kubelet will need the secret to exist in the same namespace as the pod before calling the CSI driver. That is

[2021-03-09 10:30] adusumillipraveen opened #431 "Support creating k8s secrets without the need to mount on to a pod"
**Describe the solution you'd like**

I am not sure if this is best place to raise this, but we thought it would be great to know your thoughts.

Currently we use tools like https://github.com/bitnami-labs/sealed-secrets to manage secrets from azure keyvaults in gitops way. This repo supports a feature where a k8s secret can be created  using secretproviderclass and it can used to refer as environ

[2021-03-11 12:47] fraserdarwent opened #434 "Failed to reconcile spc on secret rotation, secret not rotated"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Create a secret in

[2021-03-11 13:11] fraserdarwent commented on #434
This appears to be because the `0.12` Helm chart sets the version of the Secrets Store CSI Driver to `0.0.15` which is not compatible with rotation? (Have noticed `0.0.16` being referenced as the minimum required version for rotation), despite rotation being listed as an option in the Helm values (which lead me to believe it should work).

Setting the version of the Secrets Store CSI Driver to `0.

[2021-03-11 16:28] aramase commented on #434
@fraserdarwent Rotation was supported since `v0.0.15` but there were bug fixes that were added later. It's always recommended to use the latest release as it contains bug fixes and improvements. For more details on the changes that go into each release, you can check the changelog: https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases

[2021-03-11 16:34] #434 closed

[2021-03-11 16:53] cberge908 opened #436 "Allow own release name definition to support Terraform deployment"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [X] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-03-11 16:58] connor4312 opened #437 "Secret from store refuses to pull latest version"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**

1. Updated the va

[2021-03-11 17:13] aramase commented on #437
@connor4312 I see you have the objectVersion defined
[code]

Is that the old object version? If object version is defined, then the provider will only pull that version. If you want to always get the latest, then the version should be empty.

https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/#create-your-own-secretproviderclass-object

objectVersion | no | versi

[2021-03-11 17:16] aramase commented on #436
@cberge908 Helm uses positional arguments and the name is the 1st expected value. Please see `helm install -h` output:

[code]

`helm install csi-provider csi-secrets-store-provider-azure/csi-secrets-store-provider-azure` instead of `helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure csi-provider`

[2021-03-11 17:19] connor4312 commented on #437
No, that's the new object version. It was previously empty and I tried specifying the new version to get it to pull explicitly.

[2021-03-11 17:21] aramase commented on #437
@connor4312 The Kubernetes secret is a mirror of the pod mount (https://secrets-store-csi-driver.sigs.k8s.io/topics/sync-as-kubernetes-secret.html). So until the pod mount has the old value, that's what will be used for the Kubernetes secret. You'll need to restart the pod after deleting the Kubernetes secret.

Or you can use the secret autorotation feature and the CSI driver will automatically up

[2021-03-11 17:22] aramase commented on #437
If you're not using the autorotation feature, the steps are documented here: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html#how-to-fetch-the-latest-content-with-release-v0014-and-earlier-or-without-auto-rotation-feature-enabled

[2021-03-11 17:46] connor4312 commented on #437
Thanks, autorotation did the trick!

It'll be great once that becomes the default, it'll save a lot of pain for others 😄

[2021-03-11 17:46] #437 closed

[2021-03-11 21:19] aramase opened #438 "Update to Secrets Store CSI Driver v0.0.21"

[2021-03-12 08:51] JuanKRuiz opened #440 "Standard Walkthrough"
http://secrets-store-test  --> should be a parameter

This line is wrong

`export SERVICE_PRINCIPAL_CLIENT_ID="(az ad sp show --id http://secrets-store-test --query 'appId' -otsv)"`

should be instead

`export SERVICE_PRINCIPAL_CLIENT_ID="$(az ad sp show --id http://secrets-store-test --query 'appId' -otsv)"`

Note the $ sign after the first quote ".

[2021-03-12 11:06] cberge908 commented on #436
@aramase Thanks for the hint. Sorry for this silly mistake from my end.

[2021-03-12 11:06] #436 closed

[2021-03-13 05:34] #440 closed

[2021-03-14 11:24] Tenseiga commented on #284
eagerly waiting :)

[2021-03-15 13:43] pierluigilenoci commented on #427
@aramase done https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/442

[2021-03-15 14:24] pierluigilenoci commented on #404
@aramase https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/443

[2021-03-15 15:12] chrisamert opened #444 "Helm Chart should allow specifying a custom volume mount to support Custom Azure Environments"
**Describe the solution you'd like**
The documentation page here: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/custom-environments/ describes the process to get the AKV Provider working in Custom Azure Environments.  One of these steps is to mount a file from the Kubernetes host node into the AKV Provider Pods. However the Helm Charts currently don't have any opti

[2021-03-15 23:29] #427 closed

[2021-03-16 13:58] mohmdnofal opened #445 "Using UserAssignedIdentity"
Hello,

I'm trying to get a secret into an AKS cluster using UserAssignedIdentity but the pod isn't able to pull the secret, i'm receiving the below error;
$kubectl describe pods busybox-secrets-store-inline -n testuai
  Warning  FailedMount  49s (x12 over 9m4s)  kubelet            MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed to mount secrets

[2021-03-16 17:08] mohmdnofal commented on #445
ooh bad mistake :P thanks @aramase

[2021-03-16 17:08] #445 closed

[2021-03-16 18:01] vanpyrzericj commented on #418
@aramase thanks, looks like that solved my issue. Looks like I got things mixed up with MI vs SP ;-)

[2021-03-16 18:01] #418 closed

[2021-03-16 19:51] aramase commented on #444
That makes sense! @chrisamert Please feel free to open a PR. We can review and get it merged.

[2021-03-16 19:52] aramase commented on #386
@tasb Did you get a chance to try it out? Can we close this issue now?

[2021-03-16 22:04] aramase opened #447 "Add liveness and readiness probe timeout to manifests"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-03-17 07:17] WilfriedWeidner opened #450 "secret sync to kubernetes.io/dockercfg and kubernetes.io/dockerconfigjson not working"
Hi all,

**What steps did you take and what happened:**
I'm currently using the TLS secret sync with our key vault and this is working well.
Now I want use the sync feature with the secret type kubernetes.io/dockerconfigjson or kubernetes.io/dockercfg
I found this [docuemtation](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/e8bd366889bb160e148a87a6ed891798a52caf4e/website/c

[2021-03-18 18:40] ekhaydarov commented on #227
your link is now a [role assignment doc in aad-pod-identity](https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md) is now a 404.

this hidden role assignment  is a clear issue that needs to be addressed as its issue after issue on this repository and elsewhere

[2021-03-18 18:45] aramase commented on #227
@ekhaydarov The docs in pod identity have been moved to the docs site: https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/.

The pod identity section in the docs have a reference to the link: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/pod-identity-mode/#configure-aad-pod-identity-to-access-keyvault

Please let us

[2021-03-18 20:01] ekhaydarov commented on #227
Thanks for quick response @aramase. i should really have my own issue for this but im pressed for time. is there an open slack group somewhere where questions can be asked about this?

a suggestion to improve the docs would be to give an example for [Reducing number of role assignments](https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/#reducing-number-of-role-assignmen

[2021-03-18 20:15] sozercan opened #452 "use healthz and readyz endpoints instead of exec probes"
**Describe the solution you'd like**
Instead of calling grpc_health_probe client to check the socket, we should expose /healthz and /readyz endpoints

We can also remove this extra binary after this is done

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/deployment/provider-azure-installer.yaml#L37-L44

**Anything else you would like to add:**
[Miscellaneous informati

[2021-03-18 20:43] ekhaydarov commented on #404
pod security policy is being [deprecated](https://blog.aquasec.com/kubernetess-policy#:~:text=PSP%20is%20planned%20to%20be,to%20prepare%20for%20the%20change.).

[2021-03-19 07:46] pierluigilenoci commented on #404
@ekhaydarov according to sig-auth, a new implementation is on the way and will be backwards compatible with old policies unless there are a few minor tweaks.

Ref: https://www.youtube.com/watch?v=YSzphARKjKs&t=2340s and https://github.com/kubernetes/enhancements/issues/5#issuecomment-729272396

The old implementation will be supported up to version 1.25 and is used by many. I don't see why an opti

[2021-03-19 08:07] ekhaydarov commented on #404
i amonly a customer of azure. They disabled psp api in all new clusters. So we cant use ps in AKS even if we wanted to. There pushing us to use azure policy. However, that product is half baked and broken. Their pod-identity is product is also broken.

If you want to continue using psp up to k8s v1.25 dont use AKS

[2021-03-19 16:19] aramase commented on #404
@ekhaydarov I'm one of the maintainers for pod identity. Any feedback is welcome. What is the issue you're facing with pod identity?

[2021-03-19 16:25] aramase commented on #227
For `azurerm_role_assignment`, the `principal_id` is of the identity that the cluster is using for access to Azure resources: https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/#obtaining-the-id-of-the-managed-identity--service-principal.

The scope for that role assignment would be the resource group that contains the identities.

[2021-03-19 16:30] ritazh commented on #404
@ekhaydarov Thank you for sharing your feedback with us. We want to work with you to make sure the experience gets better.

Can you provide more details to help us understand what is broken so we can work with Azure Policy to fix it?

As Anish mentioned, please share more details with us so we can improve the experience.
I see this issue https://github.com/Azure/AKS/issues/2203

cc @miwithro @phil

[2021-03-19 17:19] ekhaydarov commented on #227
so when you say `identity that the cluster` is using is that the same as the quoted docs above? ie you cannot assign the resource group itself as. Therefore the docs absolutely do not make that clear.

In my case. If i make a user assigned managed identity in the same resource group, will it inherit the role from the identity that the cluster is using? I am assuming no? therefore there will be no

[2021-03-19 17:21] ekhaydarov commented on #404
Where would be the best place to provide feedback? I am hijacking another issue

[2021-03-19 17:26] miwithro commented on #404
@ekhaydarov you can work with me directly

[2021-03-19 17:32] ritazh commented on #404
@ekhaydarov Not sure if you are on the k8s slack. But you can find me there as well.

[2021-03-19 17:34] aramase commented on #404
If you're not already on the k8s slack, you can request to join here: https://slack.k8s.io/. Please feel free to reach out on slack (@aramase on slack).

[2021-03-20 00:31] #452 closed

[2021-03-23 17:43] aramase commented on #450
@WilfriedWeidner For secret of type `kubernetes.io/dockercfg`, the kubernetes secret key required is `.dockercfg` and for `kubernetes.io/dockercfgjson` it is `.dockercfgjson`.

More info on the data key name here:
https://kubernetes.io/docs/concepts/configuration/secret/#docker-config-secrets

You can store the json blob with the credentials in keyvault. For example, I uploaded this blob as a secr

[2021-03-23 17:44] aramase commented on #447
Closed with #453

[2021-03-23 17:44] #447 closed

[2021-03-23 17:50] aramase commented on #386
Closing this issue now. Please feel free to open a new issue when you get a chance to try out and run into any issues.

[2021-03-23 17:50] #386 closed

[2021-03-24 07:10] WilfriedWeidner commented on #450
@aramase Solved! Thank you very much. This example solved my problem with the dot.
I have always tested with the wrong key value. :-( Now I changed it to ````key: .dockerconfigjson```` and it works directly.
Perfect!

It is possible to add an example with a docker/ACR secret?

[2021-03-26 00:14] #174 closed

[2021-03-26 16:13] aramase commented on #450
@WilfriedWeidner yeah, sure! We can get it added to the docs.

[2021-04-01 23:43] aramase opened #459 "Add test for helm release"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Add pipeline to run e2e tests against helm release charts

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):

[2021-04-02 00:21] #438 closed

[2021-04-05 22:49] aramase commented on #328
We've made a number of optimizations based on load testing in our latest releases. Please checkout:

https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.21
https://secrets-store-csi-driver.sigs.k8s.io/load-tests.html
https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.14

Try it out when you get a chance and let us know if the issue still per

[2021-04-06 18:11] #444 closed

[2021-04-08 14:01] NissesSenap opened #463 "Support Open API schema"
**Describe the solution you'd like**
I would like to be able to use kubectl explain command to be able to get a quick overview of what the operator can do.

**Anything else you would like to add:**
[code]
To know what usePodIdenetity actually does I have to find some docs page or read the code...
Would be nice to see directly from kubectl explain.

[2021-04-09 16:33] LP0101 opened #464 "Secret Store Driver constantly logs reconcile error"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci