[2022-02-26 00:06] #725 closed

[2022-02-28 13:32] nilekhc commented on #775
ping

[2022-03-01 23:47] deepakpachauri opened #813 "Using ServicePrincipal"
Hello,

I'm trying to get a secret into an AKS cluster using ServicePrincipal but the pod isn't able to pull the secret, i'm receiving the below error;
MountVolume.SetUp failed for volume "keyvault-secrets-mount" : rpc error: code = DeadlineExceeded desc = context deadline exceeded

Below is what I did;
I created an AKS cluster

Created ServicePrincipal in AD assigned Contributor role to it.

assi

[2022-03-01 23:53] aramase commented on #813
Here are the steps required for accessing keyvault with service principal: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/service-principal-mode/.

For the error, you can look at the driver and provider logs running on the same node as your application with error. Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi

[2022-03-02 12:24] michaelelleby opened #815 "Mounted secrets do not get updated when secret is changed in Key Vault"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [X] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Key Vault secret i

[2022-03-02 12:30] #815 closed, assigned to nobody

[2022-03-02 12:30] nilekhc commented on #815
Hi @michaelelleby Thanks for opening issue.

Could you try helm install with:
`helm install csi csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --set secrets-store-csi-driver.enableSecretRotation=true --set secrets-store-csi-driver.rotationPollInterval=2`

Also are you using Secrets Store CSI azure provider on AKS? If so we recommend using managed add-on for the same:
https://doc

[2022-03-02 21:09] deepakpachauri commented on #813
Thanks for the response. I checked the logs and can see  following issue  in 1 of  the secrets-store-provider-azure

E0302 11:17:09.962333       1 server.go:58] "failed to process mount request" err="failed to get objectType:secret, objectName:cbis-auth-admin-username, objectVersion:: keyvault.BaseClient#GetSecret: Failure sending request: StatusCode=0 -- Original Error: context canceled"
I0302 11

[2022-03-02 22:42] aramase commented on #813
That error message could mean there is a firewall/network policy rule blocking egress to keyvault and/or AAD. You can check out the debug steps here: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/#keyvaultbaseclientgetsecret-failure-sending-request-statuscode0----original-error-context-canceled

[2022-03-03 05:07] michaelelleby commented on #815
Hi @nilekhc I can confirm that setting `secrets-store-csi-driver.enableSecretRotation=true` does fix the problem.

[2022-03-03 08:19] nilekhc commented on #815
@michaelelleby I see the confusion now. Thanks for bringing this up. I have created a PR (https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/819) to add a note about this in docs. Feel free to add review comments.

[2022-03-03 09:55] claorden opened #820 "Secretproviderclass resources keep dissapearing"
Hello,

We have been facing a problem in the past couple of weeks where our secretproviderclass resources are disappearing from our AKS cluster. This happens several times a day. Some days 4-5 times, other days more.

The cluster has 2 nodes, Linux and Windows, and the services that need to retrieve the secrets are on the Windows node. Kubernetes version is 1.22.4. We have 2 environments for the s

[2022-03-03 10:25] nilekhc commented on #820
@claorden Thanks for reporting this.

The pods logs provided above are from linux of windows container?

Image listed above `[Linux] secrets-store: mcr.microsoft.com/oss/kubernetes-csi/secrets-store/driver:v1.0.0.1`, are you specifying image tag `v1.0.0.1` somewhere while deploying?

[2022-03-03 10:42] claorden commented on #820
Thanks for the quick response @nilekhc. The logs are from the Windows pod, sorry I forgot to mention it.

I noticed that different version, that is strange right? We are not specifying the image tag while deploying. We just enable the addon via Terraform which, to my understanding, deploys the required pods, right?

Then we do deploy the secretproviderclass resources, to map the secrets using the

[2022-03-03 17:06] aramase commented on #820
The `v1.0.0.1` is just a patch image for `v1.0.0` that has fixes for base image CVEs. The linux images are patched periodically but that can't be done with windows. Windows images requires a rebuild of the images for fixing CVEs and that would be a whole new release.

The `SecretProviderClass` is a user created resource and the driver doesn't handle the lifecycle of it. At the time of the error, h

[2022-03-04 11:07] AalimahG opened #821 "Secret not syncing after pod restarts"
**Have you**

I'm using AKS version 1.22.6 with csi secret store addon enabled.
Despite this fact , the secret doesn't get updated when a change is done on the key vault and the pod restarted.

**What steps did you take and what happened:**
- Create secret class provider
- create pod
- update value on key vault
- restart the pod
**What did you expect to happen:**

Value changed on the secret manif

[2022-03-04 11:16] nilekhc commented on #821
Hi @AalimahG Thanks for opening an issue.

Is autorotation enabled on the addon?
https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#enable-and-disable-autorotation

Also, 0.0.15 is a very old version. Since then we have stable 1.0.0 released. Could you try to disable and enable add-on again?

[2022-03-07 11:50] luckerby commented on #798
@nilekhc We've looked at using the managed add-on, but in terms of actual code it appears to be the same thing we're running now.

[2022-03-07 11:57] nilekhc commented on #798
Sure.. in terms of code they are same. But with managed add-on you get additional benefit like MS support, use of latest version etc.

Nonetheless, did you try running with latest version of driver?

Also issue https://github.com/kubernetes/kubernetes/issues/104584 related to node driver registrar on windows is still being investigated in upstream k8s.

[2022-03-07 11:59] luckerby commented on #798
@nilekhc As for #639, the liveness probe workaround referenced there isn't working for us - as in there's nothing restarting the `node-driver-registrar` once it "stalls".

As for upgrading, I've noticed `v1.1.0` is now available for the provider for a few days now. But given that the underlying [kubernetes/kubernetes#104584](https://github.com/kubernetes/kubernetes/issues/104584) is with the Kuber

[2022-03-07 12:02] nilekhc commented on #798
No. For now there is no workaround other than liveness probe.

[2022-03-09 21:18] rguptar opened #828 "Split pfx files into cert and key"
**Describe the solution you'd like**
We are migrating from acs-keyvault-agent to CSI driver. The [aforementioned solution](https://github.com/Hexadite/acs-keyvault-agent/blob/master/app/main.py#L346) splits pfx files into two parts: the cert and the key; this is useful for webservers which read the files separately. Users specify the secret name, cert filename, and key filename. Currently, the key

[2022-03-10 13:27] pierluigilenoci opened #829 "Kubelet plugin registration hasn't succeeded yet"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**

I upgraded the ch

[2022-03-10 13:46] nilekhc commented on #829
Hey @pierluigilenoci  Coul you run `helm dependency update` then try to install again?

[2022-03-10 14:17] pierluigilenoci commented on #829
@nilekhc we don't install the chart manually, we use a GitOps approach, Flux (v1) in particular.

The dependency update is performed by default by `helm-operator`.
Ref: https://fluxcd.io/legacy/helm-operator/helmrelease-guide/automation/#helm-repository-chart-updates

[2022-03-10 14:21] nilekhc commented on #829
Could you provide chart versions for both driver and provider?

Also, could you provide the logs of `secrets-store` container from driver?

[2022-03-10 16:20] pierluigilenoci commented on #829
@nilekhc all this information is already in the issue text.

In any case, upgrade the chart from version 1.0.1 to version 1.1.0 (the subchart is the one defined by the chart version).
[code]

[2022-03-10 17:28] aramase commented on #829
There was a bug in driver with json logging format which was fixed in `v1.1.1`: https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v1.1.1. The helm charts in this repo still use the driver `v1.1.0`.

You can use the driver charts from driver repo for `v1.1.1` release until https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/830 is merged to use new driver re

[2022-03-10 18:07] pierluigilenoci commented on #829
@aramase do you have an ETA for the release of the fix? Without rushing.
Changing the subchart becomes more complex.
I will wait for the release anyway.

[2022-03-10 18:33] aramase commented on #829
Chart release `1.1.1` that has driver `v.1.1.1` as dep is published!

[2022-03-10 18:34] aramase commented on #820
@claorden You can check the kubernetes events and kube-audit logs to see what process is deleting the `SecretProviderClass`. The driver does not handle the lifecycle of it.

[2022-03-10 19:41] simongottschlag opened #832 "Support Workload Identity"
Hi!

Workload Identity is the next iteration of AAD Pod Identity: https://github.com/Azure/azure-workload-identity

What are the plans for this provider to support it in the future?

Thanks!

[2022-03-10 19:44] aramase commented on #829
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/830

[2022-03-10 19:44] #829 closed

[2022-03-10 19:46] aramase commented on #832
Hello 👋🏻  Workload identity support is available in [v1.1.0](https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/v1.1.0) release of the driver and provider. Here is the documentation: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/

The webhook is not required for the CSI driver as kubelet plumbs the service account token as part of the volume mount

[2022-03-10 20:24] simongottschlag commented on #832
Wow! Sorry for creating an issue for something that's already supported - should have looked closer.

@aramase is it possible to separate and isolate namespaces like we were able to with aad-pod-identity?

Thanks!

[2022-03-10 20:29] aramase commented on #832
Workload identity federation is based on service account token used by the workload. So everything is bound to a namespace and to the individual service account that's configured with the workload.

[2022-03-10 20:32] simongottschlag commented on #832
@aramase epic work! Sorry again and thank you 🙏⭐️

[2022-03-10 20:32] #832 closed

[2022-03-10 20:33] aramase commented on #832
No worries at all!

Let us know your feedback after you get a chance to try it out.

[2022-03-14 16:45] claorden commented on #820
Thank you for the help @aramase. Following your advice I'm taking a look at the kube-audit logs. I tracked the events of deletion. Now I need to identify the culprit. Could you please point me in the right direction on how to find it?

I can see that all the deletions came from the same sourceIP, which just before the deletion actions performs a list action. How could I correlate the IP with the r

[2022-03-14 22:56] vinhnguyen500 commented on #759
@sjdweb we're running into this issue as well where the pod volume mounts never succeed. Did you manage to find a workaround?

It'd be great if the kubelet would actually retry and eventually succeed but kicking the pods manually sucks especially when scale-ups are happening automatically with our cluster-autoscaler

[2022-03-16 18:38] lnr0626 commented on #571
Howdy! We also need this functionality and so I'm considering implementing it. If I put up a PR, would y'all accept this as a contribution?

[2022-03-17 18:46] aramase commented on #828
Thanks for opening the issue!

Do you need the cert and key to be split into individual files always rr only in certain scenarios?

We can add support for this as at the provider level with an optional feature flag. Enabling the feature flag would means the cert and key will always be split.

[2022-03-17 18:49] aramase commented on #820
@claorden Based on the output the delete command is being issued using `kubectl`

[code]

[2022-03-18 03:12] rguptar commented on #828
I was thinking the following:

For objectType `secret`, if objectAlias is provided, the two would be combined, i.e. no change from the current behavior.
For objectType `secret`, if objectKeyFile and objectCertFile are provided, then it would be split accordingly.

[2022-03-21 07:40] pierluigilenoci commented on #787
PSP are replaced with https://github.com/kubernetes/enhancements/issues/2579

[2022-03-22 17:27] aramase opened #837 "Deprecating User-assigned and System-assigned managed identity access modes"
# Deprecating User-assigned and System-assigned managed identity access modes

The Azure Key Vault provider for Secrets Store CSI Driver offers 5 identity access modes for accessing a Key Vault instance: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/.

## Why the deprecation?

**tl;dr: Not secure. Do not use this option**

In case of user

[2022-03-22 17:33] trhumphries commented on #837
What the depreciation date for Managed Identities?

[2022-03-23 09:39] amarkevich opened #838 "Release v1.1.0 anounced but helm chart is missing [suggestion noted]"
**What steps did you take and what happened:**
Install helm chart v1.1.0
`Error: chart "csi-secrets-store-provider-azure" version "v1.1.0" not found in https://raw.githubusercontent.com/Azure/secrets-store-csi-driver-provider-azure/master/charts repository`

[2022-03-23 14:00] mt35-rs commented on #431
I don't think this is a duplicate.  Azure is a commercial service with paying customers.  As such, it should listen to those customer use cases since Azure can always add functionality above and beyond the CSI driver spec.  The problem with the other issue tracker is that it is focused exclusively on CSI driver conformance and so comments like this are out of scope (except to propose modifications

[2022-03-23 16:42] aramase commented on #838
Helm charts have been moved to gh-pages. Please see [Installation steps](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#installation) for the details.

[2022-03-23 20:41] aramase commented on #431
Thank you for the feedback!

I understand the concern. This provider is specifically implemented for the Secrets Store CSI Driver which relies on the CSI spec to invoke a provider, get secrets and write to file system. The provider implementation is only to interact with Key Vault, get the secrets and return back to the driver. What the driver does with the secret isn't something the provider is a

[2022-03-23 20:55] mt35-rs commented on #431
As a user, I'm not so concerned about the CSI Driver.  What I'd like is the ability to synchronize secrets with Azure key vault.  There are existing tools out there, _e.g.,_ https://github.com/external-secrets/external-secrets, but I'd personally be a little more comfortable with something provided directly by Microsoft/Azure.  The reason being...secrets are a very sensitive thing.  While I genera

[2022-03-24 09:16] #838 closed

[2022-03-24 16:38] armondressler opened #839 "Get secret without mount"
According to the documentation a secret can only be created once it gets mounted in a pod.
Some deployments dont mount a secret to access it (-> k8s API, see https://istio.io/latest/docs/reference/config/networking/gateway/#ServerTLSSettings  setting "credentialName" for an example) which then requires a user of this CSI driver to create a pod with the required mount just so the secret becomes ava

[2022-03-24 16:50] nilekhc commented on #839
Hi @armondressler
There is a similar ask from other users (https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298) and we are assessing this feature request with community. We are also reviewing proposal (https://docs.google.com/document/d/1Ylwpg-YXNw6kC9-kdHNYD3ZKskj9TTIopwIxz5VUOW4/edit#heading=h.n3xa8h2b1inm) with `SIG-Auth`. Keep an eye on this.

[2022-03-25 00:06] #813 closed

[2022-03-26 00:06] #821 closed

[2022-03-27 16:04] armondressler commented on #839
thanks, looking forward to it.

[2022-03-27 16:04] #839 closed

[2022-03-28 08:24] luckerby commented on #798
It turns out that the liveness probe wasn't defined as we were using the wrong Helm chart version as per https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/911.

I'll close this as it doesn't add any value at this point.

[2022-03-28 08:24] #798 closed

[2022-03-29 18:24] aramase commented on #837
I'll post an update here when we finalize the release and date.

[2022-04-06 12:23] ai038911 opened #850 "Environment Variable and Volume Mount"
What I am trying to achieve: read a value from the KV, present it as an environment variable for the deployment, via a Kubernetes secret. The two secrets are a username & password

Exactly Similar to : https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/133

Where In  I am using
1. A cluster with Managed Identity & enabled with Pod Identity
2. Azure AD pod identity - Managed Mo

[2022-04-07 08:13] Madhu052 opened #851 "Unable to attach or mount volumes: unmounted volumes=[config-volume secrets-efulfill-inline appd-agent-repo-java kube-api-access-gbht9 log-volume], unattached volumes=[config-volume secrets-efulfill-inline appd-agent-repo-java kube-api-access-gbht9 log-volume]: timed out waiting for the condition"
“HPA is not working since 18th of February.

ASK:  Why is the volume mounted correctly when using manual scale pods but using HPA it has an issue?

Describe for HPA has no error / events:

************* HPA *******************
Name:                    excess-cartons-cpu-hpa
Namespace:               ns-store
Labels:                  app.kubernetes.io/managed-by=Helm
Annotations:             meta.he

[2022-04-07 08:15] Madhu052 commented on #851
Hi All

Whenever we are trying to scale up pods through HPA we are getting mount failures and pods are getting terminated.
But if we try to scale manually pods are coming up and need your support to resolve the same

[2022-04-07 13:48] aramase commented on #851
Thanks for opening the issue!

The driver and provider version you're currently running is not supported. `0.0.14` release is a year old and there have been multiple releases since then. The project is now GA and here is the list of supported releases: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/#project-status.

**Please upgrade to the latest supported release.**

If you

[2022-04-07 16:27] silandrew opened #852 "Problem with generating TLS certeficate on NGINX Ingress Controller with TLS secrets-store-csi-driver-provider-azure"
**Have you**
Problem with generating TLS certeficate on NGINX Ingress Controller with TLS  new secrets-store-csi-driver-provider-azure  charl version

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
when Ive download  the  latest

Problem with generating TLS certeficate on NGINX Ingress Controller with TLS  when Ive  used  lattest helm 3, **only

[2022-04-08 01:09] RagingTonberry opened #853 "Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
There are multiple

[2022-04-08 13:45] aramase commented on #853
@RagingTonberry The parameter key in `SecretProviderClass` for user assigned id is incorrect. It should be `userAssignedIdentityID` instead of `userAssignedIdentityId`.

The parameter keys configurable are available here: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/getting-started/usage/#create-your-own-secretproviderclass-object

[2022-04-08 13:49] aramase commented on #852
@silandrew Can you clarify what doesn't generate here means? Is the driver not creating the k8s secret or is the created secret incorrect?

The sync secret feature was disabled by default a while ago. If you're installing the latest version of the driver and provider, then you need to explicitly enable sync secret feature for the driver to be able to create the Kubernetes secret. Please refer to h

[2022-04-08 14:37] aramase commented on #318
Azure Key Vault Provider for Secrets Store CSI Driver release v1.1.0 supports [workload identity federation](https://docs.microsoft.com/en-us/azure/active-directory/develop/workload-identity-federation) for accessing key vault. Refer to https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/workload-identity-mode/ for how to setup and access keyva

[2022-04-08 14:43] aramase commented on #312
[Azure Key Vault Secrets Provider extension to fetch secrets into Arc clusters](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-akv-secrets-provider) is in preview. It supports getting the secrets from AKV using service principal. The plan is to deprecate user-assigned and system-assigned managed identity for this provider and only support workload identity.

Closing this issu

[2022-04-08 14:43] #312 closed

[2022-04-08 18:01] krisnuttall opened #854 "Failed to watch *v1.Secret: failed to list *v1.Secret: secrets is forbidden:"
**What steps did you take and what happened:**
New deployments started failing this morning after no configuration changes. Viewing the secrets-store-csi-driver logs reveals lots of errors such as:
W0408 17:48:13.201034 1 reflector.go:324] pkg/mod/k8s.io/client-go@v0.23.0/tools/cache/reflector.go:167: failed to list *v1.Secret: secrets is forbidden: User "system:serviceaccount:kube-system:secrets-

[2022-04-08 18:14] nilekhc commented on #854
Thanks for opening issue @krisnuttall. Seems like the role/role binding might be failing. Is sync secret and rotation enabled while installing?

[2022-04-08 18:18] krisnuttall commented on #854
I used the default helm chart options, but also forced sync-secret to false:
[code]

[2022-04-08 18:22] krisnuttall commented on #854
Also forced rotation to false now as well:
[code]

[2022-04-08 18:24] nilekhc commented on #854
When sync secrets and rotation is set to false, related role and role bindings are not installed. Could you share the SecretProviderClass which is being used in new deployments?

[2022-04-08 18:58] krisnuttall commented on #854
here it is, but obfuscated some strings
[code]

[2022-04-08 19:02] nilekhc commented on #854
By looking at your SPC, you have specified `secretObjects` field which used for synching secrets. And you have disabled sync, that's why it's failing. Remove secretObjects field or turn on sync if needed.

[2022-04-08 19:10] krisnuttall commented on #854
Fantastic, thank you. That has fixed it.

Strangely, the SPC has not changed in months. Everything was working at 10:36 this morning, then at 10:43 it stopped working. Any idea why it started going wrong all of a sudden.

[2022-04-08 19:17] nilekhc commented on #854
We do not manage the lifecycle of SPCs. They are explicitly created/updated/deleted by the user. Unless they are altered in someway I do not see any reason for failures.

[2022-04-08 19:26] #854 closed

[2022-04-09 00:07] #820 closed

[2022-04-10 21:16] RagingTonberry commented on #853
@aramase You, sir, have my sincerest gratitude. I promise you I read the docs fairly comprehensively many times but completely missed that upper case D. None of my other 3 proofreaders/rubber ducks spotted it either.

May I humbly submit that some consistency in the property names would be in order? `tenantId` calls for a lower-case `d` while `userAssignIdentityID` calls for an upper-case?

Again,

[2022-04-11 14:02] aramase commented on #853
@RagingTonberry Thanks for the feedback!

This is a valid ask and we will consider making the change to be consistent.

Glad you have this working now. I'll open a new issue to track the `tenantID` change and close this one out. If you've any questions, please feel free to reopen this issue.

[2022-04-11 14:05] aramase opened #857 "Change `tenantId` to `tenantID` for consistency in naming"
ref: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/853

We should change `tenantId` to `tenantID` to be consistent across all the parameters naming. I would like for us to introduce this in a non-breaking way, providing users the time to migrate to the new support variable.

Implementation plan:
1. Add `tenantID` as a parameter. Support reading `tenantId` and `tenantID` i

[2022-04-11 21:13] RagingTonberry commented on #853
Cheers @aramase !

[2022-04-12 10:03] arevell89 opened #858 "SecurityContext configurable"
Running root pods in Azure causes a high security alert in Azure monitors. Is it possible to configure the securityContext so we can run unprivileged pods?

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml#L73

[2022-04-13 08:44] stan-sz commented on #802
@aramase - what's your take on that? It's is related to #784

[2022-04-13 10:17] mszczepaniuk opened #860 "Only last part of ssl chain is imported into k8s secret"
**Have you**

- [*] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [*] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Certificate in .pf

[2022-04-13 16:55] aramase commented on #802
@stan-sz There is currently no plan to move the helm charts to mcr. The common pattern we have been following across all OSS projects (including CNCF ones) have been to host the helm charts in the `main` branch or `gh-pages` (the latter being more commonly used now).

The images are hosted in mcr but in case of helm charts AFAIK there are certain limitations on helm version for hosting in mcr. Do

[2022-04-14 00:29] nilekhc commented on #860
Thanks for opening issue @mszczepaniuk
Could you elaborate on missing part? Perhaps eg of what were expected vs what is missing

[2022-04-14 05:36] mszczepaniuk commented on #860
.pfx file uploaded to Azure Key Vault contains complete certificate chain. This certificate is exported from Key Vault into k8s secret and tls.crt part contains only end-user part of the certificate instead of complete chain. What may be causing this issue, Is there any misconfiguration on our part?

.pfx file contains
[code]

tls.crt contains only
[code]

[2022-04-14 06:05] mszczepaniuk commented on #860
@nilekhc
I've fully redeployed helm release and everything is working correctly.

I don't know if this is a bug but this situation occured when I did those steps:
1. Update certificate  version in Azure Key Vault
2. Remove existing secret containing certificate
3. Redeploy deployments using secret from step 2

Is this a bug or wrong way of updating Key Vault values in k8s?

[2022-04-14 09:14] rajeevpnair opened #861 "Create azure key vault secrets using helm chart ( with any CRD object )"
Is there a way to create azure key vault secrets using helm charts, or any CRD object which can create azure key vault secrets... ?
We do have a lot of application charts and i am unable to figure out a way to move the secrets to azure key vault.

[2022-04-14 09:24] stan-sz commented on #802
Indeed, helm 3.7+ is capable of pulling a chart from a container registry. Can you push the chart to both the gh-pages and mcr.microsoft.com?

[2022-04-14 13:47] aramase commented on #861
Hello 👋🏻

Azure Key Vault Provider for Secrets Store CSI Driver is to get secrets stored in AKV and make them accessible to pods during runtime. It does not support creating secrets in AKV from the cluster and that is not under the scope of this project.

[2022-04-14 15:19] rajeevpnair commented on #861
@aramase... thanks for the response..
Since SecretProviderClass object is created with secrets-store.csi.x-k8s.io/v1, was just looking for an object which can also create a azure key vault secret...
Is there kuberentes object  available to create a azure key vault secrets using helm or definition file?
since the secrets defined in our helm charts has a lot of dependency ( based on conditions ) in

[2022-04-14 15:48] aramase commented on #861
@rajeevpnair I'm not aware of any project that syncs secrets in Azure Key Vault based on definition in Kubernetes.

Right, the scope of this project is to pull and make secrets available during runtime. No push.

[2022-04-14 18:22] aramase commented on #861
Closing this issue now. Please feel free to open a new issue if you have any questions about the driver.

[2022-04-14 18:22] #861 closed

[2022-04-14 18:58] nilekhc commented on #860
@mszczepaniuk I tried this yesterday, but was not able to reproduce. Do you have sync related logs from driver pod around this?

Can you try with `objectVersion` in SecretProvderClass while pulling the cert? And then again updating this when you update cert in AKV?

[2022-04-19 09:45] mszczepaniuk commented on #860
I cannot retry it on production environment for obvious reasons but when I tried to recreate my steps in development environment everything worked well. I guess there must have been a mistake on my part somewhere. Nevertheless thank you for your help.

[2022-04-19 09:45] #860 closed

[2022-04-20 07:16] tamanh123456 opened #863 "Secret Provider Class not support secretObject type stringData"
**Describe the solution you'd like**
I deploy Drupal on Azure Kubernetes Service and mount key vault (key vault store database configuration). And drupal source has a option to get environment variables by .env file.
But csi mount secret not like my expect

**Anything else you would like to add:**
I expect the Secretproviderclass has more option to create secret like stringData type

**k8s secret

[2022-04-20 13:57] aramase commented on #863
Duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/937. This is a driver feature request, so closing this issue.

[2022-04-20 13:57] #863 closed

[2022-04-20 17:37] aramase commented on #828
Closing with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/844

[2022-04-21 04:36] ai038911 commented on #850
thanks for the troubleshooting guide... After installing the required clusterrole and clusterrolebinding via
```secrets-store-csi-driver.syncSecret.enabled=true ``` the issue is ressolved.

Thanks

[2022-04-21 04:36] #850 closed

[2022-04-21 04:37] ai038911 commented on #850
Issue ressolved after installing required clusterrole and clusterrolebinding

[2022-04-22 07:19] najtmarek opened #865 "Usage of host networking and ports should be restricted"
An issue similar to  https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/858, but regarding a different security policy. There is a Microsoft Defender for Cloud recommendation _"Usage of host networking and ports should be restricted"_, and a pod created by this module violates this policy:
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/ab6b43d4004623cbf5

[2022-04-22 10:14] maci3jka opened #866 "Pod Identity parameter usepodidentity typo fix"
In docs,  in point 7 there is a typo `usepodidentity` should be `usePodIdentity`

[2022-04-22 12:26] #866 closed

[2022-04-27 09:28] PPACI opened #871 "[AKS add-on] Failed to get service account token attrs -- failed to fetch token (forbidden)"
Hello.

I allowed myself to skip the template since this is an issue that is created elsewhere.

**What happened**
It appears that the addon deployment on AKS is not deploying all the required components.
Indeed it lacks a ClusterRole/ClusterRoleBinding.

Right now, we are manually adding the required files to AKS.

Would it be possible to add it in the future?

reference: https://github.com/kuber

[2022-04-27 16:47] nilekhc commented on #871
@PPACI As mentioned by [Ji'an Liu](https://github.com/ZeroMagic) This should be available in next release.

Ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/939#issuecomment-1105103273

[2022-04-29 21:27] SoujanyaMangipudi opened #872 "Key Vault secret rotation does not update secret and pod mount"
AKS cluster with CSI add on key vault secret value auto rotation does not work. The value gets synced when pod is deployed for first time but subsequent updates are not reflected back on the cluster.

csi driver pods have these errors

E0429 21:14:41.890342       1 reconciler.go:229] "failed to reconcile spc for pod" err="failed to get service account token attrs, err: failed to fetch token: servi

[2022-04-29 22:09] nilekhc commented on #872
Hi @SoujanyaMangipudi, Thanks for opening issue. Have you turned on `--enable-secret-rotation` flag while installing add-on?

https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#enable-and-disable-autorotation

[2022-04-30 00:09] #852 closed

[2022-04-30 00:09] #851 closed

[2022-04-30 00:54] SoujanyaMangipudi commented on #872
Yes @nilekhc following is a snapshot of one of the pods.
![image](https://user-images.githubusercontent.com/19557867/166084214-4f644714-778c-4293-bf8d-f271521da3c3.png)

[2022-05-02 12:21] lissff opened #873 "Is service endpoint supported for AKS - Azure Keyvault?"
**Describe the solution you'd like**
I've configured the AKS subnet into key vault's allowed Vnet access range follow https://docs.microsoft.com/en-gb/azure/key-vault/general/network-security?WT.mc_id=Portal-Microsoft_Azure_KeyVault
;
 but still failed with
**Service returned an error. Status=403 Code="Forbidden" Message="Public network access is disabled and request is not from a trusted service

[2022-05-02 13:54] aramase commented on #872
@SoujanyaMangipudi If you're using the AKS add-on, please see https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/871 and the tagged issue for temporary resolution. The AKS team is rolling out the fix.

[2022-05-02 15:30] aramase commented on #872
From the logs `aks-secrets-store-csi-driver` it seems you're using the AKS add-on. I'll close this issue as duplicate of #871. Please use that issue to track the fix.

[2022-05-02 15:30] #872 closed

[2022-05-02 16:42] aramase commented on #871
cc @zeromagic

[2022-05-02 17:27] aramase commented on #873
@jlichwa could you help with this?

cc @miwithro

[2022-05-02 17:44] jlichwa commented on #873
It is correct, AKS outbound public IP has to be set. Trusted service is mostly designed for multi-tenant PAS services running in Microsoft tenant. I don't think you would like that any AKS cluster for any customer can access your Key Vault.

[2022-05-04 12:13] dszakallas commented on #173
Hi, I am using AKS engine and deployed the csi driver using Helm. I think I face the same issue when allocating new nodes. It looks like it takes more than 6 minutes to pull the `mcr.microsoft.com/oss/kubernetes-csi/csi-node-driver-registrar:v2.5.0` from the registry.
[code]

[2022-05-04 16:09] nilekhc commented on #173
@dszakallas This is an expected behaviour. Pod won't start if they are referring to CSI volumes and CSI driver itself is not registered yet. However 6 mins is very long time to pull ~20MB image. I would suggest to check network connection.

On the side note, if you are using AKS we recommend using managed add-on for Secrets Store CSI driver. https://docs.microsoft.com/en-us/azure/aks/csi-secrets-s

[2022-05-05 06:43] tdihp opened #878 "Latest helm install fails to populate cert secret"
**Have you**

- [x ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and con

[2022-05-05 06:58] tdihp opened #879 "Getting cert full Chain should raise warning and event when chain isn't complete, or when chain doesn't cover all certs in the object"
**Have you**

- [x ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and con

[2022-05-05 08:55] chaitanyakmr1 opened #880 "TLS Version"
Hello,

Currently I use csi-secrets-store-provider-azure-0.2.1 with version 0.2.0. I am having a question. Does the operator uses TLS to communicate with Microsoft Azure Key Vault? If yes, which version.

I am asking the above question because I had seen that the TLS Versions below 1.2 will be deprecated and I want to be sure, if this might affect my application.

Thanks for the answers in advance

[2022-05-05 13:15] aramase commented on #878
@tdihp If you're using the AKV provider for Secrets Store CSI Driver to sync mounted content as Kubernetes secret, then you need to enable it in helm install/upgrade with `--set secrets-store-csi-driver.syncSecret.enabled=true`. The required role for sync secret are disabled by default and need to be enabled manually if you need to sync.

The command is available here: https://azure.github.io/secr

[2022-05-05 14:08] ms1111 commented on #412
Even with the ability to use env.valueFrom.secretKeyRef, there is still a requirement to mount the files, otherwise the synced secrets aren't created. That's a bit unfortunate; it makes it more complicated to build a chart that can use regular secrets OR the CSI driver in different environments. Each deployment needs to be modified to mount the volume from the CSI driver.

[2022-05-05 14:53] tdihp commented on #879
Hi @aramase , say my pfx file includes 2 certs and 1 private key, while the Secret outcome only includes 1 cert and 1 private key, obviously something went wrong with the logic, where can I find the information of what's wrong, or if anything is worng? Noting that it is almost obviously not what the user want when not all certs in pfx file are included.

[2022-05-05 14:54] tdihp commented on #879
Noted, thanks @aramase , so to be clear, the default helm parameter is different from AKS addon?

[2022-05-05 14:57] tdihp commented on #878
Thanks @aramase, so to be clear, the default helm values are different from what's used in AKS addon?

[2022-05-05 18:37] MrBasset opened #881 "Getting "Access Denied" for AKV when it is in a different subscription and region"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/) <- __note: template URL is wrong__
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

Admittedly the terms are commo

[2022-05-05 20:12] aramase commented on #878
that's right! In AKS add-on, sync secret roles are enabled by default. In OSS, it's disabled and needs to be explicitly enabled.

[2022-05-05 22:57] nilekhc commented on #881
@MrBasset Are you using manages AKS add-on for Secrets Store CSI driver?

[2022-05-05 23:08] nilekhc commented on #880
Hello @chaitanyakmr1 Thanks for opening the issue. We use go-autorest. It has TLS 1.2 set as default. https://github.com/Azure/go-autorest/issues/363

Having said that, your provider version is very old. We have stable release now and recommend to upgrade to `v1.0.0` or later version.

[2022-05-06 00:04] tdihp commented on #878
That's all I need, closing, thanks again.

[2022-05-06 00:04] #878 closed

[2022-05-06 08:28] #880 closed

[2022-05-06 14:24] MrBasset commented on #881
Hi,

I'm closing this issue as I have found what the problem was. When I tested key vaults in the same/other regions I set the permissions using ```az keyvault set-policy``` rather than running terraform scripts. What happens behind the scenes is that the policy permission is set using the MSI's Object_Id whilst the SecretProviderClass uses the MSI's Principal_ID.

As I'd been using the principal

[2022-05-06 14:24] #881 closed

[2022-05-07 03:26] lissff commented on #873
@jlichwa which means that even if AKS is not a trusted service.
We can still access Keyvault from the service endpoint, by allowing the **AKS subnet**(**instead of AKS outbound IP**) in AKV's  "allow public access from specific virtual networks"?

[2022-05-07 19:47] ghostika opened #883 "After new nodepool -> Client does not have permission to perform action 'Microsoft.ManagedIdentity/userAssignedIdentities/assign/action"
Hello
I had a working AKS with AGIC but I wanted to replace my node pool with stronger machines.  I created a new node pool and scale down the old node pool, then I deleted it totally. The AGIC container was moved to the new node pool, but it's not running. In the MIC log, I found nearly the same error as in issue #66, but for me, the  `StatudCode` is not 403, but  `StatusCode=0`.

`
 Original Err

[2022-05-07 19:53] #883 closed

[2022-05-08 15:58] dszakallas commented on #173
@nilekhc I mitigated this issue by mirroring the images required for the CSI driver in our container registry and using those in the helm chart.

[2022-05-09 14:55] aramase opened #884 "nightly test pipeline failing with indentation error"
<img width="1302" alt="Screen Shot 2022-05-09 at 8 23 43 PM" src="https://user-images.githubusercontent.com/10608509/167437366-282f67f9-e326-40d9-b6de-2e72a46d04b3.png">

This used to work before, so I wonder if something changed in ADO that's causing this failure.

cc @nilekhc

[2022-05-09 16:24] jlichwa commented on #873
Not sure what could be an issue with subnet, if there are any limitations or not. You will need to create support request on Key Vault to find the root cause of the issue.

[2022-05-09 17:08] Garbett1 opened #885 "Support for extracting JSON paths from a secret"
**Extracting JSON paths from secrets**
We use JSON strings in our secret and would like to be able to configure the `SecretProviderClass` to extract the value for a specific key.

There is prior art in both [HashiCorp Vault](https://www.vaultproject.io/docs/platform/k8s/csi/configurations#secretkey) and [AWS Secret Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/integrating_cs

[2022-05-10 00:03] nilekhc commented on #884
Yeah.. Look like breaking change from ADO. I just added additional space and that worked.

https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/864/files#diff-756c780b9465b585ef3a4cd9439907ca68942baa1df6c73a92b9d8a7ae9f9c54R45-R53

[2022-05-10 00:11] nilekhc commented on #885
Hi @Garbett1, Thanks for opening issue. Could you describe your approach? Also, PR is always welcome. We can review implementation there as well.

[2022-05-10 02:39] tdihp commented on #879
@aramase any comment? I'm not against the approach or implementation here, I'm simply suggesting that if the chain discovery logic is not working well, we should let user know, instead of implicitly only giving part of the certs.

It took us very long time to realize it is the input cert from keyvault was not compatible with the cert discovery approach. The behavior of not showing any error when t

[2022-05-10 11:16] Garbett1 commented on #885
Hi @nilekhc ,

Given a secret of:
[code]
and a `SecretProviderClass` of:
[code]

If I mounted the secret at `/mnt/secrets-store`, I'd expect to find two files. `fooThing` and `barThing` with the contents: `123` and `456` respectively.

[2022-05-10 12:48] aramase commented on #884
@nilekhc Can you open a separate PR with that fix so we can get the nightly pipelines unblocked?

[2022-05-10 12:58] aramase commented on #879
@tdihp Thanks for the feedback! +1 for adding logs that make the behavior evident.

I haven't had a chance to repro with the steps you shared. I'll take a look at it this week and see what logs we can add.

[2022-05-12 19:58] sozercan commented on #802
@stan-sz can you elaborate more on your requirements for chart to be in MCR please?

[2022-05-14 00:10] #865 closed

[2022-05-16 14:01] rajendar38 opened #890 "unable mount Secret Provider Class"
### Discussed in https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions/889

<div type='discussions-op-text'>

<sup>Originally posted by **rajendar38** May 16, 2022</sup>
Hi All ,
I am trying to integrate azure key Valut with aks cluster ,  as part of that I created  SPC and trying to mount it as volume .
I have few secrets in the key vault .

[code]
The problem is if add cli

[2022-05-16 19:05] aramase commented on #890
@rajendar38 there is an indentation issue in the `objects` array.

[code]

needs to be in one moved one level inside to align with the other objects defined in the array. The error has the line number `29` which indicates the error.

[2022-05-16 20:15] nilekhc commented on #885
Hey @Garbett1 We are going to discuss this in next community call on May 26th, 2022. I have added it in Agenda. Please feel free to join.

Details are here: https://docs.google.com/document/d/1q74nboAg0GSPcom3kLWCIoWg43Qg3mr306KNL58f2hg/edit?usp=sharing

[2022-05-16 20:16] aramase commented on #884
Looks like there might have been a change in ADO to fix this. The pipeline has been running again since Friday (05/13).

Closing this issue now.

[2022-05-16 20:16] #884 closed

[2022-05-17 06:18] rajendar38 commented on #890
@aramase  Thanks , I am able to mount scp now , one doubt I have , why kubectl is not complaining indentation  issue while creating it self , like other resources .

[2022-05-17 07:21] stan-sz commented on #802
It's not a strong requirement yet, it is a simplification to host the chart with images in the same ACR.
A non-functional requirement is that we have seen rate limiting when pulling binaries from github in our build pipelines. Hosting the chart in ACR raises the limit.

[2022-05-18 09:33] vittoriocanilli opened #892 "Errors when updating to 1.1.3"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2022-05-18 16:58] aramase commented on #890
`SecretProviderClass` is not a core kubernetes resource. It's a custom resource that's part of the Secrets Store CSI Driver. The fields in `parameters` are provider specific and can change for every provider supported by the Secrets Store CSI Driver. So there is no validation with kubectl.

[2022-05-18 21:36] nilekhc commented on #892
Hi @vittoriocanilli, Thanks for reporting issue. I have opened a PR to fix this. Feel free to add review. Once merged, this fix will be available in the next release.

[2022-05-19 08:50] vittoriocanilli commented on #892
Hi @nilekhc,

thanks for taking care of the issue so quickly. I will definitely have a look at the PR.

When I have opened this issue, I have noticed that the [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/) link is returning a 404. I am not sure if you can solve that, but I just wanted to point it out 😄

[2022-05-19 15:16] aramase commented on #892
Thanks for reporting the 404 issue. The docs are available here: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/. We'll update the issue template.

[2022-05-20 09:24] Garbett1 commented on #885
I wasn't able to make it to the office hours. Do you know when the recording of the office hours will be?

[2022-05-20 17:53] nilekhc commented on #885
It is usually available after the meeting. The link of it will be posted in `#csi-secrets-store` slack channel.

[2022-05-20 23:54] #892 closed

[2022-05-23 16:50] schabdo commented on #97
Stumbled-upon same issue when using Kustomize. No way to [patch the array of secrets](https://stackoverflow.com/a/68989792). Would be awesome to have something like the proposed structure in place since it is similar to the approach taken for populating K8s secrets from KeyVault  (cf.[ Azure docs](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#sync-mounted-content-with-a-kuber

[2022-05-24 11:56] abudavis opened #897 "Create an k8s secret from keyvault"
Our use case is to simply get a secret created on Openshift when a secret inside an Azure keyvault is created or updated, is this capable of doing just that?

Also when the same secret is deleted from Azure keyvault, would it also then be deleted from Openshift?

[2022-05-24 17:00] aramase commented on #897
The primary goal of the Secrets Store CSI Driver is to mount the secrets from AKV in the pod. In addition to mounting, the driver does optionally supporting syncing the mounted content as Kubernetes secrets.
- https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/sync-with-k8s-secrets/

If the auto rotation feature is enabled, the driver will periodically update the s

[2022-05-25 00:22] aramase commented on #871
@ZeroMagic confirmed the fix has been rolled out to all regions.

I was able to validate in `southcentralus` by enabling the add-on in a new cluster and I see all the required cluster roles
[code]

Closing this issue now. Please feel free to reopen/open a new issue in [AKS](https://github.com/Azure/AKS/issues) for issues related to the AKS add-on.

[2022-05-25 00:22] #871 closed

[2022-05-26 00:44] #857 closed

[2022-05-28 22:02] jobinjosem commented on #127
@MarekLani Had the same question. Found the answer here.
https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/service-principal-mode/
It is the name of the Kubernetes secret that contains the service principal credentials to access keyvault. Only required when using service principal mode.

[2022-06-02 11:09] abudavis commented on #897
More on 2. : alternatively is it possible to use a wildcard/REGEX for the secret name defined in AKV?

[2022-06-02 17:42] nilekhc commented on #897
No.

[2022-06-06 18:33] chrissmiller opened #906 "MountVolume.SetUp failed for CSI volume but pods enter healthy state"
**Have you**

- [x ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [x ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear an

[2022-06-06 19:16] chrissmiller commented on #906
@nilekhc Thanks for the quick response! It looks like you are correct, the secrets are being populated. But the identity does not have permission. Alongside all the MountRotationFailed errors are these:

 Normal   SecretRotationComplete  88s (x46 over 91m)    csi-secrets-store-rotation  successfully rotated K8s secret {secretName}

Is it possible that the provider is using the k8s identity for ing

[2022-06-07 14:07] abudavis commented on #897
Is this something planned for the future?

[2022-06-07 16:11] aramase commented on #897
There is no plan to support wildcard/regex, as that's not supported by the keyvault API. The only way to accomplish this is get a list of all secret names, do client-side filtering and then do a `GET` for each individual object. This is not performant, does not scale and is also not deterministic as the # of secrets downloaded every time can be different. We can consider supporting this in the fut

[2022-06-08 20:56] abudavis commented on #897
I had a question related to the link where it says "When all the pods consuming the secret are deleted, the Kubernetes secret is also deleted." --> We do regular restarts by deleting the pod consuming the secret, does that mean the Kubernetes secret will be deleted during this action?

[2022-06-09 00:08] aramase commented on #879
We'll get this added for the release planned next week!

[2022-06-09 05:10] sureshgaikwad opened #910 "Installation"
The commands to remove SCC bindings in the uninstallation section are incorrect:
[code]

Instead it should be:

[code]

[2022-06-09 15:28] aramase commented on #910
@sureshgaikwad Would you be interested in opening a PR to update the docs?

[2022-06-13 18:43] #910 closed

[2022-06-15 12:54] abudavis commented on #897
The secret store pod tends to restart once a day, is that "working as designed"?

[2022-06-15 16:14] aramase commented on #897
The pod can be restarted because of multiple reasons (1) failed health check (2) unhealthy api server (3) resource limits. `kubectl describe pod` will have information on the restarts. You can check the logs of the previous pod with `-p` flag to see what was the last event before restart. It is not required by design to restart once a day.

[2022-06-15 20:20] orionstudt commented on #138
I'm running across trying to implement this right now and happened to stumble on this issue. Can the documentation be updated to reflect these additional object options, or is there existing documentation anywhere that details how to get the PFX and the various options?

[2022-06-15 21:11] nilekhc commented on #138
Does this help? https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/getting-started/usage/#create-your-own-secretproviderclass-object

[2022-06-15 21:36] orionstudt commented on #138
@nilekhc yes it does thank you! I kept finding myself [here](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/getting-certs-and-keys/) instead which doesn't have that info so now I feel a bit silly. Thanks again

[2022-06-20 08:55] iusergii opened #919 "Feature request: Sync Kubernetes Secrets to AKV"
**Describe the solution you'd like**
I'd like to have an option to sync Kubernetes Secrets to Azure KeyVault.

**Anything else you would like to add:**
We use cert-manager for managing certificates and I'd like to sync it to AKV to use with Azure Application Gateway listeners.

[2022-06-20 18:08] nilekhc commented on #919
Hello @iusergii, Thanks for opening the issue. The primary goal of Secrets Store CSI driver and provider project is to fetch the Secrets from external Key Vaults.

At the moment we are not considering synching/Creating secrets in AKV

[2022-06-20 18:08] #919 closed

[2022-06-20 20:32] nilekhc opened #921 "Arc monitoring fails when extension is deployed on ARO"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and

[2022-06-22 16:33] vijayreddybo commented on #239
Hi @Shaked , I am facing the same issue with kubeflow 1.4 on AWS. Any inputs on how I could get past this issue?

[2022-06-23 13:42] Shaked commented on #239
Unfortunately no.

[2022-06-23 17:00] #728 closed

[2022-06-28 00:09] #906 closed

[2022-06-28 16:48] #921 closed

[2022-06-28 18:48] aramase commented on #639
The fix in k/k is merged: https://github.com/kubernetes/kubernetes/pull/110075 and will be in next release.

[2022-06-28 18:48] #639 closed

[2022-06-29 11:09] gyorgysimon opened #925 "Cannot turn SecretProvideClass created secrets into environment variables"
In our Azure Redhat Openshift environment we would use the Azure KeyVault secrets as environment variables. The Pod deployment events says that the secret is missing. The mode to access to the Azure Key Vault is based on the Service Principal.
When I just did not put the environment variables into the Pod manifest file the secrets are mounted in the given path. But when the environment variables i

[2022-06-29 16:39] aramase commented on #925
@gyorgysimon Thanks for reporting the issue.

Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/. The logs in the driver would have more information on why the secret sync failed. Please share the driver logs and `SecretProviderClass` being used.

[2022-07-01 08:43] pdefreitas commented on #759
I've managed to fix this situation. In our case is because the default Helm chart values do not match the `PriorityClass` used if you install the components through Azure Portal Addons installer.

Examples:
- https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/aad-pod-identity.yaml#L143
- https://github.com/Azure/aks-engine/blob/master/parts/k8s/addons/secrets-store-csi-driver.yaml#L2

[2022-07-04 05:49] gyorgysimon commented on #925
I went through the troubleshooting guide without success. But a bit confused on the logs, because I can see 2 different pods for the driver.
The first is created by my (by helm especially), the name of those: secrets-store-csi-driver-XXXXX
Logs for that:
I0630 13:50:53.408331       1 main.go:166] Version: v2.5.0-0-ge68322fe
I0630 13:50:53.408559       1 main.go:167] Running node-driver-registrar i

[2022-07-05 15:09] donjetam opened #930 "Unable to continue with install: CSIDriver "secrets-store.csi.k8s.io""
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and

[2022-07-05 16:45] aramase commented on #930
@donjetam The error message from terraform indicates there is already another deployment of the CSI driver and its components. You would need to cleanup the old deployment and reinstall with helm.

[2022-07-05 17:21] aramase commented on #925
The helm charts install a driver and provider. You need the `secrets-store` container logs from the driver pod running on the same node as your application that's trying to mount the volume: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/#for-csi-driver-logs

[2022-07-06 09:06] PradeepKrSi commented on #798
I faced the similar issue in linux nodes, but issue resolve after using the workaround suggested by luckerby https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/798#issuecomment-1039878360.  I think it must be in code to unregister the old  driver and register the new one when we deploy the new version of the csi driver.

  Warning  FailedMount  13s (x6 over 28s)  kubelet

[2022-07-06 10:50] gyorgysimon commented on #925
I just wanted to have the logs for you, but:
[code]

however I got an error in events now:
` MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod gsimon-test-project/test-multiple-secrets-store-inline, err: error connecting to provider "azure": provider not found: provider "azure"`

This is because I modified th

[2022-07-07 16:17] aramase commented on #925
@gyorgysimon Looks like you're installing the driver with the helm charts from the driver repo and not the provider. There are 2 ways to install:
1. Install driver and provider separately: https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html and then azure provider.
2. Install driver and provider together with the helm charts from this repo: https://github.com/Azure/secre

[2022-07-12 07:54] ZeroMagic opened #931 "The driver doesn't work on windows2022"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
![image](http

[2022-07-12 19:33] vaibhav1192 opened #933 "Support mounting certificate and private key in separate files"
For a certificate, mount the private key and public key in separate files. Currently, CSI driver downloads the complete certificate and mounts it in a single file. This single file does not work with the non-Microsoft components. As they expect, key and cert to be provided as separate files. AKV CSI driver supports parsing AKV cert for k8s tls secret but not for the volume mounts.

EG. CSI driver

[2022-07-13 01:47] andyzhangx commented on #931
use `os.Lstat` would fix the issue?

[2022-07-13 05:03] aramase commented on #931
@andyzhangx Good call! I looked at the k/k code and see similar issues in windows were resolved with `os.Lstat`.  Opened https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/998 to resolve this and I've tested this in the cluster @ZeroMagic provided.

[2022-07-13 09:21] mikegoatly opened #934 "Allow for optional secrets"
This similar to #497, but hopefully I can provide a couple of more concrete use-cases.

I'd like the ability to mark a secret as optional, and where the secret doesn't exist, mounting shouldn't fail. Instead, the secret value should be returned as null.

I don't know what the limitations are in the schema for the `SecretProviderClass`, but if it's not possible to add additional fields to the array

[2022-07-13 21:23] aramase commented on #931
Closed with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/998

[2022-07-13 21:23] #931 closed

[2022-07-18 05:04] Uvindu96 opened #937 "MountVolume.SetUp failed for volume "volume" kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers"
**What steps did you take and what happened:**
We needed to upgrade our AKS cluster to version `1.22.11`, before that we have upgraded our CSI driver version from `0.0.15` to `1.0.0`, We have successfully upgraded the CSI driver version and then we upgraded the AKS cluster to the version `1.22.11`, but after that when AKS cluster restarting we observed the following error in our application pods.

[2022-07-19 03:48] Uvindu96 commented on #937
Hi @nilekhc `Do you know what was the state of driver pods when cluster autoscaler hit?` --> pods were in pending state. Is this is a intermittent failure ? Is there a fix for this ?

[2022-07-19 15:03] zioproto opened #938 "Volumes mounted with csi driver secrets-store.csi.k8s.io ignore securityContext.fsGroup"
**What steps did you take and what happened:**

I created a `SecretProviderClass`:

[code]

I have a deployment where I use it:

[code]

The deployment also has a `securityContext`:

[code]

I see the folder `/etc/istio/ingressgateway-certs` and the files created inside all have `root:root` ownership. Also the permissions `777` and it is not documented how to change the permission of the files. In

[2022-07-19 17:37] nilekhc commented on #938
Hello @zioproto Thanks for opening issue. You can specify the file permission of mounting secrets on CSI volume. Azure provider does support it. https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/getting-started/usage/#create-your-own-secretproviderclass-object

However, setting file ownership is something not supported yet. We do have an open issue for this in the driver. https:

[2022-07-19 17:44] nilekhc commented on #937
It may take some time for kubelet to register driver. It keeps on retrying.

Yes, but this does not affect driver registration.

Do you have steps to reproduce this? I can try at my end and debug.

[2022-07-20 03:55] Uvindu96 commented on #937
@nilekhc These are the steps I followed,

1. install the CSI driver chart version 0.0.15
2. Upgrade the CSI driver version 0.0.15 to version 1.0.0.
3. Upgrade AKS cluster version 1.21.9 to 1.22.11

You can use the same steps, if possible please let us know a quick fix for this ?

[2022-07-21 02:32] Arishb opened #941 "failed to get authorizer for keyvault client: nmi response failed with status code: 404,"
error message at Daemon set pod
reason: FailedMount

message: >

  MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code =

  Unknown desc = failed to mount secrets store objects for pod

  prometheus-collector/prometheus-collector-node-xxx, err: rpc error: code =

  Unknown desc = failed to mount objects, error: failed to get keyvault client:

  failed to get authorizer for

[2022-07-21 09:07] Uvindu96 commented on #937
@nilekhc were you able to check on this ?

[2022-07-21 16:53] aramase commented on #941
@Arishb The error here is for using pod identity mode and I don't see the `aadpodidbinding` label required for pod identity set in the `prometheus-collector-daemonset.yaml` you shared.

[2022-07-21 16:54] aramase commented on #930
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/930#issuecomment-1175269018. Please feel free to reopen if you have any questions.

[2022-07-21 16:54] #930 closed

[2022-07-21 17:50] nilekhc commented on #937
Bit swamped this week. I'll get to this in next week. Hope you are not blocked on this.

[2022-07-21 18:16] Arishb commented on #941
@aramase Thanks for pointing that out.
My Deployment file was able to use that AAD label that was being passed dynamically over runtime , But it was not the scenario for daemon sets, now that i have made some tweaks to make that available for both deployments and daemon sets
the issue is now resolved. Will reopen if needed

[2022-07-21 18:16] #941 closed

[2022-07-22 23:50] #571 closed

[2022-07-25 13:39] ferronsw opened #944 "Clarification on the Ingress scenario with Nginx"
I want to use this provider to supply certificates to the Nginx Ingress.
I've deployed the driver within the AKS cluster and mounted the volume within the Ingress controller.
Like the [instructions](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-nginx-tls) described.

The Ingress Controller is created in a separate namespace called "Ingress-nginx".
The secrets are correctly created w

[2022-07-25 16:34] aramase commented on #944
Hello 👋🏻  Thanks for opening the issue. Secrets Store CSI Driver requires the `SecretProviderClass` to be in the same namespace as the pod referencing it, so it needs to be in `ingress-nginx` namespace if it needs to be used by the ingress controller. If you need the secret in different namespace, you can create the `SecretProviderClass` in the diff namespace and mount the certs to the app pods th

[2022-07-25 19:00] dewolfs opened #945 "Pod with CSI volume does not mount when using Azure RBAC permission model on Azure Key Vault"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/): yes
- [ ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions): yes

**What steps did you take and what happened:**
[A

[2022-07-25 20:27] aramase commented on #945
@dewolfs Thanks for opening the issue! Could you share the commands you're running to set the rbac permissions?

@jlichwa Does the error message ring a bell?

[2022-07-25 20:44] jlichwa commented on #945
@aramase  in general we have not seen any issues with RBAC, small delays but in case of key vault scope it is just several seconds on average.

Key Vault Secrets User is enough to retrieve secrets from Key Vault (it has 'Microsoft.KeyVault/vaults/secrets/getSecret/action' data action).

It can be that somehow that identity is not properly assigned on key vault or there is deny assignment which blo

[2022-07-25 21:32] aramase commented on #945
Thanks for the prompt response, @jlichwa!

@dewolfs I just tried it locally and can confirm it works as expected. I did run into the same error as you even with rbac role assignment set up but it was because my keyvault is still configured to use `Vault access policy` instead of `Azure role-based access control`. Once I moved my keyvault to use rbac, it worked!

![Screen Shot 2022-07-25 at 2 31 47

[2022-07-26 06:44] ferronsw commented on #944
Thank for the clarification! It's a bit disappointing, but at least it's clear now.

[2022-07-26 06:44] #944 closed

[2022-07-27 16:48] dewolfs commented on #945
Thank you @jlichwa & @aramase !

I was using **--assignee** and not **--assignee-object-id** like you mentioned.
I also had an error in assigning the correct identity to the Key Vault.

For future reference: I used the following commands:

[code]
Issue resolved, feature is working as expected as a mounted volume and as Kubernetes secret.

[2022-07-28 10:17] bhanuprakash-1 commented on #575
Have a same requirement. Any update on this ask?

[2022-07-28 23:11] nilekhc commented on #575
@bhanuprakash-1 As @aramase mentioned above, could you elaborate why would you want driver and provider in different namespaces? It would be helpful to know more about your use case.

[2022-07-29 16:37] EliiseS opened #948 "secrets-store-csi-driver results in forbidden errors when deployed via Azure ARC onto a K3S cluster"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**

1. Create a

[2022-07-29 17:40] nilekhc commented on #948
@EliiseS Thanks for opening issue. As you mentioned the problem is with missing Roles and Role Bindings. Sync secrets and monitoring needs them to work correctly. Could you try installing them manually?

I am looking into possibility that this maybe RBAC issue specific to k3s.

[2022-07-30 00:08] #925 closed

[2022-08-01 13:53] bhanuprakash-1 commented on #575
We have divided our application into different charts like cluster-setup chart and a application chart. In cluster-setup chart, we have multiple sub-charts as dependencies and one of it is csi-secrets-store-provider-azure. And according to security requirement, we have to install this specific sub-chart in kube-system namespace. But other charts to be in a default namespace.

Im not asking for dri

[2022-08-01 14:34] LeonardHd commented on #948
@nilekhc I did some research on the issue, and I hope this helps to further pinpoint the issue.

I suspect that the helm chart does not install the rolebindings based on the conditions in the [charts/csi-secrets-store-provider-azure/templates/rolebinding.yaml](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/c34cd85ee29d795997e745a1686bf96f8b122f35/charts/csi-secrets-store-pro

[2022-08-01 17:06] nilekhc commented on #575
@bhanuprakash-1 Thanks for explaining. This makes sense.

Are you willing to open a PR to make this change? We update our charts in _manifest_staging_. You would need to update both [driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/manifest_staging/charts/secrets-store-csi-driver/values.yaml) and [provider](https://github.com/Azure/secrets-store-csi-driver-provider-azu

[2022-08-01 17:41] nilekhc commented on #948
@LeonardHd You are certainly debugging in right direction. Let me give you some context.

When we release new Arc extension version, we replace arc-values.yaml into values.yaml to get arc specific configuration and then packs the helm chart. Having said that, `Values.Azure` section is populated by Arc extension Resource Provider when you install Arc extension. So for extension to work properly (or

[2022-08-01 17:49] nilekhc commented on #948
Here is sample output of _helm get values_ after installing extension.

[code]

[2022-08-01 21:13] LeonardHd commented on #948
@nilekhc I have installed the extension as follows (on a new Arc-enabled k3s cluster just to be sure 🤓). I kept the version and namespace pinned for now - thanks a lot for the recommendation to not pin it / omit the release train.

`helm get values` returns the output as below. It seems that Values.Azure.Identity.isEnabled is false, which causes the rolebindings not to be created.

[code]

I used

[2022-08-01 21:18] nilekhc commented on #948
@LeonardHd Could you provide me an output of `kubectl get pods -n azure-arc`

[2022-08-01 21:20] LeonardHd commented on #948
Sure, no problem:

[code]

[2022-08-01 22:52] nilekhc commented on #948
Thanks for providing an access to your test env @LeonardHd. I tried it out and it works as expected. Here are some of the outputs.

[code]

[code]

Output of _helm get values k3stest -n kube-system_ does show that _Identity.isEnabled_ is set to `true`
[code]

After creating workload pod it was able to mount secret on the volume.
[code]

[2022-08-02 00:47] nilekhc commented on #937
@Uvindu96 I followed your steps above but did not get any error. Both charts and aks upgrade worked perfectly with workload pod running as expected.
Here is workload pod's transition output while cluster upgrade.
[code]

Also fyi, you can find supported version of secrets store csi azure provider [here](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/#project-status).

[2022-08-02 08:35] LeonardHd commented on #948
@nilekhc I have managed to dig further, and I believe I have found the issue.
**Possible findings in short**
- **Azure Portal extension deployment** [arc/portal_gallery_package/DeploymentTemplates/DefaultTemplate.json](arc/portal_gallery_package/DeploymentTemplates/DefaultTemplate.json) for Azure Arc-enabled clusters is missing an identity of type `SystemAssigned`. Causing missing rolebindings on

[2022-08-02 17:05] nilekhc commented on #948
Thanks @LeonardHd for debugging and a PR. I'll review the same

[2022-08-02 20:50] #948 closed

[2022-08-03 17:29] nilekhc commented on #948
@LeonardHd I have also released these changes in portal.

[2022-08-05 09:46] Happycoil commented on #937
@nilekhc is there a migration path from a helm deployment to a plugin deployment?

[2022-08-05 17:23] nilekhc commented on #937
No. Recommended approach is to uninstall manual installation and then [enabling plugin on existing cluster](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#upgrade-an-existing-aks-cluster-with-azure-key-vault-provider-for-secrets-store-csi-driver-support).

But this should be seamless as we do not remove CRDs (SecertProviderClass) while uninstalling. So when you enable plug-in

[2022-08-05 20:35] jroggeman opened #952 "Consider not requiring AAD Client ID in SPC template for workload identity"
I'm onboarding my team's apps to use CSI Driver, and while planning for a future move to use workload ID for auth, I noticed that the secret provider class still requires the `clientId` field.

Is this field strictly necessary? To my understanding, workload identity will inject an environment variable into all containers of pods that are running as a K8S Service Account that contains the client ID

[2022-08-09 16:36] aramase commented on #952
@jroggeman The `clientID` is required because this project doesn't rely on the mutating webhook or projected service account token volume from https://github.com/Azure/azure-workload-identity. For CSI drivers, the service account token is provided by kubelet as part of the mount request and we don't need an additional volume to use workload identity.

[2022-08-09 16:37] aramase commented on #945
Closing this now as the issue is resolved!

Follow-up documentation tracked in https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/145

[2022-08-09 16:37] #945 closed

[2022-08-09 17:05] aramase opened #953 "Add AKS add-on and arc extension reference in the docs"
AKS add-on: https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver
ARC extension: https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-akv-secrets-provider

[2022-08-15 20:10] aramase commented on #952
Closing this issue as `clientID` field is required.

Feel free to reopen if you have any other questions/suggestions.

[2022-08-15 20:10] #952 closed

[2022-08-16 23:51] rohanaceres commented on #352
@aramase and @deepakcse87 can you please provide more details about the solution? I'm getting the same error...

[code]

[2022-08-27 00:08] #937 closed

[2022-08-30 20:46] aramase commented on #873
@lissff Is this issue resolved now?

[2022-08-30 20:47] aramase commented on #858
Closing this as `privileged` is required for the provider pods. Feel free to reopen if there is a feature request or if you have any further questions.

[2022-08-30 20:47] #858 closed

[2022-08-31 03:31] #787 closed

[2022-08-31 08:05] pierluigilenoci commented on #787
@aramase this is a workaround to get the software to work on K8s v1.25 as well but this way it doesn't run with the necessary restricted permissions.

All these "[permissions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/templates/podsecuritypolicy.yaml#L8-L23)" need to be moved into the `securityContexts` at the pod and conta

[2022-08-31 08:14] pierluigilenoci opened #967 "[FR] Run the provider with the minimum number of permissions required."
**Describe the solution you'd like**

PR #966 (Issue #787) is a workaround to get the software to work on K8s v1.25.
In this way, it doesn't run with the necessary restricted permissions.

All these "[permissions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/templates/podsecuritypolicy.yaml#L8-L23)" need to be moved into the `

[2022-09-01 08:32] pierluigilenoci commented on #967
@aramase could you please take a look?

[2022-09-08 19:28] miles-w-3 opened #970 "Use global fullNameOverride"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In accordance with my issue post to the [upstream kubernetes-sigs chart](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/1046), these charts should unify around a global fullnameOverride rather than expecting it to be set at both levels, since that adds confusion imo.

[2022-09-14 16:50] danbrad commented on #892
The PR attached to this doesn't  appear to have fixed the issue.

The problem is that the check is an AND, so if `enableArcExtension` is false, the check for `.Values.arc.enableMonitoring` and `.Values.Azure.proxySettings.isProxyEnabled` will also happen.

I've worked around by adding the dummy values, but I believe this shouldn't be necessary

[2022-09-14 16:57] danbrad commented on #892
Actually, I don't understand why it evaluates both sides of the and in this case, but it does as my upgrade to 1.3.0 definitely failed and the fix was to do as per this issue

[2022-09-14 17:07] danbrad opened #972 "Helm templating fails if enableArcExtension is false and linux annotations are added"
**What steps did you take and what happened:**

When installing using helm chart version 1.3.0, if `enableArcExtension` is false and `linux.podAnnotations` are set, templating errors due to unrelated ARC settings.

Minimal reproduction:

`helm template csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --set linux.podAnnotations.test=val`

Output

`Error: template: csi-secrets-store

[2022-09-16 12:58] 030 opened #974 "How does the new download link to the 1.3.0.tgz look like?"

[2022-09-16 14:12] abudavis opened #975 "Install fails on Openshift 4.10.21"
We couldn't get it to run on Openshift 4.10.21. Has it been tested on this version?

[code]

The daemonset is created but the pods are not spinning up

[code]

I get this error in the Openshift events

`8m20s       Warning   FailedCreate        daemonset/secrets-store-csi-driver                Error creating: pods "secrets-store-csi-driver-" is forbidden: unable to validate against any security co

[2022-09-16 15:18] abudavis commented on #975
Found the issue, it works only when deployed on tube-system namespace/project on Openshift

[2022-09-16 15:18] #975 closed

[2022-09-16 16:04] kpkool commented on #412
Is there anyway to expose vault secret directly as pod's env variables.  My client does *not* allow you to use k8s secret due to base64 encode, which is still clear text. For e.g some db and sensitive data store credentials really need to be hidden from K8s admins/developers.

[2022-09-16 16:40] 030 commented on #974
I would like to download the tgz file.

[2022-09-16 16:43] aramase commented on #974
The files are in `gh-pages`: https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/gh-pages/charts

[2022-09-20 08:31] JackPanzer opened #979 "Read certificates as .pfx"
**Describe the solution you'd like**
When exposing a certificate through the key vault via SecretProviderClass it would be great if there would be any way to read the certificate as .pfx without having to store it as a secret, which by the way, appears as deprecated when trying to create it in an Azure Key Vault.

**Anything else you would like to add:**
This is mostly to being able to add a certi

[2022-09-23 10:21] sieg2010 opened #980 "Is this supported in Azure Stack Hub with AD FS identity?"
Hi,

I would like to know if this is supported in Azure Stack Hub with AD FS identity?
I can't find it in the document.
While this CSI driver can be used normally in Azure Stack Hub with Azure AD identity,  I can not get it to work in Azure Stack Hub with AD FS identity.
The tests in my lab only get the following error message.
[code]
I'm not sure if I set something wrong, but I want to make sure

[2022-09-23 16:02] aramase commented on #980
It is not supported with AD FS identity.

[2022-09-23 18:40] YKing opened #982 "Provider fails with keyvault.BaseClient#GetSecret: Failure sending request: StatusCode=0 -- Original Error: context deadline exceeded on windows nodes after working for few days"
**What steps did you take and what happened:**
Installed secrets-store-csi-driver-provider-azure and was able to fetch secrets in our cluster on both linux and windows nodes using user assigned managed identity.
It worked fine for a couple days and then new deployments started failing on windows nodes with the error: failed mount due to context deadline exceeded.
On checking the logs for the secre

[2022-09-23 21:06] YKing commented on #982
Issue caused due to port changes on our end

[2022-09-23 21:06] #982 closed

[2022-09-24 05:04] sieg2010 commented on #980
Thanks for your reply

[2022-09-24 05:04] #980 closed

[2022-09-26 10:18] zioproto commented on #938
Can we keep this issue open ? we are waiting for kubernetes-sigs/secrets-store-csi-driver#858 to act on this.

[2022-09-28 09:03] wagenrace commented on #743
I am struggling with it but this should be the answer:
https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/custom-environments/

Using these endpoints:
https://docs.azure.cn/en-us/articles/guidance/developerdifferences

But I am missing a step somewhere

[2022-09-28 21:10] jesusalvb commented on #885
I'm also interested on this feature, I need it for a project so I have two questions

1. ¿There is an alternative?
2. ¿Where  to start in order to create or modify the CSI provider driver?

[2022-10-05 15:27] pnl0ep7f opened #988 "CSI Driver Installation failed | job failed: BackoffLimitExceeded"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/) - Yes
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions] (https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions) - Yes

**What steps did you take and what happened:**

[2022-10-05 16:35] nilekhc commented on #988
Hi @pnl0ep7f, Thanks for opening an issue. Helm install/upgrade uses hooks to create/update CRDs. It creates a Job to do so. Do clusters have sufficient resources? Could you grab the output of `kubectl describe` for the job (job name contains _upgrade-crds_)

Also, may I know the reason/usecase for not using an add-on? For AKS clusters it is highly recommended to use add-on.

[2022-10-05 17:10] #972 closed

[2022-10-06 05:17] pnl0ep7f commented on #988
HI @nilekhc,
The cluster does have sufficient resources. The CRDS are getting created, but the pods for csi driver are not spinning up.
here the output of the kubectl describe command
![image](https://user-images.githubusercontent.com/66358388/194219964-172fdf5b-f3b4-4f4a-8c59-64c5abbdb209.png)

We are eventually going to move to the add-on feature, but the cluster that we are working right now wi

[2022-10-06 08:46] raypettersen opened #990 "Feature Request, more cpu and memory settings in helm."
**Describe the solution you'd like**
The created pods contain several containers. These have resource limits attached to them, but there is no way to modify the cpu limit for node-driver-registrar like in the secrets-store-csi vanilla helm-chart.

In our environments, we're seeing alerts for CPU throttling, and need to raise node-driver-registrar from 100m to about 400m but there is no clear way o

[2022-10-06 18:08] nilekhc commented on #988
Could you validate if Cluster Role and Rolebinding with the name `secrets-store-csi-driver-upgrade-crds` exists?

[2022-10-07 07:56] insertusername20 opened #991 "Identity not found when using Workload Identity with secret store driver"
Hi,

So we are trying to use workload-identity to bind certificate hosted on keyvault to our ingress app deployment.
But we are facing some issues during deployment.

We get the error message "Identity not found"

Now, we do have workload-identity working with service accounts and able to fetch secrets from keyvault. For use within our app.
Also able to use user assigned identity to get the SSL ce

[2022-10-07 17:06] aramase commented on #991
`Identity not found` error is if you're using [user-assigned managed identity](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/user-assigned-msi-mode/) to access keyvault.

Are you using [workload identity](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/workload-identity-mode/) or u

[2022-10-11 06:18] insertusername20 commented on #991
This was it. Thanks for answering.

[2022-10-11 06:18] #991 closed

[2022-10-12 06:36] zioproto commented on #938
Still waiting on upstream issue to be closed.

[2022-10-12 14:43] ThomsonSibiMukkada commented on #645
plz try below comments:

helm repo add csi-secrets-store-provider-azure https://azure.github.io/secrets-store-csi-driver-provider-azure/charts

helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --generate-name  --namespace <ns> --set secrets-store-csi-driver.syncSecret.enabled=true

secretprovider.yml

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass

[2022-10-13 16:50] aramase opened #996 "Migrate from `autorest/adal` to `azidentity`"
ref: https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/azidentity/MIGRATION.md

[2022-10-13 16:54] aramase opened #997 "Migrate from `github.com/Azure/azure-sdk-for-go/services/keyvault` to `sdk/keyvault`"
ref: https://learn.microsoft.com/en-us/azure/key-vault/secrets/quick-create-go

- https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azkeys
- https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azsecrets
- https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/keyvault/azcertificates

depends on https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/

[2022-10-18 08:38] Jeff-Chu-t opened #998 "Request CSI driver support in Azure Stack Hub with AD FS identity"
**Describe the solution you'd like**
We are integrating our applications in Azure Stack Hub, but there is no CSI driver support in Azure Stack Hub with AD FS identity.
We would like to request CSI driver support in Azure Stack Hub with AD FS identity.
(We have also created another related ticket: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/980)

**Anything else you woul

[2022-10-20 05:18] aramase commented on #998
cc @jadarsie

[2022-10-20 15:57] zohebs341 opened #1000 "secrets-store-csi-driver is not working in Azure Stack Hub - AKS 1.20.11"
Hi Team,

By using aks-engine I've deployed the AKS cluster in Azure Stack Hub. As we have Vault in Azure Stack Hub, I want to leverage the secret-store-csi-driver plus my application needs this secrets-store-csi-driver. I've deployed secret-store-csi-drive in azure stack hub, pods are up/running. However, app/pod is not consuming it and it's failing with the below error.

Does secret-store-csi-dr

[2022-10-20 17:18] jadarsie commented on #998
It should be possible, I can propose something in a few days.

[2022-10-20 17:22] aramase commented on #1000
Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/ to get logs from the provider. If you're using `AzureStackCloud`, you need to configure the keyvault, AAD endpoint and mount the custom file (ref: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/custom-environments/)

[2022-10-20 19:24] zohebs341 commented on #1000
@aramase Thanks for your response. As I am a new user of Azure Stack Hub, will you be able to share more details or steps for this customization?

By using the below command, I've got the below YAML file.

helm show values csi-secrets-store-provider-azure/csi-secrets-store-provider-azure > csi-azstack-values.yaml

#cat csi-azstack-values.yaml
nameOverride: ""
fullnameOverride: ""

# One or more se

[2022-10-21 00:15] nilekhc commented on #988
@pnl0ep7f Is this resolved? Were you able to successfully update it?

[2022-10-21 05:45] zohebs341 commented on #1000
@aramase @jadarsie Can you please help me with installation steps or yaml file for secret-store-csi deployment in Azure Stack Hub.

[2022-10-21 13:45] KannanAadhav opened #1001 "Not able to get secret into AKSCluster"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/) Yes
- [ ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear

[2022-10-21 15:21] MrRenx commented on #217
Hi guys, do you know how to implement the **SecretProviderClass** as terraform for AKS provider?

[2022-10-21 16:09] aramase commented on #1001
@KannanAadhav That error means the identity with the clientID you provided in the `SecretProviderClass` doesn't exist on the underlying VM/VMSS. Did you assign the identity by following the step 2 in the [doc](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/user-assigned-msi-mode/)?

[2022-10-21 16:34] jadarsie commented on #1000
Please let us know what's wrong with the existing documentation. Did you try this? https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/custom-environments/#update-secret-provider-class

[2022-10-21 16:41] jadarsie commented on #1000
In your case, it would be

[code]

[2022-10-21 17:34] zohebs341 commented on #1000
helm repo add csi-secrets-store-provider-azure https://azure.github.io/secrets-store-csi-driver-provider-azure/charts
helm install csi csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --namespace kube-system ---> Instead of installing with this command. I've created a file by using this --> helm show values csi-secrets-store-provider-azure/csi-secrets-store-provider-azure > csi-az

[2022-10-21 19:46] KannanAadhav commented on #1001
Yeah, i missed that part. Thank you for directing

[2022-10-21 19:46] #1001 closed

[2022-10-21 20:15] zohebs341 commented on #1000
@jadarsie Thanks Javier. I'm testing it and will update you ASAP.

service principal already I've deployed and taken care.

Thank you once again for your time.

[2022-10-25 08:00] zohebs341 commented on #1000
@jadarsie I've tested it with one basic deployment and it worked, please don't close the issue as I will deploy a few more apps in the next two days. Thank you once again for your support.

@aramase Thank you, Anish.

**It is not related to you, but just a generic question/feedback as a user:**
I am not supposed to say this, but logically speaking: These two drivers (secrets-store-csi-drivers & az

[2022-10-25 10:23] Chiahung-Su commented on #998
Hi @jadarsie, may I know if there are any updates on this? Thanks.

[2022-10-25 18:18] jadarsie commented on #998
I did not have time to validate, but while reading the code I got the impression that setting/adding parameter `tenantId: "adfs"` in the `SecretProviderClass` should work. No code changes needed.

[code]

I will validate as soon as I have a moment.

[2022-10-26 03:10] Jeff-Chu-t commented on #998
Hi @jadarsie,

We have tried the solution (`tenantId: "adfs"`) in our Azure Stack environment (in ADFS identity), and there is an error
`Status Code = '400'. Response body: {"error":"invalid_request","error_description":"AADSTS900023: Specified tenant identifier 'adfs' is neither a valid DNS name, nor a valid external domain`

We also adjusted the apiVersion from `secrets-store.csi.x-k8s.io/v1` to

[2022-10-26 06:24] jadarsie commented on #998
Hopefully you did not try out the snipped as I pasted it. I was just showing were/how to add `tenantId`.

I got it to work. This what I did:

- AKS Engine cluster on Azure Stack Hub
- AD FS identity provider (`jq .tenantId -r /etc/kubernetes/azure.json` should return `adfs`)
- Key Vault created in the same ASH instance
- Secret Store CSI driver deployed with Helm
- Custom environment volumes and m

[2022-10-26 22:53] aramase commented on #1000
@zohebs341 Thank you for the feedback. From the driver project perspective, I can say if you're using the driver and provider from OSS then support is via GitHub ([Support policy](I https://github.com/Azure/secrets-store-csi-driver-provider-azure#support)). If you're on AKS, you can use the [AKS managed add-on](https://learn.microsoft.com/en-us/azure/aks/csi-secrets-store-driver) and it's part of

[2022-10-26 22:54] aramase commented on #998
@jadarsie Once we get confirmation from other folks on the thread it works, we can add a section about this configuration required for `AzureStackHub`. WDYT?

[2022-10-26 23:15] jadarsie commented on #998
Yep, we are in the same page, I am waiting for confirmation as well.

[2022-10-27 04:41] zohebs341 commented on #1000
@aramase thank you. For sure I will update you asap. Regarding support, I've already check with ASH. They are saying it's not under support policy. Both secret-store & azuredisk-csi driver's. That's why i thought to share my views here.

[2022-10-27 07:39] FawenYo commented on #998
Hi, After testing by our members, there are still some errors. Here are the configuration files:

* configmap_csi.yaml

[code]

* secret_db.yaml

[code]

* values_csi.yaml

[code]

* secret_csi.yaml

[code]

* Deployment.yaml

[code]

And the error message would be like...

[code]

Would you please help us to solve the problem? Thanks!

[2022-10-27 17:14] jadarsie commented on #998
Thx @FawenYo for sharing the details. I would try to updating your config map content:

[code]

- there is a missing comma (`keyVaultDNSSuffix` line)
- I do not think `tenantId` is a valid value here
- `activeDirectoryEndpoint` seems invalid for a AD FS deployment, I would expect something like `https://adfs.{{ .Values.AZ_FQDN  }}`
- for the rest of values, please make sure the property values mat

[2022-10-27 18:32] Jeff-Chu-t commented on #998
Hi @jadarsie,
Thanks for your information; we will try and verify it in our environment.
May I ask whether my steps/understanding is correct?

- Currently I have found the file `/etc/kubernetes/azure.json` from a `kube-proxy` pod, and `jq .tenantId -r /etc/kubernetes/azure.json` has returned `adfs`
- The value of the `cloudEnvFileName` can be our customized file path (ex: `cloudEnvFileName: /cloud

[2022-10-27 19:01] jadarsie commented on #998
Yes, `kube-proxy` is mounting host path `/etc/kubernetes`, the host directory where `azurestackcloud.json` is found.

I usually go with `/etc/kubernetes/azurestackcloud.json`, I recommend using that path. If you must change it, the set env variable `AZURE_ENVIRONMENT_FILEPATH`.

You can, you do not have to.

[2022-10-27 19:08] jadarsie commented on #998
Just checked the code. The driver will set `AZURE_ENVIRONMENT_FILEPATH` to `parameters.cloudEnvFileName`. So, you are fine as long as `parameters.cloudEnvFileName` is mounted.

[2022-10-27 23:28] esune opened #1007 "k8s secret is not updated on roll-out , even with sync enabled and updated SecretProvider class"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
I'm running a

[2022-10-27 23:29] esune commented on #1007
Likely related to #746 and #821

[2022-10-28 00:32] FawenYo commented on #998
OK, We'll test this. Thanks for your help!

[2022-10-28 12:13] sintetico82 commented on #1007
Yes me too. I don't understand how to force to synch

[2022-10-28 13:43] FawenYo commented on #998
Hi, after testing, there are still errors:

[code]

Here is my modification

* configmap_csi.yaml

[code]

* values_csi.yaml

[code]

Hope this can help you debug. Thanks!

[2022-10-28 15:44] joywaves commented on #1007
also just ran into the same issue. had to drop the existing secret in order to update it.

- AKS v1.24.6 client & server, sync/update doing over the helm.
- Secrets Store CSI Driver version: (use the image tag): v1.2.3
- Azure Key Vault provider version: (use the image tag): v1.3.0

I don't recall it being an issue in the previous version though(regarding limits)

[2022-10-28 16:42] aramase commented on #1007
Hello 👋🏻  this limitation always existed: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html#mounted-content-and-kubernetes-secret-not-updated. If you have secret auto rotation feature enabled, it'll update the Kubernetes secret after the rotation poll interval but if you're new pod is relying on a new value from Kubernetes secret, then you will need to delete the Kubernetes secre

[2022-10-28 18:14] jadarsie commented on #998
This seems to indicate that the expected `activeDirectoryEndpoint` is still not used. Try mounting the host file instead of the config map.

To increase verbosity, add this to the `csi-secrets-store-provider-azure` daemonset container.

[code]

This is a simplified version of what I see

[code]

[2022-10-28 20:10] esune commented on #1007
The issue is that the k8s secret is not being updated even when auto rotation is enabled.

[2022-10-28 20:23] aramase commented on #1007
With auto rotation enabled, the driver will only update after the next rotation poll interval. If the next poll interval is t + 2m and the `SecretProviderClass` is updated at t + 1, then k8s secret will only be updated at t + 2. For on-demand update of k8s secret, recommendation is to delete the k8s secret and let it be recreated.

If k8s secret never gets updated even after multiple poll interval

[2022-10-28 20:31] esune commented on #1007
@aramase I'll do some more digging, i am pretty sure it was just sitting unchanged without any specific error and blocking the deployments that depend on the new keys from being completed successfully.

In the meantime: any suggestions on how to programmatically delete the secret when the chart updating the `SecretProvider` class runs? Having the secret component block other service rollouts becau

[2022-10-28 22:06] esune commented on #1007
@aramase I just run the scenario again: see first post for details on my setup. I added a new secret in KeyVault and updated my SecretProvider class to include it so that the driver would update the k8s secret after the polling interval has expired.

This was now 17m ago, the k8s secret is not yet up-to-date.

I am following [these](https://azure.github.io/secrets-store-csi-driver-provider-azure/d

[2022-10-29 03:43] FawenYo commented on #998
Hi @jadarsie , Besides your environment variable, I also changed the CSI settings of activeDirectoryEndpoint in ConfigMap of `csi-secrets-store-provider-azure`, and here is the detailed error message:

[code]

And the pod status would be like

[code]

[2022-10-30 16:15] jadarsie commented on #998
This seems to indicate that `keyVaultEndpoint` is invalid, it should be set to the value found in `/etc/kubernetes/azurestackcloud.json`, my env shows something like this: `https://vault.adfs.THE-EXTERNAL-DOMAIN-NAME/A-GUID`, please check that value in your config map.

Ref: [External Domain Name](https://learn.microsoft.com/en-us/azure-stack/operator/azure-stack-integrate-dns?view=azs-2206#azure-

[2022-10-30 23:14] FawenYo commented on #998
A-GUID is just the same as client id, am I realized right?

[2022-10-31 03:47] FawenYo commented on #998
@jadarsie Thanks for your hint, the problem is because of the wrong keyVaultEndpoint, and everything is working now!
FYI, the `resourceGroup` and `subscriptionId` properties are also not necessary for SecretProviderClass.

[2022-10-31 07:26] aliaksei-babuk commented on #1007
I have the same problem. Interesting that after deleting secret start taking the Disabled values from KV. https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/1087

[2022-10-31 13:02] ssrahul96 opened #1009 "Could not use with Azure File Share for Volume mount"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**

Need to stor

[2022-10-31 16:58] jadarsie commented on #998
Thx @FawenYo for the confirmation, we will proceed to add the ADFS identity provider to the project documentation.

[2022-10-31 17:15] aramase commented on #1007
@aliaksei-babuk Please open a new issue and provide the `SecretProviderClass` yaml file as part of it. Also, include the relevant logs. Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/

[2022-10-31 17:18] aramase commented on #1007
@esune It's possible the AKS add-on driver pods don't have auto-rotation enabled which is why it isn't working. I would recommend uninstalling everything (helm and add-on) and then doing a clean-install either with helm or the AKS add-on. If you're on AKS, the recommendation is to use the AKS add-on as that's officially supported. If you install it with helm, support is only via GitHub and you'll

[2022-10-31 18:01] jadarsie commented on #998
@aramase would you rather add a new ADFS section to `custom-environments.md` or a new file under the `configurations` dir?

[2022-10-31 18:22] aramase commented on #998
@jadarsie Let's do a ADFS section in `custom-environments.md`.

[2022-10-31 19:10] aramase commented on #1009
@ssrahul96 The `objects` in `SecretProviderClass` don't match the `secretObjects` fields defined. Here are docs on how to use the sync feature: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/sync-with-k8s-secrets/. You need to mount the object first and define the same in `secretObjects` of the file to sync as Kubernetes secret.

`azurestorageaccountname` is no

[2022-10-31 19:42] esune commented on #1007
@aramase I tried following the uninstall procedure and I get an error stating the AKS plugin may not be installed, which is confusing. I'll do some more digging and follow-up.

[2022-11-01 03:58] ssrahul96 commented on #1009
Thanks @aramase , was able to resolve

[code]

the `fs-name` is fileshare name only, hence it may not be stored in keyvault, i tired hardcoding the value, but it started to looking for the object name matching it,

any possible ways to achieve that?

[2022-11-01 09:59] aliaksei-babuk opened #1011 "Secret provider takes the Disabled secret value from KV"
What steps did you take and what happened:
For adding auto rotation we have added the next configuration row in to helm configuration:
parameters:
enableSecretRotation: "true"

What did you expect to happen:
We expect that the fresh one secret value will be automatically added to the secret

Anything else you would like to add:
We have test secret in Azure KeyVault. With next values:
test1 Disaibl

[2022-11-01 10:12] aliaksei-babuk commented on #1011
kubectl logs kvsecrets-csi-secrets-store-provider-azure-5csbq  -n kube-system
I0929 00:26:41.292427       1 main.go:70] "Starting Azure Key Vault Provider" version="v1.0.1"
I0929 00:26:41.292562       1 exporter.go:14] "intializing metrics backend" backend="prometheus"
I0929 00:26:41.292631       1 main.go:87] construct pem chain feature enabled
I0929 00:26:41.292893       1 main.go:129] "Listenin

[2022-11-01 16:18] aramase commented on #1009
@ssrahul96 It is not possible to set static values. All the `objectName` referred to here are the objects present in key vault.

[2022-11-01 16:21] aramase commented on #1011
@aliaksei-babuk Do you have secret auto rotation enabled on the driver? I see you have `enableSecretRotation` in the `SecretProviderClass` which is incorrect. The rotation feature is to be enabled on the driver. Please refer to https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/enable-auto-rotation-secrets/ for how to enable the feature.

[2022-11-01 16:22] aramase commented on #1000
@zohebs341 Any updates on the issue?

[2022-11-01 17:53] #998 closed

[2022-11-01 17:54] #565 closed

[2022-11-01 17:55] #546 closed

[2022-11-01 17:57] #873 closed

[2022-11-01 20:12] zohebs341 commented on #1000
@aramase @jadarsie Thanks a lot. It worked for me.

I really appreciate your support on this.

[2022-11-01 20:39] aramase commented on #1000
That's great! @jadarsie has added documentation for this with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/1010. I'll close this issue now. Please feel free to reopen if you have any questions.

[2022-11-01 20:39] #1000 closed

[2022-11-01 22:25] irisvivian1993 opened #1012 "Facing issue to set environment variable to reference a kubernetes secret"
For our project, we are using Azure Key Vault to encrypt password for mosquitto exporter container, the secret already exists in Key Vault. I am following this way - https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/set-env-var/  created a Kubernetes secret and reference it by setting an environment variable for the password. However, the container is not created

[2022-11-02 04:03] ssrahul96 commented on #1009
that helps, thanks!

[2022-11-02 04:03] #1009 closed

[2022-11-02 11:28] aliaksei-babuk commented on #1011
Thank you
Installation of csi-secrets-store-provider-azure with flag” enableSecretRotation: true “ solved the problem.

[2022-11-02 11:28] #1011 closed

[2022-11-02 16:50] aramase commented on #1012
@irisvivian1993 In `SecretProviderClass` the secret name you're requesting for sync with the driver is `keyvaultsecret` but in the statefulset pod spec the secret ref name is `keyVaultSecret`. The second one is using camel case and doesn't match the secret name provided in `SecretProviderClass`

[2022-11-02 17:20] irisvivian1993 commented on #1012
Sorry, forgot to update the latest version of stateful-set.yaml in the post. Attached updated version at here, both of them use ```keyvaultsecret``` but got error ```secret "keyvaultsecret" not found```.

[code]

[2022-11-02 18:15] aramase commented on #1012
You can check the driver and provider logs to see why it's failing to create the secret. Here is the troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/

[2022-11-02 21:02] aramase opened #1013 "`e2e_arc_aks` test failing in nightly run"
`e2e_arc_aks` seems to be failing in all nightly runs. Some failures are because of the cluster health but this in general is flaky. (ref: https://dev.azure.com/AzureContainerUpstream/Secrets%20Store%20CSI%20Driver%20Provider%20Azure/_build/results?buildId=63549&view=logs&jobId=51811eea-cde0-5499-71d2-3da72322665f&j=51811eea-cde0-5499-71d2-3da72322665f)

@nilekhc given the recommendation for aks i

[2022-11-03 16:22] irisvivian1993 commented on #1012
Got error when I run ```kubectl get pods -l app=csi-secrets-store-provider-azure -o wide```
[code]

[2022-11-03 16:31] aramase commented on #1012
@irisvivian1993 Which namespace do you have the driver and pods deployed in with the helm charts? You'll need to get the driver and provider pod log from the node in which your workload is running.

[2022-11-03 20:37] irisvivian1993 commented on #1012
I tried that as well, but it shows no resources found. As the helm deployment failed due to the secret not found error, the pod is not up. When I run the ```kubectl get pods```, the pod I am looking for is not in the list then how can I check the logs. We need to specify the pod name in the get logs command, right?

[code]

[2022-11-03 20:51] aramase commented on #1012
Did the helm install for the driver and provider fail? If the driver and provider are not running, then it will not be able to mount. Did you install following the [steps](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/getting-started/installation/) from here? If you did, you can find the driver and provider pods in the node with issue and get the logs for it.

[2022-11-03 22:09] irisvivian1993 commented on #1012
Thanks for your reply. I found the pods for driver and provider and pasted my found below.

[code]

I found the pod for provider but didn't find any logs for it.

[code]
I didn't find any log contains "error" or "keyvaultsecret", only found above logs repeat showing up.

[2022-11-03 22:18] aramase commented on #1012
@irisvivian1993 This is part of our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/#failed-to-create-kubernetes-secret-errsecrets-is-forbidden-user-systemserviceaccountdefaultsecrets-store-csi-driver-cannot-create-resource-secrets-in-api-group--in-the-namespace-default. If you're using the driver to sync as Kubernetes secret, you'll need

[2022-11-03 22:39] irisvivian1993 commented on #1012
but we have set syncSecret to true in our code.

[code]

[code]
[code]

[2022-11-03 22:49] aramase commented on #1012
@irisvivian1993 Are you using the azure-arc extension? If you're using arc extension the config flags are different: https://learn.microsoft.com/en-us/azure/azure-arc/kubernetes/tutorial-akv-secrets-provider#additional-configuration-options. Please provide the command you use to install the driver and provider.

[2022-11-04 19:01] irisvivian1993 commented on #1012
The driver and provider were installed by someone else, but I think we are using the azure-arc extension as I can find the extension under extensions of Kubernetes - Azure Arc.

<img width="1296" alt="image" src="https://user-images.githubusercontent.com/26945875/200053226-dc577c94-9a4e-467c-b852-8c87bccbae50.png">

And previously the SecretProviderClass works fine with mosquitto container which u

[2022-11-08 12:36] nuru5 opened #1016 "Mount failed with an error - failed to get keyvault client: failed to get authorizer for keyvault client: nmi response failed with status code: 404"
Events:
  Type     Reason       Age                   From               Message
  ----     ------       ----                  ----               -------
  Normal   Scheduled    19m                   default-scheduler  Successfully assigned aks-keyvault/nginx-deployment-6748746f8f-xdxgg to aks-linuxpool-12988371-vmss000001
  Warning  FailedMount  4m15s (x7 over 17m)   kubelet            Unable to

[2022-11-08 18:39] carlin-q-scott opened #1017 "Provide example of syncing a kubernetes.io/basic-auth secret"
**Describe the solution you'd like**
I'd like an example of how to store a kubernetes.io/basic-auth secret in AKV and sync it to k8s.

**Anything else you would like to add:**
I tried to implement this by setting the AKV value as a json file with the username and password properties, and I set the content type to `application/x-json` based on the implementation from [akv2k8s](https://github.com/Sp

[2022-11-08 22:02] irisvivian1993 commented on #1012
Hello, any update on this issue? We are using azure-arc extension and we added configuration-settings change as mentioned in above doc alone with the changes in SecretProviderClass. Somehow, the helm deployment failed because of the secret not found error and also the configuration change is not getting pick up. Does it require to make the configuration change first before we make any other change

[2022-11-08 23:05] nilekhc commented on #1016
@nuru5 Have you checked the troubleshooting guide?

https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/troubleshooting/#failed-to-get-key-vault-token-nmi-response-failed-with-status-code-404

[2022-11-09 05:39] nuru5 commented on #1016
nuruddin [ ~ ]$ az login --identity --allow-no-subscriptions --debug
cli.knack.cli: Command arguments: ['login', '--identity', '--allow-no-subscriptions', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7fbc4c050160>, <function O

[2022-11-10 23:21] aramase commented on #1012
@nilekhc they are using the arc-extension and it looks like the `ClusterRole` for sync secret is missing even with `secrets-store-csi-driver.syncSecret.enabled=true`?

[2022-11-10 23:22] #988 closed

[2022-11-10 23:23] aramase commented on #802
Closing this issue as it's currently not planned. Feel free to open a new issue if you have any questions.

[2022-11-10 23:23] #802 closed

[2022-11-11 00:38] nilekhc commented on #1012
Hi @irisvivian1993 Could you provide the output of the following?

`az k8s-extension show --cluster-type connectedClusters --cluster-name $CLUSTER_NAME --resource-group $RESOURCE_GROUP --name akvsecretsprovider`

[2022-11-11 04:35] lalitmsft opened #1022 "Failed to parse workload identity tokens, service account tokens not found, when using Workload Identity"
**Errror**
[code]

**What steps did you take and what happened:**
####Service Account
[code]

####SecretProvider Class
[code]

####POD
[code]

#####We added the get policy for secrets from Key vault
[code]

#####Created Federated credential between the Service Account and User assigned Managed Identity
[code]
**What did you expect to happen:**
The secrets to be fetched from keyvault and mounted to

[2022-11-14 17:52] wangtpcc commented on #1022
Any update on this. I got the same error.

[2022-11-14 18:42] aramase commented on #1022
1. The annotation with service account is not required for this because CSI driver gets the service account token as part of the mount request. This project doesn't require [azure-workload-identity](https://github.com/Azure/azure-workload-identity) webhook. The required configuration steps are here: https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access

[2022-11-14 19:10] lalitmsft commented on #1022
## Adding the details if it helps:
1. Output of `kubectl get csidriver secrets-store.csi.k8s.io -o yaml`
[code]
2. Driver and provider logs are attached.
3. Helm chart version.
[code]
[csi-driver-log.txt](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/10006288/csi-driver-log.txt)

[2022-11-14 19:22] aramase commented on #1022
@lalitmsft As mentioned in the previous comment, you're missing the api audiences

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/f04f74a505e7c5bba3636812caf5a028c31267ff/charts/csi-secrets-store-provider-azure/values.yaml#L160-L161

It is set by default in the helm chart, so I think you're using an old version of the chart that doesn't have the default values? If you instal

[2022-11-14 19:22] aramase commented on #1022
**Note** If you're on AKS we recommend using the [AKS add-on](https://learn.microsoft.com/en-us/azure/aks/csi-secrets-store-driver)

[2022-11-15 17:30] aramase commented on #1013
@nilekhc thoughts on this? I'll be happy to open a PR to remove it.

[2022-11-15 17:32] esune commented on #1007
I asked the person who is maintaining the environment to proceed with uninstalling and reinstalling the Secret Provider, but don't have a time estimate on when I will be able to report back, unfortunately.

[2022-11-17 03:45] dhirschfeld commented on #885
I can't see this issue in the [Roadmap](https://github.com/Azure/secrets-store-csi-driver-provider-azure/projects/1) so I just wanted to check if there are any plans to add this?

[2022-11-17 19:29] aramase commented on #1022
@lalitmsft Is the issue resolved after setting the token request audience?

[2022-11-21 10:04] OriHoch commented on #944
if you use a wildcard SSL certificate you can set it as a default certificate for the ingress, then you don't have to set tls on the individual ingress objects
https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/tls.md#default-ssl-certificate

[2022-11-21 18:50] #933 closed

[2022-11-22 03:43] lalitmsft commented on #1022
@aramase The suggested fix worked for us.
@wangtpcc I believe you would also be facing similar issue, please try the fix suggested above.

[2022-11-22 03:43] #1022 closed

[2022-11-23 13:36] anu1508k opened #1026 "The Kubernetes secrets are not getting synced as part of the CSI syncenabled feature to get secrets into Environment Variables.."
I have installed helm csi driver with sync.secret enabled set to true. The SecretProviderClass has secretObjectName and pods have mounts .
SecretProviderClass:
apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
      name: xyz-job-spc
      namespace: ${ENV_NAME}
spec:
  provider: gcp
  parameters:
    ClusterRole: secretprovidersyncing-role
    secrets: |
      -

[2022-11-24 00:08] #145 closed

[2022-11-25 17:00] anu1508k commented on #1026
@aramase : can you pls help here?

[2022-11-27 09:41] Norfolc opened #1027 "Update documentation to reflect change from 'tenantId' to 'tenantID'"
After closing #857 we are getting a message in logs:

But public documentation in all places still shows that the correct parameter is `tenantId`, e.g:
https://learn.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access
https://learn.microsoft.com/en-us/azure/aks/hybrid/secrets-store-csi-driver
https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/getting-started/usage/

P

[2022-11-30 00:55] nilekhc commented on #885
@jesusalvb @dhirschfeld Let's discuss this requirement in the next community call. Could you attend the next one on 12/08?

https://docs.google.com/document/d/1q74nboAg0GSPcom3kLWCIoWg43Qg3mr306KNL58f2hg/edit#

[2022-11-30 00:59] #1013 closed

[2022-11-30 01:06] nilekhc commented on #1016
@nuru5 Are you able to resolve this?

[2022-11-30 01:09] nilekhc commented on #1026
@anu1508k Looks like you are using the `GCP` provider. Perhaps you want to open an issue here? https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/issues

[2022-11-30 01:12] nilekhc commented on #1027
@Norfolc Would you like to open a PR?

[2022-11-30 01:13] nilekhc commented on #1027
We can update this once we completely remove this in future releases.

[2022-11-30 01:41] aramase commented on #1026
As this issue is with `gcp` provider, please open an issue there as Nilekh mentioned.

[2022-11-30 01:41] #1026 closed

[2022-11-30 03:16] dhirschfeld commented on #885
Hi @nilekhc,
Thanks for reaching out. 11am EST might be a bit tough as that's 2am here (AEST)!

I'm happy to answer any questions here, or in a discussion if that works?

[2022-11-30 19:53] nilekhc commented on #885
I'll discuss this in the community call and update you here.