[2019-09-20 22:42] aramase opened #2 "CI"
- [ ] Image build and push
- [ ] run e2e tests

[2019-11-05 21:39] aramase opened #5 "Set cloud name"
Ability to set cloud name to enable azure provider to work in Sovereign cloud.

[2019-11-07 18:02] ritazh opened #6 "Remove binary"

[2019-11-08 22:41] aramase commented on #6
Closed with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/7

[2019-11-08 22:42] #6 closed

[2019-11-14 21:10] sudharsan89 commented on #5
Does the pod identity approach work on Sovereign Clouds for Azure Secret Provider?

[2019-11-26 01:15] #2 closed

[2019-11-27 19:28] aramase opened #13 "Remove key vault read requirement"
Ref: https://github.com/Azure/kubernetes-keyvault-flexvol/pull/128

[2019-12-02 17:38] aramase opened #15 "Add --version flag to show current provider version"
Add new `--version` flag that shows the current provider version, minimum supported driver version.

[code]

[2019-12-11 07:15] snobu opened #19 "spec.volumes[0]: Required value: must specify a volume type"
[code]

What did i miss? Not sure how to enable feature gates (`--feature-gates=CSIInlineVolume=true`) on the api-server in AKS, how is that handled?

k8s version: `1.15.5` (on AKS)

[2019-12-12 00:15] #15 closed

[2020-01-14 21:13] aramase opened #23 "Update e2e test suite based on changes in driver repo"

[2020-02-06 01:56] syedhassaanahmed opened #24 "Allow to specify an Alias for the file name"
Similar to the `keyvaultobjectaliases` property in the [flexvol implementation](https://github.com/Azure/kubernetes-keyvault-flexvol/pull/85), please expose property `objectAlias` in the CSI implementation.

This feature is needed for .NET Core nested configurations where [double underscores](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#key-per-file-

[2020-02-25 19:05] bdlb77 opened #25 "Add Visual Studio Code Remote Containers support to Azure Provider"
Configure the Azure Provider Repo to allow remote development through VS Code's Remote Containers extension.

This will allow VS Code to be used as a full-featured development environment for the Azure Provider to ease development and debugging for contributors.

[2020-03-10 22:18] aramase commented on #23
Closed with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/27

[2020-03-10 22:18] #23 closed

[2020-03-10 22:20] aramase commented on #19
@snobu Currently there is no way to add `--feature-gates` on AKS. This feature gate is enabled by default in 1.16. Would it be possible for you to try out secrets-store-csi-driver with a `1.16` cluster on AKS?

[2020-03-11 18:26] ritazh opened #29 "Windows support"

[2020-03-12 02:13] ritazh opened #30 "Add support for MSI"
System and user MSI https://github.com/Azure/azure-policy-kubernetes/blob/master/pkg/azureauth/azureauth.go#L70

[2020-03-12 22:45] aramase commented on #19
@snobu Please try it out on a 1.16 cluster. If you still have issues with 1.16 cluster feel free to reopen the issue.

[2020-03-12 22:45] #19 closed

[2020-03-12 23:25] ritazh commented on #30
cc @helayoty

[2020-03-12 23:35] helayoty commented on #13
/aasign @helayoty

[2020-03-13 15:49] ritazh commented on #13
@helayoty thanks for volunteering! 👼
Looks like https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/31 has been opened to fix this issue. Feel free to comment and review that PR!

[2020-03-13 22:57] helayoty commented on #30
/assign @helayoty

[2020-03-20 16:19] #13 closed

[2020-03-23 15:16] kwaazaar commented on #24
Yes, please add asap. In the kv flexvol implementation [it's mentioned that we're supposed to switch to this more future-proof solution](https://github.com/Azure/kubernetes-keyvault-flexvol/issues/175#issuecomment-597966365), but this simple, but essential feature is missing.

[2020-03-23 23:46] KSchlobohm opened #34 "Error creating Volume Mount using Azure AD Pod Identity"
After following the setup instructions for Azure AD pod identity I was able to confirm the pod is running with the correct identity by inspecting the mic logs.

After setting up the Azure provider, I was unable to attach a volume mount and am receiving the following error:

I have also confirmed that the User Assigned Managed Identity has Read Access to the secret I'm trying to mount.

[2020-03-24 00:39] aramase commented on #34
@KSchlobohm Can you please provide the following information -

1. What version of pod-identity are you using?
2. Output for `kubectl get azureassignedidentities --all-namespaces -o yaml`. Please make sure to REDACT all sensitive information.
3. Can you check the logs for NMI pod running on the same node as the application pod? The error logs in NMI should provide more detail as to why NMI is unab

[2020-03-24 14:33] KSchlobohm commented on #34
I used the [AAD Pod setup instructions](https://github.com/Azure/aad-pod-identity) for [v1](https://raw.githubusercontent.com/Azure/aad-pod-identity/master/deploy/infra/deployment-rbac.yaml)

Found an error in the NMI logs:

[azureassignedidentities.zip](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/4375809/azureassignedidentities.zip)

[2020-03-24 16:16] aramase commented on #34
@KSchlobohm From the files you provided, looks like MIC was successfully able to assign the identity to the underlying vmss (there is an AzureAssignedIdentity in `Assigned` state for pod `azure-vote-front-9b67ff6b-2dspv`). Can you confirm if the identity does in fact exist on the underlying node?

[code]

The above command will provide a list of identities currently on the node. If the identity do

[2020-03-24 17:27] KSchlobohm commented on #34
Here's the result:
{
  "principalId": null,
  "tenantId": null,
  "type": "UserAssigned",
  "userAssignedIdentities": {
    "/subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourcegroups/demo-k8s-keyvault-podidentity/providers/Microsoft.ManagedIdentity/userAssignedIdentities/voting-app": {
      "clientId": "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
      "principalId": "aaaaaaaa-bbbb-cccc-dddd-

[2020-03-24 18:41] aramase commented on #34
@KSchlobohm Can you share the NMI and MIC logs? From the output you posted above looks like the identity does exist on the node. Once you share the logs, I can go over it to ensure no pod-identity errors and then request assistance from the internal team for IMDS that's currently returning the `identity not found` error. Also, few other questions -

1. When was this identity created?
2. Does the U

[2020-03-24 19:20] KSchlobohm commented on #34
1. The identity was created yesterday.
2. The identity still exists
3. There are no other apps in the cluster.

[2020-03-27 18:25] ritazh opened #36 "Update e2e bootstrap to use aks-engine"
so that we can test Azure-specific features

[2020-03-27 18:34] ritazh opened #37 "Release signed binaries"
For windows, we need to sign the .exe and ps1 files.

[2020-03-27 18:35] aramase opened #38 "Update to official image build for windows"

[2020-03-27 18:40] #29 closed

[2020-04-02 18:35] bdlb77 opened #40 "Update Helm to Helm 3 in test environment"
Update to Helm v3 to remove dependency on Tiller.
- [ ] change the syntax of the `helm install` inside azure.bats
- [ ]  upgrade to helm 3 in e2e-bootstrap

[2020-04-07 00:50] #40 closed

[2020-04-08 16:42] helayoty commented on #30
#46

[2020-04-08 17:08] aramase commented on #38
Closed with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/44

[2020-04-08 17:08] #38 closed

[2020-04-08 23:43] #24 closed

[2020-04-13 21:04] bdlb77 opened #48 "Allow E2E tests to be run locally and in azure pipeline"
This can help contributors working on the Azure Provider locally make sure any changes can be tested effectively in an e2e environment.

[2020-04-15 21:49] aramase commented on #34
@KSchlobohm I think the cluster with the issue has been deleted. Please feel free to reopen if you still have any issues getting started.

[2020-04-15 21:49] #34 closed

[2020-04-18 00:16] #5 closed

[2020-04-19 02:47] syedhassaanahmed commented on #24
@aramase Does the [deployment.yaml](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/8380dce4519041f1a4b41af1d8f43e5d35b20170/deployment/provider-azure-installer.yaml#L20) need to have image version bumped in order to use this feature?

[2020-04-20 16:00] aramase commented on #24
@syedhassaanahmed The [PR](#39) to add this feature has been merged. This will be available in the next release 0.0.5 which is planned for this week.

[2020-04-20 17:58] syedhassaanahmed commented on #24
Thanks @aramase It would be good to tag the issue/PR with the planned release version label.

[2020-04-20 18:11] ibattat opened #53 "pod has unbound immediate PersistentVolumeClaims"
Same issue as in k8s v1.15,
As I've seen in the open incident the solution was to upgrade k8s version.
still with the same issue.

Pod events:
pod has unbound immediate PersistentVolumeClaims (repeated 4 times)

PVC in status Pending

This is the configuration

[code]

[code]
kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deployment
  namespace: <ns_name>
spec:
  replicas: 2
  strate

[2020-04-21 04:53] ritazh commented on #53
@ibattat what version of the secrets store csi drver and the azure provider are you using?

[2020-04-21 05:46] aramase commented on #24
@syedhassaanahmed I've added milestones for the issues and PRs tracked for the next release.

[2020-04-21 05:48] aramase opened #55 "add helm charts for installing azure provider"
Add helm charts that consume the driver helm charts as dependency chart. This will enable single helm command installation of the driver and the azure keyvault provider.

[2020-04-21 11:15] #53 closed

[2020-04-22 02:54] #30 closed

[2020-04-23 15:47] #36 closed

[2020-04-27 20:52] ritazh opened #59 "Better readme"
- [ ] table of content
- [ ] demo to show how the solution works
- [ ] diagram to show how diff components work together

[2020-04-27 20:53] ritazh opened #60 "Add example for sync k8s secrets"

[2020-04-27 20:54] aramase opened #61 "Support prefix"
Add support to inject all secrets with a specific prefix into the same pod

[2020-04-28 13:39] aelmanaa opened #63 "kubernetes-keyvault-flexvol vs secrets-store-csi-driver-provider-azure"
Hello,

thank you for this project. Just got few questions:

1. Is  kubernetes-keyvault-flexvol being depcreated for this project?
1.  Does this project contain all the functionalities of kubernetes-keyvault-flexvol + the following bug fixes/enhancements?
1.  Can we already use this project in production?  or we have to stick with kubernetes-keyvault-flexvol for a while?

thanks a lot

[2020-04-28 16:22] ritazh commented on #63
Thanks for the question @aelmanaa

Yes. As flexvol is getting deprecated in Kubernetes, we are deprecating kubernetes-keyvault-flexvol in favor of secrets-store-csi-driver-provider-azure.

Yes. As soon as we have completed feature parity, we will add the `deprecated` label to the  kubernetes-keyvault-flexvol  project readme. Please expect this to happen some time this week.

Since this project is

[2020-04-29 11:47] HoussemDellai commented on #63
Thank you for the answer.
I think this should be mentioned on kubernetes-keyvault-flexvol github page !

[2020-04-29 14:32] chintanr97 opened #64 "Not able to create a secretproviderclasses resource"
If I am not wrong, we must use the following command to create the secretproviderclasses resource, right?

`kubectl apply -f <resource-filename>.yaml`

But when I use sample given in the README to create a new secretproviderclasses resource, I get the following error:

error: unable to recognize "resource-filename.yaml": no matches for kind "SecretProviderClass" in version "secrets-store.csi.x-k8s

[2020-04-29 14:56] ritazh commented on #64
Hi @chintanr97 can you please check if you have the `SecretProviderClass` crd installed in the cluster?
[code]
If not, please checkout https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver

[2020-04-29 16:51] HoussemDellai opened #66 "Client does not have permission to perform action 'Microsoft.ManagedIdentity/userAssignedIdentities/assign/action'"
I followed the steps for using Pod Identity and went into this error:
**$ kubectl logs mic-76dd75ddf9-8g8k8**
E0429 15:46:14.771807       1 vmss.go:73] Failed to update VM with error compute.VirtualMachineScaleSetsClient#Update: Failure sending request: StatusCode=403 -- Original Error: Code="LinkedAuthorizationFailed" Message="The client '00000000-28c9-4944-acc4-a08277f0044b' with object id '0000

[2020-04-29 17:01] aramase commented on #66
@HoussemDellai Did your cluster service principal have the correct role assignments, specifically `Managed Identity Operator` on the identity?

[code]

[2020-04-29 17:06] aramase commented on #66
[code]

It looks like the cluster service principal does not have permission to assign the identity to the VMSS.

Could you try running the following commands to grant your service principal Managed Identity Operator role under your resource group scope.

[code]

[2020-04-29 17:21] HoussemDellai commented on #66
Hi @aramase
<service principal id> should be the SPN for my AKS cluster ? i.e the one from here?
  "servicePrincipalProfile": {
    "clientId": "**00000000-d4ae-4efe-8ffa-457eb0313668**"
  },

[2020-04-29 17:22] aramase commented on #66
@HoussemDellai that's right!

[2020-04-29 17:29] HoussemDellai commented on #66
And that works :) Thank you so much @aramase

[2020-04-29 17:33] aramase commented on #66
That's great! Closing this issue for now but feel free to re-open it if you have any other issues.

[2020-04-29 17:33] #66 closed

[2020-04-29 20:03] #55 closed

[2020-04-29 20:13] ritazh opened #68 "Automate release notes"

[2020-04-29 20:24] aramase opened #69 "Add issue templates"

[2020-04-29 23:29] #69 closed

[2020-04-30 04:40] chintanr97 commented on #64
Hi @ritazh I installed the driver. When I start to deploy the sample yaml file to validate if the driver is working correctly, I get the following error:

[code]

I am using the same yaml file as specified in
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/nginx-pod-secrets-store-inline-volume-secretproviderclass.yaml

[2020-04-30 05:40] chintanr97 commented on #64
Hi @ritazh I solved that using the suggested steps. Thanks.

But now when I try to deploy my app, I wish to mount an "Elliptic Curve" Key in the application pod. But I am getting this error for that:

[code]

I was getting this error with the Flex Volume too. I switched my testing to "secrets-store-csi-driver" for that. But again facing the same issue.

[2020-04-30 10:16] chintanr97 commented on #64
Thanks @ritazh that solved the issue.

[2020-04-30 10:16] #64 closed

[2020-04-30 10:18] chintanr97 opened #71 "Not able to mount EC Key in application pod"
Hi, when I am trying to deploy my app, I wish to mount an "Elliptic Curve" Key in the application pod. But I am getting this error for that:

[code]

I was getting some error with the Flex Volume too. I switched my testing to "secrets-store-csi-driver" for that. But again facing a similar issue.

[2020-04-30 14:53] ankitbko opened #72 "Incorrect link in `helm install` in README"
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/README.md

There is typo in the Readme which leads to failure of  `helm install`.

![image](https://user-images.githubusercontent.com/3169316/80725183-59cc5880-8b20-11ea-8245-d3a7d440993a.png)

[2020-04-30 15:46] #72 closed

[2020-04-30 16:30] aramase commented on #71
We're currently only returning RSA Modulus content of key - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/pkg/azure/provider.go#L430-L431

I think we need to check the key type and return the appropriate key.

[2020-04-30 20:48] aramase commented on #71
@chintanr97 Currently, the azure keyvault provider only supports RSA keys.  It writes the RSA modulus to the file. Can you provide more info on what format you expect the EC key to be written in?

I've added a fix - https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/74 to ensure there there are panics for currently non-supported key types.

[2020-05-01 17:41] aramase opened #75 "Use distroless as base image"
- Use [distroless](https://github.com/GoogleContainerTools/distroless) base image for pod-identity components

[2020-05-01 19:41] erick-thompson opened #76 "Example for certificates would be nice"
I would like to use this provider so that my ingresses can use certificates stored in KV for TLS. All the examples currently show mounting secrets as volumes, which doesn't help me.

Is k8s secrets of type TLS supported? If so, is there an example?

[2020-05-01 19:49] aramase commented on #76
@erick-thompson The PR to support creating k8s secret has been merged in the driver - https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/186

This is doc PR with example on how to use the feature with nginx ingress controller - https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/192

This feature will be available with the next release of driver v0.0.10 which is schedule

[2020-05-01 21:18] erick-thompson commented on #76
Excellent, thank you!

[2020-05-01 21:18] #76 closed

[2020-05-03 13:45] ibattat opened #79 "azure-csi-driver pkcs12 certificate"
**What steps did you take and what happened:**
I have configured a persistent volume based on azure-csi-driver.
When fetching a certificate from Azure KeyVault I receive the wrong format.

**What did you expect to happen:**
receive format suitable for Nginx HTTPS configuration

**Anything else you would like to add:**
PEM cert type working fine, but still don't know how to convert the cert file af

[2020-05-03 17:39] HoussemDellai opened #80 "AuthN to Key Vault from an AKS using "Managed Identity" instead of SPN"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I create an AKS that uses Managed Identity instead of SPN, the value for .servicePrincipalProfile.clientId is "msi"
[code]
Thus, assigning the role doesn't work:
[code]
But there is another section in AKS that have "principalId":
[code]
Should I use $aks.identity.principalId instead of $aks.se

[2020-05-03 23:06] anandchugh commented on #80
For AKS with managed identity we can use to get the principal id
`az aks show -g <AKSResourceGroup> -n <AKSClusterName> --query identityProfile.kubeletidentity.clientId -otsv`

and the perform below two role assignments

`az role assignment create --role "Managed Identity Operator" --assignee <PrincipalID> --scope /subscriptions/<SubscriptionID>/resourcegroups/<ClusterResourceGroup>
az role assign

[2020-05-04 04:50] chintanr97 commented on #71
Currently, I am doing the following from Azure Portal UX:

1. Creating an EC key of P-256 curve type.
2. Creating a secret provider class as follows:

[code]
The `internalkey1` object is that key. I tried this today again with a completely new AKS cluster (v 1.16.7). What I expect is, if I am creating an exportable EC key, I would like to mount it in the pod, preferably in PEM format.

[2020-05-04 13:57] HoussemDellai commented on #80
That worked for me.
Million thanks :)

[2020-05-04 14:01] ankitbko commented on #59
CSI driver works perfectly in [KIND](https://kind.sigs.k8s.io/) using Service Principle. Let me know if you need a  doc or sample around it.

[2020-05-04 16:03] ritazh commented on #79
This is probably a duplication of https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/76. Please see response: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/76#issuecomment-622536782

[2020-05-04 16:07] ritazh commented on #63
Closed via https://github.com/Azure/kubernetes-keyvault-flexvol/pull/191 Added deprecation message to kubernetes-keyvault-flexvol project README.

[2020-05-04 16:07] #63 closed

[2020-05-04 16:09] ritazh commented on #59
@ankitbko yes that would be great! 👏

[2020-05-04 16:48] ibattat commented on #79
It is not related.
When I am getting a certificate from azure key vault in PKCS#12 format it's not working

[2020-05-04 16:49] aramase commented on #71
@chintanr97 The fix to prevent the panic has been merged. It'll be part of the next release `0.0.6`. The azure keyvault provider currently only support RSA keys.

[2020-05-04 17:54] ritazh commented on #79
@ibattat can you pls share the following:
- How the cert was generated, script used
- How the cert was imported into Azure Key Vault
- Your `SecretProviderClass` resource yaml

[2020-05-04 18:15] ibattat commented on #79
@ritazh  the certificate was generated through azure portal and not a script.
Didn't upload anything, and the certificate type is PKCS#12 and not PEM.

I took the secret provider class from the Readme documentation

[2020-05-05 04:16] chintanr97 commented on #71
Got it thanks! When you say Azure Key Vault provider, I guess you are talking about it in context of the secrets store CSI driver, right?

So are you planning anytime in future to allow the mounting of EC keys in the application pods through this driver? As the Key Vault already has the facility to have EC type keys and often people would ask for it if they would be using this driver.

[2020-05-05 16:31] iamsoorya opened #84 "Ho to load secrets in to environment variable on Linux POD"
I am using the below things. However, I need to be able to load these secrets onto env variable. It is not working at all. Could you please help us how to achieve that?

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: nginx-flex-kv
  name: nginx-flex-kv
  namespace: ns-gdprhub-kc
spec:
  containers:
  - name: nginx-flex-kv
    image: nginx
    imagePullPolicy: Always
    command: ["sh", "-c"

[2020-05-05 16:33] iamsoorya commented on #84
---

apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-scp-gdprhub-kc
  namespace: ns-gdprhub-kc
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "{{kubeletid_clientId}}"
    keyvaultName: "{{key_vault}}"
    #cloudName: "AzurePublic"
    objects:  |
      array:
        -

[2020-05-05 16:38] iamsoorya commented on #84
Can you please help asap we need to do pre prod deploymnet..

[2020-05-05 16:58] ritazh commented on #71
@chintanr97 can you please provide details of how you plan to use the key data? Specifically what data do you need from: https://github.com/Azure/azure-sdk-for-go/blob/master/services/keyvault/v7.0/keyvault/models.go#L2055-L2086

[2020-05-05 17:55] ritazh commented on #84
Can you PTAL at: https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-sync-with-kubernetes-secrets looks like you are missing the `secretObjects` fields

[2020-05-05 18:23] #79 closed

[2020-05-06 05:11] chintanr97 commented on #71
The key data will be basically used to sign the transaction. In particular to HLF, we expect key files to be in PEM format.

From the given set of code lines in your comment, we need the private component of EC certificate object. This means that a sample secret provider class resource file could content like:

[code]

When the "type" is set to key, we would expect the <alias1> file to have the pr

[2020-05-06 05:24] bhardwahnitish19 commented on #71
@chintanr97 I agree, as we have three options to choose for export i.e. **cert,key & secret**. I think it will be great if we can have following behavior:

1.  **Cert**: Exports just _public key of the certificate_ in pem format
2.  **Key**: Exports just _private key of the certificate_ in pem format
3.  **Secret**: Exports _public & private key_ in pem format

This will really help anyone in futu

[2020-05-06 05:56] aramase commented on #71
@chintanr97 @bhardwahnitish19 Thank you for the detailed comments. This is really helpful. We'll take these into consideration as we make the necessary changes.

[2020-05-06 18:07] aramase commented on #71
For the EC key, shouldn't it be the `X` and `Y` components from [here](https://github.com/Azure/azure-sdk-for-go/blob/master/services/keyvault/v7.0/keyvault/models.go#L2055-L2086)?

[2020-05-07 05:32] chintanr97 commented on #71
`X` and `Y` are the public key components of the elliptic curve key (signifying the point on the chosen elliptic curve). The private key is defined by "D", the number of times we perform EC operations on that point. Now, we must explore how to export it as PEM format.

[2020-05-07 08:40] ezYakaEagle442 opened #88 "AKS with Pod Identity integration failed to get key vault token: nmi response failed with status code: 403"
**What steps did you take and what happened:**

Install CSI driver
[code]
Create key-Vault
[code]
Create an Azure Identity
[code]
Deploy demo app
[code]

Test
[code]

**What did you expect to happen:**

I would expect demo pod to be up & running

[code]
**Anything else you would like to add:**

**Which access mode did you use to access the Azure Key Vault instance:**
[e.g. Service Principal, Pod I

[2020-05-07 10:22] alsastre opened #89 "Support for file encoding"
**Describe the solution you'd like**
Right now when you specify a secret it is always downloaded using `utf-8` encoding. Something like `objectencoding` could be added in order to be able to download correctly other file encodings.

This would be useful to upload/download  binary files or jks files which cannot be converted to utf-8 [More info](https://stackoverflow.com/a/22500357)

[2020-05-07 12:57] ezYakaEagle442 commented on #88
@aramase , I have also #34
I have checked the assigned identities and I can see 3 of them but not the csi demo one I would have expected.

[code]

[2020-05-07 13:13] ezYakaEagle442 commented on #88
The Identity $ResourceID was not correctly set, after fixing this I still got the same 403 error  :
[code]
MIC logs shows :
[code]
E0507 13:06:25.093009       1 mic.go:899] Ignoring azure identity staging/vsegov-csi-demo-pod-identity, error: Invalid resource id: "", must match /subscriptions/<subid>/resourcegroups/<resourcegroup>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<name>

[

[2020-05-07 14:49] ezYakaEagle442 commented on #88
see

- [https://github.com/Azure/aad-pod-identity/issues/583](https://github.com/Azure/aad-pod-identity/issues/583) ...

- [https://github.com/Azure/aad-pod-identity#v160-breaking-change](https://github.com/Azure/aad-pod-identity#v160-breaking-change)

also :

# Assign Reader Role to new Identity for your keyvault ==> looks lowercase
az role assignment create --role Reader --assignee <principalid>

[2020-05-07 16:40] bq1756 opened #90 "Sync with Kubernetes Secrets not working"
**What steps did you take and what happened:**
1. Install csi-secrets-store-provider-azure
`helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --generate-name --namespace kube-system`

2. Deploy secretproviderclass
`kc apply -f secretproviderclasses-sync-k8s-secrets.yaml`
Sample yaml:
---
apiVersion:` secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadat

[2020-05-07 21:09] ritazh commented on #90
Hi @bq1756 thanks for reporting this issue. Can you please try the followingt:
1. Can you please verify that you are using the latest release of secrets store CSI driver? The image tag should be `docker.io/deislabs/secrets-store-csi:v0.0.10`
2. Is the base64 decoded value `from_key_vault` different from what you stored in key vault?

[code]
3. Here is the sequence the driver creates the k8s secret

[2020-05-08 14:00] #88 closed

[2020-05-08 15:24] jrudley commented on #90
I cannot get this to work either. Documentation example would be great. I am referencing https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/vault_synck8s_v1alpha1_secretproviderclass.yaml

[2020-05-08 17:13] ritazh commented on #90
@jrudley PTAL https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-sync-with-kubernetes-secrets

Here is the azure provider sample used in the e2e:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/azure_synck8s_v1alpha1_secretproviderclass.yaml
and
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/nginx-de

[2020-05-08 19:31] jrudley commented on #90
@ritazh I am using image 0.0.5. I am assuming you need 0.0.10 for these examples?

[2020-05-08 19:39] bq1756 commented on #90
@ritazh I have it working!  2 issues.
1. I was creating the secret via kubectl manifest.  There is no need to perform this step.  The secret is automatically created when a pod is deployed that calls the secretproviderclass.
2. Also, I mis-typed the secretProviderClass: value in the pod deployment yaml.

[2020-05-08 19:39] #90 closed

[2020-05-09 02:27] jrudley commented on #90
@ritazh It works with 0.0.10. Thanks!

[2020-05-09 08:12] #80 closed

[2020-05-11 16:19] jrudley commented on #84
I wrote an example:
`---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "mssql-config-map"
  namespace: default
  labels:
    app: mssql
data:
  MSSQL_PID: "Developer"
  ACCEPT_EULA: "Y"
---
apiVersion: "v1"
kind: "Service"
metadata:
  name: "mssql" #$(service name).$(namespace).svc.cluster.local
  labels:
    app: mssql
spec:
  clusterIP: "None"
  ports:
  - port: 1433
    name: "mssql"
  s

[2020-05-11 16:36] aramase commented on #75
As distroless doesn't contain, it's currently not possible to switch to using distroless for the Azure Keyvault provider image as the image installs the provider binary using a script.

[2020-05-11 21:28] aramase opened #91 "Add user agent"
Add http userAgent header to all requests with value `csi-secrets-store-provider-azure`.

[2020-05-11 21:31] bramvdklinkenberg opened #92 "Expose secret as env variable"
**Describe the solution you'd like**
I would like to be able to sync Key Vault secrets and expose them as an environment variables as well. As far as I know it is only possible to expose them via a volume, but a lot of applications still use environment variables (even thought that maybe not best practice).

**Anything else you would like to add:**
No

**Environment:**

- Secrets Store CSI Driver

[2020-05-11 21:55] aramase commented on #92
@bramvdklinkenberg This feature is already supported with the latest version of `secrets-store-csi-driver` and Azure Keyvault Provider.

PTAL at this doc for how to: https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-sync-with-kubernetes-secrets

Here is the azure provider sample used in the e2e:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/te

[2020-05-12 00:50] NillsF opened #93 "Possibility to disable secret caching?"
Hi,

With typical Kubernetes secrets, [mounted Secrets are updated automatically](https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically).

I noticed that with the CSI-driver, updating the secret in Key Vault, doesn't make the secret change in the filepath. In my (limited) testing, I was able to get the new version of a secret loaded after recreating th

[2020-05-12 14:55] lgmorand commented on #92
@aramase @ritazh should be definitely documented here as well, at least a small paragraph pointing to the great links you gave Anish :)
As I remember, it was clearly a "by design" limitation for flexvolume (https://github.com/Azure/kubernetes-keyvault-flexvol/issues/28) and people would not notice this new possibility.

[2020-05-12 15:41] ritazh commented on #92
Will definitely do that. Thanks everyone for the feedback!

[2020-05-12 15:50] lgmorand opened #94 "Error in documentation (pod identity) ?"
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/pod-identity-mode.md

On step 7, we add "usepodidentity" to secretProvider class, which seems logical.
but on step 6 **b**. it says to had "usepodidentity: true", while we are talking about the deployment. Do we really need to had it to the deployment? If yes, at which level. my different tries make k8s grumpy

[2020-05-12 16:40] aramase commented on #94
@lgmorand It's only required in the `secretProviderClass` - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass_podid.yaml#L8. It's not required to be in the deployment. Will remove that step 6b to avoid confusion.

[2020-05-12 17:08] aramase commented on #93
@NillsF `secrets-store-csi-driver` currently doesn't automatically reload when secrets/keys/certs are updated in Key Vault. We have an issue open for this enhancement - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/125.  Feel free to chime in on the issue.

[2020-05-12 17:18] #94 closed

[2020-05-12 22:03] #48 closed

[2020-05-13 02:13] #92 closed

[2020-05-13 11:37] tomkerkhove opened #97 "Provide more native configuration for secrets/keys in SecretProviderClass"
**Describe the solution you'd like**
The current configuration feels a bit odd with the `objects.array` which is a mix of secrets & keys.

Example from README:
[code]

While it would feel more natural to be able to use this approach:

[code]

**Anything else you would like to add:**
I'm not an expert in Kubernetes extensibility so it might be because of a technical limitation, but would prefer the

[2020-05-13 11:40] tomkerkhove commented on #93
What if we could use a sidecar to notify the Azure Key Vault provider for Secret Store CSI driver by using Event Grid? https://docs.microsoft.com/en-us/azure/event-grid/event-schema-key-vault

We use a similar approach for non-Kubernetes workloads but should be an opt-in; if that's feasible ofcourse - I'm not a secret store expert.

https://background-jobs.arcus-azure.net/features/security/auto-in

[2020-05-13 16:04] lgmorand commented on #92
@aramase small question for my own curiosity.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/nginx-deployment-synck8s-azure.yaml
It seems that we need the VolumeMount to be present to get it work (if not: "secret not found"). could not the ENV + Volumes part sufficient ?

I don't understand how the sample works

`apiVersion: secrets-store.csi.x-k8s.io/v1al

[2020-05-13 19:45] aramase commented on #71
I've opened a PR - https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/98 to add EC key support. These changes also mimics the exact behavior as `az keyvault <secret | cert | key> download ...`

1. **cert**: Exports just the certificate in PEM format
2. **secret**: Exports the certificate and private key in PEM format
3. **key**: Exports the public key in PEM format

[2020-05-13 20:15] swgriffith opened #99 "Kubernetes Secret Sync without volume mount"
**Describe the solution you'd like**
It appears that for the secret sync to work, you first need to have a pod that mounts the kv volume to trigger the secret creation. It would be great if the secret creation could be triggered off of the creation of the SecretProviderClass instead. I assume this is just a requirement of the CSI driver itself, so maybe this is outside of the intent of the impleme

[2020-05-14 01:37] ritazh commented on #92
The deployment yaml you linked is using
[code]
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/nginx-deployment-synck8s-azure.yaml#L36

which is this file (the one you pasted is for Hashicorp Vault): https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/azure_synck8s_v1alpha1_secretproviderclass.yaml

As you can see below, t

[2020-05-14 04:26] chintanr97 commented on #71
@aramase I just saw the code in the PR. For the types "cert" and "secret", I think it fulfills our need as well. For the type "key", its good to keep it parallel to `az keyvault` command, but what I feel is, in general "key" type suggests that the user is getting the "private key" back (which actually also constitutes the public key in it). We can reach out to Key Vault team for better feedback on

[2020-05-14 04:37] bhardwahnitish19 commented on #71
@chintanr97 I completely agree with you. It's an overhead to decouple _public & private key_ from _secret_.  It would be great if we can get _private key in pem_ format with _key_ option.

Importing just a public key would help in cases where some dependent servers needs to get a hold over public key of another servers for mTLS or something else.

[2020-05-14 06:49] lgmorand commented on #99
Do you get also the "secret not found" when you try to do it ? I get it, but not constantly

[2020-05-14 06:51] lgmorand commented on #97
you can't duplicate "secrets:" key. that's how arrays work in yaml, looks at "container" behavior.
but I do agree, key names are not obvious

[2020-05-14 07:04] lgmorand commented on #92
I understand the links between the components, but someone just opened the same issue than my point: #99

I successfully pinpointed the issue

- I have 1 secretProviderClass
- I have 1 pod mapping Env, but without volumeMounts property

[code]

As it, it **does not work**, never. I get **CreateContainerConfigError** because secret not found

Workaround 1:
If I had volumeMounts to the same pod, it

[2020-05-14 07:20] tomkerkhove commented on #97
Sorry, it was a copy paste mistake - I've updated the sample to use `keys` instead

[2020-05-14 16:20] aramase commented on #71
@chintanr97 @bhardwahnitish19 I will check with the key vault team to see what their suggestion is and also why `az keyvault key download` doesn't provide the private key.

[2020-05-14 18:58] travis-sobeck opened #101 "failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers"
Followed directions from https://github.com/Azure/secrets-store-csi-driver-provider-azure#usage
Installed fresh today on a new cluster (v1.17.5 via Rancher) with:
helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --generate-name
(also tried:
helm install csi-secrets-store secrets-store-csi-driver/secrets-store-csi-driver
kubectl apply -f https://raw.githubusercontent.c

[2020-05-14 19:18] aramase commented on #101
@travis-sobeck Can you list the csidrivers running on the cluster?

[code]

[2020-05-14 20:13] travis-sobeck commented on #101
PS C:\Users\travis\Documents\GitHub> kubectl get CSIDriver

NAME                       CREATED AT
secrets-store.csi.k8s.io   2020-05-14T18:24:16Z
PS C:\Users\travis\Documents\GitHub> kubectl describe csidriver secrets-store.csi.k8s.io

Name:         secrets-store.csi.k8s.io
Namespace:
Labels:       <none>
Annotations:  <none>
API Version:  storage.k8s.io/v1beta1
Kind:         CSIDriver
Metadata:

[2020-05-14 20:16] travis-sobeck commented on #101
install.go:148: [debug] Original chart version: ""
install.go:165: [debug] CHART PATH: C:\Users\travis\AppData\Local\Temp\helm\repository\csi-secrets-store-provider-azure-0.0.6.tgz

client.go:87: [debug] creating 7 resource(s)
NAME: csi-secrets-store-provider-azure-1589487363
LAST DEPLOYED: Thu May 14 15:16:04 2020
NAMESPACE: default
STATUS: deployed
REVISION: 1
TEST SUITE: None
USER-SUPPLIED VALU

[2020-05-14 20:19] travis-sobeck commented on #101
I have not configured an storageclasses for this cluster yet if that matters

[2020-05-14 20:36] aramase commented on #101
@travis-sobeck Could you check the csi-driver logs?

You can get the driver pods by running -
[code]

Then view the logs for the pod
[code]

[2020-05-14 20:41] travis-sobeck commented on #101
PS C:\Users\travis\Documents\GitHub> kubectl get pods -l app=secrets-store-csi-driver

NAME                                                              READY   STATUS    RESTARTS   AGE
csi-secrets-store-provider-azure-1589487363-secrets-store-jfc5g   3/3     Running   0          20m
csi-secrets-store-provider-azure-1589487363-secrets-store-sxvjm   3/3     Running   0          20m
csi-secrets-stor

[2020-05-14 20:51] aramase commented on #101
@travis-sobeck From the logs you posted for `node-driver-registrar`, looks like kubelet never finds /registration/secrets-store.csi.k8s.io-reg.sock.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/23eaef9b463bdbe0433549cd65d8dde55ac35776/deploy/secrets-store-csi-driver.yaml#L99-L102

Does your kubelet use the same path?

[2020-05-14 21:00] travis-sobeck commented on #101
When I fist tried to get this going I ran into the error "MountVolume.SetUp failed for volume "registration-dir" : hostPath type check failed: /var/lib/kubelet/plugins_registry/ is not a directory"
and the csi driver pods wouldn't start, then I found this https://github.com/rancher/rke/issues/1151
and added the following to the k8s config file
`kubelet:
      extra_binds:
        - "/var/lib/kubel

[2020-05-14 21:05] travis-sobeck commented on #101
does that answer your question?  I'm not a k8s expert quite yet :)

[2020-05-14 21:07] aramase commented on #101
@travis-sobeck can you try this workaround - https://github.com/rancher/rke/issues/1151#issuecomment-466113635

You'll probably need this one too -
[code]

[2020-05-14 21:12] travis-sobeck commented on #101
I'll give it a go

[2020-05-14 21:29] travis-sobeck commented on #101
I made the change, clear everything out and re-applied. same error
`MountVolume.SetUp failed for volume "secrets-store-inline" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers`

logs the same too
PS C:\Users\travis\Documents\GitHub> kubectl logs $pns[2] node-driver-registrar
I0514 21:20:13.495206

[2020-05-14 21:33] travis-sobeck commented on #101
it gets a response when it asks for plugin info `GRPC response: {"name":"secrets-store.csi.k8s.io","vendor_version":"v0.0.10"}`
so it knows it exits?
After GRPC error:
it seems to complete `Registration Server started at: /registration/secrets-store.csi.k8s.io-reg.sock`  is it a timing issue?

[2020-05-14 21:41] aramase commented on #101
@travis-sobeck It never gets a response back because kubelet doesn't recognize the `/var/lib/kubelet/plugins` or `/registration/secrets-store.csi.k8s.io-reg.sock`

A successful log looks like this -
[code]

From the logs you posted, the request just hangs because kubelet is probably looking for the socket in a different path.

[2020-05-14 22:00] travis-sobeck commented on #101
I know this isn't super amazing to look at, but maybe it has some useful info
![image](https://user-images.githubusercontent.com/20098093/81990217-564ace00-9604-11ea-8cae-c6ce580d630f.png)

[2020-05-14 22:11] aramase commented on #101
@travis-sobeck What is the root-dir that kubelet is using for this cluster? You should be able to hop on any node and run `ps aux | grep kubelet`.The `--root-dir` might be configured to a different path.

I believe RKE starts kubelet with a different root dir -
[code]

[2020-05-14 22:20] travis-sobeck commented on #101
--root-dir=/opt/rke/var/lib/kubelet
I saw something about that in another issue with rke but can't find it now

[2020-05-14 22:22] travis-sobeck commented on #101
https://github.com/rancher/rke/issues/1585 but not sure if its %100 related

[2020-05-14 22:38] aramase commented on #101
@travis-sobeck Can you edit the daemonset to change all references of `/var/lib/kubelet` to `/opt/rke/var/lib/kubelet` in the driver?

[2020-05-14 23:14] travis-sobeck commented on #101
sure, I can give that a go

[2020-05-14 23:37] aramase commented on #101
@travis-sobeck Also, please note, changing the will enable mount to work, but the secret creation will still fail. The driver currently only understands `/var/lib/kubelet`. I've opened an issue to track this change - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/206

[2020-05-14 23:42] travis-sobeck commented on #101
That worked! Thanks.  Would it be worth adding that as a path option in values.yaml ??
it created the secret just fine, i was able to decode it, got what I expected

[2020-05-14 23:45] aramase commented on #101
@travis-sobeck Yeah, I've opened the [issue](kubernetes-sigs/secrets-store-csi-driver#206) to track that change. I'll get that added.

[2020-05-14 23:47] travis-sobeck commented on #101
Thanks.  Will updating the path negate the need to add those extra binds to the k8s config?
I guess I can roll back and test it.

[2020-05-14 23:49] aramase commented on #101
@travis-sobeck The driver updates the status of `SecretProviderClass` after successfully creating the secret. It gets the podUID from the mount target path and adds that to the status field. In RKE cluster, as the path starts with `/opt/rke/*`, it'll update the status with wrong data. I'll get that fixed with PR to allow kubelet path to be configurable.

[2020-05-15 00:34] ritazh commented on #101
Just FYI, create secret works because podUID in `NodePublishVolume` comes from the volume's attribute. Delete secret during unmount will fail as `getPodUIDFromTargetPath` assumes the root dir.

[2020-05-15 00:41] travis-sobeck commented on #101
@ritazh thanks.
For reference to anyone else that finds this, in the end I didn't need to add the extra_binds
I just had to Update the secrets-store-csi-driver.yaml file to replace any reverence to `/var/lib/kubelet` to `/opt/rke/var/lib/kubelet`
Then after running
 - `helm install csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --generate-name`
 - `kubectl delete daemonset -l ap

[2020-05-16 10:08] HoussemDellai opened #102 "What is the best option to access KV: Pod Identity or VMSS"
Between the four modes for accessing a Key Vault instance, what is the best option ?
When to use what ?

The first option for SPN seems to be clearly not recommended.
Pod Identity will give access to Key Vault to only the Pod, not to all the VMs/Nodes in VMSS, right ?
Until today, AKS supports only System Managed Identity, does that mean I cannot use option number 3 ?

[2020-05-17 17:00] ibattat opened #103 "certificate chain in the wrong order (nginx failed to start)"
**What steps did you take and what happened:**
Integrate k8s with AzureKeyVault, when fetching a PEM format certificate from the Vault the certificate chain is in the wrong order.
It seems that the server certificate is the last one in the list.
nginx is failed to start with the following msg:
nginx: [emerg] SSL_CTX_use_PrivateKey_file("/etc/nginx/intezer.pem") failed (SSL: error:0B080074:x509 cer

[2020-05-17 21:17] iamsoorya commented on #84
Thank you. I shall try this.

[2020-05-18 13:25] tanzencoder commented on #99
It would be nice to not have to use a volume mount to get the sync to work. In my case I am trying to use virtual nodes in AKS and I can't schedule a pod on a virtual node when I am using the secrets provider.

[2020-05-18 16:22] aramase commented on #71
The suggestion from the Key Vault team is to keep the behavior to what the user directly interacting with Key Vault would observe. Having a different behavior would result in confusion for users adopting the secrets store solution after directly interacting with Key Vault. The current behavior was created based on user feedback.

@chintanr97 @bhardwahnitish19 Let me what you think?

[2020-05-18 16:52] chintanr97 commented on #71
Yes, I think if the Key Vault team has kept according to user feedback, then it is good to keep it parallel to Key Vault `az cli` command.

One suggestion I can have for secret-store CSI driver is to add a new type, let's say `key-priv` to fetch private key alone. But I feel, that would again diverge from the path of Key Vault functionalities. So you can give your thoughts here!

For now, we can h

[2020-05-18 17:02] pplavetzki commented on #71
@aramase @chintanr97 Hi I just want to see if I understand what the workflow should look like.

1. I create an EC Certificate, using openssl (as shown in your PR).
2. Upload that certificate as a PFX into AKV
3. Mount the cert as a secret to get both the the Private Key and Cert in pem formats in the same file.
4. Split the EC Cert using code to get the Private Key and Cert as separate entitities.

[2020-05-19 01:48] #59 closed

[2020-05-19 02:59] sainipankaj90k opened #104 "How to create secret of type kubernetes.io/tls? Please add example for sync secrets of type kubernetes.io/tls with certificate type required."
First of all thanks for this project, I was looking for this exact scenario for my service.

I just followed the guidelines mentioned above and everything works as expected.
Also, the section '[OPTIONAL] Sync with Kubernetes Secrets' works as expected for type 'Opaque'. **But, 'Sync with Kubernetes Secrets'' is not working for secret type 'kubernetes.io/tls'.**

Refer config below '**SecretProvide

[2020-05-19 04:26] chintanr97 commented on #71
@pplavetzki Yes. That is almost parallel. We are uploading the certificate in let's say, PEM format for now.

So, our requirement was to avoid step 4 by obtaining certificate and private key in PEM formats in different files, when asked for, using type="cert" and type="key" respectively. But as the thread suggests, Key Vault itself does not mirror this functionality for now!

[2020-05-19 14:57] travis-sobeck commented on #101
@aramase I see your change got added to the "upstream" helm [Change](https://github.com/kubernetes-sigs/secrets-store-csi-driver/commit/03f6387c075c5f3ed002aeba1c4f799d3b125f36)
 but I don't see the change reflected in the csi-secrets-store-provider-azure helm chart?
Thanks

[2020-05-19 15:57] aramase commented on #101
@travis-sobeck The changes have been merged, but we have not yet cut a release with for the helm charts and driver with the changes included. We'll cut a new release this week and then you should be able to try it out with the official helm charts.

[2020-05-19 16:16] aramase commented on #102
@HoussemDellai

That's right.

aad-pod-identity will assign/un-assign the identity on the underlying VM/VMSS based on where the pod lands. The identity is present on the entire VMSS, but the aad-pod-identity component will ensure only pods that have access configured for the identity can fetch a token using the identity.

You can still use `VMSS User Assigned Managed Identity`. You can create a Us

[2020-05-19 16:21] aramase commented on #104
@sainipankaj90k The `secretObjects[*].key` needs to be `tls.key` and `tls.secret` for secret of type `kubernetes.io/tls`. Check out this example - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/sample/ingress-controller-tls/secretproviderclass-azure-tls.yaml

[2020-05-19 21:14] sainipankaj90k commented on #104
Thanks a lot, Anish Ramasekar.
This was helpful. **It worked for PEM type cert. Though it didn't work for pfx cert.**

We are using a pfx cert. For this one 'kubernetes.io/tls' is created but crt is empty. Is there a way to do it for pfx cert also?

Below is the output of get and describe command for secret:

**get secret:**
_data:
  tls.crt: ""
  tls.key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2020-05-19 21:45] ritazh commented on #103
@ibattat can you pls provide your `SecretProviderClass` yaml and how nginx is referencing it?

[2020-05-19 22:40] travis-sobeck commented on #101
@aramase Sounds good, thanks

[2020-05-19 23:57] pplavetzki commented on #71
@chintanr97 ok I've got it working now to do what I need.

1. Upload EC cert to AKV in pfx format
2. Mount the cert using the secret `objectType`
3. Use an init container to split the Private Key and the Cert into two files.

Thanks for this helpful thread!

[2020-05-20 02:14] HoussemDellai commented on #102
Thank you a lot @aramase :)

[2020-05-20 02:14] #102 closed

[2020-05-20 16:07] aramase commented on #104
@sainipankaj90k The changes for converting pkcs cert to pem format was merged recently - https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/82. We also have another change in the pipeline that changes the way to obtain certs and key for different formats - https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/98. After this change is merged and a release is cut t

[2020-05-20 16:31] aramase opened #106 "Add doc for obtaining certificates and private key"
The following change -https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/98 has been done to align the behavior closely with the current `az keyvault` experience.

[code]

- [x] Document how to get different parts of the cert and key
- [x] Document backward compatibility for sync K8s secret
- [x] Add examples

[2020-05-20 16:41] aramase opened #107 "Add e2e test for kubernetes.io/tls secret type"

[2020-05-20 17:10] sainipankaj90k commented on #104
This is awesome, @aramase
I am super happy that this work is already active. :)

[2020-05-21 09:53] bhardwahnitish19 commented on #71
Hey,

I know that it's not the right place to ask this query, but just wanted to check with you guys that does anyone knows if it's possible to create **_named_curve_** type EC certificated using Key-Vault?

Would be great if anyone can share your thoughts.

Thanks,
Nitish

[2020-05-21 21:22] ritazh commented on #71
cc @jlichwa ^

[2020-05-21 23:43] #75 closed

[2020-05-22 11:31] deyanp commented on #104
@aramase , any idea when the new release will be published? How are new releases announced - can I subscribe to some feed?

[2020-05-22 14:01] chintanr97 commented on #71
@bhardwahnitish19 You can make use of the Create Certificate REST API as described [here](https://docs.microsoft.com/en-us/rest/api/keyvault/createcertificate/createcertificate). You can know the list of EC curves from [here](https://docs.microsoft.com/en-us/rest/api/keyvault/createcertificate/createcertificate#jsonwebkeycurvename). If you intend to use it for Hyperledger Fabric, please validate t

[2020-05-22 15:52] aramase commented on #104
@deyanp We'll be cutting a new release today. If you are subscribed to the repo, you'll receive notification for the github release.

[2020-05-26 13:09] rameshthangaraj opened #110 "Unable to provide multiple objectnames in secret"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
In flexvolume we are able to provide multiple secret names as objectnames as a semicolon seperated where as in csi driver we are not able to provide multiple secrets.

Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code=\"BadPa

[2020-05-26 15:26] ritazh commented on #110
@rameshthangaraj Unlike the flexvolume solution, for Secrets store csi driver, please provide each object and its properties as an item in an array, refer to this example: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass.yaml

[2020-05-26 22:32] #101 closed

[2020-05-26 22:47] aramase commented on #104
@sainipankaj90k @deyanp We just cut a new release with all the changes included - https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.6. Please try it out and let us know if it resolves your issues.

[2020-05-26 22:49] aramase commented on #71
@chintanr97 @bhardwahnitish19 We just cut a new release with all the changes included -  https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.6. Please try out and let us know if you have any feedback.

[2020-05-27 10:09] deyanp commented on #104
@aramase I can confirm that the direct mapping of pfx (from Azure Key Vault) works now!
Spent 1h troubleshooting as I by mistake put `objectType: cert` which does not work, but `objectType: secret` works!

[2020-05-28 20:51] taytran0 opened #112 "Pod is invalid when executing the updated YAML file"
I followed the guide up until the "Deploy you Kubernetes Resources" section. I downloaded the deployment yaml file and made sure that the secretProviderClass was correct, "azure-kvname" as it has been when the SecretProviderClass was made. Below is what I was trying to run:

![updateDeployment](https://user-images.githubusercontent.com/22763512/83191112-82387a00-a101-11ea-9341-9b1c032fa1f1.PNG)

W

[2020-05-28 20:57] ritazh commented on #112
Can you please validate the driver is running as expected, run the following command:
[code]

[2020-05-28 21:00] ritazh commented on #112
oh just noticed you are on k8s v1.15.10. As mentioned in the readme:

[code]

[2020-05-28 21:01] aramase commented on #112
@taytran0 Looks like you are using kubernetes version 1.15.10. The recommended kubernetes version is 1.16+ for this solution(https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider).

The `CSIInlineVolume` feature gate is not enabled by default for 1.15 cluster and currently there is no way in AKS to enable feature gates

[2020-05-28 21:06] taytran0 commented on #112
Hello, thank you so much for pointing that out. How do I get the latest version for the server side. I have the client one for v1.18 but no matter what I do to update. The server version stays at v1.15. Please advise.

[2020-05-28 21:14] taytran0 commented on #112
Disregard the last statement. I went into the Azure Portal to change it myself. I couldn't find a way to change it from CLI. I'm going to go through the whole set-up again to make sure this issue is closed for good. Thank you again!

[2020-05-28 23:48] sainipankaj90k commented on #104
The mapping got changed but it doesn't seem like I found it was the same. My validation for ingress failed.

But yeah, not tls.crt is not empty for sure.

In the above question, either I can use it as cert or secret, but to push secret to vault I need the tls.key and tls.cer. How can I solve this one?

I tried with whatever is mentioned above, since it was expected to be converted as 'PEM' file. B

[2020-05-29 06:31] rosanch opened #114 "AAD identity doesn't work"
followed the steps in https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/pod-identity-mode.md and couldn't create the Nginx store app to test.

describe in Nginx pod
Events:
  Type     Reason       Age                From                                        Message
  ----     ------       ----               ----                                        -------
  Nor

[2020-05-29 06:46] rosanch opened #115 "Update secret values"
**Describe the solution you'd like**
Can the CSI update a secret stored instead of mounting the value in the pod?

**Anything else you would like to add:**
The main reason is to reload the Nginx tls cert and key

[2020-05-29 16:35] aramase commented on #115
@rosanch We recently added a feature to sync the values as Kubernetes secrets. Check out this doc for more info about the feature - https://github.com/Azure/secrets-store-csi-driver-provider-azure#optional-sync-with-kubernetes-secrets

Also, check out this sample doc on how to use the Secrets Store CSI Driver and Azure Keyvault Provider with ingress controller -https://github.com/Azure/secrets-sto

[2020-05-29 16:39] #110 closed

[2020-05-29 22:16] taytran0 commented on #112
Yes! The issue is now closed. Also, I didn't know this before but even though you may have updated your kubernetes cluster to 1.16+, the node pool will still be on the version you created it with so you have to go in and manually change that as well.

[2020-05-29 22:16] #112 closed

[2020-06-01 14:00] garethmorris78 opened #116 "Errorpkcs12: expected exactly two safe bags in PFX PDU"
**What steps did you take and what happened:**
Setup provider as per https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/README.md

Used Helm to install with no issues. driver deployed on both windows and linux nodes.
Added AKS managed identity to the key vault permissions ( GET for key, cert and secret)

Created a new SAN certificate ( using Active Directory Certificate A

[2020-06-01 16:33] aramase commented on #116
@garethmorris78 The current [method](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/pkg/azure/provider.go#L570) that's being used to decode the pfx data expects no more than 2 bags (one certificate and key) - https://github.com/golang/crypto/blob/master/pkcs12/pkcs12.go#L226-L229.

Exported as PFX format and Imported into Azure KeyVault as a certificate using Powershe

[2020-06-01 19:06] garethmorris78 commented on #116
Thanks for the source reference. The pfx export in windows has exported the full chain. Doh!

Apologies school boy error there please close the issue.

Thanks!

[2020-06-02 02:07] zalyoung opened #117 "How to add label to the synced secret?"
**Describe the solution you'd like**
We are using spring-cloud-kubernetes library to load the values from synced secrets in k8s. But  it needs the secret label to get the specified/correct secret.

**Anything else you would like to add:**
The secretObjects doesn't have any  label related parameters
[code]

**Environment:**

- Secrets Store CSI Driver version:  csi-node-driver-registrar:v1.2.0 , se

[2020-06-02 16:00] aramase commented on #116
Thank you for clarifying and glad you have it working now. I'll close the issue. Please feel free to reopen if you have any more issues.

[2020-06-02 16:00] #116 closed

[2020-06-03 03:31] rosanch commented on #115
Thank you @aramase
Also, I see it does support to sign into different clouds, but I'm wondering if it will work in airgap clouds as well.

[2020-06-03 03:51] rosanch commented on #114
Secret provider class
`apiVersion: v1
kind: ServiceAccount
metadata:
  name: secrets-store-csi-driver
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: secretproviderclasses-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: secretproviderclasses-role
subjects:
- kind: ServiceAccount
  name: secrets-stor

[2020-06-04 20:05] geoarchitect opened #119 "404 getting assigned identities for pod"
**What steps did you take and what happened:**

Followed the standard deployment for this using helm for the Azure CSI Driver to leverage AAD Pod Identities.

* Kubernetes 1.16.7

* AAD Pod Identity is v1.6.1

* AGIC is v1.2.0-RC2

* CSI Chart is v0.0.6

We are coming from using FlexVolumes based on the updated docs for this cluster - though its a new cluster and we didnt install FlexVolums on thi

[2020-06-04 20:23] aramase commented on #119
@geoarchitect Can you check the MIC logs for error? Also, can you post the `AzureIdentity`, `AzureIdentityBinding` and pod manifest with sensitive information redacted.

[2020-06-04 20:37] geoarchitect commented on #119
@aramase

MIC Logs seem ok except this one error:

[code]

AzureIdentity

[code]

AzureIdentityBinding for Pod

[code]

Let me know if you need anything else.

[2020-06-04 20:42] aramase commented on #119
@geoarchitect Can you check if the `aadpodidbinding: somepodselector` has been added to your application pod? Also, can you provide the output for the above resources using `kubectl get <AzureIdentity | AzureIdentityBinding | Pod> <name> -o yaml`. I'm trying to confirm you're following the correct case for the CRD keys like here (https://github.com/Azure/aad-pod-identity#v160-breaking-change). `ku

[2020-06-04 21:06] geoarchitect commented on #119
The pod binding selector is there and it is working with our AGIC setup with the AADPodIdentity. As soon as we modify this, the controller modifies the gateway accordingly. Just checked again to make sure.

AzureIdentityBinding Yaml

[code]

AzureIdentity Yaml

[code]

Pod Manifest Yaml

[code]

@aramase

[2020-06-04 21:10] aramase commented on #119
@geoarchitect The case is incorrect for `AzureIdentity` and `Selector` fields in `AzureIdentityBinding`.

[code]

should be

[code]

Please review - https://github.com/Azure/aad-pod-identity#v160-breaking-change

[2020-06-04 21:14] geoarchitect commented on #119
@aramase Yikes. You are right and I think the reason my AGIC is working is that we have a separate binding that has the correct case from the docs.

Let me fix and retry.

[2020-06-04 21:19] geoarchitect commented on #119
@aramase You are a rock star! I had looked at this 1000 times.

Once I updated the bindings the pods started immediately and I was able to validate the secrets are there and valid.

THANK YOU!

[2020-06-04 21:24] #119 closed

[2020-06-04 21:25] aramase commented on #119
@geoarchitect Glad its working now! Happy to help :)

[2020-06-05 13:56] tanzencoder opened #120 "Volume mount failed on node with taints"
**What steps did you take and what happened:**
I am moving my pods to specific nodes with taints and the volume mount failed with the following errer.

FailedMount: MountVolume.SetUp failed for volume "secrets-store" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers

**What did you expect to happen:**

[2020-06-05 15:30] doug-papenthien-by opened #121 "Pods restart every time the chart is deployed"
**What steps did you take and what happened:**
As part of integrating this module with our CI/CD pipeline, we're configuring it to do a helm deployment of the CSI driver chart every time the pipeline is run.  However, I've noticed that the pods restart every single time this is done even when nothing about the configuration changes.

Is there a good reason for this?  At least one of the pods can t

[2020-06-05 16:00] aramase commented on #120
@tanzencoder Can you confirm if there is a driver pod running on the node with taint?

[2020-06-05 16:08] aramase commented on #121
@doug-papenthien-by How are you redeploying every time in the CI? If the chart already exists and is redeployed, then the helm revision # changes every time. Since helm revision # is used as a label in all the daemonsets, k8s detects changes in the daemonset metadata and restarts all the pods.

[code]

[2020-06-05 16:44] doug-papenthien-by commented on #121
We're using `helm upgrade --install ...`.  Normally, we would only run this if something about the deployment has changed in our repo.  In the case of the CSI driver, we just need to make sure it's installed in the target environment before attempting our deployment.  We can script something to make sure this is only done if it's not already deployed (or we're upgrading the chart version), but thi

[2020-06-05 17:13] aramase commented on #121
@doug-papenthien-by I went through the helm best practices too and you are right. The `revision` and `heritage` are redundant information thats not required and isn't part of recommended labels by helm. We'll remove those from the helm chart as part of next releases.

[2020-06-05 17:15] tanzencoder commented on #120
@aramase No, the driver pod never got deployed. I have since dropped the used of taints and switched to node affinity to accomplish what I wanted and that worked. So it feels like it's related to taints.

[2020-06-05 17:54] aramase commented on #120
@tanzencoder For nodes that are tainted, the driver needs to be modified to tolerate the taint. I've opened an issue in the driver to allow user to set tolerations they need for driver using helm charts - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/227. In the meantime could you try adding the toleration to check if that fixes your issue?

[2020-06-05 17:55] aramase commented on #121
Tracker issue - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/226

[2020-06-05 18:05] tanzencoder commented on #120
@aramase I will try it over the weekend, I won't be able to today.

[2020-06-05 18:08] aramase commented on #114
Had an offline conversation with @rosanch. The error indicated the required role assignments were not granted in `aad-pod-identity`. Closing this issue now. Please feel free to reopen if you still have issues.

[2020-06-05 18:08] #114 closed

[2020-06-07 18:50] anujgeek opened #122 "App pods keeps restarting every few minutes"
**What steps did you take and what happened:**
The app pods keeps restarting every few minutes with the error: MountVolume.SetUp failed for volume "stage-kv-vlm" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers

I'm using AKS with windows containers.
I installed the chart using:
helm install csi-secr

[2020-06-08 15:56] aramase commented on #122
Are the driver pods running on the nodes on which your application pods are running? I see you're setting a node selector for the driver pods. The pod is referencing the volume with csi, but the driver isn't running on the node.

[2020-06-08 17:32] aramase commented on #101
@anujgeek The custom kubelet dir is not applicable in your scenario. @travis-sobeck is using a rancher cluster and the kubelet root dir is `/opt/rke/var/lib/kubelet` for that cluster. For AKS, the kubelet root dir is the default `/var/lib/kubelet`.

[2020-06-08 22:32] anujgeek commented on #122
@aramase  I'll try with that. I have multiple node pools in my configuration, and I wanted to keep it on a separate pool along with other common utility pods.
For windows support, do I need both to be true:
--set windows.enabled=true `
--set secrets-store-csi-driver.windows.enabled=true

[2020-06-08 22:58] anujgeek commented on #122
@aramase When using the latest chart version, one of the pods  csi-secrets-store-provider-azure-windows-q76kk, keeps giving this:

Events:
  Type     Reason          Age                From                  Message
  ----     ------          ----               ----                  -------
  Normal   Scheduled       <unknown>          default-scheduler     Successfully assigned kv/csi-secrets-stor

[2020-06-08 23:02] aramase commented on #122
@anujgeek The secrets-store CSI driver and key vault provider pods need to run on the same node as the application thats using the volume. The `driver` and `key vault provider` are defined as daemon sets which means they will run on every node unless the node has been tainted/ an explicit label is set on the driver pods. Please ensure there is a driver and provider pod running on the same node as

[2020-06-08 23:08] aramase commented on #71
@chintanr97 @bhardwahnitish19 Did you get a chance to try out the latest release with the EC keys? Wondering if you have any feedback?

[2020-06-08 23:10] aramase commented on #84
@iamsoorya Were you able to successfully load the secrets as env variables based on the examples @jrudley provided?

[2020-06-08 23:11] aramase commented on #103
@ibattat Checking into see if you're still having issues. If you are, could you share the `SecretProviderClass` yaml that @ritazh requested?

[2020-06-08 23:13] aramase commented on #117
Please use https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/217 for tracking this feature request as this is a driver change

[2020-06-08 23:13] #117 closed

[2020-06-09 04:52] #103 closed

[2020-06-09 04:52] ibattat commented on #103
I checked it again and it seems to work

[2020-06-09 20:40] iamsoorya commented on #84
Yes, the code has worked. However,  last friday, I tried to use the latest version 11 and version 6,it failed. However, I am happy to continue with older version.

Thanks for solving our issue. It has helped to use to application to user acceptance testing.

[2020-06-09 22:10] aramase commented on #84
@iamsoorya Do you have the logs for the failure when you tried with the latest version?

[2020-06-10 00:26] pplavetzki commented on #71
@aramase I was able to test out the 0.0.6 release using EC keys.  I use the secret and split the cert and private key.  Since it's now in PEM format I don't need to convert from pfx format first.

Thx for the quality work!

[2020-06-13 14:17] djj0809 commented on #116
@aramase Is there any way to support certificates that contains intermediate certificates? It's quite common in Azure Key Vault I suppose. Currently I'm not able to mount most of our certs using because of this.

[2020-06-15 05:12] aramase commented on #116
@djj0809 You should be able to get multiple certificates with the `PEM` format. I've opened a PR to support this for `pkcs12` -  https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/123

[2020-06-15 05:22] djj0809 commented on #116
@aramase Glad to hear that!

[2020-06-15 10:10] MartinKosicky opened #124 "Verbosity not configurable of the PODS"
When I watch trace logs of the pods generated by this helm chart, they are too verbose. This can cause high pricing in AKS when using LogAnalytics. Debug verbosity is not required once we figure out problems

[2020-06-15 11:28] SatyKrish commented on #104
@aramase tls example page not found.
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/sample/ingress-controller-tls/secretproviderclass-azure-tls.yaml

When I try to use `secretObjects[*].key` as `tls.secret`, secret sync failed with below error.

MountVolume.SetUp failed for volume "aks-helloworld" : kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = Internal desc

[2020-06-15 15:55] aramase commented on #104
@SatyKrish Please refer this doc for how to configure tls - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls.

The sample `SecretProviderClass` to use is documented here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls#deploy-a-secretsproviderclass-resource

[2020-06-15 16:05] SatyKrish commented on #104
Thanks @aramase. I was able to resolve the error. The main confusion was around why certificate was referred as secret in your sample here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls#deploy-a-secretsproviderclass-resource

While `objectName: ingresscert` is created as certificate in KeyVault, it was referred to as 'objectType: secret

[2020-06-15 16:08] aramase commented on #104
@SatyKrish We have the reasoning documented here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/getting-certs-and-keys.md#getting-certificates-and-keys-using-azure-key-vault-provider. I'll also add a comment with reference to the link in the tls doc.

[2020-06-15 16:24] aramase commented on #124
@MartinKosicky I've opened a PR to inherit the `logLevel.debug` option from the driver dep - #125. After this is merged and a new helm chart release is created, you should be able to enabled debug verbosity only if required.

[2020-06-16 06:38] #91 closed

[2020-06-16 14:25] Mimetis opened #127 "nodePublishSecretRef & namespace"
**What steps did you take and what happened:**

I have a deployment in namespace `api-dev` using the CSI driver to get some secrets.

[code]
The K8S secret containing my clientid / clientserver are stored in the `default` namespace.

[code]
My deployment (one pod / one service) are both deployed in the `api-dev` namespace:

[code]

My deployment yaml volume mount is declared like this:

[code]

As

[2020-06-16 16:33] aramase commented on #127
@Mimetis This is a limitation imposed by kubernetes. In case of CSI Volumes, the `nodePublishSecretRef` is a [LocalObjectReference](https://pkg.go.dev/k8s.io/api/core/v1?tab=doc#LocalObjectReference) which only accepts the name of the secret. The namespace is always defaulted to the pod namepace for the secret - [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter

[2020-06-16 16:58] Mimetis commented on #127
@aramase Thanks for your quick answer.

Indeed it's working correctly if the secret is stored in the right namespace.

Thanks for all

[2020-06-16 16:58] #127 closed

[2020-06-16 17:33] aramase commented on #122
@anujgeek Were you able to confirm the pods are running after the driver is deployed on every node?

[2020-06-16 17:35] aramase commented on #84
@iamsoorya Closing this issue. Please feel to free reopen with logs if you hit any issue while trying out with the latest releases.

[2020-06-16 17:35] #84 closed

[2020-06-17 16:26] MartinKosicky commented on #124
seems ok

[2020-06-18 12:18] stan-solovyov commented on #97
Is there any way to consume all secrets/keys from a Key Vault? I think the solution where you need to specify secrets/keys one by one is not very viable.

[2020-06-18 12:51] stan-solovyov opened #129 "Update secrets without deleting/creating pods"
Hi,

Is it possible to keep the values from Azure Key Vault in sync with the mounted ones without the need of deleting/recreating pods.
Haven't found any info on the current behavior.
I assume that after updating/adding secrets for example into the Key Vault, the changes are not seen in the pods.
In order to see them we need to update SecretProviderClass  and delete/recreate the pods.

Is that cor

[2020-06-18 17:32] aramase commented on #129
@stan-solovyov That's correct. Currently there is no support for automatically reloading the secrets/keys based on updates in Key Vault. This is the issue that's being used to track that enhancement - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/125

[2020-06-18 19:00] stan-solovyov commented on #129
Got it. Thanks for clarification!

[2020-06-18 19:00] #129 closed

[2020-06-18 21:00] adamcarter81 opened #130 "Unable to mount volumes for pod - timeout expired waiting for volumes to attach or mount"
**What steps did you take and what happened:**
Pod fails to mount volume, stuck in Init phase.
Event from describing the pod:
Events:
  Type     Reason       Age                  From                                    Message
  ----     ------       ----                 ----                                    -------
  Warning  FailedMount  38s (x76 over 170m)  kubelet, aks-linux-35064155-vmss000

[2020-06-18 21:10] aramase commented on #130
@adamcarter81

1. Can you share the `SecretProviderClass` file you're using for the pod?
2. The logs from the driver pod on the same node should provide error logs as to why the mount is unsuccessful.
3. Can you also provide the output for `kubectl get nodes -o wide`

[2020-06-18 21:24] adamcarter81 commented on #130
1 - SecretProviderClass:
`apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  parameters:
    usePodIdentity: "true"         # [OPTIONAL for Azure] if not provided, will default to "false"
    useVMManagedIdentity: "false"   # [OPTIONAL available for version > 0.0.4] if not provided, will default to "false"
    userAssi

[2020-06-18 21:29] aramase commented on #130
@adamcarter81 This solution is only supported for v1.16.0+ (https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider)

[code]

The agent nodes are running K8s version `v1.14.8`. Please try it out with a 1.16+ K8s cluster.

[2020-06-18 21:33] adamcarter81 commented on #130
Ahh well spotted - the nodes need to be upgraded too - I'll get that done and report back
Thanks

[2020-06-18 22:48] cloudpea opened #132 "AAD Pod Identity Auth - Sync with Kubernetes Secrets"
**What steps did you take and what happened:**
I have installed the helm chart successfully all pods running and no errors in the logs and have deployed the below secret provider classes to sync a secret. If i only want to sync to a kubernetes secret what do i use as the selector within AzureIdentityBinding.

Documentation here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blo

[2020-06-18 23:09] aramase commented on #132
`AzureIdentityBinding` would be reference to the `AzureIdentity` and `Selector` as defined in the doc - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/pod-identity-mode.md
It's not possible to only sync as a kubernetes secret and not have the contents mounted as files in the pod. The sync as K8s secret is done by getting the contents from the fs.

You should be a

[2020-06-19 10:28] adamcarter81 commented on #130
Updated the nodes - all working now

[2020-06-19 10:28] #130 closed

[2020-06-19 10:37] adamcarter81 opened #133 "Environment Variable and Volume Mount"
Slightly related to : https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/99

Perhaps my understanding isn't correct, or the documentation could be clearer:

What I am trying to achieve: read a value from the KV, present it as an environment variable for the deployment, via a Kubernetes secret. The two secrets are a username & password

What works:
A clean namespace, I deploy t

[2020-06-19 16:12] aramase commented on #133
@adamcarter81 This is a sample deployment for using the secret content as env vars -

[code]

and this is the `SecretProviderClass`

[code]

No, that's a sample pod. You could do the same with your application pod/deployment. Please note, the volumes is required. The sync with Kubernetes secrets is an optional feature that depends on the mounted content. If you're still having issues after using t

[2020-06-19 19:17] #104 closed

[2020-06-19 19:17] #106 closed

[2020-06-19 19:17] #124 closed

[2020-06-22 07:53] adamcarter81 commented on #133
Thanks for clarifying the expected behaviour @aramase

I can only get the secrets to be presented by mounting the nginx-secrets-store pod - otherwise the secrets don't get mounted by my main deployment and that pod won't start.

If I start by just deploying the SecretsProviderClass, then my main deployment below, I receive this error on pod start up:
`Events:
  Type     Reason       Age

[2020-06-22 10:47] adamcarter81 commented on #133
Update - I removed the nodePublishSecretRef and it started OK, secret is present in the namespace!
I must have picked it up in one of the sample docs somewhere - but now I can't find a reference for what it is for?

[2020-06-22 16:06] aramase commented on #133
@adamcarter81 `nodePublishSecretRef` is only required if you're using [Service Principal](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/service-principal-mode.md) for accessing Key Vault.

[2020-06-23 09:13] #133 closed

[2020-06-23 09:13] adamcarter81 commented on #133
Thanks!

[2020-06-23 18:29] mo-saeed opened #134 "[helm installation] [Create k8s service account for the azure-provider daemonset]"
**Describe the solution you'd like**
right now the azure provider daemonset is assigned to `default` service-account in k8s namespace which makes it hard for us to create separate pod security policy only for azure provider daemonset.

in the helm templates, could you please add/create k8s service account and assign it to the azure provider daemonset.

**Anything else you would like to add:**
here

[2020-06-24 11:33] NileshGule opened #135 "ManagedIdentity for VMSS is not shown as SystemAssigned"
**What steps did you take and what happened:**
Created an AKS cluster with Managed Identity, Kubernetes versions 1.16.9. Below are the environment details. Is there anything else I need to do to assign managed Identity to the nodepool?

**What did you expect to happen:**
Tried to get the identity assigned to the nodepool as specified in the [link](https://github.com/Azure/secrets-store-csi-driver-

[2020-06-24 19:34] jsukhabut opened #136 "Error when sync KV cert to Kubernetes TLS secrets"
**What steps did you take and what happened:**
Using secret object sync to sync certificate in KV to kubernetes tls secret as per instructions

[code]

[code]

**What did you expect to happen:**
For secret testsecret to be create with tls.key and tls.crt

This was the error:

failed to get objectType:secret, objectName:SSLCert, objectVersion:: pkcs12: expected exactly two safe bags in the PFX PDU\

[2020-06-24 19:51] aramase commented on #136
Multiple certificates are not support with pkcs12 in the current release of the provider (`0.0.6`). The PR to add this feature - https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/123 has been merged and will be available as part of next release `0.0.7` which is planned for this week.

[2020-06-25 11:09] nilsga opened #138 "Get certificate in pfx format"
**Describe the solution you'd like**
I would like to get a certificate in it's raw format.

**Anything else you would like to add:**
I have a certificate in pfx format, and would like it to stay that way when it is exported to the mount, and not converted to pem. But  seems like it is not possible to configure this behavior?

[2020-06-26 20:12] aramase commented on #135
@jluk Should we update the doc?

This is what it currently says, but that doesn't match the output @NileshGule posted.

[code]

[code]

[2020-06-26 20:13] aramase commented on #122
Closing this issue because of inactivity. Please feel free to reopen if you have any more questions.

[2020-06-26 20:13] #122 closed

[2020-06-26 20:15] aramase commented on #132
Closing this issue. Please feel free to reopen if you're receiving after configuring based on docs and above comments.

[2020-06-26 20:15] #132 closed

[2020-06-26 21:05] jluk commented on #135
@tomgeske / @mlearned can you update the MSI doc based on this feedback, I agree the terminology is misleading. Perhaps clarifying custom BYO identities are what are not supported.

[2020-06-29 14:28] dariuszbz opened #139 "kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers"
**What steps did you take and what happened:**

**the following steps:**
kubectl config set-context --current --namespace=dev2
helm repo add secrets-store-csi-driver https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts
helm install csi-secrets-store secrets-store-csi-driver/secrets-store-csi-driver

kubectl apply -f https://raw.githubusercontent.com/Azure/secret

[2020-06-29 16:05] aramase commented on #139
@dariuszbz The Secrets Store CSI Driver and Azure Key Vault Provider is supported on windows 1.18+ (https://github.com/Azure/secrets-store-csi-driver-provider-azure#install-the-secrets-store-csi-driver-and-the-azure-keyvault-provider) -

[code]

Please try it out with the 1.18+ for windows and let us know if you run into any issues.

[2020-06-30 10:17] dariuszbz commented on #139
sorrrry :)

[2020-06-30 10:17] #139 closed

[2020-06-30 12:22] bramvdklinkenberg opened #140 "Question: How does it exactly work with Pod identity"
I was wondering, if deploy the Azure Key Vault Provider for Secrets Store CSI Driver in combination with Pod Identity, Igive the MI the correct role assignments and permissions on the KeyVault then I use the MI id in the AzureIdentity Resource and in the SecretProviderClass.
What if someone fetches the MI id and knows the keyvault name etc, can they not abuse this by using this id on their own clu

[2020-06-30 18:25] TomGeske commented on #135
Yes, agree, we should align terminology in CSI driver docs with our MI docs https://aka.ms/aks/mi

[2020-06-30 22:08] aramase commented on #140
Closing this issue as the conversation is on slack - https://kubernetes.slack.com/archives/C013PUP2WRK/p1593532429075900. Please feel free to reopen if you have any more questions.

[2020-06-30 22:08] #140 closed

[2020-06-30 22:10] aramase commented on #71
Closing this issue as mounting EC key in application pod is now supported. Please feel free to reopen if there are any questions or concerns.

[2020-06-30 22:10] #71 closed

[2020-06-30 22:15] aramase commented on #135
I think in the context of CSI driver this is not a limitation that the Azure Key Vault Provider doc needs to call out as the objective here s for the user to assign the MSI manually to the VMSS or use pod-identity to assign the MSI.

[2020-07-01 14:09] aristosvo opened #142 "Different file format mount"
**Describe the solution you'd like**
To mount the configured secrets in different formats, like application.properties for my Java application, JSON/YAML, etc

[2020-07-01 20:50] pwiens opened #144 "Allow defining a custom azure environment"
**Describe the solution you'd like**
We need the ability to specify custom azure environment settings. There are certain scenarios such as Azure Stack that use custom endpoints. This should be possible to add via parameters. The azure go sdk provides a setEnvironment function that we can use.

**Environment:**

- Kubernetes version: 1.16
- Cluster type: AKS

[2020-07-02 15:26] ritazh opened #145 "Add support for object level RBAC"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently the key vault RBAC can be set for all secrets, all certs, or all keys. Would be great to add support to restrict access at each object level.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI

[2020-07-02 23:29] aramase commented on #136
Closing this issue with release 0.0.7 - https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.7

[2020-07-02 23:29] #136 closed

[2020-07-03 07:35] deuch commented on #93
Maybe a another option is to watch the secrets in KV and update the K8S secrets accordingly.
For example, with the certificate during renew (app service certificate). The  certs are renew 60 days before the expiration date. So if a check is done every 24h, it can be OK. Of course the frequency to check the secret in KV can be configured. It’s a pull solution, but can help a lot of project to handl

[2020-07-06 09:41] mvandewouw opened #148 "Ability to set the masternode api address"
AKS cluster deployed with UDR for egress traffic via AzureFW.

Somehow we cannot set the KUBERNETES_SERVICE_HOST to the FQDN of our AKS cluster.
We are getting timeouts when the pod tries to mount the volume because it tries to connect to the masternode-api on the Service CIDR.

We would like to be able to configure the fqdn of the k8s masternode api.

**Which access mode did you use to access the

[2020-07-06 15:47] NileshGule commented on #135
@aramase I don't think user need to manually assign the MSI to VMSS. When I create the cluster using `assign-managed-identities` option the VMSS pool is assigned an Identity. I granted the access to AKV using access policy to this identity and was able to pull the secrets at the time of starting the pod.

I demonstrated this in a YouTube video https://youtu.be/MHm4IVGVO1w

Let me know if my unders

[2020-07-06 16:00] NileshGule opened #149 "Azure CSI Provider disturbs autoscaler associated with KEDA"
**What steps did you take and what happened:**
I have an application which uses Kubernetes-based Event Driven Autoscaling KEDA to autoscale pods. This autoscaler works with RabbitMQ cluster as event provider. When I am not using the Azure Provider for secret store CSI driver, the autoscaler is able to scale down RabbitMQ consumer pods to zero. If I pump in more messages onto the queue, the autosca

[2020-07-07 03:00] DavidParks8 commented on #144
This should already be supported, though undocumented. Try using `AzureStackCloud` as the environment name. Doing so should cause it to pick up the AzureStackCloud.json file that is available on kubernetes in a custom cloud.

[2020-07-07 16:55] aramase commented on #149
@NileshGule I'm not sure how the CSI driver here interferes with the autoscaler functionality. The driver is invoked by kubelet only after the pod is scheduled on the node and the volume needs to be mounted. The `consumer` pod here is using the volume with CSI driver, but as long as the pod has not been created/scheduled the CSI driver doesn't really play a role yet.

[2020-07-08 12:36] MistyKuu commented on #138
+1. It's a standard scenario for .NET applications with HTTPS. It only supports .PFX format but not PEM.
We need to have a way to store pfx file in Azure Key Vault -> map it to kubernetes secrets as it is -> map to a file (in pfx format) -> reference the path with ASPNETCORE_Kestrel__Certificates__Default__Path env variable

[2020-07-09 13:36] julie-ng opened #150 "Cannot mount TLS cert for k8s secret syncing - on new pods"
## Use Case

### Sync TLS Cert in Key Vault for Ingress controller

I am trying to load a cert from key vault into the nginx-ingress controller via CSI driver (and sync'd k8s secret) per this tutorial
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/sample/ingress-controller-tls/README.md#deploy-a-secretsproviderclass-resource

### Problem / Bug

BUT this **does not wor

[2020-07-09 15:11] NileshGule commented on #149
@aramase The only change I have between the working code and the one with error is the AKV Provider for Secrets Store CSI driver.

[2020-07-09 15:54] aramase commented on #149
@NileshGule Do you see any error in the autoscaler logs trying to scale up the pod? The CSI driver is only invoked after pod is scheduled, so if there is any error in autoscaler or the replica set failing to scale because of CSI volume mount, then it'll be a good starting point.

[2020-07-09 16:37] aramase commented on #150
@julie-ng Thank you for the detailed description. With `0.0.7` release we added support for multiple safe bags in pfx pdu. However the golang library still has a limitation on number of authenticated safe - https://github.com/golang/crypto/blob/master/pkcs12/pkcs12.go#L319-L321.

The `objectTypes` to use based on key vault design are documented here - https://github.com/Azure/secrets-store-csi-dri

[2020-07-10 06:10] aristosvo opened #151 "Provide test certs, keys, secrets and a script to initialise KV for testing"
**Describe the solution you'd like**
Without tests certs and keys local testing is a real dealbreaker to start contributing to the project, especially when you want to extend the test scenarios. I'm working towards a solution for myself at the moment, it would be wonderful to share it and improve it.

Besides that it would be nice to have an init script for these certs, keys and secrets to push th

[2020-07-10 15:59] aramase commented on #151
Thank you for opening the issue @aristosvo

@bdlb77 is working on https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/45 that enables `VS Code Remote Container Extension for Development and Debugging`. We'll also look into adding init scripts for initializing the objects and uploading to Key Vault.

[2020-07-10 16:16] julie-ng commented on #150
@aramase

Re `objectType`: yes, I only set `objectType` once, I just put both in the thread to illustrate at once.

#### Re: certificate

You really think it's the certificate? Interesting, makes sense though given `pkcs12: expected exactly two items in the authenticated safe` message.

The certificate is actually exported from Azure App Services, see https://azure.github.io/AppService/2017/02/24/

[2020-07-10 17:08] bdlb77 commented on #151
@aristosvo I'm working on this already and  I should have the PR open today

[2020-07-10 17:17] aramase commented on #135
@NileshGule That's correct. Cluster with `enable-managed-identities` will contain a cluster User MSI. You can use the cluster MSI to access Key Vault contents or create another managed identity with scoped permissions only for Key Vault. If you create another MSI, then that needs to be manually assigned.

We have that documented here - https://github.com/Azure/secrets-store-csi-driver-provider-azu

[2020-07-10 17:25] julie-ng commented on #150
@aramase yes, it was the certificate! 😮

Indeed I put the GoDaddy CA chains into the cert, re-exported it and put that in Key Vault and then everything worked. I could also kill the pods, etc.

It probably is a strange edge case… I don't think most people jump through all the hoops I did required to buy a wildcard cert via App Services, export it via Cloud Shell to get it on my Mac, used `openssl`

[2020-07-10 21:51] pwiens commented on #144
@DavidParks8 I know this functionality exists in the azure go sdk but I'm not sure how it would work with this this csi driver. Where would it look for the file? On the host? If so where?

[2020-07-10 22:06] aramase commented on #144
@pwiens This would require a new field in the parameters

[code]

If `cloudEnvPath` is defined, then provider can set the [AZURE_ENVIRONMENT_FILEPATH](https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L28) env var. The sdk should then be able to [read](https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go#L224-L226) from the file which is alr

[2020-07-11 22:19] bdlb77 commented on #151
I've updated my PR #45  with guidance on creating and adding Secrets, Keys, and Certs to Key Vault and preparing them for Local e2e-testing. the PR is for adding a dev container to make it easier to get your environment set up. The file that has the guidance for adding Key Vault Objects is here: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/edac807d52fcce87e8f3e1c0345550845

[2020-07-11 22:23] bdlb77 commented on #151
I wrote it as guidance rather than a script as a way for users to generate their own certs, secrets, and keys so they know what they are adding into Key Vault. If y'all think that a script is a better route, I can add in a script to give the user an option to using the script to generate the Key Vault and objects

[2020-07-13 14:39] TomGeske commented on #135
I just made a docs PR.

[2020-07-13 15:40] aristosvo commented on #151
@bdlb77 I think it really depends on what your intentions are. My intentions are to extend the tests and I think for that use case it's useful to have an init script for all the existing tests, so I can extend it and not think about the existing tests too much (except that they pass). To be honest, most people contributing are probably skilled enough to fill a Key Vault with secrets, keys and cert

[2020-07-13 16:52] aramase commented on #150
Thank you for the clarification @julie-ng. This will certainly be helpful for other users who are trying this out. I'll close the issue for now. Please feel free to re-open if you have any other questions.

[2020-07-13 16:52] #150 closed

[2020-07-13 20:40] Vad1mo opened #155 "Why are the objects a string and not a map?"
Having an objects as string makes no sense in yaml/json context.

[code]

When working with those type of manifests where a yaml map is encoded in a string things become very complicated and errors are difficult to spot.

What is the background of doing it this way and is there a possibility this could be improved?

[2020-07-13 22:52] aramase commented on #155
@Vad1mo Thank you opening the issue 👍

The CRD spec is defined in the [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver). The driver is generic and has an option to plugin providers. The driver uses the `SecretProviderClass` provider field to determine the appropriate provider to invoke for the volume mount. The `parameters` field in the secret provider class i

[2020-07-13 22:57] aramase commented on #148
@mvandewouw As documented in this specific [issue](https://github.com/Azure/AKS/issues/676), AKS sets the `KUBERNETES_SERVICE_HOST` to fqdn for pods deployed in `kube-system` namespace. The options for driver would be to -

1. deploy in `kube-system` namespace
2. Set the `KUBERNETES_SERVICE_HOST` to be fqdn in all the pods. This is not an option using helm chart, but you should be able to manually

[2020-07-14 00:29] NileshGule commented on #149
@aramase I didn't see any error. The KEDA autoscaler is using TriggerAuthentication kind of object. This is also created as a secret in the Kubernetes cluster. I am not sure why the first time auto scalar works but when scaled down to zero due to no workload, it does not scale back up when the load is added again.

[2020-07-14 07:54] hermanho commented on #138
Here is a workaround to get the cert from keyvault and generate pfx key for IdentityServer4 in pod on Kubernetes. Basically it is converted with openssl in container. The pfx cert file is saved to /ssl/certificate.pfx .

[code]

[code]

[2020-07-14 10:36] MistyKuu commented on #138
Working like a charm. Thanks for sharing it but I'd really like to see it supported natively by this plugin

[2020-07-14 12:45] mvandewouw commented on #148
Hi thanks for your suggestions
To be honest, i dont know if 1. is supported by Microsoft
And it would be ideal if we can set this environment variable during deploytime so deployment is done correctly first time.

We also do this with helm traefik deployment (setting the KUBERNETES_SERVICE_HOST)

[2020-07-14 13:32] hermanho commented on #138
I deleted the original code because I found a bug. Now it is fixed and I re-post it.

[code]

[code]

[2020-07-14 18:06] pwiens commented on #138
This plugin really should support pulling down the raw pkcs12 cert. I wasn't expecting it to be a PEM, in addition the cert chain in the PEM is in the wrong order. It should be server cert -> intermediates -> root but it looks like the order is reversed.

[2020-07-14 18:16] pwiens opened #156 "PEM certificate extracted from PFX is in the wrong order"
**What steps did you take and what happened:**
Added a PFX certificate which contains a certificate chain with server, intermediate, and root certificate. The PEM file had the structure of:

PRIVATE KEY
ROOT
INTERMEDIATE
SERVER

**What did you expect to happen:**

According to https://tools.ietf.org/html/rfc4346#section-7.4.2 the certificate order should be

SERVER
INTERMEDIATE
ROOT
KEY

If you ru

[2020-07-14 21:45] aramase commented on #149
@NileshGule Are you by any chance using the same secret used by KEDA for syncing as K8s secret with the Secrets Store CSI Driver? The K8s secret that the CSI driver creates is deleted when all pods referring the `SecretProviderClass` are deleted.

[2020-07-14 23:44] aramase commented on #156
Had a discussion with @pwiens offline. The Azure Key Vault Provider returns the certs in the order in which they were uploaded. Unfortunately, in their scenario, they don't have control over the order of the certificates before upload.

@pwiens is going to take a stab at a PR for this.

[2020-07-15 00:50] aramase commented on #148
Thank you for the reference @mvandewouw. Opened https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/246 to track this.

[2020-07-15 01:00] NileshGule commented on #149
@aramase The secret names are different for the KEDA and the CSI driver.

[2020-07-15 13:28] ppanyukov opened #157 "Is it possible to turn off debug logging for `provider-azure-installer` and `liveness-probe` containers please"
(Not sure if this belongs here, or in the dependecy repo `secrets-store-csi-driver`.)

Using helm chart: https://raw.githubusercontent.com/Azure/secrets-store-csi-driver-provider-azure/0.0.6/charts

We have two containers which are quite chatty in debug logging, and this costs us money as we ship all these logs to Azure Monitor / Log Analytics and they charge us per byte :)

What I'd like to have

[2020-07-15 13:38] ppanyukov commented on #157
In terms of data volume and cost, if I trust Log Analytics and my math skills, we have this:

[code]

I know, not massive amounts but things add up :)

[2020-07-15 16:41] aramase opened #158 "Remove periodic logs in the provider container"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/f0ffce88c64ae240e072cf502082de5200f61210/Dockerfile#L16

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the im

[2020-07-15 16:41] aramase commented on #157
@ppanyukov I've opened a PR in the driver to bump the `livenessprobe` container version to `v2.0.0` in which they have bumped the log level for those frequent logs to a higher value. With `v1.1.0` the logs are printed by default and there is no way to configure the verbosity.

For the `provider-azure-installer`, we can certainly remove the periodic logs in the next release. I've opened https://git

[2020-07-16 03:20] #144 closed

[2020-07-16 07:04] lavanyamylsamy opened #159 "Create a secret containing CA certificate along with the Server Certificate"
How to create a secret containing CA certificate along with the Server Certificate, that can be used for both TLS and Client Authentication. I tried the below configuration, but it doesn't work

  secretObjects:
  - secretName: tls-cert # for k8s
    type: kubernetes.io/tls
    data:
    - objectName: importcert
      key: tls.key
    - objectName: importcert
      key: tls.crt
    - objectName: s

[2020-07-16 10:12] krshbt opened #160 "Issue with auto recreation of new pod after if deployment is not updated and has only 1 replica : ContainerConfigError"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

- I have a AKS cluster and I was trying to get the secrets with Azure Key vault.
- My Deployment has 1 replica and I am mounting the csi driver volume.
- I am using the approach to Sync Key vault with the Kubernetes Secret and then using that secret to pass on to the environment variable of the po

[2020-07-16 19:33] aramase commented on #60
Closing this issue as we now have docs for TLS example with sync K8s secret feature.

[2020-07-16 19:33] #60 closed

[2020-07-16 19:37] aramase commented on #93
This is being tracked in kubernetes-sigs/secrets-store-csi-driver#125. @tomkerkhove @deuch @NillsF Please feel free to chime in on the issue.

[2020-07-16 19:37] #93 closed

[2020-07-16 19:40] aramase commented on #97
Support prefix reference issue - #61

[2020-07-16 19:46] aramase commented on #138
can be supported with this issue - https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/89

[2020-07-16 20:24] aramase commented on #159
`kubernetes.io/tls` supports only `tls.crt` and `tls.key` - https://github.com/kubernetes/api/blob/v0.18.6/core/v1/types.go#L5580-L5588

Setting the `objectType: secret` for `importcert` as mentioned [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/getting-certs-and-keys.md) will fetch the entire chain of certs and the private key. The chain typically contai

[2020-07-16 23:22] aramase commented on #160
Thank you for opening the issue 👍

I was able to reproduce this after some fuzzy tests of deleting and recreating the pods. We have changed the way secrets are created and reconciled with this https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/224. We plan to cut a release tomorrow. I'll post here when the release is available and then you can try out the same tests with the new driv

[2020-07-17 05:52] tomkerkhove commented on #97
@aramase Any input on the structure as a whole?

[2020-07-17 06:05] manojampalam opened #161 "Clarification needed around "objectType""
[README](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/README.md) says
[code]
What does it mean to have a "key" objectType. Azure Key Vault does not let importing private keys. So, is it just the public key that would be retrieved and mounted as a secret?

[2020-07-17 17:06] aramase commented on #161
`objectType: secret` fetches the private key along with chain of certs.

`objectType: key` fetches only the public key

Ref doc: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/getting-certs-and-keys.md

[2020-07-20 09:50] myhau opened #165 "Consistent versioning"
**Describe the solution you'd like**

Helm chart with version 0.7.x should only deploy csi provider with versions 0.7.x (not 0.6.x, not 0.8.x).

**Why**

We lost a lot of time debugging an issue fixed in 0.7.0 thinking that Helm chart with version 0.7.0 deploys csi with version 0.7.0.

**Alternative**

Helm chart version / csi version table in `README.md`

[2020-07-20 16:52] aramase commented on #165
@myhau The `chartVersion` and `appVersion` aren't required to be in sync. When there is chart only updates like updating the driver dep, adding new fields to the chart, then only the `chartVersion` is bumped. When there is a new release of the Key Vault provider, then the `appVersion` is bumped.

Running `helm ls` provides the current app version -

[code]

[2020-07-20 16:54] aramase commented on #135
Closed with #154

[2020-07-20 16:54] #135 closed

[2020-07-21 17:49] aramase opened #166 "Run e2e tests on AKS cluster as part of PR gate"

[2020-07-22 08:54] myhau commented on #165
Sorry, I was a bit frustrated when writing this. You are right, `chartVersion` and `appVersion` aren't required to be in sync.

<img width="343" alt="Screenshot 2020-07-22 at 10 48 34" src="https://user-images.githubusercontent.com/4415632/88155842-e4e15a00-cc08-11ea-9abf-f52897375a85.png">

^ But, seeing this, for some reason made me expect that by installing Helm chart with version `0.0.7` I wil

[2020-07-22 15:48] ritazh commented on #165
@myhau Thanks for the feedback! We will add it to the readme.

[2020-07-22 17:18] BenyErnest opened #167 "Getting v1beta1.metrics.k8s.io False (MissingEndpoints) after installing secrets-store-csi-driver-provider-azure"
**What steps did you take and what happened:**
After installing secrets-store-csi-driver-provider-azure, https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/README.md, I get v1beta1.metrics.k8s.io kube-system/metrics-server False (MissingEndpoints) using kubectl get apiservices

**What did you expect to happen:**
Not to get v1beta1.m

[2020-07-22 17:41] aramase commented on #167
@BenyErnest I don't believe that's an issue with the `secret-store-csi-driver-provider-azure`. Please take a look at similar issue in the metrics server repo - https://github.com/kubernetes-sigs/metrics-server/issues/525.

[2020-07-22 17:57] BenyErnest commented on #167
@aramase It seems to have been a problem with resources, I only had one node in the cluster with only 4GB memory and 2 vCPU. Thanks.

[2020-07-22 18:16] aramase commented on #167
Thanks for the confirmation. Closing this issue now. Please feel free to re-open if you have any questions.

[2020-07-22 18:16] #167 closed

[2020-07-22 18:21] aramase commented on #149
Thanks for confirming @NileshGule! Are you able to confirm after removing the csi provider, KEDA is scaling fine again in the same cluster?

Are you able to consistently reproduce this?

[2020-07-23 00:41] #134 closed

[2020-07-23 00:44] aramase commented on #160
Closing this issue with [v0.0.12](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.12) for driver which uses a separate controller for reconciling/creation of secrets. Please feel free to re-open if you're still seeing issues after trying out the new release.

[2020-07-23 00:44] #160 closed

[2020-07-23 06:25] prabdeb opened #169 "Application Helm Charts that uses csi-secrets-store-provider-azure are broken after PR #164"
**What steps did you take and what happened:**
Application Helm Charts that uses `csi-secrets-store-provider-azure` are broken after PR #164 . We are getting the following errors -

1. Error event from applications -
[code]

2. Error logs from `csi-secrets-store-provider-azure-xxxxx-secrets-store-xxxx` container `secrets-store` -
[code]

**What did you expect to happen:**
Application Helm Charts w

[2020-07-23 06:28] prabdeb commented on #169
CC: @anandchugh

[2020-07-23 06:44] ritazh commented on #169
@prabdeb Thanks for reporting the issue!
From this error `secretProviderClass is not set`, I wonder if you are impacted by

From the latest secrets store csi driver [v0.0.12 release](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.12)

Can you see if this is the issue? If so, PTAL https://github.com/Azure/secrets-store-csi-driver-provider-azure#create-your-own-secretp

[2020-07-23 06:56] prabdeb commented on #169
Thanks @ritazh for your quick reply.

That means all our Application Helm Charts will be broken and it's mandatory to create an extra K8's resource `secretProviderClass` for all of our application Helm Charts!

I am checking if there is any backward compatibility for the application Helm Charts that does not uses extra K8's resource `secretProviderClass` (it was not mandatory). Since this deprecat

[2020-07-23 18:25] aramase opened #170 "Add periodic soak tests with AKS clusters"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-07-23 19:32] SwatantraYadav commented on #101
@travis-sobeck Where is the file secrets-store-csi-driver.yaml located. I ssh into the vm and dont see this file.

[2020-07-23 20:35] maperr opened #171 "PR #164 metrics addr is already in use, breaks secrets-store container."
**What steps did you take and what happened:**
The metrics addr port is already in use and causes the secrets-store pod to fail.

$ kubectl logs csi-secrets-store-provider-azure-secrets-store-csi-driver-rvrmw secrets-store
time="2020-07-23T20:25:15Z" level=fatal msg="failed to start manager, error: error listening on :8080: listen tcp :8080: bind: address already in use"

[2020-07-23 20:39] aramase commented on #171
@maperr Looks like the `metrics-addr` port `8080` is in use by another process on the host. You can configure the `metrics-addr` using the flag when installing with helm.

[code]

Doc for Configuration settings - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure#configuration

[2020-07-23 20:59] dzrhythm commented on #138
I'm curious as to the justification for converting PFX to PEM in this provider. Why not just leave the file format as it exists in Key Vault (albeit base64 encoded for PFX)? This is what the [FlexVolume ](https://github.com/Azure/kubernetes-keyvault-flexvol) version of this provider did, which was handy. That way everyone can choose the format they need.

[2020-07-23 21:03] maperr commented on #171
Thanks

[2020-07-23 21:03] #171 closed

[2020-07-23 21:41] aramase commented on #138
The current default is PEM, so the driver can use the content to create a kubernetes tls secret for ingress if configured in `SecretProviderClass`. We are planning to natively support configuring the expected format, so users can decide the format in which they expect the contents. Default will be `PEM` to support backward compatibility.

[2020-07-24 15:21] dzrhythm commented on #138
Thanks @aramase. Any estimate for delivery? This is an impediment for us migrating from the FlexVolume driver, which is going out of support. We are deploying .NET Core 3.1 applications and are mounting certs for Kestrel (no ingress controllers). Unfortunately not even 3.1 has built-in support for private key PEM files, so we'd have to parse the PEM and build the cert object ourselves.

[2020-07-24 15:42] kenans commented on #138
We are in the same situation as @dzrhythm. Kestrel only supports PFX cert currently and won't be supporting PEM until 5.0.0-preview.8.x.x according to [one of the Github issues](https://github.com/dotnet/aspnetcore/issues/4706). It would be great that the CSI driver could support mounting or creating an Opaque type of secret with PFX cert directly on k8s.

[2020-07-25 15:33] NileshGule commented on #149
hi @aramase
Yes I can confirm that the same code works perfectly fine without the CSI provider.

You can see from the images below that is is able to auto scale down when there are not enough messages to process and after the workload is added, scales back up without troubles.
<img width="1902" alt="04 -auto scale after second workload" src="https://user-images.githubusercontent.com/1298374/884604

[2020-07-26 09:02] lukasmrtvy commented on #132
@aramase
Hello,
I have a proposal:
- use `aadpodidbinding` label for `csi-secrets-store-provider-azure` pods ( helm chart has no option to set podLabels .. )
- deploy SecretProviderClass
- mount keyvault content to `csi-secrets-store-provider-azure` pod ( or some other pod mean for synchronization )
- do synchronization to k8s secrets

[2020-07-28 11:00] deyanp opened #173 ""driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers" errors during AKS upgrade"
**What steps did you take and what happened:**
Today I upgraded my 2-node AKS cluster with 40+ custom pods in total from 1.16.9 to 1.17.7, and during the upgrade (which creates a new node with 1.17.7, then cordons/drains the existing nodes one by one) I got a number of errors like this:

`pod/xxx-yyyyy-zzz-zzz-6c7b7fd9f8-sqq69            MountVolume.SetUp failed for volume "csi-key-vault-func-secr

[2020-07-28 11:13] deyanp commented on #173
In case that matters: the AKS cluster in question is using SystemAssigned identity

[2020-07-28 11:45] deyanp commented on #173
Not sure if this helps, but I see some errors like this

[code]

[2020-07-28 15:54] aramase commented on #173
Thank you for reporting the issue 👍

@deyanp Was the `csi-secrets-store` running on the new node when you saw the errors? The driver pods need to be running on the new nodes, so kubelet can invoke the driver to mount the volume. If the driver pod is not yet scheduled, then kubelet fails with the error `driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers`.

These er

[2020-07-28 15:55] aramase commented on #155
Closing this issue now. Please feel free to reopen if you have any more questions.

[2020-07-28 15:55] #155 closed

[2020-07-28 15:59] aramase commented on #138
We'll add this to our next milestone and include it as part of `v0.0.8` release.

[2020-07-28 16:40] deyanp commented on #173
@aramase I did not check if csi-secrets-store was running on the new node ... you know, the AKS upgrade is fully automatic, you just press in the UI upgrade nodepool, and it does it ...

How can I force AKS/K8s to prioritize the CSI pods first on a new node?

[2020-07-28 16:50] deyanp commented on #173
Just to note the impact of this was about 30 minutes downtime, and I had to re-apply a lot of pod specs so that they pick up the env var injected by the csi driver with values from key vault ...

for some strange reason `kubectl rollout restrart deployment xxxx` was not helping, I had to `kubectl apply -f xxxx.yml` of the individual pods and then do the `kubectl rollout restart deployment xxxx` ..

[2020-07-28 17:01] aramase commented on #173
@deyanp Could you share the `SecretProviderClass` that you're using? I can try to repro with a similar spec.

Currently there is no kubernetes primitive that can be set to enforce the order in which pods are scheduled. There is an issue open that discusses similar scenarios - https://github.com/kubernetes/kubernetes/issues/75890.

Were the pods in `ContainerCreating` or in a different state during

[2020-07-28 17:50] aramase commented on #173
I just tried to repro with this sample set -

[code]

- Upgraded cluster from `1.16.10` to `1.17.7`
- All the new pods consuming the secret were up and running fine after the upgrade
- I do see `driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers` which is because the driver pod is not yet running on the new node (In my cluster this was because of the kubelet takin

[2020-07-28 18:28] aramase opened #174 "Add cluster upgrade and autoscale as part of tests"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-07-28 18:35] deyanp commented on #173
[code]

[2020-07-28 18:39] deyanp commented on #173
[code]

[2020-07-28 18:40] deyanp commented on #173
@aramase , which driver do you mean? I have the following csi-related pods:

[code]

[2020-07-28 18:41] deyanp commented on #173
[code]

[2020-07-28 18:43] aramase commented on #173
@deyanp

csi-secrets-store-gjv9m                  3/3     Running   0          36d

These are the driver pods that's invoked by kubelet for volume mount. The driver calls the provider binary (installed on the host by the csi pods suffixed with `-azure` to fetch the content from Azure Key Vault and write to the target path.

[2020-07-28 18:50] deyanp commented on #173
[code]

[2020-07-29 11:44] kenans opened #177 "Sync with K8s secret requires SecretProviderClass in the same namespace as the pod"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Hi, I tried to follow [the ingress tls secret setup doc](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls) to test sync the CSI object from KV with k8s secret.

However, I found the k8s `secret` can be created only when the `SecretProviderC

[2020-07-29 16:29] aramase commented on #177
Thank you for reporting the issue 👍

The `SecretProviderClass` is a namespaced resource and needs to be in the same namespace as the pod referencing it. This follows the same RBAC best practice as other namespaced resources - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/60#issuecomment-656312749. The mount should also fail if the `SecretProviderClass` is not in the same names

[2020-07-29 16:44] kenans commented on #177
@aramase Thank you for the quick response!

[2020-07-29 16:54] kenans opened #178 "Keep k8s secret around after the referencing pod is deleted"
**Describe the solution you'd like**
Currently when the pod that references the KV object is deleted, the synced k8s secret is also removed. It would be nice if we can provide an option to keep the secret around when the referencing pod is deleted.

**Anything else you would like to add:**
Our working scenario is to use a cronjob to sync all the KV objects with k8s secrets. Other pods then purely

[2020-07-29 20:53] deyanp commented on #173
@aramase , any idea what I can do to prevent such downtimes from happening, whenever pods need to be run on a new node?

[2020-07-29 22:52] aramase commented on #173
@deyanp Thank you for sharing the event output and logs. Some of things I see from the events -

- The workload pod was scheduled `~5s` before the CSI driver pod was scheduled on node `aks-nodepoole2-15204281-vmss000000`
- The image pull and getting the pod started took close to `1m30s~2m` for this node
- During this time kubelet mount calls were failing because the CSI driver pod wasn't yet runni

[2020-07-30 01:26] ritazh commented on #173
And for things like `csi-node-driver-registrar:v1.2.0` we should set the default value in the provider chart as the one being cached in the vhd after this [PR](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/260) merges

[2020-07-30 01:30] ritazh commented on #174
let's start with AKS

[2020-07-30 01:33] aramase commented on #173
@ritazh For aks-engine, we already cache the driver, liveness probe and `csi-node-driver-registrar` images. We also cache the provider images. For this particular cluster, I think @deyanp is hosting the image - `yy5ker.io/deislabs/secrets-store-csi:v0.0.11`.

+1 for this. We should definitely switch to `mcr` images in the helm repo here.

[2020-07-30 01:34] ritazh commented on #178
Thanks for opening the issue @kenans Do you mind opening this issue: https://github.com/kubernetes-sigs/secrets-store-csi-driver so we can get more people to vote on this and see if this makes sense as a feature to support in the csi driver.

[2020-07-30 01:36] ritazh commented on #169
@prabdeb Thanks for the feedback and we will definitely make deprecation messages more obvious in the future. did you get a chance to test the updates?

[2020-07-30 03:54] kenans commented on #178
@ritazh Thank you for the quick response. I've opened [a new issue](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/265) under the csi driver repo

[2020-07-30 08:34] prabdeb commented on #169
@ritazh We have decided not to upgrade to 0.0.9 right now, as we have to invest a lot for modifying/testing all the Helm Charts. We have hard-coded the version 0.0.8.

[2020-07-30 08:41] deyanp commented on #173
The CSI Driver image? No, I am not (deliberately) hosting the image in my Azure Container Registry ... About 2 months ago I simply used the CSI Driver for Azure setup instructions with yaml (without helm):

[code]

 @aramase , do you mean that because the driver images pull took so long that is why the csi driver pods could not be started earlier, and I had such serious issues for such a long time

[2020-07-30 09:02] deyanp commented on #173
One more note, all my about 40 custom pods have imagePullPolicy: Always - is that fine, or can it be the reason for the issues I am experiencing?

[2020-07-30 17:01] aramase commented on #173
Yeah, the driver pods took 2 mins to start because of image pull during which the mount requests were failing.

The driver image was hosted in `docker.io/deislabs/secrets-store-csi:v0.0.11`. I see `yy5ker.io/deislabs/secrets-store-csi:v0.0.11` used as image in your cluster. Do you know why that is?

Most of the image pull errors are `unauthorized: authentication required, visit https://aka.ms/acr/

[2020-07-30 20:15] deyanp commented on #173
@aramase , the image is from docker.io/deislabs/secrets-store-csi:v0.0.11, yy5ker is the result of my attempt to anonymize the logs a bit (replace "doc" with "yy5") so that the real name of the pods is not visible ;) So pls assume that the image is being pulled from its regular source repo.

Why would the new node not be able to authenticate against ACR? As mentioned, the cluster is using SystemAs

[2020-07-30 21:32] lastcoolnameleft opened #179 "Issue when deploying example pod with VMSS User Assigned Managed Identity"
**What steps did you take and what happened:**
https://github.com/Azure/secrets-store-csi-driver-provider-azure#deploy-your-kubernetes-resources

[code]

[code]

**What did you expect to happen:**
I expected the pod to successfully deploy, but instead got:
[code]

**Anything else you would like to add:**
The example nginx.yaml references secrets-store-creds but doesn't provide any detail about it,

[2020-07-30 21:40] aramase commented on #179
@lastcoolnameleft Thank you for opening the issue 👍

The `nodePublishSecretRef` is only required for ServicePrincipal mode - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/service-principal-mode.md. For other modes it's not required. It's documented in the service principal mode doc, but we'll also add info in the yaml.

[2020-07-30 22:06] lastcoolnameleft commented on #179
Thanks for that hint.  I deleted it from my pod yaml and it worked (after deleting and re-creating the pod).

I agree that something in the YAML to indicate which fields are necessary might help.

[2020-07-31 16:09] #157 closed

[2020-07-31 16:10] #165 closed

[2020-07-31 18:25] chakri-nelluri opened #180 "Unable to install HELM Chart in PSP enabled environments"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Unable to use CSI driver on PSP enabled clusters, where `hostPath` is disabled in restrictive PSP.

It is failing with error:

 Warning  FailedCreate  9m39s (x26 over 148m)  daemonset-controller  Error creating: pods "csi-secrets-store-provider-azure-1596210160-" is forbidden: unable to validate ag

[2020-07-31 19:32] aramase commented on #178
Thank you for opening the issue @kenans. We can use https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/265 to track this. Closing this issue.

[2020-07-31 19:32] #178 closed

[2020-07-31 19:37] aramase commented on #180
@chakri-nelluri Thank you for opening the issue 👍

There is no kubernetes primitive for defining the PSP to use. The pods service account needs to be authorized to use a policy that's defined via RBAC. The `secrets-store-csi-driver` and `csi-secrets-store-provider-azure`are bootstrapped with a service account which you can use for authorizing to use with PSP.

We'll add a sample PSP in our docs th

[2020-07-31 23:31] #166 closed

[2020-08-01 01:05] #138 closed

[2020-08-03 07:42] deyanp commented on #173
@aramase , on the MS support ticket I opened in relation to image pull errors (mentioned above) I got the link to the following issue: https://github.com/kubernetes/kubernetes/issues/92326 ...

I need to wrap my head around this and come up with a final conclusion and next steps, any help appreciated!

My current understanding is that because of my AKS cluster configured with MSI (which I think is

[2020-08-03 13:42] ahmedsza commented on #173
I am getting the same kind of error. I followed most of the instructions at https://github.com/HoussemDellai/aks-keyvault except I use a managed identity. My pod is stuck at ContainerCreating and kubectl describe pod nginx-secrets-store shows
Warning  FailedMount  3m45s (x2 over 8m19s)  kubelet, aksnpwin000000  Unable to attach or mount volumes: unmounted volumes=[secrets-store-inline], unattached

[2020-08-03 15:30] lpghartz commented on #150
FWIW, I'm not sure this is *really* an edge case. Azure AppService (and ASE) seems to be... if not abandoned, not sufficiently managed. There's too much stuff that has been not working properly for years, so I'm sure there's lots of people looking to migrate off of ASE to AKS.

And, frankly, the convenience of the auto-renewal and management for App Service Certificates makes it a compelling way t

[2020-08-03 16:20] aramase commented on #173
Yeah, that is a known issue for which there is a PR with the fix. I believe that'll be back ported to previous kubernetes versions.

My current understanding is that because of my AKS cluster configured with MSI (which I think is the recommended way?) I am (sometimes?) unable to pull images from ACR, which prevents CSI Driver from starting quickly, which results in CSI drive mount errors for the o

[2020-08-03 16:22] aramase commented on #173
@ahmedsza It looks like you're trying to run on a windows node? Did you install the helm charts with windows enabled? Which kubernetes version are you running? `kubectl version` and `kubectl get nodes -o wide`

[2020-08-03 16:39] ahmedsza commented on #173
Hi @aramase . You are correct. The cluster was provisioned to support windows and I did add a windows nodepool. I saw i needed to on a later version of aks and have subsequently upgraded aks to 1.18. But error was still there. So yes the helm charts were originally installed on the older aks version..should i uninstall and reinstall the helm charts .. or is there something else I need to do.. for

[2020-08-03 17:10] ahmedsza commented on #173
A note that the windows nodepool was not explicitly upgraded. So I guess I need to do that. is there a chance my pod also got allocated to a Linux node, and i need to put in the relevant node selector or taint

[2020-08-03 18:13] aramase commented on #173
@ahmedsza If your workload is running on windows node, then you'll also need to run the driver on windows node. While deploying it through helm, you can set `--windows.enabled=true` and `--secrets-store-csi-driver.windows.enabled=true`. The helm chart configuration options are documented here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-pr

[2020-08-03 18:33] aramase commented on #158
Closed with #163

[2020-08-03 18:33] #158 closed

[2020-08-03 18:34] aramase commented on #159
Closing this issue. Please feel free to reopen if you're having issues after trying out the steps in the docs.

[2020-08-03 18:34] #159 closed

[2020-08-04 15:55] #180 closed

[2020-08-04 23:40] aramase commented on #156
@pwiens Did you get a chance to look at this?

[2020-08-05 01:40] pwiens commented on #156
I did, I think I have a solution. I've been distracted. I have a prototype
that's almost done. I'm going to use the x509 chain functionality in go to
construct the chain and write it out to a pem file. The current solution is
very wrong. It just grabs the data from the PFX and writes if out in the
order it sees it. We shouldn't trust the order. Also, we should probably
write out the cert and key a

[2020-08-06 06:33] connor4312 opened #182 "New secrets from KeyVault are not immediately available in the `secretObjects`"
**What steps did you take and what happened:**

I did the following:

1. Updated my SecretProviderClass with new secret `object`s in the `parameters`
1. Referenced those new secrets in the `secretObjects` to sync with k8s secrets, in a secret
1. Among the new `data` in the k8s secret, only secrets I had already pulled from KeyVault were present in the k8s secret within the cluster.

**What did you

[2020-08-06 06:41] aramase commented on #182
@connor4312 Thank you for opening the issue 👍

The mount and secret creation is only performed during the pod creation. There is no update to the mount/k8s secret when the `SecretProviderClass` is updated. Currently, the pod and secret need to be recycled when the `SecretProviderClass` is updated or the contents in Key Vault are rotated. I've a PR in progress to update the secret contents when the

[2020-08-06 06:42] connor4312 commented on #182
Thanks for the fast response, looks like I had good timing 🙂  Closing as a duplicate

[2020-08-06 06:42] #182 closed

[2020-08-07 00:31] aramase commented on #148
Closing this with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/279. This will be included in the next release of driver.

[2020-08-07 00:31] #148 closed

[2020-08-07 00:32] aramase commented on #177
Closing this with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/264. This will be included in the next release of the driver.

[2020-08-07 00:32] #177 closed

[2020-08-07 18:04] asc-adean commented on #179
I am running into the same issue (using a managed identity, not a service principal).  I do not have the `nodePublishSecretRef` in my volume definition:

using helm:
`volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ .Values.azure_keyvault.name }}`

[2020-08-07 18:10] aramase commented on #179
@asc-adean What is the error you see in `kubectl describe` output for the pod? What is the kubernetes version (`kubectl get nodes -o wide` and `kubectl version`)? Could you provider sample of your `SecretProviderClass` yaml?

[2020-08-07 18:14] asc-adean commented on #179
kubectl describe:
`Warning  FailedMount  3s  kubelet, aks-nodepool1-11007748-vmss000000  MountVolume.SetUp failed for volume "secrets-store-inline" : kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = Unknown desc = error mounting secret time="2020-08-07T18:12:07Z" level=fatal msg="[error] : unexpected: getCredential failed, nodePublishSecretRef secret is not provided"`

nodes:
`aks-node

[2020-08-07 18:18] asc-adean commented on #179
Additionally, logs from the keyvault-secrets-store-csi-driver

[code]

[2020-08-07 18:19] aramase commented on #179
@asc-adean If you're using managed identity, then `useVMManagedIdentity: "false"` needs to be set to true. As `useVMManagedIdentity: "false"` and `usePodIdentity: "false"`, the fallback option is to auth using `ServicePrincipal` which is why it's failing.

Please set this to true for managed identity

[code]

[2020-08-07 19:26] helayoty commented on #149
/assign @helayoty

[2020-08-07 19:27] asc-adean commented on #179
Thanks @aramase I think I have it working now.

[2020-08-07 23:13] helayoty commented on #149
Hi @NileshGule, I was able to reproduce the issue.

This happens as when we start applying autoscale, all consumer pods got deleted and therefore all secrets related to these pods including `akvsecrets`.

The expected scenario for secret-store-sci is the pod will be created first and then check for secrets but in KEDA, they check first to resolve all [DeploymentEnv](https://github.com/kedacore/ked

[2020-08-07 23:13] helayoty commented on #149
/assign @helayoty

[2020-08-08 13:52] NileshGule commented on #149
hi @helayoty
Kubernetes secrets are shared across pods. It looks like a bad design decision to me to delete the secrets which are not created as part of the secret-store-csi.
If for security reasons, you are deleting the `akvsecrets`, I suggest to delete only the secret which is linked to secret-store-csi driver and not all other secrets.

[2020-08-10 00:00] aramase commented on #149
@NileshGule The CSI driver doesn't delete Kubernetes secrets that were not created by the driver itself. When the secret is created based on `secretObjects` in `SecretProviderClass` by the CSI driver, the pods that the secret were created for are added as owners to the secret. When all pods that use the secret get deleted, the secret is garbage collected. If `akvsecrets` is created by the CSI driv

[2020-08-10 06:18] zicaden opened #185 "Handling password protected SSL certificates in AKV using CSI"
Team,

We would like to use this solution to integrate AKS with AKV. Our primary intent is to configure an NGINX service with the SSL certificates stored in AKV.

The SSL cert is stored as a pfx file [public & private key included] which is base64 encoded and is protected by a password. The password is also stored in AKV as a secret. Per company policy - the private key must be protected by a pass

[2020-08-10 16:15] deyanp commented on #173
@aramase After upgrading the Azure Container Registry to Standard Tier I did another upgrade from 1.17.7 -> 1.17.9 but the disaster repeated - my pods were scheduled to be recreated before the csi-secrets-store and csi-secrets-store-provider-azure, and of course the volume mount failed etc. etc. I had again the unauthorized errors from ACR and so on ...

One thing I do not understand - you said th

[2020-08-10 23:20] aramase commented on #185
Thank you for opening the issue 👍

One way I could think of is to configure the `SecretProviderClass` to get the base64 encoded PFX raw data written to the file1.pfx (*This was added recently - [PR](https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/175) and will be in the next release*)  and the password written to a file2. The workload pod can then use the secret to decode the

[2020-08-11 00:45] aramase commented on #173
The fix for ACR `unauthorized` error (https://github.com/kubernetes/kubernetes/pull/92330) has been merged to master and back ported to previous Kubernetes releases. This should be available in the next set of Kubernetes releases and will be supported in AKS. This additional delay that's being caused during upgrade because of image pull errors should be resolved with the fix.

K8s schedules all po

[2020-08-11 07:24] zicaden commented on #185
Hello - Thank you. We also have another org security policy that the private key can never leave the akv. So essentially we cannot "extract" the private key file from the CSI read only mount volume and store it in our pod locally.  An approach like ssl_password_file mentioned here - https://www.nginx.com/blog/secure-distribution-ssl-private-keys-nginx/ would be very beneficial

[2020-08-11 11:05] zicaden opened #186 "Mount Volume setup fail: Failed to execute refresh request / refresh token failure"
Hello Team,

I followed the steps to setup CSI from this link. https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

I am using service principal based access. Getting the following error.

MountVolume.SetUp failed for volume "csi-secrets-store" : kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = Unknown desc = error mounting secret time="2020-08-11T10

[2020-08-11 14:24] zicaden commented on #186
Just in case anyone wants to refer to config files - here they are

[mycsi-yaml.txt](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/5057489/mycsi-yaml.txt)
[mysvc-yaml.txt](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/5057490/mysvc-yaml.txt)

[2020-08-11 16:13] aramase commented on #186
@zicaden The Azure Keyvault provider for Secrets Store CSI driver runs as a binary on the host. The CSI driver invokes the binary on the host to fetch contents from Keyvault and write the contents to the pod mount.

This means the connection to `login.microsoftonline.com` is being blocked. Do you have NSG rules that deny outbound traffic from host?

[2020-08-11 18:36] zicaden commented on #186
Hello - my bad. NSG rules were the issue. It is resolved now. Thanks for the help

[2020-08-11 18:37] #186 closed

[2020-08-11 22:02] aramase commented on #115
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/153. Will be included in release `0.0.8`

[2020-08-11 22:02] #115 closed

[2020-08-12 14:37] jrudley opened #188 "provide official production support within Microsoft"
The docs state that since this is open source, Microsoft will not provide support. Since Microsoft provides support for other integrations with key vault, such as VM's, Web apps, etc,  AKS should be no different. It is a hard sell to use AKS and Key Vault in an enterprise deployment.

[2020-08-12 14:49] NileshGule commented on #149
Thanks for the clarification @aramase.

[2020-08-12 18:01] zicaden opened #190 "Sample Ingress steps leads to tls.crt 0 bytes"
Hello Team,

I followed the steps as specified here https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls

I am using a single pem file that contains both public and private key as depicted in the example with

    objectName: ingresscert
          objectType: secret

  data:
    - objectName: ingresscert
      key: tls.key
    - objectName: ing

[2020-08-12 18:55] aramase commented on #190
@zicaden How are you importing the cert in to Key Vault? I followed the doc and I was able to get `tls.crt` and `tls.key`.

1. Generated the crt and key using openssl command in the doc
2. Created a single PEM file that contains both the private key and the certificate
3. Imported the pem file by running - `az keyvault certificate import -n pemtls --vault-name kindkv -f tls.pem`
4. Setup the rest

[2020-08-12 19:05] zicaden commented on #190
I am using the following:

az keyvault secret set --name NAME-OF-SECRET --vault-name NAME-OF-VAULT --encoding base64 --file filename.pem

the pem file has both private key and the certificate

[2020-08-12 20:14] aramase commented on #190
If setting the certificate content as a secret, then the driver assumes this to just be a secret as there is no `KeyID` and sets the content in mount as is. It doesn't decode the secret, which means it's written to the mount in the base64 encoded format as it was uploaded. The driver requires the files to be in PEM format to get the keys and certs from to write as k8s tls secret. The Key Vault pro

[2020-08-12 20:56] zicaden commented on #190
Hello thank you for the note. I guess i misinterpreted the documentation - where the pem file must be of type secret and hence did the above. I followed the step you provided and imported as a certificate and it is working now.

[2020-08-12 20:56] #190 closed

[2020-08-12 23:52] ritazh commented on #188
@jrudley Thanks for reaching out! If you need assistance in addition to github issues, you can also join the [#csi-secrets-store](https://kubernetes.slack.com/messages/csi-secrets-store) channel on [Kubernetes Slack](https://kubernetes.slack.com/), where other community members can also help.

[2020-08-13 03:55] #161 closed

[2020-08-13 03:55] #179 closed

[2020-08-13 14:06] jrudley commented on #188
Hi @ritazh
Thanks, but I am a bit more concerned that official Microsoft documents are referencing this driver, but the repo states no official support from Microsoft. Example https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes
If I have a customer who has an issue with the driver and they reach out to CSS, they will deny support. There are no warnings on the do

[2020-08-13 14:20] Meberem opened #191 "GRPC error: stat /etc/kubernetes/secrets-store-csi-providers/azure/provider-azure: no such file or directory"
**What steps did you take and what happened:**
powershell install
[code]

Deployment
[code]

The deployment eventually fails, with error messages indicating an issue with the csi driver
`kubectl describe pod -n staging accounts`
[code]

and the logs from the driver container
`kubectl logs -n staging csi-secrets-store-secrets-store-csi-driver-s8fhz
secrets-store`
[code]

**What did you expect to ha

[2020-08-13 15:45] jrudley commented on #185
@aramase Getting the base64 encoded pfx is exactly what I need. Do you have an eta on the next release? Thanks

[2020-08-13 16:14] aramase commented on #191
@Meberem Can you check if the azure provider is running and the logs for that pod? The provider pod will contain `csi-secrets-store-provider-azure` in the name.

[2020-08-13 16:28] Meberem commented on #191
I don't think it is running. The only pod I can see is `csi-secrets-store-secrets-store-csi-driver-s8fhz`. Is this not installed as part of the helm install?

[2020-08-13 16:31] aramase commented on #191
It is installed as part of the helm chart. Could you run the helm install command with `--debug` to check and post the rendered manifests? I just did an install on the cluster and see both the pods running as expected.

[2020-08-13 16:48] Meberem commented on #191
It appears uninstalling it and re-installing creates the pods correctly. I don't know what would have caused that. For reference here is the output:
[code]

[2020-08-13 17:37] aramase commented on #191
Thank you for confirming it works now. I'll close this issue as it's now resolved. Please feel free to re-open if you have any other issues.

[2020-08-13 17:37] #191 closed

[2020-08-13 20:58] aramase commented on #185
The release `0.0.8` is planned for tomorrow.

[2020-08-14 00:31] jrudley commented on #188
MS is updating their docs to state the support issue.

[2020-08-14 00:31] #188 closed

[2020-08-14 18:40] zicaden opened #193 "Mutual TLS with Nginx sample"
Team,

I was wondering if the sample can be extended to support mutual TLS? Any guidance would be very helpful.

Thanks

[2020-08-14 20:28] aramase commented on #185
We are currently unable to get release test signals for windows because of https://github.com/Azure/aks-engine/issues/3700. As a result, the `0.0.8` release has been postponed to Monday tentatively.

[2020-08-17 13:49] danquah commented on #121
Any news on when version 0.0.13 of secrets-store-csi-driver is going to be released, and subsequently,  when the secrets-store-csi-driver-provider-azure chart will bump its dependency on it?

[2020-08-17 21:49] aramase commented on #121
@danquah The release was postponed to this week because of test issues. We're planning to release the new driver and helm charts this week.

[2020-08-17 22:21] danquah commented on #121
Sounds great 😃

[2020-08-18 12:09] mo-saeed opened #195 "driver reads secrets from secretproviderclass of wrong namespace"
**What steps did you take and what happened:**
- Create 2 namespaces "development" and "testing"
- Create 2 secret provider classes with the same name (e.g. test-driver) in both namespaces with different list of secrets
- create a deployment in the testing namespace with the secretproviderclass "test-driver", it will read the secretproviderclass from development namespace

**What did you expect to

[2020-08-18 15:36] zicaden commented on #195
Hello - I have a related question. Did you try and install the driver in both the namespaces using helm?

helm install <prov-name> csi-secrets-store-provider-azure/csi-secrets-store-provider-azure -n development

helm install <prov-name> csi-secrets-store-provider-azure/csi-secrets-store-provider-azure -n testing

What I have observed is that the first one goes through. The second one errors out s

[2020-08-18 16:37] brianlongmsc commented on #185
Hi all,

I'm very interested in seeing a working example of retrieving certificates from AKV and having the relevant SecretProviderClass generate the kubernetes.io/tls secret for use in Ingress for TLS.

Tried this earlier but not sure on how to split my AKV cert back into it's 'cert' and 'key' values for the TLS secret i.e.

spec:
  provider: azure
  secretObjects:
    - secretName: dvs-tls-cert

[2020-08-18 16:48] aramase commented on #185
@brianlongmsc We have a sample doc in here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls on how to use the driver for ingress TLS. More info on object type for certificate are documented here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/getting-certs-and-keys.md

[2020-08-18 18:08] aramase commented on #195
Issue has been fixed with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/264. This will be part of driver `v0.0.13` release.

@zicaden The driver and providers pods are only one per cluster node. You don't need to deploy it multiple namespaces.

[2020-08-19 02:29] aramase opened #196 "Add tests for deployment manifests using kind"
- Add a test job that runs tests using the deployment manifest yamls in [deployment](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/deployment) and [driver deployment](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/deploy)

[2020-08-19 02:31] #37 closed

[2020-08-19 02:31] #120 closed

[2020-08-19 02:31] #121 closed

[2020-08-19 02:31] #195 closed

[2020-08-19 16:45] aramase commented on #169
Thanks for the feedback @prabdeb. We'll make sure to add the deprecated notice and warning logs a few releases before the actual deprecation.

Closing this issue now. Please feel free to reopen if you have any issues while trying out the latest releases.

[2020-08-19 16:45] #169 closed

[2020-08-19 20:06] jrudley opened #197 "Failed to refresh the Token for request"
Warning  FailedMount  66s   kubelet, aksnpwin000000  MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = error mounting secret time="2020-08-19T19:22:20Z" level=fatal msg="[error] : failed to get objectType:secret, objectName:database-password, objectVersion:: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://mykv

[2020-08-19 20:23] jrudley commented on #197
Hrm, disregard. The token was cached when it worked with the nsg open up. It has to be something with the image. Will dig more into it.

[2020-08-20 06:52] zicaden opened #198 "Create multiple secret objects from a single SecretProviderClass"
Hello Team,

I am trying to use a single SecretProviderClass to create multiple secret objects. I tried the following configuration - but found that only the first secret object ["mtls-secret" in this example] was created and the second one ["ca-secret" in this example] was not.

The objects are correctly loaded into the mount volume.

Is there something wrong with my configuration / this is not s

[2020-08-20 09:22] kdhokte opened #199 "Request for Mounted content encryption"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The data is getting mounted on CSI driver volume as plain text.  There desire  to make the mounted content also needs to be encrypted on the volume/ disk. In case of Private key to be pulled from azure Key Vault. It is not good practice to store it on Volume/disk and need to be encrypted

**Anything

[2020-08-20 09:47] zicaden commented on #198
My bad - the type of the second secret is incorrect[kubernetes.io/tls] . I changed it to Opaque and it is working.

[2020-08-20 09:47] #198 closed

[2020-08-20 09:48] zicaden commented on #193
Was able to complete it. Thanks.

[2020-08-20 09:48] #193 closed

[2020-08-20 18:02] jrudley commented on #197
Debugging it and it seems to be a specific secret that is not found in my secretproviderclass yaml. If I delete it the secret from the yaml, container starts. Will keep digging into it

[2020-08-20 18:11] jrudley commented on #197
solved. There was whitespace in the yaml after the secretname, objectname and key. Would be nice if we could trim.() upon parsing

[2020-08-21 11:52] mansing2 opened #200 "Failed to get key vault token: nmi response failed with status code: 404"
I'm trying to retrieve secrets and certificates from the Azure key vault, I have been referring to the guide https://github.com/HoussemDellai/aks-keyvault. I have observed that sometimes I see it's working and sometimes doesn't.  The pod status shows creating... and when I do describe pod I see an error 'Failed to get key vault token: nmi response failed with status code: 404'

Provider Class:

`a

[2020-08-21 16:30] futureviperowner opened #201 "The k8s secret can get deleted without being recreated"
**What steps did you take and what happened:**
When exporting the Azure secrets to k8s, it looks like the driver deletes and recreates the k8s secret when it is synchronized.  However, I've twice encountered cases where the k8s secret is deleted and not re-created which leads to pod instability.  When this occurs, the unstable pod is automatically terminated and restarted by k8s (the liveness prob

[2020-08-21 18:10] #201 closed, assigned to nobody

[2020-08-22 08:21] hadr10 opened #202 "Issue with new version of AAD pod identity v 1.6.2"
**What steps did you take and what happened:**
We are using key vault integration with AKS and with new version of AAD pod identity it stopped works.
I tried everything from documentation and it doesn't work.

**What did you expect to happen:**
See secrets from key vault in pod in AKS.

**Anything else you would like to add:**
logs from nmi
I0822 08:19:25.359371       1 standard.go:72] no clientID

[2020-08-24 14:01] mansing2 commented on #200
Latest error from the pod

[code]

[2020-08-24 17:14] drzdbd1 commented on #156
@aramase @pwiens , any updates on the said PR? we're also blocked by this gap in adopting CSI driver.

[2020-08-24 21:00] ritazh commented on #202
@hadr10 Thanks for opening the issue.  Can you confirm if the identity exists on the VMSS by running the command:
`az vmss identity show -g <MC_ resource group> -n <VMSS name>`

[2020-08-24 22:33] ritazh commented on #200
How is the `secretproviderclass` resource `default/secret-provider-kv` deployed? Was it deployed in the same namespace as the pod in the `default` namespace?

[2020-08-25 01:28] ritazh commented on #156
cc @jlichwa

[2020-08-25 02:16] jlichwa commented on #156
Rita,

We have to come up with routing issues to us.
CSI Driver should have “no logic” and reflect Key Vault functionality, if there is an issue in Vault it should be routed to us.
Let’s bring it up on meeting tomorrow.

Jack Lichwa

From: Rita Zhang <notifications@github.com>
Sent: Monday, August 24, 2020 6:29 PM
To: Azure/secrets-store-csi-driver-provider-azure <secrets-store-csi-driver-provider

[2020-08-25 03:12] drzdbd1 commented on #156
Added a bit more context here.

We deploy CSI driver for our customers to sync certificates from key vault. The format expected in the environment is PEM and a lot of customers have PFX certificates stored in their key vault. There is no way we could ask them to recreate certificates in PEM. With key vault api, we could easily manipulate the content to generate PEM from PFX but this is not possibl

[2020-08-25 03:28] jlichwa commented on #156
+@sebansal
@drzdbd1  can you provide more information on how you can manipulate using key vault api and can't do it on AKS side?
If it is something on client libraries which is possible in akv, we can then get that logic from key vault SDK libraries and assist AKS team.

[2020-08-25 08:49] hadr10 commented on #202
az vmss identity show -n aks-systempool-14371176-vmss -g MC_xxx-weu-xxx-temp-aks-rg_xxx-weu-xxx-temp-blue-aks_westeurope
{
  "principalId": null,
  "tenantId": null,
  "type": "UserAssigned",
  "userAssignedIdentities": {
    "/subscriptions/xxxx/resourceGroups/MC_xxx-weu-xxx-temp-aks-rg_xxx-weu-xxx-temp-blue-aks_westeurope/providers/Microsoft.ManagedIdentity/userAssignedIdentities/xxx-weu-xxx-tem

[2020-08-25 15:49] drzdbd1 commented on #156
It is in key vault client libraries.

With key vault api, we get the SecretBundle, where .Value is the raw bytes from PFX, then construct the X509Certificate2 object so we would be able to enumerate the cert chains to create the desired PEM format.

CSI driver would always honor the original format so there's no way to convert PFX to PEM in this case.

[2020-08-25 16:04] aramase commented on #156
@drzdbd1 We do provide the option to convert PFX to PEM. In fact, that's the current default behavior. If the `objectFormat: pfx` is set then we return the base64 encoded PFX data as is. The order of the certificates returned is the same order in which the cert chain is uploaded to Key Vault.

[2020-08-25 16:07] aramase commented on #202
@hadr10 Could you share the following details -

1. `SecretProviderClass` yaml you're using
2. Pod yaml
3. `AzureIdentity` and `AzureIdentityBinding` yamls
4. Logs from MIC pods

From the output you shared, there are 2 user assigned identities on the VMSS which I believe are the default AKS identities? What is the identity you've configured in the `AzureIdentity`?

[2020-08-25 16:21] drzdbd1 commented on #156
@aramase Just to clarify in case i was confused. If my cert is stored as PFX in key vault and I set `objectFormat: pem`, can I expect PEM as output with **the correct cert chain order**? Because you also mentioned the order would still be the same in which the cert is uploaded but a PEM format with a PFX order would be invalid.

[2020-08-25 16:27] aramase commented on #156
@drzdbd1 You're right! The output is PEM and *order is the same in which the cert is uploaded*. This issue is open so we can discuss the changes for the CSI driver to construct the chain with the correct order irrespective of the uploaded content order.

[2020-08-25 16:50] drzdbd1 commented on #156
I don't see a point that exporting a cert with invalid PEM format would be of any use. To me this is a bug that needs to be fixed.

I wonder `objectFormat` is needed or not as the format could be a metadata retrieved from key vault, I'd like to have a different config like `outputObjectFormat` to set the output format irrespective of the original format in key vault.

[2020-08-26 09:29] hadr10 commented on #202
1. SecretProviderClass yaml you're using
i am using this helm chart
helm repo add secrets-store-csi-driver https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts
helm install csi-secrets-store secrets-store-csi-driver/secrets-store-csi-driver

and for azure provider
$ helm repo add csi-secrets-store-provider-azure https://raw.githubusercontent.com/Azure/secrets-st

[2020-08-26 15:45] sai25590 opened #204 "Azure Kubernetes service - CSI driver secret store mount error"
We have our Azure Kubernetes pod which gets it's HTTPs cert from keyvault. The cert is mounted via using CSI driver in /mnt/secrets. The certificate in keyvault looks good but the mount doesn't happen. The pod is stuck in container creating state.

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Which access mode did you use to

[2020-08-26 16:17] lukasmrtvy opened #205 "(feat): Sync with kubernetes secrets to multiple namespaces"
Info:
Would be nice to have option to sync secrets to multiple namespaces.

Use case:
- postgresql password referenced in multiple namespaces

Workarounds:
- https://github.com/emberstack/kubernetes-reflector ( another component that may break.. )
- https://github.com/appscode/kubed ( another component that may break.. )

[2020-08-26 16:25] aramase commented on #202
@hadr10 Thank you for sharing the details. I don't see any error in the MIC logs posted. Could you verify from the `az vmss identity show -g <MC_> -n <VMSS name>` that the user assigned identity with client id starting with `6083##### REDACTED #####916b` exists? If not, could you try deleting and recreating the `nginx-secrets-store-inline` pod to check if any errors pop up in MIC?

[2020-08-26 16:40] aramase commented on #204
The provider pods were not installed. Installing the daemonset based on the following instructions - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/install-yamls.md#install-the-azure-key-vault-provider resolved the issue.

[2020-08-26 16:40] #204 closed

[2020-08-26 19:47] lukasmrtvy opened #206 "(feat): provide labels/annotations option to the helm chart"
Would be nice to provide provide labels/annotations option to the helm chart.

Use case:
- set prometheus annotations ( `prometheus.io/port: "8080"`, `prometheus.io/scrape: "true"` )
- set aad-pod-identity label ( `aadpodidbinding: "select"` )

[2020-08-26 19:48] lukasmrtvy opened #207 "(feat): structured log"
Would be nice to provide arg option for structured log format ( json )

[2020-08-26 20:29] aramase opened #209 "docs: ensure PR template includes attribution reminders"
See:

https://github.com/openservicemesh/osm/blob/main/.github/pull_request_template.md

[2020-08-26 23:17] sainipankaj90k opened #210 "PEM crt and key generated by CSI is different from openSSL (where openSSL one works good for Traefik)."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

1. I used CSI-Driver to create kubernetes secret from pfx in AzKeyVault. (below template was used)
2. It successfully created the secret in kubernetes.
3. I used the same secret for tls in Traefik-Ingress.
3. a. I received this error: "_Error while creating certificate store: failed to load X509 k

[2020-08-26 23:24] aramase commented on #210
@sainipankaj90k The CSI driver fetches the contents as is from Key Vault and loads that in the mount and also syncs as k8s secrets. In case of chain of certs, the entire chain is written to the mount in the same order as they were uploaded to Key Vault. There is already an issue open to discuss adding a feature in the CSI driver to determine the certs and construct in the correct order https://git

[2020-08-26 23:48] sainipankaj90k commented on #210
Sure. Any rough idea about when that will be available?
Until then moving to CSI-Driver will be difficult for us. CSI-Driver is a hope to move away from extra steps we do for pulling and converting pfx from key-vault. :)

[2020-08-27 15:12] jrudley opened #213 "secrets-store pod not being created on windows nodes when using tolerations on windows."
**What steps did you take and what happened:**
When I do not have a taint/toleration for deployment, my pod deployment looks like this:
![image](https://user-images.githubusercontent.com/1934411/91460089-090a0980-e84d-11ea-84f1-7317946e3387.png)

When I set a taint on my windows node during aks creation
[code]
![image](https://user-images.githubusercontent.com/1934411/91460273-41114c80-e84d-11ea-9

[2020-08-27 15:32] lukasmrtvy commented on #206
oh, nvm, seems that secrets-store-csi-driver-provider-azure does not work like https://github.com/SparebankenVest/azure-key-vault-to-kubernetes ( sync secrets from keyvault to kubernetes secrets ).

Related proposal: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/132#issuecomment-663961316

[2020-08-27 16:15] aramase commented on #213
@jrudley The `secrets-store-csi-driver` chart is a dependency for the `csi-secrets-store-provider-azure` chart. The tolerations need to also be set on the driver based on these configuration values - https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/charts/secrets-store-csi-driver#configuration.

Please also add `--set secrets-store-csi-driver.windows.tolerations[0].effect="N

[2020-08-27 16:24] jrudley commented on #213
@aramase Thanks, I should of seen the requirements.yaml in the charts directory. I'll close it out. Thanks for the quick response

[2020-08-27 16:24] #213 closed

[2020-08-27 19:07] jlichwa commented on #210
@aramase in my opinion, issues/bugs like that should be raised to key vault itself to update their API. As users move between different platforms(app on VM Machine, Service Fabric, AKS) there should be no difference in how certificates are formatted. Users should be able to move code between platforms with minimum code change.

[2020-08-28 07:11] hadr10 commented on #202
az vmss show -n aks-systempool-14371176-vmss -g MC_HCI-weu-xxx-temp-aks-rg_xxx-weu-xxx-temp-blue-aks_westeurope

az aks get-credentials -n hci-weu-xxxx-temp-blue-aks -g HCI-weu-xxxx-temp-aks-rg
ids are correct
{
  "principalId": null,
  "tenantId": null,
  "type": "UserAssigned",
  "userAssignedIdentities": {
    "/subscriptions/xxxxxxxxxxxxxxxx/resourceGroups/MC_xxx-weu-xxx-temp-aks-rg_xxx-weu-xx

[2020-08-28 18:15] ritazh commented on #210
This request has been opened with the Key Vault team: https://github.com/Azure/azure-rest-api-specs/issues/10637

[2020-08-28 18:15] ritazh commented on #156
This request has been opened with the Key Vault team: Azure/azure-rest-api-specs#10637

[2020-08-28 18:25] sainipankaj90k commented on #210
Makes sense. That will be great. :)
For now, I am working on a solution, where a container can push tls secret to k8s after conversion of pfx to pem using open-ssl.

[2020-08-28 18:39] aramase commented on #149
Closing this issue based on the comments above. Please feel free to reopen if you have any other issues or concerns.

[2020-08-28 18:39] #149 closed

[2020-08-28 23:49] #209 closed

[2020-08-29 02:10] sutekar opened #214 "Wrong example in [OPTIONAL] Sync with Kubernetes Secrets section"
Hi,
In section "[OPTIONAL] Sync with Kubernetes Secrets" where sample provided under "A SecretProviderClass custom resource should have the following components:" has wrong sample.
SecretName and type should be part of secretObjects where currently it is under secretObjects.data which fails deployment continuously in my case.

[2020-08-29 02:12] #214 closed

[2020-08-31 04:44] mansing2 commented on #200
@ritazh - Sorry for the delay in reply, the issue has been resolved after adding . Answer to your question, secretproviderclass and secrete-provider-kv are created in the default namespaces.

I have a question, as per https://github.com/HoussemDellai/aks-keyvault, _"The Azure Key Vault Provider offers four modes for accessing a Key Vault instance: Service Principal, Pod Identity, VMSS User Assigne

[2020-08-31 16:16] aramase commented on #200
@mansing2 PTAL at this section - https://github.com/Azure/secrets-store-csi-driver-provider-azure#provide-identity-to-access-key-vault. We have a doc on how to use system assigned managed identity for accessing Key Vault - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/system-assigned-msi-mode.md.

The required configuration parameters for each mode is documented

[2020-08-31 17:56] aramase commented on #202
@hadr10 There are no errors in MIC. Looks like the new pod you created doesn't have the right selector for `aadpodidbinding` label on the pod.

This error indicates MIC hasn't assigned an identity for the pod. Check the `aadpodidbinding` label and ensure it's same as the one defined in `AzureIdentityBinding` spec.Selector.

[2020-09-01 07:00] hadr10 commented on #202
i had got there mistake, after repair i got these errors on pod:
  Warning  FailedMount  94s (x3 over 8m24s)  kubelet, aks-systempool-14371176-vmss000000  Unable to attach or mount volumes: unmounted volumes=[secrets-store-inline], unattached volumes=[secrets-store-inline default-token-6vk2m]: timed out waiting for the condition
  Warning  FailedMount  91s (x4 over 5m35s)  kubelet, aks-systempool-

[2020-09-01 09:14] thiDucTran opened #216 "K8s secret not created automatically"
**What steps did you take and what happened:**
We deployed via static manifests.
* `kubectl apply -f rbac-secretproviderclass.yaml`
* `kubectl apply -f csidriver.yaml`
* `kubectl apply -f secrets-store.csi.x-k8s.io_secretproviderclasses.yaml`
* `kubectl apply -f secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml`
* So the 4 files above got applied to our `default` namespace.
* Then we

[2020-09-01 10:22] dkirrane opened #217 "Question: Does SecretProviderClass belong in an application Helm chart"
Does the `SecretProviderClass` belong in application Helm Charts or should it be added at the infrastructure side (deployed by Terraform k8s provider)?

I'm thinking it should be treated like a `StorageProviderClass`, applications shouldn't be concerned with this and only mount K8s Secrets.

[2020-09-01 16:21] aramase commented on #216
@thiDucTran Are the `SecretProviderClass` created with the same name in the first and second namespace? If so, there was a bug in v0.0.12 release where the `SecretProviderClass` wasn't being looked up in the same namespace as the workload pod. This has been fixed in latest `v0.0.13` release. Could you give that a try?

If the name of the 2 `SecretProviderClass` is different, then could you provide

[2020-09-01 16:41] aramase commented on #217
@dkirrane the `SecretProviderClass` is a namespaced resource and needs to exist in the same namespace as the application pod. `StorageClass` on the other hand define the default classes supported on the cluster which can then be referenced in the `PersistentVolumeClaim`. The `SecretProviderClass` is closed to a pvc here.

[2020-09-01 16:44] aramase commented on #202
@hadr10 Thank you for confirming. So from the logs and output you posted, looks like the identity with the clientID `6083##### REDACTED #####916b` does exist on the underlying VMSS. There is an IMDS caching bug which causes this issue - the token request fails with `identity not found` even when the identity exists on the underlying VMSS. The IMDS team is aware of the issue and are working on the

[2020-09-01 17:58] aramase opened #218 "Add load tests as part of nightly pipeline"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2020-09-03 00:09] aramase commented on #173
We have switched to using images hosted in `mcr` for the driver and these images have been added to the VHD for aks-engine. Closing this issue. Please feel free to open a new issue if you have any questions.

[2020-09-03 00:09] #173 closed

[2020-09-03 05:14] thiDucTran commented on #216
Hi @aramase , regarding CSI driver pod logs..are you regarding to the `Daemonset` named `csi-secrets-store` ? if yes, specifically which `container`  log are you looking for?

* here is the `SecretProviderClass` yaml for the 1st (working) app namespace

[code]

* here is the `SecretProviderClass` yaml for the 1st (working) app namespace
[code]

[2020-09-03 06:06] aramase commented on #216
@thiDucTran Looking for `secrets-store` container logs from the driver pod running on the same node as your workload. The secrets get created in the same namespace as the workload pod and `SecretProviderClass`. I just tried a similar example on my cluster and don't see any errors -

[code]

[2020-09-03 07:37] thiDucTran commented on #216
@aramase ,

attached is log of all container secret-store.

the `SecretProviderClass` of both namespaces have been shared from above

here is what the what automatically created secret looks like...in your testing..are you deploying via same way as me (static yaml files) and with  the same docker images versions?

[code]

[2020-09-03 10:10] dkirrane commented on #217
ok thanks, so there is no concept of global type Secrets. i.e. if apps in same namespace need the exact same secrets from key vault they should have their own SecretProviderClass in their helm chart.
Apps need to ensure the K8s `secretName` don't clash.

[2020-09-04 04:41] mansing2 commented on #200
@aramase - Sorry for the delay in reply. Many thanks for the information. The issue we were facing has been fixed by adding below. Appreciate your help!

[code]

[2020-09-04 04:41] #200 closed

[2020-09-04 05:48] aramase commented on #216
yes, I'm deploying using the manifest I posted above with driver version `v0.0.12`

[code]

I see this in the log you shared. That log indicates there are no `secretObjects` defined in the `SecretProviderClass` - `nsp-ts-d-mm-iagent/spc-ts-d-mm-iagent`. Could you share the output for `kubectl get secretproviderclass -A -o yaml`?

[2020-09-04 06:59] thiDucTran commented on #216
here it is..but i have already removed the k8s sync portion so that the app team can mount the secret as a file....btw...i did a git pull..seems there are changes to the `deploy/*.yaml` files..the static manifests...let me try and use the up-to-date static manifests and latest docker images

[code]

[2020-09-04 08:57] thiDucTran commented on #216
hi @aramase
 it is the same issue: `Error: secret "$name" not found`

here's what I did.

* git pull and now my FETCH_HEAD is `d8fd297972a9eb674c3102f6bad97e0f98d5104e`
* used the static files in `deploy` dir and from https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/charts/csi-secrets-store-provider-azure/templates/provider-azure-installer.yaml to do
  * `kubectl apply

[2020-09-04 14:28] thiDucTran commented on #216
I see this error again..even after redeploying the daemonset's pods... do you know how or why it is looking for the `SecretProviderClass` named `spc-ts-d-mm-iagent` in namespace `nsp-ts-d-mo-glory` ?? also...is this the error causing it to stop processing other `SecretProviderClass` ? example: the `spc-test` above.

here is `kubectl get secretproviderclass -A`
[code]

Here is the yaml file of `spc

[2020-09-04 16:19] aramase commented on #216
The `SecretProviderClass` needs to be in the same namespace as the pod referencing it. There was a bug in `v0.0.12` release where this was not being honored. But with `v0.0.13` this has been fixed and the `SecretProviderClass` in the same namespace as the pod will only be matched. This is in accordance with RBAC best practices - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/60

[2020-09-04 16:24] thiDucTran commented on #216
Hi @aramase , in my hello-world deployment above..you can see that I am deploying hello-world to the namespace `nsp-ts-d-mm-iagent` . the hello-world app is referencing `SecretProviderClass` `spc-test` ..which  is also in namespace `nsp-ts-d-mm-iagent`

[2020-09-04 16:31] aramase commented on #216
@thiDucTran The log for the `SecretProviderClass` is for pod - `csi.storage.k8s.io/pod.name\":\"userservicedeployment-854fdd7684-88tqf`. There is no log for `aks-helloworld` pod. What do you see in the `kubectl describe pod` output for the failing pod?

Also, I see the volumeMounts is commented out in the snippet you shared. Is that the case too when it's deployed to the cluster?

[code]

[2020-09-04 16:36] aramase opened #221 "Update debian base image to v2.1.3"
Fixes the following vulnerabilities:

- https://lists.debian.org/debian-security-announce/2020/msg00101.html by bumping libgnutls30 from 3.6.7-4+deb10u3 to 3.6.7-4+deb10u5
- https://lists.debian.org/debian-security-announce/2020/msg00089.html by bumping apt version from 1.8.2 to 1.8.2.1.

Update the base image before the next release as updating `docker/` dir will trigger the image push job. We do

[2020-09-04 16:41] aramase commented on #217
Apps need to ensure the secretNames don't clash when they Sync with Kubernetes Secrets

That's correct. It is good to have the level of isolation by having a `SecretProviderClass` per deployment to ensure no conflicts and also scenarios where a particular secret is only required for one of the pods in the same namespace.

[2020-09-04 16:42] thiDucTran commented on #216
When I deploy hello-world, I commented out the volumeMounts because I want to use k8s secret  sync..not volumeMounts....I can uncomment volumeMounts...comment the k8s sync related portion..and my hello-world pod can start and i will be able to `cat` the secret file in the mounted location. ..Also like you said..I checked the logs again after deploying hello-world again...there is nothing in the lo

[2020-09-04 16:43] aramase commented on #89
cc @chrisamert who is going to work on this

[2020-09-04 16:46] aramase commented on #216
@thiDucTran Volume mount is what invokes the `secrets-store-csi-driver`. The primary functionally of the driver is to mount the external secrets store content to the pod. Sync as K8s secret is an optional feature on top of the default mount. The mount content is used to mirror as k8s secret. So without the mount the `secrets-store-csi-driver` will never be invoked.

[2020-09-04 17:06] thiDucTran commented on #216
@aramase I did not know about the volumeMounts requirement for k8s secret sync...although..I uncommented the volumeMounts lines..there is still the same error of `Error: secret "mmdbsecret" not found`

in the csi-secrets-store log.. i can see

[code]

[code]

full log is attached
[log2.zip](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/5176081/log2.zip)

[2020-09-04 17:10] aramase commented on #216
@thiDucTran Looks like the service account is missing the RBAC permissions on the secret. Did you install the manifests for https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/deploy/rbac-secretprovidersyncing.yaml?

Install doc - https://github.com/kubernetes-sigs/secrets-store-csi-driver#install-the-secrets-store-csi-driver

[2020-09-04 17:33] thiDucTran commented on #216
ohhhhh.. i see now...i was wondering why we apply the same file twice in the instructions. should be `rbac-secretprovidersyncing.yaml` . thanks so much for the help @aramase

[code]

[2020-09-04 17:40] aramase commented on #216
@thiDucTran Good catch. I've opened [PR](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/306) to update the doc. Is the issue resolved now?

[2020-09-04 17:53] thiDucTran commented on #216
issue is resolved bro. thank you. @aramase

[code]

[2020-09-04 17:53] #216 closed

[2020-09-04 18:59] jadarsie opened #223 "test: add CI job that validates "custom cloud" features"
**Describe the solution you'd like**

It is possible to pretend that `AzurePublicCloud` is a custom cloud by using this AKS Engine [cluster definition](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/test/e2e/cluster_configs/linux-custom-cloud.json)

**Anything else you would like to add:**

The CI job will require an AKS Engine release that includes the following feat

[2020-09-06 19:41] kamilzzz opened #224 "Kubernetes secret not updated even after pod restart"
**What steps did you take and what happened:**
1. Deployed 2 pods referencing SecretProviderClass
2. Volumes were mounted correctly and kubernetes secret was created
3. Updated a certificate stored in a keyvault
4. Redeployed one of the pods
5. Updated certificate was correctly mounted as a volume but kubernetes secret was not updated

**What did you expect to happen:**
Kubernetes secret to be upd

[2020-09-07 08:58] Shuanglu opened #225 "Whether the volume can be mounted with non-root user"
**Describe the solution you'd like**
Whether the volume can be mount with non-root user

**Anything else you would like to add:**
N/A

**Environment:**
AKS
- Secrets Store CSI Driver version: (use the image tag):  mcr.microsoft.com/k8s/csi/secrets-store/driver:v0.0.13
- Azure Key Vault provider version: (use the image tag): mcr.microsoft.com/k8s/csi/secrets-store/provider-azure:0.0.8
- Kubernetes

[2020-09-07 17:47] #217 closed

[2020-09-08 06:32] hadr10 commented on #202
Sorry for delay. I tried to recreate few times but the issue is same. Do you know some timeline for fix above?

[2020-09-08 09:13] mansing2 opened #226 "Unable to retrieve the actual certificate, secret only retrieving the ca signing certs."
We are trying to retrieve the certificate (We have a trusted certificate from Digicert) from Azure Key vault using the CSI driver to use with NGINX Ingress Controller. The kubernetes secret is getting created but when the certificate is retrieved using ```kubectl get secret ingress-tls-csi``` we don't get the actual certificate and it only returns the ca signing certs.

Also when we check the log

[2020-09-08 16:04] aramase commented on #224
@kamilzzz The CSI driver currently doesn't support automatic reload of secrets after it is created. This is planned for the next release of the driver - [issue](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/125). For the current release, you will need to delete the Kubernetes secret and redeploy the pods for the secret to be created with the new certificate.

[2020-09-08 16:10] aramase commented on #226
@mansing2 The Azure Key Vault provider fetches the certificate contents from Key Vault as they were uploaded. If it is a chain of certs, then the chain is retrieved and populated in the mount as is. The order of chain certs is also same as the order in which they were uploaded. The Key Vault provider for CSI driver doesn't reconstruct the chain in a different order.

If the expected order is -
[co

[2020-09-08 16:33] mansing2 commented on #226
@aramase - Thanks for your response. I see the request opened with Azure is for enhancement. In my case, I don't get a certificate, so I was wondering if you could help with the same, and I would be happy to pass on the details you might need. I followed the example given here https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/sample/ingress-controller-tls

Many thanks.

[2020-09-08 16:53] aramase commented on #226
@mansing2 If the certificate is uploaded, then you should see the content is. The Key Vault provider is doing the equivalent of the following command - `az keyvault secret download`. What is the format in which the certificates are uploaded? PEM or PFX?

Could you compare the certificate chain uploaded vs the certificate chain the pod mount?

[2020-09-08 18:47] aramase commented on #210
Closing this issue as this is being tracked in #156. Please feel free to reopen if you have any questions.

[2020-09-08 18:47] #210 closed

[2020-09-08 18:50] aramase commented on #202
@hadr10 Did you recreate with a new identity in azure? Please share the MIC logs and az vmss identity output for the new identity. The IMDS team is working on the fix currently. There is currently no fixed ETA for the fix rollout, but I'll check with them again.

[2020-09-09 13:49] ahmedsza opened #227 "permissions required when using managed identity"
**What steps did you take and what happened:**
I was getting this error- AKS cluster with managed identity

failed to apply binding api/azure-pod-identity-binding node aks-nodepool1-28849957-vmss000002 for pod api/trips-7cf9848d6-6qc7b, error: failed to update identities for aks-nodepool1-28849957-vmss in MC_teamResources_ahmsohex2_westeurope, error: compute.VirtualMachineScaleSetsClient#Update: F

[2020-09-09 16:19] aramase commented on #227
@ahmedsza The `Managed Identity Operator` role is required on the managed identity that `aad-pod-identity` needs to manage. The required role assignments are documented here - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md

[2020-09-09 16:57] mansing2 commented on #226
@aramase  - Below is how we upload the certificate to the key vault. I'm not sure if that helps here.

1. Create certificate in key vault:
    ```az keyvault certificate create --vault-name $KEY_VAULT_NAME -n $CERT_NAME -p "@$POLICY_FILE_NAME"``` //We have a policy JSON with the required details in it.

2. Create CSR and then submit CSR for procurement
[code]

3. ONce we get certificate from Digic

[2020-09-09 18:00] ahmedsza commented on #227
Thanks @aramase . According to https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md it needs Managed Identity Operator permission to the MC_ group. I had that but it did not work.
When I added an additional permission of Managed Identity Operator to the "AKS resource group" then it worked - and I am trying to understand if this is by design.  Both this doc a

[2020-09-09 18:03] aramase commented on #227
@ahmedsza If the identities aren't in `MC_` resource group, then the `Managed Identity Operator` needs to be assigned for the resource group in which identities exist. This section of the doc calls that out: https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md#user-assigned-identities-that-are-not-within-the-cluster-resource-group. This is by design. Essenti

[2020-09-09 18:04] aramase commented on #227
@ahmedsza If the identities aren't in `MC_` resource group, then the `Managed Identity Operator` needs to be assigned for the resource group in which identities exist. This section of the doc calls that out: https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md#user-assigned-identities-that-are-not-within-the-cluster-resource-group. This is by design. Essenti

[2020-09-09 18:19] ahmedsza commented on #227
I did see that but thought it did not apply as this is a cluster managed identity. Later I do create  "az identity create" and that is in the aks rg (not mc_). Are you saying in this case I need to grant additional permissions? Or put the az identity in the mc_ rg? I am following https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes almost to the t.. but it is not

[2020-09-09 18:31] aramase commented on #227
@ahmedsza The docs team is working on updating https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes. Also, that doesn't cover all possible scenarios extensively. I would recommend following the role assignment doc in `aad-pod-identity` - https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md

This details the authentication m

[2020-09-10 07:04] riccardodl opened #229 "Remove deprecated Pod Security Policies"
**Describe the solution you'd like**

https://docs.microsoft.com/en-us/azure/aks/use-pod-security-policies
As you can see, pod security policy is getting deprecated on the 15th of October, superseded by Azure policies for AKS
https://docs.microsoft.com/en-us/azure/aks/use-pod-security-on-azure-policy
Since I use Azure policies for pods, I'd like if we update the [PSP definitions](https://raw.githu

[2020-09-10 16:06] aramase commented on #226
@mansing2 Thank you for the update.

Could you try downloading the secret directly from Key vault to check the contents returned? `az keyvault secret download --vault-name <name> -n <certificate name> -f <file name to write to>`. The `secrets-store-csi-driver` is using the same API to fetch the contents from Key vault to write to the pod mount. If the `az keyvault secret download` returns the same

[2020-09-10 16:33] mansing2 commented on #226
@aramase - I ran that az cli ```az keyvault secret download --vault-name <name> -n <certificate name> -f test.pfx```, I see the expected three parts in the certificate i.e. root, intermediate, and the actual one as shown below in the screenshot. Though when I download the secret as a plan text -f test.txt or test.json, I get a long alphanumeric string.

![image](https://user-images.githubuserconte

[2020-09-10 16:37] dkirrane opened #230 "secretObjects not creating Secrets"
**What steps did you take and what happened:**

I have the following `SecretProviderClass` in namespace called `mine` namespace.
But it is not creating a Secert `foo` in mine namespace.

When I create a Pod and mount the Secret as file it works.
But it just doesn't create any K8s Secret.

Anyway way to debug this furthur. I don't see anything in when I run describe on SecretProviderClass

[code]

[2020-09-10 16:43] aramase commented on #230
@dkirrane Is the `SecretProviderClass` in the same namespace as the pod?

If yes, could you check the logs for the CSI driver pod (container - `secrets-store`) running on the same node as the workload pod?

[2020-09-10 17:24] aramase commented on #226
@mansing2 If the cert is uploaded in pfx format, then you can decode it by running

1. `az keyvault secret download --vault-name <name> -n <certificate name> -f test.pfx -e base64`
2. `openssl pkcs12 -in test.pfx -out test.pem -nodes` to check the certificates.

We have a slack channel [#csi-secrets-store](https://kubernetes.slack.com/messages/csi-secrets-store) on Kubernetes slack. Please feel fr

[2020-09-10 19:40] dkirrane commented on #230
Yes both pod and SPC in same namespace. Redeployed the Pod, Checked node it was on. No new logs in secrets store container. Some older logs. Nothing new.

[code]

[2020-09-10 20:18] aramase commented on #230
@dkirrane Just to confirm, you're using `0.0.7` helm chart release? That release uses `v0.0.11` version of the driver.

Do you have another `SecretProviderClass` with the same name in another namespace?

1. `kubectl get secretproviderclass -A`
2. `kubectl describe pod nginx-env-secrets -n mine`
3. After redeploying the pod, logs from the `secrets-store` container pod from the CSI driver pod runnin

[2020-09-10 22:15] kamilzzz commented on #224
@aramase thanks for the response.

Any estimate when next release will be out?

[2020-09-11 03:48] mansing2 commented on #226
@aramase - I can't find this channel, looks like I need an invite to join, would you able to send one please to mansing.shinde@xoriant.com/mansingshinde86@gmail.com. Thank you.

[2020-09-11 16:54] aramase commented on #226
@mansing2 Kubernetes slack channel is self invite - https://slack.k8s.io/

@jlichwa Do you have any thoughts why this could happen?

[2020-09-11 19:02] dkirrane commented on #230
yip correct on versions.
redeployed chart again

[code]

[code]

[code]

[code]

`secrets-store` logs from aks-sbx4-38476688-vmss000003 node:
[https://gist.github.com/dkirrane/c5bcde1e3e5545b0ee61f47aeb56374a](https://gist.github.com/dkirrane/c5bcde1e3e5545b0ee61f47aeb56374a)

[SecretProviderClass.yaml](https://gist.github.com/dkirrane/af2c3576812bef85668dab3170500276)

[nginx-env-secrets.yaml](ht

[2020-09-11 19:25] aramase commented on #230
@dkirrane There are 2 issues with the manifests you shared -
1. There is no `volumeMount` in the pod spec. If there is no `volumeMount` kubelet will not invoke the CSI driver for mount for the pod.
2. The `secretObjects` need to be one level above under spec. In the example you shared it's under `spec.parameters` which isn't right.

Here is sample pod - https://github.com/kubernetes-sigs/secrets-s

[2020-09-11 19:35] dkirrane commented on #230
Ok so my Pod was missing volumeMounts. Once I added that the Secret got created.
[code]

So, is there a way to sync to K8s Secrets without adding volumes to Pods. For instance, a Helm chart I cannot change that uses this approach to get secrets i.e. no volumes
https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables

[2020-09-11 19:37] aramase commented on #227
@ahmedsza Is the issue resolved now?

[2020-09-11 19:40] aramase commented on #230
@dkirrane The volume mount is the primary feature of the CSI driver. The sync K8s secret is an optional feature on top of the mandatory mount. So creating just K8s secret is not something the `secrets-store-csi-driver` supports.

[2020-09-11 19:44] aramase commented on #99
Closing this issue as it's a driver feature request - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298

[2020-09-11 19:44] #99 closed

[2020-09-11 22:03] aramase commented on #230
Closing this issue as it's resolved. Please feel free to open another issue if you have any questions.

[2020-09-11 22:03] #230 closed

[2020-09-11 22:04] aramase commented on #224
@kamilzzz The release is tentatively planned for sometime in the next 2 weeks. The PRs for adding the feature are currently under review.

[2020-09-11 22:06] aramase commented on #202
@hadr10 Any update on the above? Is the issue resolved now?

The IMDS team is working on the fix for `"identity not found"` errors. This is because of caching bug in IMDS because of which token requests fail with `identity not found` error even when the identity does exist on the underlying VMSS.

[2020-09-11 22:11] aramase commented on #225
@Shuanglu Could you elaborate more on this issue? What is the current behavior you're seeing and what is the use case?

[2020-09-11 22:20] aramase commented on #206
@lukasmrtvy The CSI driver is invoked by kubelet for mounting volume for individual pods.

1. It's not possible to mount the secret for all pods inside `csi-secrets-store-provider-azure`.
2. Mounting all the secrets to a single pod means anyone who has access to the `csi-secrets-store-provider-azure` would be able to view the secrets for every other pod.
3. The CSI spec is defined for the `volumeM

[2020-09-14 02:00] #221 closed

[2020-09-14 05:59] ma185360 commented on #225
Hi Team,

Use case is like this. Application container is running with non-root user and secrets are getting mounted with root privileges because of which container application is not able to access those secrets.

[2020-09-14 17:09] kylelee24 opened #231 "New Versions of a Key Vault Secret Are Not Being Retrieved"
**What steps did you take and what happened:**
- Deployed `SecretProviderClass` using `secretObjects` to sync secrets.
- Mounted volume and referenced secrets in `Deployment` file and observed the environment variables are available to the pods.
- Created a new version of a Key Vault secret.
- Deleted Kubernetes secret to workaround this bug - https://github.com/Azure/secrets-store-csi-driver-prov

[2020-09-14 17:15] aramase commented on #231
@kylelee24 After the secret is deleted, the pod needs to be restarted to fetch the latest content.

The secret is a reflection of the content in the pod mount. If pod isn't restarted then the secret is created with the existing content from pod mount which is still the old version.

[2020-09-14 18:49] #231 closed

[2020-09-14 20:47] mchudinov opened #232 "How to connect XX.crt file and YY.key secrets in KV to tls.crt and tls.key in k8s ?"
I follow the documentation provided here https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/sample/ingress-controller-tls/README.md

The document reference only one secret in KV, but there must be two: one certificate and one key for that certificate.

[code]
It is unclear how to put them both in k8s as a `secretObject ` type of `kubernetes.io/tls`

Then document says not

[2020-09-14 21:21] aramase commented on #232
@mchudinov Did you get a chance to review this doc - https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/getting-certs-and-keys.md? `objectType: secret` retrieves the certificate and the private key. This is the behavior with Key Vault. The CSI driver will parse the single file to separate out the `tls.key` and `tls.crt` while creating the Kubernetes secret.

The ingr

[2020-09-16 13:00] ahmedsza commented on #227
Hi @aramase . Apologies on the delay. I did have it working. My confusion was around the clear documentation. Your notes above help - and the better news is that it appears that https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes has been updated to show the role assignment to both resource groups.

Thanks for your help

[2020-09-16 16:04] aramase commented on #227
Glad it's working now. Closing this issue now. Please feel free to reopen if you have any other issues.

[2020-09-16 16:04] #227 closed

[2020-09-18 14:04] aelmanaa commented on #84
@aramase  is syncing vault with k8s secrets the only way to load  secrets as env variables? To lower the attack surface, it would be preferable to store minimum of secrets in etcd

[2020-09-18 18:42] ritazh commented on #84
@aelmanaa if you do not want to sync with k8s secrets, another option is to set the environment variable before the main process starts in your container. For example:

[code]

[2020-09-21 04:29] mansing2 commented on #226
@aramase - Many thanks for helping out us on the slack channel. Really helps!

This issue has been resolved now, there is no issue or bug with CSI for sure as CSI uses Azure API call to retrieve the certificate chain.

Here are the steps that helped us in creating a certificate from the existing one with a complete chain (Root, Intermediate, and actual one)
1. Download the certificate from the key

[2020-09-21 16:15] aramase commented on #226
@mansing2 Thank you for the confirmation and detailed steps. Closing this issue now. Please feel free to open a new issue if you've any other issues.

[2020-09-21 16:15] #226 closed

[2020-09-21 16:46] aramase commented on #232
@mchudinov Did you get a chance to look at https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/232#issuecomment-692321401?

[2020-09-21 16:47] aramase commented on #207
We are moving to `klog` as part of the next release. This should be possible with the switch to `klog`

[2020-09-22 04:24] kenans commented on #138
Hi @aramase, I tested the PFX feature but the I got a question about it.  My `SecretProviderClass` config is something like below,
[code]

With this I'm able to mount the csi volume into a pod and I can see the k8s secret created successfully. However, when I check out the cert file content from the mounted volume, I was expecting the file to be the binary PFX format but it was actually the base64

[2020-09-22 09:57] mo-saeed opened #234 "Add new secret to existing secret-provider-class fails"
**What steps did you take and what happened:**
- Create a secret provider class with list of secrets and apply it
- Create deployment (with 2 replicas) which has the secrets in the provider class as ENV variables and apply it
- Till now all works fine
- Now I need to add new secret, so add it to azure keyvault
- Add it to secret provider class and apply the changes
- add a new env variable with th

[2020-09-22 10:00] #234 closed

[2020-09-22 17:54] aramase commented on #84
@ritazh This example will be a good addition to our docs for users who don't want to sync as Kubernetes secret.

[2020-09-22 20:17] jweaver4 commented on #232
Hi. I have followed the documentation very closely and everything seems to be running well. However, The kubernetes.io/tls secret, ingress-tls-csi, is not being created. The nginx-one & nginx-two get created and seem to run smoothly. The mounts show the certs.  This problem may not belong here but I thought it may be related.

[2020-09-23 13:58] ritazh opened #235 "Better guidance for access options"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Provide pros and cons of each access option listed: https://github.com/Azure/secrets-store-csi-driver-provider-azure#provide-identity-to-access-key-vault

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI