[2021-04-09 16:55] aramase commented on #464
@LP0101 That error message is from the rotation reconciler. The success is for the secret sync reconciler.

Questions:
1. Do you have `--filtered-watch-secret=true`?
2. Is this pod using `nodePublishSecretRef`?
  - If yes, have you labelled the secret used in node publish secret ref with `secrets-store.csi.k8s.io/used=true`?

Reference docs:
https://secrets-store-csi-driver.sigs.k8s.io/load-tests.

[2021-04-12 13:13] LP0101 commented on #464
Yup, that was it. Thank you, must have missed that during the update :)

[2021-04-12 13:13] #464 closed

[2021-04-12 13:44] marceloes opened #465 "The demo setup doesn't work"
Performed all the steps and secret never gets created and the application doesn't run because of that.

[2021-04-12 16:14] aramase commented on #465
Could you provide more details on what is the error you're seeing while trying the demo?

The troubleshooting docs are here: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/.

[2021-04-12 17:59] aramase commented on #281
Closing this issue because we have no user requests on this. Please feel free to reopen if you have any questions or suggestions.

[2021-04-12 17:59] #281 closed

[2021-04-12 19:54] aramase opened #469 "Support RSA-HSM keys"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Support `RSA-HSM` keys with the azure keyvault provider

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
-

[2021-04-13 09:48] ArronaxKP opened #471 "GRPC error: failed to mount secrets store objects for pod <Pod_Name>, err: rpc error: code = Canceled desc = context canceled"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
So we are using th

[2021-04-13 16:20] aramase commented on #471
@ArronaxKP This issue looks very similar to https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/292

1. Do you have a firewall rule blocking egress from the host?
  - The provider pods request to get a token and access keyvault is being blocked based on the logs posted.
2. Could you check if there is connectivity to AAD and keyvault from the node?

[2021-04-13 17:23] aramase opened #472 "Add nodeaffinity to prevent scheduling on virtual-kubelet nodes"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add nodeaffinity to prevent the CSI driver pods from being scheduled on [virtual-kubelet](https://github.com/virtual-kubelet/virtual-kubelet) nodes.

Using [type: virtual-kubelet](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/cmd/virtual-kubelet/internal/commands/root/node.go#L43) la

[2021-04-13 21:49] aramase commented on #241
Closed with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/468

[2021-04-13 21:49] #241 closed

[2021-04-13 22:30] #469 closed

[2021-04-14 08:24] ArronaxKP commented on #471
Yes our symptoms look the same as #292. I will check our side but network issues is entirely possible. Will look through our side to see if we can identify the root cause.
As #292 has the same error and was host network related I would our issue is also network connectivity related. Will update this once I identify what component was failing to connect.

[2021-04-14 14:02] ShubhasisMathur opened #474 "Pods in ContainerCreating state"
Our application pods are not coming up, and are in ContainerCreating state, we tried:
- Re-installed the CSI driver and the SecretProviderClass
-   Re-created the secret needed for connecting to the azure keyvault.
but of no help. Here are the errors we see from kubectl get events:

"Apr 14 11:06:27 aks-mcpdrs1-35797989-1 kubelet[1274]: E0414 11:06:27.642477    1274 nestedpendingoperations.go:301]

[2021-04-14 14:03] ShubhasisMathur commented on #474
@aramase to check.

[2021-04-14 16:25] aramase commented on #474
@ShubhasisMathur How is this related to the CSI driver? In the `kubectl describe pod` output I don't see any CSI volume:

[code]

The keyvault volume is an `EmptyDir`.

[2021-04-14 18:38] marceloes commented on #465
The issue seems to be that, after following all the steps, the ingress controller is not using the certificate created. Instead, it uses this one:

`* Server certificate:
*  subject: O=Acme Co; CN=Kubernetes Ingress Controller Fake Certificate
*  start date: Apr 14 18:20:24 2021 GMT
*  expire date: Apr 14 18:20:24 2022 GMT
*  issuer: O=Acme Co; CN=Kubernetes Ingress Controller Fake Certificate
*

[2021-04-14 22:19] aramase opened #475 "Support CSI driver writing to filesystem instead of the provider"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Secrets Store CSI Driver v0.0.21 adds support for the CSI driver writing to the filesystem instead of each provider doing it. This will enable consolidating the file IO and validation logic in the CSI driver.

Add logic to return the mount contents as part of grpc response
- This will be feature gate

[2021-04-14 22:56] skri547 opened #476 "Mount Failed Unable to deploy pod successfully with using Provider"
Warning  FailedMount  95s (x5 over 10m)  kubelet            Unable to attach or mount volumes: unmounted volumes=[secrets-store-inline], unattached volumes=[secrets-store-inline default-token-478xx]: timed out waiting for the condition
  Warning  FailedMount  59s (x8 over 11m)  kubelet            MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed t

[2021-04-14 22:58] skri547 commented on #476
I am using helm with these extra values

## Enable secret rotation feature [alpha]
enableSecretRotation: true

## Secret rotation poll interval duration
rotationPollInterval: 2m

[2021-04-14 23:41] #476 closed

[2021-04-14 23:51] skri547 opened #477 "instead of specifying objectName's in SecretproviderClass it would be great to read all secrets in key-vault and mount in the pod"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-04-15 00:15] skri547 commented on #477
Is there any solution already in place? If yes can you provide the relevant pods or steps to achieve this?
Thanks

[2021-04-15 00:16] skri547 commented on #477
@aramase any solution present already for this?

[2021-04-15 08:02] ShubhasisMathur commented on #474
@aramase Thanks, I understand that it does show from the pod describe output but we are trying to access our secrets from Azure Keyvault . Here is the kubectl get events which you would like to have a look at:

Mounting arguments: -t tmpfs tmpfs /var/lib/kubelet/pods/492c6f1d-0039-43f0-837b-edc0de36662ggxxx/volumes/kubernetes.io~csi/keyvault/mount
Output: mount: /var/lib/kubelet/pods/492c6f1d-0039

[2021-04-15 12:19] ShubhasisMathur commented on #474
@aramase We could solve the issue after we completely cleaned everything related to the CSI driver on the cluster.
Then installed the provider and driver fresh from this link: https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/

This issue appeared after the cluster was upgraded from 1.19.3. AKS to 1.19.7 version, but strange part is the issue did not appe

[2021-04-15 15:45] aramase commented on #474
Output: mount: /var/lib/kubelet/pods/492c6f1d-0039-43f0-837b-edc0de3d8715/volumes/kubernetes.iocsi/keyvault/mount: mount point does not exist.

@ShubhasisMathur Is there any log for this pod in the CSI driver with that error? From the describe output the pod is using an `EmptyDir` for that volume. So in this case the CSI driver wouldn't even be called because that's a non CSI volume.

For example,

[2021-04-15 15:47] aramase commented on #474
I would recommend checking your application rollout because the CSI volume is missing. The CSI driver doesn't need to be upgraded every time.

[2021-04-15 16:45] aramase commented on #477
@skri547 No, that's not possible. The objects and versions (latest if not set) defined in the `SecretProviderClass` are the only ones fetched from keyvault.

[2021-04-15 19:10] aramase opened #479 "Update pod security policies to reflect latest required spec"
- Update example pod security policy in [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/manifest_staging/deployment/pod-security-policy.yaml) to reflect only the required set of permissions.

[2021-04-15 19:10] #404 closed

[2021-04-20 16:12] andyw248 commented on #465
Same problem here. Ingress finds the correct issuer when the secret has been created manually, but for secrets imported by CSI Secret Store Driver it thinks the cert has been issued by Acme. Another issue is that ingress can also not find the CN in the cert that was imported by the CSI driver, even though the original cert in Key Vault contains the correct CN.

When looking at the secrets in kuber

[2021-04-20 16:33] aramase commented on #465
@andyw248 The CSI driver does import and write the entire certificate chain. The order of the certificate matches the order in which the certificates where uploaded in keyvault. We have an optional feature to reconstruct the certificate chain in the order (server, intermediate, root) in the CSI driver: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/feature-flags/#co

[2021-04-21 00:02] marceloes commented on #465
I was able to get it to work. One of the issues was namespaces: it seemed that the secret provider class, the created secret, the ingress controller, the ingress and apps all had to be on the same namespace (or namespace be explicitly declared on each reference).

[2021-04-21 00:49] aramase opened #480 "Add upgrade to latest k8s release as part of CI"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We run upgrade tests today as part of nightly CI run

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/5fed2b91de3ee5a06d8c2b77eef8044bfcd3b804/.pipelines/templates/aks-upgrade.yaml#L3

We should enable another round of upgrade here to the next available release to be able to tes

[2021-04-22 03:41] irperez opened #481 "Guidance on proper security guidance inside K8s (Security Context issues)"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We need proper guidance in the documentation and installation so that Azure Policy won't show up on scans for the CSI driver.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the im

[2021-04-22 15:09] rlaveycal opened #482 "Retrieve all versions of a secret"
**Describe the solution you'd like**

It would be useful to specify `objectVersion: "*"` and have all versions of that secret retrieved. They could be mounted on the volume either as `secret-name/version` or `secret-name-version`.

The driver for this is the .Net Data Protection API. This allows use of certificates to protect the key. In order to provide backwards compatibility when the certificat

[2021-04-22 16:27] nilekhc commented on #472
I am working on this

[2021-04-23 15:18] bweissman opened #483 "How to refresh a secret?"
Hi,

I have created a secret in Key Vault for my SQL Server's sa password.

This is then exposed as an environment variable - works like a charm.

If I update the password in Key Vault though (I am not referencing a version in my secrets class, so it should pull the latest), k8s still pulls the old one (even after re-deploying the class and sql server, so apparently the cache is in the driver?).

[2021-04-23 15:52] andyw248 commented on #465
@aramase Thank you for pointing out the construct-pem-chain option! This completely solved the issue for me.

[2021-04-23 16:12] bweissman commented on #483
additional info:

I did enable auto rotation and the version between

kubectl get secretproviderclasspodstatus <class> -o yaml

and

az keyvault secret show --name "SAPassword" --vault-name $KVName --query "id"

match (after maximum of 2 minutes)

[2021-04-23 17:30] bweissman commented on #483
Thank you!

i may have made a mistake on the application layer - I’ll close this for now and revert back to you if needed.

thanks again!

[2021-04-23 17:30] #483 closed

[2021-04-23 22:58] aramase commented on #472
Closed with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/486

[2021-04-23 22:58] #472 closed

[2021-04-26 08:23] alsastre opened #487 "Helm installer: Tolerations and node selectors should be propagated to the daemon nodes"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-04-26 17:48] aramase commented on #368
Closing this issue because it's part of a CSI driver spec.

[2021-04-26 17:48] #368 closed

[2021-04-26 17:57] aramase commented on #465
Thank you for confirming.

The `SecretProviderClass` needs to be in the same namespace as the application and synced Kubernetes secret will be created in the same namespace following RBAC best practices with namespace being the security boundary.

The kubernetes secret being in the same namespace as Ingress is an ingress requirement and best practice.

Closing this issue as it's now resolved.

[2021-04-26 17:57] #465 closed

[2021-04-26 17:58] aramase commented on #474
@ShubhasisMathur Any updates on this?

[2021-04-26 17:58] aramase commented on #471
@ArronaxKP Any updates on this?

[2021-04-26 17:59] aramase commented on #328
Closing this issue with the latest releases that have load test optimizations. Please feel free to open a new issue if you have any questions.

[2021-04-26 17:59] #328 closed

[2021-04-26 18:20] ArronaxKP commented on #471
So we haven't been able to pin-point the root cause. Its seems mostly stable. As we have seen some intermittent network issues with where this is deployed I am going to assume that is the issue and close this issue.

[2021-04-26 18:20] #471 closed

[2021-04-26 18:32] aramase commented on #326
Closing this issue as it's a network issue with the cluster. If the issue persists, then it would be best to open a support case with AKS to investigate the network errors.

[2021-04-26 18:32] #326 closed

[2021-04-26 21:03] nilekhc commented on #487
Hi @alsastre helm chart of provider has driver chart as dependency. You can provide those override in values.yaml file under `secrets-store-csi-driver` section.

Here is an example override for driver:
[code]

[2021-04-27 02:22] ohhelloxoxo commented on #471
I see this was closed, but I did want to throw in my two cents. I'm setting up the CSI driver/Azure provider for the first time on my cluster today, and I've gotten everything setup except for running into this same issue.

For what it's worth, I don't seem to have any firewall or connectivty issues: the timeout for the SP trying to get a token is consistent, and on that same pod I can use wget an

[2021-04-27 18:48] vsaxena6 opened #488 "Getting issue with the helm install"
Hi ,

I have installed the repo using helm install command and my secret-store driver is throwing error.
Its not coming up and thus restarts each time.
Error:

kubectl logs csi-secrets-store-provider-azure-1619547838-secrets-store-b8lx8 secrets-store -n my-ns
I0427 18:36:15.862229       1 exporter.go:33] metrics backend: prometheus
F0427 18:36:25.899047       1 main.go:132] failed to start manager

[2021-04-27 19:08] aramase commented on #488
Could you provide more details on how you're installing and what is the cluster configuration?

1. What cluster is this? AKS/AKS-engine?
2. Kubernetes version
3. CSI Driver and provider version
4. What are the steps taken to install?
5. `kubectl get pods -A` output?

[2021-04-27 19:30] vsaxena6 commented on #488
1. I am using AKS cluster
2. kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"**", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"****", GitTreeState:"clean", BuildDate:"2021-03-10T23:40:01Z",

[2021-04-28 00:31] aramase commented on #488
@vsaxena6 Are you using the latest helm charts to deploy the driver? It looks like there might be an issue connecting to the kube-apiserver when the client is initializing. Do you have any firewall rules or restricted egress enabled in the cluster?

If yes, could you try deploying the charts in `kube-system` namespace?

[2021-04-28 03:20] vsaxena6 commented on #488
Thanks!! It worked in kube-system. We had firewall rules applied in our AKS, that could be the reason behind failing of driver.

[2021-04-28 04:45] vsaxena6 commented on #488
Hi,
I could run the  driver in kube-system, however when I am trying to call the driver from my namespace I am getting following error:
MountVolume.SetUp failed for volume "secrets-store-inline" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers

This is how my deployment file look like:
![image](https

[2021-04-28 05:20] vsaxena6 commented on #488
Hi,
After adding node-selector, I could see that the driver has been found by the pod, however it still fails giving following errors:

![image](https://user-images.githubusercontent.com/40315678/116350337-65c02880-a80f-11eb-803c-f7f776d41c20.png)

[2021-04-28 06:11] patpishiva commented on #488
Hello @vsaxena6 ,
   It can be related to your network firewall rule blocking egress from the host  .

Please take a look at the similar issue:
https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/292
https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/471

[2021-04-28 14:05] alsastre commented on #487
Great thanks!

[2021-04-28 14:05] #487 closed

[2021-04-28 16:20] aramase commented on #488
@vsaxena6 Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

1. There is no `secretProviderClassNamespace`. The `SecretProviderClass` will be looked up from the same namespace as the pod referencing it in the volume.
2. If the mount fails, you can look at the logs from the driver and provider running on the same node as your applica

[2021-04-29 03:58] dcint opened #490 "Cert permission too open for postgres ssl requirement"
**What steps did you take and what happened:**
When mounting key vault cert permission of file is 0644. Meaning anyone can read cert file. My specifc issue is postgres requires permission for cert files to be 0640 in order to use ssl connection .

**What did you expect to happen:**
I expected permission for cert to be more restrictive and not read everyone.

**Anything else you would like to add:*

[2021-04-29 04:24] aramase commented on #490
File permissions are currently not configurable. The default permission is `0644` which is set and passed from the driver. Please feel free to comment on this issue: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/346 and for tracking.

[2021-04-29 06:25] ShubhasisMathur commented on #474
@aramase Lets close this. We recreated the CSI after deleting everything from AKS and worked fine for us. Thanks for looking at it

[2021-04-29 06:46] aramase commented on #474
Thank you for the confirmation. Please feel free to re-open  if you have any questions.

[2021-04-29 06:46] #474 closed

[2021-04-29 15:10] WillooWisp opened #491 "Error of SecretProviderClass not found on initial resource deployment"
Using latest version 0.0.18 of helm chart.

Why do I always get the following error event of FailedMount when first syncing up the deployment spec below for the first time. The mount works when I check the file contents. Deleting the pod or replicaset and letting it be auto recreated by the deployment does not give the error.

Error:
using MountVolume.SetUp failed for volume "secrets-store-inline"

[2021-04-29 15:39] WillooWisp commented on #491
Yes that might be it, but since I use Argo CD to deploy them both in the same app I am not so sure I can control the timing. But then I guess it is more of an issue with Argo CD than with this secrets provider.

[2021-04-29 15:56] aramase commented on #491
Thanks for confirming. Anything outstanding in this issue that we can help with?

[2021-04-29 17:19] WillooWisp commented on #491
No thanks for a quick response, I will investigate Argo CD and close this for now.

[2021-04-29 17:19] #491 closed

[2021-05-03 20:41] aramase commented on #479
Closed with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/493

[2021-05-03 20:41] #479 closed

[2021-05-06 10:50] Jatish-Khanna opened #494 "Read Azure Keyvault mounted secrets in a Spring Boot 2.4.x application"
**What steps did you take and what happened:**
1. Setup the CSI driver on the cluster
2. Create secrets in Azure key/vault
3. Connect the K8s cluster to Azure key vault using provided client ID and Secret
4. Create Secret Storage Class
5. Add the mount location in deployment.yaml
6. Verify if the pod has mounted secrets

**What did you expect to happen:**
1. Secrets to be loaded in Spring Boot 2.4

[2021-05-06 16:01] nilekhc commented on #494
Hello @Jatish-Khanna Could you provide env details:

Azure Key Vault provider version: (use the image tag):
Kubernetes version: (use kubectl version and kubectl get nodes -o wide):
Cluster type: (e.g. AKS, aks-engine, etc):
Spring boot version 2.4.x

Also could you confirm if service principal has valid access permissions for secrets?

[2021-05-07 18:36] olegsavin opened #497 "Ignore non-existent secrets"
Currently if specified secret doesn't exist in AKV volume mount fails, which fails container:
  Warning  FailedMount  45s (x6 over 62s)  kubelet            MountVolume.SetUp failed for volume "secrets-volume" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod test/testpod-bf48f7867-ztd42, err: rpc error: code = Unknown desc = failed to mount objects, error: failed to

[2021-05-09 12:26] assaf-grth opened #498 "pods running as root user security alerts"
**Describe the solution you'd like**
I am using the helm installation of csi, (chart version 0.0.17, app version 0.0.13)
The installation creates pods which are defined to run as root user
When connected to Azure Security Center I get this recommendation: "Running containers as root user should be avoided"
Is there a practice to use a different permission level?
Should this ASC recommendation be i

[2021-05-10 17:27] aramase commented on #498
@assaf-grth The driver needs to run as privileged pod to be able to mount the volume as tmpfs in the pod. You can deploy the driver and provider pods in `kube-system` namespace.

I've opened a PR to add this to our documentation.

[2021-05-10 17:31] aramase opened #501 "Add support for arm64"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-05-10 19:39] assaf-grth commented on #498
@aramase I was using the helm installation
Is there a helm upgrade command to use? or should I uninstall and install again to the new namespace?
Will it affect existing SecretProviderClass items?

[2021-05-10 22:57] #305 closed

[2021-05-10 22:57] #459 closed

[2021-05-11 01:58] aramase commented on #498
Helm releases are per namespace. For redeploying to a different namespace, you would need to delete the existing helm release (uninstall) and re-install in `kube-system` namespace. The helm delete will also remove the CRD, so you'll need to recreate the `SecretProviderClass` after reinstall.

[2021-05-11 17:32] seb0006 opened #504 "Driver Pod fails on Azure Stack Hub because Key Vault Secret URI is incomplete"
We have installed the driver on a Linux AKS cluster using kubernetes version 1.16.9 on Azure Stack Hub (we are using AKS Private Preview) and have found that the driver pod fails to start with a "404 resource not found" error.

![404_pod_error](https://user-images.githubusercontent.com/49771811/117858939-68357000-b25c-11eb-8428-01921938fa3a.PNG)

We've tried 2 different configurations on 2 separat

[2021-05-11 19:53] aramase commented on #504
@seb0006 thank you! Please let us know once you know more.

[2021-05-12 14:44] assaf-grth commented on #498
Hi @aramase deploying to kube-system worked in terms of the security center alerts
The SecretProviderClass was deleted and I recreated it.
Now the secrets are not created when new pods are scheduled
Could it be related somehow to this change?

[2021-05-12 16:19] seb0006 opened #505 "Error installing helm chart"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-05-12 16:29] aramase commented on #505
@seb0006 This error indicates you already have the driver installed in the cluster with different helm release name.

The helm charts hosted [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure) have the driver charts as a dependency. Using the chart from this repo will install the driver and also the azure provider.

[2021-05-12 17:49] seb0006 commented on #505
@aramase - It turns out that the AKS Private Preview product on Azure Stack Hub has the driver and azure provider installed when a new cluster is created with Kubernetes version 1.16.9.  This was a surprise since this isn't documented anywhere that I have found, but was able to confirm the installation by creating a new cluster.

[2021-05-12 17:49] #505 closed

[2021-05-13 08:04] assaf-grth commented on #498
@aramase is there any troubleshooting I can use for this case?

[2021-05-13 09:32] assaf-grth opened #506 "Problem creating secrets in a recreated provider class object"
I am using the csi helm installation on my AKS cluster
After moving the installation to kube-system namespace the SecretProviderClass object and related secrets were deleted as well

Now when I create a pod mounting the provider, secrets which were supposed to be created based on the secretObjects property are not created

The volume is mounted in the new pod so to my understanding the secrets sho

[2021-05-13 16:23] assaf-grth commented on #506
Yes I did,
However all existing pods using the old secrets are still running
Is it related? I fear that if I'll delete them the system might stop working

I searched for errors in the pods logs and didnt find anything, is there a log to search for related to secrets creation specifcally?

[2021-05-13 16:31] aramase commented on #506
Could you provide more details on this?

Could you share the following:
1. SecretProviderClass yaml
2. Pod yaml
3. `kubectl describe pod <pod name>` output for the events

Uninstalling the helm charts and redeploying in another namespace will delete the `SecretProviderClass` instances because the crds in the template dir in helm (which we're planning to move to crds folder in the future).

[2021-05-13 16:52] assaf-grth commented on #506
Details of the pods:
![image](https://user-images.githubusercontent.com/52287325/118156888-8b118100-b422-11eb-8056-1a290dbe7b15.png)

I'm putting here a sample of what's defined so you can verify I understand how to define this:

[code]
Pod yaml:
[code]

Pod describe events:
[code]

Is there a place I can search for some logs describing what is done related to creating secrets?
I can tell that sec

[2021-05-13 16:55] assaf-grth commented on #506
Details of the pods:
image

I'm putting here a sample of what's defined so you can verify I understand how to define this:

[code]

Pod yaml:
[code]
Pod describe events:
[code]

Is there a place I can search for some logs describing what is done related to creating secrets?
I can tell that secrets did get created and seen when using kubectl get secrets -n application
It looks like the part of secr

[2021-05-13 17:13] aramase commented on #506
1. What kubernetes version are you using? Output from `kubectl get nodes -o wide`
2. Can you confirm if just the mount is succeeding and the secret is available in the mount when pod is deploying without the env var?
3. You can look at the driver logs to search for errors https://secrets-store-csi-driver.sigs.k8s.io/troubleshooting.html

[2021-05-13 17:21] assaf-grth commented on #506
1. v1.18.14
2. Does this log entry answers your question?
[code]

[2021-05-13 21:57] nilekhc opened #507 "Release management document"
Define release management and semantic versioning for project

[2021-05-13 23:53] #480 closed

[2021-05-16 05:56] assaf-grth commented on #506
Eventually I created [this](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/vault/pod-vault-inline-volume-secretproviderclass.yaml) simple pod, connected to the class and it created the secrets, allowing the rest of the pods to get created successfully

Checking the drivers logs I could see that the reconcile process created all the secrets

What do you thin

[2021-05-16 23:15] Shaked commented on #437
@aramase

Do I need to do anything special regarding this?

I have installed the chart as explained:

[code]

[code]

But it seems like secrets are not being updated:

[code]

[code]

While:

[code]

The newest version is different.

Checking the logs from the controller shows only

of different pods.

Any idea what am I doing wrong?

Thank you
Shaked

[2021-05-17 16:40] aramase commented on #437
@Shaked How are you providing the values for `enableSecretRotation` and `rotationPollInterval`. Is it under `secrets-store-csi-driver` in the values?

For example:
[code]

[2021-05-17 16:55] aramase commented on #504
@seb0006 Any updates on this? Is the issue resolve now? I would love to know if there is anything we're missing in the docs.

[2021-05-17 20:18] Shaked commented on #437
@aramase thank you! I missed the part of adding `secrets-store-csi-driver.*`. It's working :)

[2021-05-18 06:54] deyanp opened #510 "Warning SecretRotationFailed failed to patch secret xxx-xxxx-xxxxxx with new data, err: timed out waiting for the condition"
**What steps did you take and what happened:**
Getting errors

**Warning SecretRotationFailed failed to patch secret xxx-xxxx-xxxxxx with new data, err: timed out waiting for the condition**

after upgrading CSI Secrets Store/Azure to versions 0.0.21/0.0.14

**Anything else you would like to add:**
After deleting the secret and recreating the corresponding pod (+secret) the error seems to disappea

[2021-05-18 07:09] deyanp commented on #510
In the logs of csi-secrets-store pod I see the following:

`E0518 07:03:19.362727       1 reconciler.go:372] "failed to patch secret data" err="secrets \"default/xxx-xxxxx-xxxxxxx\" not found" secret="default/xxx-xxxxx-xxxxxxx" spc="default/xxx-yyyyy-xxxxx-xxxxxxx" controller="rotation"`

where `xxx-xxxxx-xxxxxxx` seems to be the secret name
and `xxx-yyyyy-xxxxx-xxxxxxx` the secretproviderclass na

[2021-05-18 16:49] nilekhc commented on #510
Hello @deyanp! Thanks for opening the issue. Could you please let us know what version of `driver` & `provider` you were using before this upgrade? Also the configuration of SPC and pod using the secret will help.

[2021-05-18 17:26] deyanp commented on #510
@nilekhc I migrated from

[code]

SCP and pod def:

[code]

Error for this pod once again:

`Warning  SecretRotationFailed  5m28s (x314 over 10h)  csi-secrets-store-rotation  failed to patch ssssss ccc-ffff-sssssss-sss-ttt-qqqq with new data, err: timed out waiting for the condition`

Let me know if you need anything else, I deliberately *not* fixed 3-4 pods/SPC so that I can provide logs/errors .

[2021-05-18 17:29] deyanp commented on #510
Just to note - I am deploying the CSI pods in the default namespace using the following script:

[code]

[2021-05-18 17:34] nilekhc commented on #510
Is there any specific reason you are deploying them in `default` namespace? Could you try with `kube-system` namespace for CSI Pods?

[2021-05-18 17:37] deyanp commented on #510
It is a small cluster, and initially the csi ysmls were also deploying to default namespace.

I am afraid that if I change to kube system sth will break (I am using also AAD Pod Identity, akso in default ns).

Do you mean CSI Driver cant work properly in default ns?

[2021-05-18 18:04] nilekhc commented on #510
Does AKS cluster has firewall/restricted egress? Also Could you share secret object details. `kubectl get secret ... -o yaml` (without data). Curious to know owner reference on it.

[2021-05-18 18:24] deyanp commented on #510
No firewall/egress, just using standard setup with standard LB ..

-o yaml does not work for me, so here the standard output:

[code]

[2021-05-18 18:58] nilekhc commented on #510
Label  `secrets-store.csi.k8s.io/managed=true` appears to be missing. In driver v0.0.21, filtered watch secret is enabled by default. So missing label could explain the error. But since v0.0.14 driver automatically sets this label. Were this secret created when driver version < v0.0.14 was running and never changed since then?

Also could you share newly created working secret's details like above

[2021-05-18 19:15] deyanp commented on #510
Ok, this could be it. The not-working secret is 242d old, so yes ...

This is a working secret:
[code]
I guess I will finish deleting/re-creating all secrets and hopefully I will not experience this problem again upon next upgrade. Thanks a lot for the investigation!!

[2021-05-19 07:00] #510 closed

[2021-05-21 12:00] KDSBest opened #513 "imagePullSecrets is not used for kubernetes-csi images"
**What steps did you take and what happened:**
I tried to deploy this to my k8s cluster using the following configuration:
[code]

The issue is that the impagePullSercrets is only used by
xxx/oss/azure/secrets-store/provider-azure:0.0.15
The container gets created just fine.

The other Pod with 3 Containers
[code]
ignore the imagePullSecrets.
Also a `kubectl get pod csi-secrets-store-csi-driver-jg

[2021-05-21 16:22] nilekhc commented on #513
@KDSBest Thank you for opening a bug. We have PR in flight for this - https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/554

[2021-05-22 15:26] Shaked opened #514 "Cluster level authentication when not using AKS"
**Describe the solution you'd like**
Currently, when not using AKS, I have to authenticate using [service principal](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/service-principal-mode/).

This means that if I have several deployments/resources and several namespaces, I have to set a k8s secret per namespace as stated in the docs:

That also

[2021-05-24 16:10] nilekhc commented on #514
Hi @Shaked Thanks for opening the issue. Could you try other methods of accessing Keyvault? It might help in your use case.
[provide-identity-to-access-key-vault](https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/#provide-identity-to-access-key-vault)

[2021-05-24 16:29] Shaked commented on #514
Which ones? AFAIU the last two require an AKS cluster, aren't they?

[2021-05-24 18:50] aramase opened #516 "CVE-2021-3520"
[code]

https://dev.azure.com/azure/secrets-store-csi-driver-provider-azure/_build/results?buildId=23559&view=logs&j=7e664a44-1d98-5348-601c-dff379a14ab5&t=b190a66d-a7b7-5efa-98a7-db98499e646f

[2021-05-25 00:37] #516 closed

[2021-05-26 08:20] ttmonica opened #518 "Can update KV by using Azure Key Vault Provider for Secrets Store CSI Driver?"
Except read from KV, my pod is also want to update/add a new item to KV.  Does it support?

[2021-05-26 16:07] nilekhc commented on #514
Service Principal is currently the only way to connect with Key Vault from non Azure environment. But we can certainly look into other options.

[2021-05-26 16:22] nilekhc commented on #518
Hello @ttmonica , thanks for opening an issue. Secret Store CSI driver today do not support this. It mounts secrets/keys/certs to pod.  AKV Provider acts as plugin to fetch those objects. Could you elaborate on your use case?

[2021-05-27 15:05] seb0006 commented on #504
@aramase - I apologize for the delayed response.  The Azure Stack Hub AKS product group has the CSI driver pre-installed when a new AKS cluster is provisioned with all of the correct setup required for use on AKS.  The issue here was caused by my team trying to do the installation manually.

Nothing is missing in your documentation; there are just some differences between public Azure and Azure St

[2021-05-27 15:05] #504 closed

[2021-05-27 20:31] Shaked commented on #514
@nilekhc

I might have an idea but first I need to understand something about the controller. Is there a reason why it requires a secret per namespace instead of having one secret on the same namespace of the controller itself?

i.e if the csi-secrets-store-provider-azure is installed in a namespace called `devops` then why not having the SP creds only available within this namespace and then pods

[2021-05-28 19:32] nbeal opened #521 "Secret failed to write to file on Microk8s"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [X] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-05-29 00:50] lilinvictorms opened #523 "Using the Azure Key Vault Provider"
This link is 404: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/getting-certs-and-keys.md

[2021-05-29 00:54] nilekhc commented on #523
@lilinvictorms Try without `.md` at the end.
https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/getting-certs-and-keys/

Aslo, could you tell where did you get above link from? We can fix if there is a broken link.

[2021-06-01 14:05] mkk1985 opened #524 "It is not able to install the of the secret provider class into another namespace of the same cluster"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)
I would like to know how to leverage this feature across namespace

[2021-06-01 16:03] aramase commented on #524
@mkk1985 Could you add more information to the issue?

The `SecretProviderClass` is namespaced scope and you can create the `SecretProviderClass` in the required namespace.

Are you trying to create the `SecretProviderClass` custom  resource in the namespace or trying the deploy CSI Driver in multiple namespaces? Only 1 CSI driver install is required per cluster.

[2021-06-01 16:25] mkk1985 commented on #524
we are getting the below error while trying to install the same in another namespace:

**_rendered manifests contain a resource that already exists. Unable to continue with install: CustomResourceDefinition "secretproviderclasses.secrets-store.csi.x-k8s.io" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; annotation validation error: key "meta.hel

[2021-06-01 16:28] mkk1985 commented on #524
ok then, when you that.. we should create the driver in the kube-system namespace and how can we create the provider classes in the other namespaces ? could you please provide me some examples to this scenario?

[2021-06-01 17:21] aramase commented on #524
The driver runs as a daemonset and only single instance of the daemonset is required per cluster. The driver running in `kube-system` will be invoked by the kubelet on the node for volume mount operations.

You can create the `SecretProviderClass` in the respective namespace: https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/#create-your-own-secretproviderclass-

[2021-06-01 21:57] aramase opened #525 "Use dedicated SCC for deployment in ARO"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-06-01 21:58] aramase opened #526 "Use dedicated SCC for deployment in ARO"
As a followup, it would be good to create a dedicated SCC instead of using `privileged` to ensure we don't grant more than we need. The new SCC resource can then be part of the deployment so users don't need to perform any post-install steps.

_Originally posted by @ritazh in https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/446#discussion_r608136168_

[2021-06-01 21:58] #525 closed

[2021-06-01 22:02] #365 closed

[2021-06-02 13:03] fdebuire opened #527 "Allow the field userAssignedIdentityID to be the Resource ID and not only the Client ID"
To use User-assigned Managed Identity (https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/user-assigned-msi-mode/), the clientId have to be specified as follow:

`userAssignedIdentityID: "client id of user assigned identity"`

The clientId will change in the case of a AKS cluster recreation, or if the managed identity is recreated.

To help with au

[2021-06-03 21:57] DaveSlinn commented on #514
@nilekhc We've been trying to use a User Managed Identity from an on-premises Kubernetes cluster to access Key Vault but have been thwarted by a weird error we didn't understand:
[code]
Based on your comment, should we be modifying our approach to use a Service Principal for auth to Azure KV instead of a managed identity?

[2021-06-04 17:53] nilekhc commented on #514
@DaveSlinn yes. try with Service Principal.

[2021-06-04 18:03] #501 closed

[2021-06-04 18:15] nilekhc commented on #514
@Shaked The secrets needs to be present in the namespace where the pod is trying to use it. This is due to restriction imposed by k8s.
https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/127#issuecomment-644874658

[2021-06-04 18:30] aramase commented on #513
Closed with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/554

[2021-06-04 18:30] #513 closed

[2021-06-04 18:32] aramase commented on #497
Closing in favor of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/567

[2021-06-04 18:32] #497 closed

[2021-06-04 18:33] #523 closed

[2021-06-04 19:10] trhumphries opened #530 "Error the MSI endpoint is not available"
**What steps did you take and what happened:**
We have several Deployments/Jobs that mount Key Vault secrets via this driver. In some cases when the pod is being created we see:
provider mount err: rpc error: code = Unknown desc = failed to mount objects,
error: failed to get objectType:secret, objectName:wildcard-gtpstratus-com, objectVersion:: azure.BearerAuthorizer#WithAuthorization:
Failed to

[2021-06-04 21:56] nilekhc commented on #530
@trhumphries thanks for reporting issue.

Calls to IMDS service are failing `the MSI endpoint is not available. Failed HTTP request to MSI endpoint: Get "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01`

Looks like an intermittent network issue. Could you open support ticket with AKS to investgate this further?

[2021-06-04 21:57] trhumphries commented on #530
I can it’s happen upwards of 50 time today.

Terry Humphries
STRATUS Operations Lead
GTP Services, LLC
816-377-1113
***@***.***D3FC1B.2842F670]

This email is the property of GTP Services, LLC and may contain confidential and/or privileged information.  If you are not the intended recipient or have received this e-mail in error please notify the sender immediately and delete this e-mail.  Any unau

[2021-06-05 21:21] Shaked commented on #514
@nilekhc I find it a bit strange. Maybe it is possible to use a different object?

Currently I'm solving this issue by using https://github.com/mittwald/kubernetes-replicator which replicates the secret to the relevant namespaces.

[2021-06-07 00:34] dmcconnell-m commented on #521
We are also experiencing this issue on microk8s. We followed the steps #101 (related to rancher however this was also affecting microk8s) and setting `secrets-store-csi-driver.linux.kubeletRootDir="/var/snap/microk8s/common/var/lib/kubelet"` enabled us to move past the issues in #101, however now we are experiencing the same issue that @nbeal is reporting. To add, microk8s appears to use `--root-d

[2021-06-07 02:21] dmcconnell-m commented on #521
@aramase I have found the cause of this issue. The `mountpoint-dir` fields are hardcoded to be `/var/lib/kubelet/pods` whereas they should actually be using the helm variable `kubeletRootDir`. So these lines should be updated to the helm variable `secrets-store-csi-driver.linux.kubeletRootDir` or a new variable `linux.kubeletRootDir` should be used:

https://github.com/Azure/secrets-store-csi-driv

[2021-06-07 03:12] HimanshuZinzuwadia commented on #250
"pod-identity is only supported for Linux workloads"
Has this been fixed so that it is supported for Windows pods ?

[2021-06-07 16:22] nilekhc commented on #521
@dmcconnell-m Thanks for looking into issue. Will you be interested in opening a PR for this? We can leverage `secrets-store-csi-driver.linux.kubeletRootDir` var in template.

[2021-06-07 16:55] aramase commented on #521
Thanks @dmcconnell-m. Agree, we would need to use a new `linux.kubeletRootDir` unless there is a way to reuse the value from the driver. Also, in the future releases we're going to move the file writing logic to the driver. So the provider will only return the secret content to the provider and will no longer require this mount path.

[2021-06-07 17:00] aramase commented on #250
@HimanshuZinzuwadia Pod Identity is only supported for Linux workloads.

[2021-06-07 17:41] aramase opened #531 "Add documentation for `nodePublishSecretRef` namespace limitation"
Ref https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/127#issuecomment-644874658

[2021-06-09 22:21] pjquirk opened #532 "Nil pointer dereference when getting a disabled certificate"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Our deployment pro

[2021-06-09 22:34] aramase commented on #532
@pjquirk Thank you for reporting the issue. We'll repro this and include the fix in the next release.

Are you using `objectType: cert` for this particular object?

[2021-06-10 00:29] pjquirk commented on #532
@aramase Yep, that's correct.  Thanks!

[2021-06-10 01:39] #532 closed

[2021-06-10 23:03] aramase opened #537 "Set `allowPrivilegeEscalation: false` for provider `securityContext`"
Should we be also setting `allowPrivilegeEscalation: false`?

Also `readOnlyRootFilesystem: true`. But not sure if this impedes provider's ability to write secrets on FS

_Originally posted by @nilekhc in https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/536#discussion_r649579677_

[2021-06-11 18:33] aramase commented on #524
Closing this issue now with https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/524#issuecomment-852302031. Please feel free to reopen if you've any questions.

[2021-06-11 18:33] #524 closed

[2021-06-15 14:25] ltouro commented on #412
Are we able to use Deployment `env.valueFrom.secretKeyRef` along with SecretProviderClass `secretObjects` already?

[2021-06-15 15:23] rucheeg opened #542 "SecretObject not found; volume gets mounted"
**Have you**

- [y] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [y ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

![image](https://user-images.githubusercontent.com/2429649/12207

[2021-06-15 16:11] aramase commented on #542
@rucheeg Thank you for reporting the issue.

The logs from `secrets-store` container in the driver pod should have more information on why the sync secret failed. Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

Did you set `secrets-store-csi-driver.syncSecret.enabled=true` as part of helm install while setting up the driver and p

[2021-06-15 16:47] rucheeg commented on #542
Thanks for your quick response @aramase. The only error I see is following in driver logs. There are no errors in provider logs.

_E0615 16:39:48.653579       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.20.2/tools/cache/reflector.go:167: Failed to watch *v1.Secret: failed to list *v1.Secret: secrets is forbidden: User "system:serviceaccount:cluster-addons:secrets-store-csi-driver" cannot list

[2021-06-15 16:53] aramase commented on #542
@rucheeg Yeah, that looks like the issue with the `syncSecret` not enabled.

I'm adding this step to few other docs and our troubleshooting guide:  https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/543.

[2021-06-15 18:30] rucheeg commented on #542
Thanks @aramase! you were spot on. That fixed the error. Appreciate the quick turnaround!

[2021-06-15 18:30] #542 closed

[2021-06-16 14:53] EppO opened #544 "Azure Key Vault provider is crashing on GPU nodes"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
When using a GPU n

[2021-06-16 17:47] nilekhc commented on #544
@EppO Thanks for reporting this. Could you also provide logs for failing provider pod?

[2021-06-16 17:49] #521 closed

[2021-06-18 12:00] fdebuire opened #546 "Use default User-assigned Managed Identity if userAssignedIdentityID is not provided"
When an AKS cluster is created with a managed identity (https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#create-an-aks-cluster-with-managed-identities), a user managed identity with the name `yourClusterName-agentpool` is created.

This identity is automatically assigned as the default user managed identity for the VM/VMSS.

The clientId of this identity can be found in the AzureClo

[2021-06-22 16:52] #537 closed

[2021-06-22 17:03] aramase commented on #488
@vsaxena6 Any updates on this? Is the issue resolved?

[2021-06-22 17:06] HighWatersDev opened #550 "SecretProviderClass doesn't create k8s secret"
Hi,

I'm following this guide - https://secrets-store-csi-driver.sigs.k8s.io/topics/sync-as-kubernetes-secret.html - to inject secrets from KV to K8s pod. If I understand correctly using "secretObjects" allows the SecretProvider to create k8s secret and sync it with existing secret in KV. However, when running a pod referencing the secret, it fails with "secret not found".
All I'm trying to do is

[2021-06-22 17:12] aramase commented on #550
@HighWatersDev Thank you for reporting the issue.

The logs from `secrets-store` container in the driver pod should have more information on why the sync secret failed. Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

Did you set `secrets-store-csi-driver.syncSecret.enabled=true` as part of helm install while setting up the driver

[2021-06-22 18:07] aramase opened #551 "Add e2e test for windows containerd"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2021-06-22 19:02] HighWatersDev commented on #550
@aramase you are right. I overlooked that setting. I didn't pay attention that it changed from last time I used it. I updated the setting and it's working now. Now I feel embarrassed for not reading the docs properly.
Thanks a lot!

[2021-06-22 19:02] #550 closed

[2021-06-22 23:22] aramase opened #552 "Add sample command for debugging connectivity and dns issues"
- Add a sample command for running pod with host network and running curl against key vault to validate connectivity

Ref: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/#keyvaultbaseclientgetsecret-failure-sending-request-statuscode0----original-error-context-canceled

[2021-06-23 13:35] jcobb48 opened #553 "Helm chart deployment - ClusterRole missing permissions for k8s secret sync to work"
**What steps did you take and what happened:**

Deployed using helm chart:

[code]

**Provided values > syncSecret.enabled=true**

Deployed SecretProviderClass with some keyvault secrets, deployed a pod with volume mount referencing the SecretProviderClass and it works as expected, pod has all the corresponding files with the secrets content inside.

When trying to sync AKV secrets as k8s secrets

[2021-06-23 15:41] aramase commented on #553
@jcobb48 The `syncSecret.enabled=true` is required for the driver which is a helm dependency. For dependencies you would need to set the value with `secrets-store-csi-driver.syncSecret.enabled=true`.

[2021-06-24 00:22] jcobb48 commented on #553
@aramase haha thanks! I worked, missed to check that piece of info.

Configuration Doc only said "syncSecret.enabled", maybe "secrets-store-csi-driver." can be added.

https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/sync-with-k8s-secrets/

`If the driver and provider have been installed using helm, ensure the syncSecret.enabled=true helm value is set as part of insta

[2021-06-24 16:40] #553 closed

[2021-06-25 01:20] ahmedig opened #556 "Secrets not created in chart v0.0.20"
**What steps did you take and what happened:**
I have been using this driver provider with absolute no issues. I use it to mount the secrets from my keyvault as a volume, and also expose them as kubernetes secrets.
I authenticate using SPN and not Pod identity.

Until chart version 0.0.19 it was working all fine, when I upgraded to 0.0.20, my deployments are failing. I found out that the kubernete

[2021-06-25 16:24] aramase commented on #556
@ahmedig Thank you for reporting the issue.

The logs from `secrets-store` container in the driver pod should have more information on why the sync secret failed. Here is our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

Did you set `secrets-store-csi-driver.syncSecret.enabled=true` as part of helm install while setting up the driver and p

[2021-06-25 16:49] aramase commented on #107
The test should:
1. Create a `SecretProviderClass` with `secretObjects`. The secret type should be `kubernetes.io/tls`. We can reuse the existing pem files we have for the test.
2. Validate the k8s secret is created.
3. Validate the k8s secrets has non empty `tls.crt` and tls.key` values.

[2021-06-25 16:57] aramase commented on #530
@trhumphries Did you get a chance to open a support ticket? Any updates on the issue?

[2021-06-25 17:00] aramase commented on #273
@stefsch Gentle ping! Are there any updates for App Service Certificates?

[2021-06-25 17:14] kchilka-msft opened #557 "Get Current + Older versions of a certificate"
**Describe the solution you'd like**
Currently there **isn't** an option to pull all the available versions of a certificate from Azure keyvault. There is an option to pull a certificate by providing **_objectVersion_** but we have a scenario where we want all the versions of a certificate (including the older versions). Currently this involves manually looking up the **_objectVersion_** and updat

[2021-06-28 00:19] ahmedig commented on #556
Thank you for the very quick response!
Yes I can confirm that setting the flag `syncSecret.enabled=true` has fixed the problem. We didnt have to set the flag in the older versions, but starting version `0.0.20`, this is necessary to be explicitly set.

Thanks for your help again!

[2021-06-28 00:19] #556 closed

[2021-06-28 12:08] deuch commented on #273
Same here !

[2021-06-28 16:02] aramase commented on #488
Closing this issue due to inactivity. Please feel free to reopen if this is still an ongoing issue.

[2021-06-28 16:02] #488 closed

[2021-06-28 16:47] #531 closed

[2021-06-28 18:38] #507 closed

[2021-06-28 23:16] dmradford commented on #84
@ritazh @aramase
I'm having trouble getting this command to execute correctly. I can get the secrets to mount correctly into the volume, but when I export them via command, the environment variable remains empty once I shell into the container. I've tried the base level command option, as well as the lifecycle poststart hook. Same results. If I run the command via shell on the pod, the environment

[2021-06-29 00:59] johnri opened #561 "unexpected error creating SSL Cert: certificate and private key does not have a matching public key"
## Repro
The "ingress-nginx" container (version 0.47.0) reports the following error

[code]

The SecretProviderClass below creates the k8s secret object codesp/ssl-cert-codesp.

[code]

I have downloaded the generated secret from k8s and validated it with openssl and, sure enough, it says they don't match.
What gives?

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secret

[2021-06-29 14:32] aramase commented on #561
@johnri Thank you for reporting the issue.

Is this a certificate chain? AKV provider for Secrets Store CSI Driver will fetch the certificates and write as is to the mount and sync as K8s secret. In case of chain of certs, the entire chain is written to the mount in the same order as they were uploaded to Key Vault. To have the provider reconstruct the chain in the correct order leaf, intermediate

[2021-06-29 16:27] #107 closed

[2021-06-29 16:47] johnri commented on #561
I'm following [Use the Secrets Store CSI Driver for Kubernetes in an Azure Kubernetes Service (AKS) cluster (preview)](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver). The json below is from my ARM template. But the AKS RP didn't seem to honoring that (yet), so I also used the Az Cli `az aks addon azure-keyvault-secrets-provider`.

I can try adding "constructPEMChain": "true"

[2021-06-30 13:29] #552 closed

[2021-06-30 15:08] sagark23 commented on #84
I'm facing the same problem as @dmradford, secrets mount correctly and `kubectl exec integration-ws-5b6868fcb8-57fg2 -- ls /mnt/secrets-store/ ` gives me the right secrets but unable to create env vars from those secrets.

[2021-06-30 15:44] aramase commented on #84
@dmradford @sagark23 The supported way for setting the env var with the CSI driver is to sync the mounted content as Kubernetes secrets and reference those as environment variables in the pod spec:

https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/sync-with-k8s-secrets/
https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/set-env-var/

We'll

[2021-06-30 16:58] deyanp opened #564 "Too many logs produced by container"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)
Yes

**What steps did you take and what happened:**
Looked at the

[2021-06-30 17:09] nilekhc commented on #564
Hi @deyanp Thanks for reporting issue. Could you tell what log level you are currently using? [Default](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/715d9f045610c2d3f76c02cc18968e08981d362a/charts/csi-secrets-store-provider-azure/values.yaml#L10) is `0`. You can set log verbosity while installing via helm chart with `--set=logVerbosity` flag.

[2021-06-30 17:18] deyanp commented on #564
@nilekhc I am installing using yaml, and inside I dont see this arg specified ..

[2021-06-30 17:24] nilekhc commented on #564
You can use arg `-v` in yaml. For eg. `-v=10`

[2021-07-01 06:55] deyanp commented on #564
thanks, @nilekhc , I will put an arg -v=X, but how to choose the right value, so that:
1) I do not get the standard info messages that are currently filling the logs
2) I still get warnings, errors and important/critical messages?

How did you come up with the -v=10? Why not 9 or 11?

[2021-07-01 06:59] deyanp commented on #564
@nilekhc , note that I read already https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/387, but it did not give me any hope that I can configure properly the log level with -v ... there seems to be no solution to only show warnings/errors but not info/debug??

[2021-07-01 07:06] deyanp commented on #564
also this one provides no solution: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/358

[2021-07-01 17:14] nilekhc commented on #564
@deyanp `-v=10` was just eg to try out different logging levels which might be applicable for your scenario. Also it looks like there is an open [issue](https://github.com/kubernetes/klog/issues/212) about this is `klog`.

[2021-07-01 17:36] deyanp commented on #564
@nilekhc , you know that -v=10 will make it worse, right? The higher the more logs will be included, this is opposite to what I am used to in other logging libraries ...

[2021-07-04 12:03] deyanp commented on #564
This is really not nice, and leaving 2 options to the customers:

1) Higher costs for Azure Log Analytics (we are speaking about hundreds of EUR here, not about a few EUR!)

2) Increase the --rotation-poll-interval, however this exposes us more to the other issue #368 , see https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/368#issuecomment-763789629 ...

Not nice ...

[2021-07-04 14:29] karthi-sn commented on #216
This a wonderful example, in fact I was looking for this in the entire doc and couldn't find it.
suggestion : please add this YAML, any where in the docs page (https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/)
Thanks a lot @aramase 😁

[2021-07-04 14:32] karthi-s-n opened #565 "Suggestion : Add below YAML to documentation - this would help for users who want to create multiple secrets, which is missing in docs page"
[code]

_Originally posted by @aramase in https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/216#issuecomment-686275309_

[2021-07-04 14:33] karthi-sn commented on #565
@aramase Thanks for this example 👍

[2021-07-06 16:32] khowling commented on #138
Hey @aramase,  just ran into this one, and the ```objectEncoding``` looks like it will solve the issue with TLS for my Java Spring app.  Just questioning why ```objectEncoding``` only works with KV secrets?  I have my PKCS12 imported into KV as a cert, but it gets mounted as a base64 encoded file, and I can only objectEncoding with secrets ```objectEncoding only supported for objectType: secret```

[2021-07-07 07:44] VictorRayfer commented on #506
I am installing csi with helm like you, I have changed the namespace installation from default to kube-system and following the installation steps, finally it does not create the secret automatically.

I have the same setup on 2 other clusters but in the default namespace working correctly.

Do you know what could be happening? How can you solve this @assaf-grth ?

Thank you very much in advance

[2021-07-07 12:09] assaf-grth commented on #506
I would follow the [troubleshooting guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/) suggested earlier in this thread and check the provider pods for any information
I once noticed that there were permissions errors when trying to create secrets in a certain namespace

HTH

[2021-07-07 16:56] nilekhc commented on #506
@VictorRayfer Sync as k8s secret is now disabled by default. It needs to be enabled explicitly to set necessary RBAC while installation. [This](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/#failed-to-create-kubernetes-secret-errsecrets-is-forbidden-user-systemserviceaccountdefaultsecrets-store-csi-driver-cannot-create-resource-secrets-in-api-group--in-the-namespa

[2021-07-08 08:42] VictorRayfer commented on #506
I can confirm that adding configuration to helm from "false" to "true" it works properly.

Thank you very much for the help! @assaf-grth @nilekhc

[2021-07-08 20:34] dolenox opened #566 "Add Config To Silently Fail On Missing AKV Secrets"
**Describe the solution you'd like**
When the CSI driver is unable to locate a secret (due to it being deleted or disabled), silently fail (with warning log) instead of blocking pod startup.

**Anything else you would like to add:**
We would prefer to fail in runtime than on startup. We had an issue where we deleted an unused secret from our key vault and it impacted our production services. Ideal

[2021-07-11 16:46] shubhammicrosoft1 commented on #84
Hi @aramase : Will it be also possible to mount nginx tls certificate as env for nginx ingress pods

[2021-07-12 13:26] aramase commented on #565
@karthi-sn Thank you for the feedback. We'll add the example yaml to the docs.

[2021-07-12 13:30] aramase commented on #561
Synced up with @johnri offline and suggested using the helm charts from this repo to try out the [constructPEMChain](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/feature-flags/#construct-pem-chain-feature-flag) feature.

@johnri did you get a chance to try it out?

[2021-07-12 13:35] aramase commented on #564
@deyanp Thank you for the feedback. The current logs generated for the provider are for each secret/key/cert object defined in the `SecretProviderClass`. It generates 3 logs per object which provides info on auth, success/ error response which makes debugging easier in case of issues. There is no difference in the grpc calls from driver to provider for initial mount/rotation call which is why the

[2021-07-12 17:38] aramase opened #567 "Enable construct PEM chain by default"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Enable `--construct-pem-chain` by default

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes ve

[2021-07-13 05:10] linearfunctional commented on #544
I am facing the same issue. When can I expect it to be fixed?

[2021-07-14 18:07] iamNoah1 opened #568 "CSI Driver does not create Secrets in Helm Chart version 0.0.20"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

CSI Driver Secret Store is not able to create Secrets in Kubernetes using the newest helm version (0.0.20)

**What did you expect to happen:**

That secrets are created inside of Kubernetes.

**Anything else you would like to add:**
Using version 0.0.17 works fine. Using the newest version I can s

[2021-07-14 18:14] aramase commented on #568
@iamNoah1 Here is the exact same issue: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/556.

This comment has the details on the changes: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/556#issuecomment-868683075. Please let us know if you need more information.

[2021-07-14 19:31] dkirrane opened #569 "Volume Mounted Configuration Tree"
**Describe the solution you'd like**

Is it possible to mount secrets into the container file system like the following
[code]

Currently, I have this
[code]

The reason I want a tree is to use `spring.config.import=configtree:/mnt/secrets-store` which would map to `redis.hostname`, `redis.port` and `redis.primary-key` properties in Spring.

**SecretProviderClass.yaml**
[code]

**Anything else you

[2021-07-14 20:57] kchilka-msft commented on #557
thanks for adding it to the backlog! appreciate it! and would it possible to provide a timeline as to when can we expect it? or is it too soon for that? just wanted to gauge as to how long would be the wait. thanks!

[2021-07-14 23:01] nilekhc commented on #569
Hello  @dkirrane You can simply update the volume [mountPath](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/715d9f045610c2d3f76c02cc18968e08981d362a/examples/service-principal/pod-inline-volume-service-principal.yaml#L15) of your workload and update your secretproviderclass to desired secret name. You can also use [alias](https://github.com/Azure/secrets-store-csi-driver-pr

[2021-07-15 08:17] iamNoah1 commented on #568
@aramase thanks for the quick feedback. Apparently, I did not search carefully enough. Just as a proposal, would you consider setting the value default to true? People that upgrade assume that secrets are injected by default because the older versions did. In every case I think it should not result in the stated error messages if the value is set to false.

[2021-07-15 09:59] dkirrane commented on #569
@nilekhc yip your solution would work for one set of secrets but if I needed a few it means multiple volume mounts and `SecretProviderClass`s I believe. e.g. If I wanted to have one volume `/mnt/secrets-store` with a structure like below:
[code]

[2021-07-15 13:03] aramase commented on #568
@iamNoah1 We want to disable by default because sync as Kubernetes secret is an optional feature that not all users of secrets-store-csi-driver consume. So we want to use the minimal permissions required OOTB with the helm install. This is a breaking change and is part of upgrade notes as well.

[2021-07-15 13:36] iamNoah1 commented on #568
Fair enough. Will close this one.

[2021-07-15 13:36] #568 closed

[2021-07-15 14:16] akashsg opened #570 "CSI driver is not able to pull the newly added keys from the keyvault"
We are facing issues with CSI driver where it can’t get the value from keyvault. We defined the keyvault name and referenced that in secretproviderclass. The old keys which are already present as nonprodsecret are getting deployed fine, only the newly added keyvault keys are failing. Then I deleted the old CSI driver and it’s components and re-installed the new one, but still we are facing the sam

[2021-07-15 15:20] aramase commented on #570
@akashsg Could you please provide more info:

1. What version of the driver and provider you using?
2. `SecretProviderClass` yaml
3. `Pod` yaml
4. Do you have secret auto rotation enabled?
5. Do you have sync secret enabled?
6. What are the steps you took for adding new secret?
7. Did you try restarting the pod?

Here are some useful docs for troubleshooting:
1. https://azure.github.io/secrets-sto

[2021-07-15 15:43] aramase commented on #494
Closing this due to inactivity. Please feel free to reopen if you have any questions.

[2021-07-15 15:43] #494 closed

[2021-07-15 15:44] aramase commented on #490
Closing this issue as the feature request is being tracked in the driver. The issue will contain a reference to this issue.

[2021-07-15 15:44] #490 closed

[2021-07-15 15:45] aramase commented on #557
@kchilka-msft I've added it to the backlog for now. If we do have more requests for this feature, we'll move it todo and prioritize it.

[2021-07-15 15:49] aramase opened #571 "Get all versions of a keyvault object"
Issue: #557

Currently there isn't an option to pull all the available versions of a certificate from Azure keyvault. There is an option to pull a certificate by providing objectVersion but we have a scenario where we want all the versions of a certificate (including the older versions). Currently this involves manually looking up the objectVersion and updating the manifest

 #482

It would be use

[2021-07-15 15:49] aramase commented on #557
Consolidating the feature requests in a single issue: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/571.

[2021-07-15 15:49] #557 closed

[2021-07-15 15:49] aramase commented on #482
Consolidating the feature requests in a single issue: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/571

[2021-07-15 15:49] #482 closed

[2021-07-15 15:58] akashsg commented on #570
1. apiVersion: storage.k8s.io/v1
kind: CSIDriver
2. apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname1
  namespace: meijer
spec:
  provider: azure
  parameters:
    keyvaultName: "kv-np-ea2-retail-ASE" # the name of the KeyVault
    objects: |
      array:
      - |
        objectName: BarcodeNormalize-int # This will get replaced through pipe

[2021-07-15 17:21] #321 closed

[2021-07-15 18:50] aramase commented on #570
@akashsg What version of the helm charts did you install? Also, could you check the logs in the driver and provider pod running on the same node as the application with issue. Here is troubleshooting guide on how to get the logs: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

You're using sync secret feature. Did you enable the feature flag required: https://azur

[2021-07-15 23:45] sozercan commented on #544
@linearfunctional looks like this is related to a runc regression in rc93: https://danielmangum.com/posts/runc-chdir-to-cwd/
it's fixed in rc94: https://github.com/opencontainers/runc/pull/2894

Can you verify if you are running rc93 by running `runc --version` in your node? and can you upgrade your node pool, which should upgrade your runc version to rc95 or later and confirm if that fixes your i

[2021-07-16 07:36] lin404 commented on #104
The link leads to 404 page. Could you update it? Thank you.

[2021-07-16 12:30] BlackRider97 opened #575 "Exposing namespace with override in helm-chart will help in sub-charts scenarios"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Instead of current
![image](https://user-images.githubusercontent.com/4725916/125947588-098b35c4-93c4-4aff-aa52-82fd15f36b67.png)

Exposing it like this with override `values.yaml` will enable more use cases like sub-charts.

![image](https://user-images.githubusercontent.com/4725916/125947448-826b8

[2021-07-16 12:37] BlackRider97 commented on #575
This is no direct support in helm for this unless a chart provides override capability via `values.yaml`
https://github.com/helm/helm/issues/5358#issuecomment-628920908

[2021-07-16 16:57] nilekhc opened #576 "Add GPU nodepool in nightly tests."
provider with `nonroot` docker image is failing on GPU Nodes (https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/544). Add GPU nodepool to nightly tests to make sure it works after a fix.

[2021-07-16 17:13] shicholas opened #577 "No mention of volumeHandle in https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/"
The volumeHandle attribute looks like it's now required as part of the CSI - https://kubernetes.io/docs/concepts/storage/volumes/#csi. This caused our TF module to fail trying to replicate the same instructions as here. I think this can be any string? But I'm not too sure.

[2021-07-16 17:44] aramase commented on #577
@shicholas What was the error in TF module for the secrets-store-csi-driver?

The secrets-store-csi-driver supports ephemeral volumes. So only the `NodePublishVolume` and `NodeUnpublishVolume` grpc calls are required. Those 2 calls don't required the `volumeHandle`.

[2021-07-16 20:04] shicholas commented on #577
it said 'volume_handle' is required. I can try creating an ephemeral volume to get around this.

[2021-07-16 20:14] shicholas commented on #577
it looks like this is a known issue, closing this. thanks for the explanation

https://github.com/hashicorp/terraform-provider-kubernetes/issues/1086

[2021-07-16 20:14] #577 closed

[2021-07-19 13:18] deyanp commented on #564
@aramase If I set the level to error I expect that errors are in the logs but informational messages not ... Not really sure why would I need an informational log every 2 minutes that secret x has been refreshed ... Actually currently the informational logs are written regardless of the secret was changed or not - I would expect that only if underlying secret changes then I will have a log message

[2021-07-19 14:51] akashsg commented on #570
1. @aramase we are using helm v3 version.BuildInfo{Version:"v3.3.3-rancher3", GitCommit:"657df59bbba1d9e175cf5080d4885bd57d037906", GitTreeState:"clean", GoVersion:"go1.13.15"}

below are the logs of driver and provider which are running on the same node as the application with issue

NAME                                                              READY   STATUS    RESTARTS   AGE
csi-secrets-csi

[2021-07-19 22:54] aramase commented on #570
@akashsg I don't see any errors in the logs you posted. The owner reference one should be fine but other than that there are no error messages in the output.

For setting helm values you need to use `--set` as part of helm install/upgrade. You can upgrade the existing helm deployment or delete/reinstall. All the supported helm configuration values are here: https://github.com/Azure/secrets-store-c

[2021-07-20 12:01] kenans opened #579 "Comparasion with the external-secrets KV implementation?"
Not a real feature request. But I wonder what is the difference between the secret store CSI driver and the [external-secrets Azure KV implementation](https://external-secrets.io/provider-azure-key-vault/) regarding,
1. Features and limitations
2. AKS team official support

There is a similar question in the [external-secrets repo](https://github.com/external-secrets/kubernetes-external-secrets/is

[2021-07-20 12:57] pierluigilenoci opened #580 "File matching objectName not found in the pod"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**

We have installed

[2021-07-20 13:39] pierluigilenoci commented on #580
I found the solution myself but you need to document this better.

Ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/202/
and https://github.com/ritazh/secrets-store-csi-driver/blob/b53290fde5b1cb2fddb0acb3156354e7571e5707/README.md#optional-sync-with-kubernetes-secrets

@aramase @ritazh could you please document better this feature?

[2021-07-20 15:59] aramase commented on #580
![Screen Shot 2021-07-20 at 8 59 00 AM](https://user-images.githubusercontent.com/10608509/126356791-142b291a-ae5b-4823-baff-5cf0cd6d0123.png)

@pierluigilenoci Thank you for reporting the issue. This is already part of our doc: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/sync-with-k8s-secrets/#how-to-sync-mounted-content-with-kubernetes-secret

[2021-07-20 16:44] johnri commented on #561
I did not. I ended up installing the Secrets Store Provider manually (via my own helm chart) so that I could better control the outcome. I believe the non-standard option I set were

[code]
and even then, I'm not relying on the synch functionality just yet.

[2021-07-20 16:45] johnri commented on #561
I need to stabilize my Geneva chart configuration before changing anything, but after that, I could try using the add-on again.

[2021-07-20 16:46] aramase commented on #561
@johnri The add-on doesn't have the feature flag enabled by default. You can try the feature only with the OSS version. Please let us know after you validate with the feature on in OSS charts.

[2021-07-21 19:53] #544 closed

[2021-07-21 19:58] aramase commented on #580
Closing this issue now. Please feel free to reopen if you have any questions.

[2021-07-21 19:58] #580 closed

[2021-07-22 06:13] Jatish-Khanna commented on #494
I can't provide the mentioned details due to corporate policies

Secrets Store CSI Driver version: (use the image tag):
Azure Key Vault provider version: (use the image tag):
Kubernetes version: (use kubectl version and kubectl get nodes -o wide):
Cluster type: (e.g. AKS, aks-engine, etc):

[2021-07-26 09:09] DavidMarquezF opened #583 "Enable NGINX Ingress Controller with TLS"
I believe that the [setup](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/ingress-tls/#deploy-secrets-store-csi-driver-and-the-azure-key-vault-provider) of the csi is not correct for the tutorial since it uses secrets but doesn't enable the secret syncing feature.

The correct install with helm would be the following:
[code]

I can create a pull request if this is c

[2021-07-26 11:59] jiestebanw opened #584 "Kubernetes secrets not created (syncSecret.enabled is set) (helm chart 0.0.20)"
## **What steps did you take and what happened:**

We do an installation from scratch of last version of CSI driver and AKV provider (helm chart version 0.0.20). After creating a secret provider class, the PV and PVC, the pod gets started and the secrets from the AKV are mounted as volumes **but the kubernetes secrets are not created**. We can't find error messages in the logs.

We set `secrets-st

[2021-07-26 17:10] nilekhc commented on #583
Hi @DavidMarquezF Thanks for reporting this. Your observation is right. We recently disabled synching secrets by default.

PR is always welcome 👍🏻

[2021-07-26 18:14] saif-cl0ud opened #585 "Unable to get access to Keyvault secrets using RBAC."
**Have you**

- [ YES] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [YES ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[error_kv_cg

[2021-07-27 06:23] ukreddy-erwin opened #590 "The key vault is not accessible in the deployment"
I have gone through the standard walk trough mentioned in the Readme of this repo.[Link](https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/)

The key vault is not accessible
[code]

All the versions are latest as I ran the commands today morning by creating a new cluster.
[code]
[code]

[2021-07-27 14:14] pierluigilenoci opened #592 "Job.batch invalid value - must be no more than 63 characters"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**

During the `helm

[2021-07-27 14:31] pierluigilenoci commented on #592
@aramase could you please take a look, I think it's pretty critical stuff.

[2021-07-27 16:28] nilekhc commented on #592
@pierluigilenoci Thanks for reporting this. We append certain string to release name. In this case `-secrets-store-csi-driver-upgrade-crds`

Could you try with shorter release name instead of `csi-secrets-store-provider-azure`?

[2021-07-27 16:53] aramase commented on #590
@ukreddy-erwin Looks like you're using pod identity. Are the aad-pod-identity NMI pods running on the same nodes as your application? From the error log you posted, it looks like the NMI pod isn't running on the node.

[code]

[2021-07-27 16:57] #583 closed

[2021-07-27 17:00] ukreddy-erwin commented on #590
I tried with security principal also but same error.

[2021-07-27 17:07] aramase commented on #590
@ukreddy-erwin If you're using the service principal that error should not be relevant. Can you post the exact `SecretProviderClass` and `pod` yaml you applied for service principal mode?

[2021-07-27 17:16] aramase commented on #475
Closing with #541

[2021-07-27 17:16] #475 closed

[2021-07-27 17:56] aramase commented on #585
@saif-cl0ud Thank you for reporting the issue. Could you share the following details?

1. `SecretProviderClass` yaml with sensitive info redacted
2. `Pod` yaml
3. Are you using provider version `0.0.7` or helm chart version `0.0.7`?
4. Logs from the driver and provider pods running on the same node as your app.

The error you shared seem to indicate the auth method isn't pod identity.

[2021-07-27 18:01] ukreddy-erwin commented on #590
This one I tried now, but same result.
[code]

[2021-07-27 18:01] aramase commented on #584
@jiestebanw Could you increase the log verbosity for the driver pods? Using helm `--set secrets-store-csi-driver.logVerbosity=6`

[2021-07-27 18:21] aramase commented on #590
@ukreddy-erwin `dbhost` defined in `secretObjects` doesn't exist in `objects` array.

[code]

Please also provide the error logs from the provider to see what's the error. Here is our troubleshooting doc: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

[2021-07-27 19:15] ukreddy-erwin commented on #590
sorry that is a wrong sample. In the one I tried, the dbhost is there.

Now, that I am trying to pull imagePullSecrtes directly from the secret created.

I have created a secret acr-test.

[code]

The above secret1 is accessible and I am able to print now, in the new cluster created for testing.

[code]

But the acr-test created above, is not working in any deployment I tried with imagePullSecrets

[2021-07-27 20:32] aramase commented on #590
@ukreddy-erwin Is the secret getting created fine? If it's not then we can look at the logs for the provider. But if it's getting created and the content matches what you have in keyvault, then you would need to check the secret you're uploading to keyvault.

[2021-07-27 20:35] ukreddy-erwin commented on #590
kubectl get secrets is not showing the acr-test.
As in some video they mentioned it will be created when container try to access it but it didn't.

Can you please check the yaml above and correct me if my approach is wrong.

[2021-07-27 20:39] aramase commented on #590
@ukreddy-erwin which video are you referring to? If you installed the driver using helm, you need to set `secrets-store-csi-driver.syncSecret.enabled=true` for sync as kubernetes secret to work.

Please refer to https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/sync-with-k8s-secrets/ for the install steps. The helm configurable values are here: https://github.com/Azure

[2021-07-27 20:43] ukreddy-erwin commented on #590
I followed this walk through as is. Where to add this?
You mean upgrade?
secrets-store-csi-driver.syncSecret.enabled=true

[2021-07-27 20:48] aramase commented on #590
@ukreddy-erwin Yeah, during install/upgrade. Please provide the entire driver and provider logs from the same node as the pod.

[2021-07-27 20:59] ukreddy-erwin commented on #590
Which logs you are referring to? Pod logs I have already provided for both init comtianer and also the deployment

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Anish Ramasekar ***@***.***>
Sent: Wednesday, July 28, 2021 2:18:39 AM
To: Azure/secrets-store-csi-driver-provider-azure ***@***.***>
Cc: Uday Kiran Reddy ***@***.***>; Mention ***@***.***>
Subject:

[2021-07-27 21:12] aramase commented on #590
@ukreddy-erwin The CSI driver and Azure Keyvault provider logs. That should contain errors on why the secret syncing isn't happening. Please follow our troubleshooting guide on how to capture logs: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

[2021-07-28 03:15] ukreddy-erwin commented on #590
[code]

[2021-07-28 10:20] pierluigilenoci commented on #592
@nilekhc I wish I could have the freedom to choose the release name based on the specifications of `helm`.
I will wait for the [fix](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/665) from @aramase.

[2021-07-28 12:00] twendt opened #593 "Create secret for usage in other resources than pods"
The secret-store-driver works great for mounting secrets in Pods, but sometimes we use other resources like GitRepository from the flux2 project. Within the GitRepository we can reference a secret for the authentication.

Here is an example:
[code]

Currently I don't see a way how I could create a Kubernetes secret from a Key Vault secret without using a Pod. Is this somehow already possible or pl

[2021-07-28 16:58] nilekhc commented on #593
Hi @twendt Thanks for opening an issue. There is a [similar ask](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298) from other users as well.

We are reviewing [proposal](https://docs.google.com/document/d/1Ylwpg-YXNw6kC9-kdHNYD3ZKskj9TTIopwIxz5VUOW4/edit#heading=h.n3xa8h2b1inm) with `sig-auth` in which we are proposing a separate subproject where we can only sync secrets with

[2021-07-29 08:27] jiestebanw commented on #584
Hi @aramase, PFA logs for CSI driver and AKV provider with secrets-store-csi-driver.logVerbosity=6. (The rest of the settings and sample yaml files used for the test are the same as before)

[csi_logVerbosity6.txt](https://github.com/Azure/secrets-store-csi-driver-provider-azure/files/6899020/csi_logVerbosity6.txt)

[2021-07-29 12:38] twendt commented on #593
@nilekhc That sounds great, thank you for the info.

[2021-07-29 13:58] jiestebanw commented on #584
We got this working by applying these changes:

- it is not required to add Persistent to the csidriver.yaml file (no change needed to the csidriver.yaml file in the helm chart).

- PV and PVC are not required

- The volumes section in the yaml pod definition has to be changed
    - from:

[code]

    - to:

[code]

As commented the yaml pod manifest is impacted. If possible we would like to avoid

[2021-07-29 16:11] aramase commented on #590
[code]

@ukreddy-erwin The sync secret feature isn't enabled. This is part of our troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/#failed-to-create-kubernetes-secret-errsecrets-is-forbidden-user-systemserviceaccountdefaultsecrets-store-csi-driver-cannot-create-resource-secrets-in-api-group--in-the-namespace-default and install instructions for

[2021-07-29 16:13] nilekhc commented on #593
Closing this issue since we are already tracking it in Secret Store CSI Driver repo. Feel free to open new one if you face another issue.

[2021-07-29 16:14] #593 closed

[2021-07-29 17:14] #576 closed

[2021-07-29 18:22] aramase opened #596 "Add `secrets-store-csi-driver.fullnameOverride` to helm charts"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/671 adds option to set the `fullnameOverride`. When the helm charts with those changes for driver are available, we should set the `secrets-store-csi-driver.fullnameOverride` value in the `values.yaml` to `secrets-store-csi-driver`. Thi

[2021-07-29 19:00] ukreddy-erwin commented on #590
Hi, I have recreated the azure cluster again from starting.

The busybox pod, able to see the secret, same as earlier.
[code]

But, acr-test as mentioned in below yaml, is not getting created. Which I am referring in imagePullSecrets for my deployment.

[code]
[code]

The same issue as earlier.
This time, I installed the helm repo as below.

`helm install csi csi-secrets-store-provider-azure/csi-s

[2021-07-29 19:04] ukreddy-erwin commented on #590
My logs:
[code]

[2021-07-29 19:34] aramase commented on #590
@ukreddy-erwin That error is when creating the Kubernetes secret
[code]

1. Can you confirm if the `martrepo` file in the pod volume matches what you have set in keyvault?
2. If yes, then you can try to create a kubernetes secret manually with that data in the field. If it fails with the same error, then there might be an issue with the data.

FYI, This was the sample I tried last time and it work

[2021-07-29 19:42] saif-cl0ud commented on #585
**SecretProviderClass YAML:**

apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  annotations:
    meta.helm.sh/release-name: comm-gateway-api
    meta.helm.sh/release-namespace: internal-api
  creationTimestamp: "2021-03-24T19:48:08Z"
  generation: 7
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/version: 1.16.0
    application: comm-gate

[2021-07-29 19:43] ukreddy-erwin commented on #590
The data is same.i checked the contents of it.
Also, with direct secret creation without vault, it is working.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Anish Ramasekar ***@***.***>
Sent: Friday, July 30, 2021 1:04:54 AM
To: Azure/secrets-store-csi-driver-provider-azure ***@***.***>
Cc: Uday Kiran Reddy ***@***.***>; Mention ***@***.***>
Subject: Re: [

[2021-07-29 22:40] aramase commented on #561
@johnri confirmed that the feature flag is working well. Closing this issue now.

[2021-07-29 22:40] #561 closed

[2021-07-30 00:31] aramase commented on #585
@saif-cl0ud Please provide the logs

[2021-07-30 00:32] aramase commented on #530
Closing this issue due to inactivity. Please feel free to reopen if you have any questions.

[2021-07-30 00:32] #530 closed

[2021-07-30 23:27] lucianoviola opened #598 "Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request"
**Have you**

- [ x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [ x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Out of the blue,

[2021-07-31 00:06] kyschouv commented on #273
Pinging to keep this alive, as I'm hoping there's a resolution soon. We have a hack in place in the meantime.

[2021-08-02 16:09] aramase commented on #590
@ukreddy-erwin If the secret in the mount is valid, the secret creation would succeed. Could you share the dockerconfigjson secret from the pod mount by replacing the sensitive values in json with `REDACTED`?

[2021-08-02 16:37] ukreddy-erwin commented on #590
I have checked that by connecting to pod console, there the value is matching

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Anish Ramasekar ***@***.***>
Sent: Monday, August 2, 2021 9:39:41 PM
To: Azure/secrets-store-csi-driver-provider-azure ***@***.***>
Cc: Uday Kiran Reddy ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/secrets-store-csi-driver-p

[2021-08-02 16:50] aramase commented on #590
@ukreddy-erwin But from the error it looks like the json isn't valid. It'll be great if you can share the value with username, password and auth values redacted. I can't seem to repro this issue.

This is my dockerconfigjson and it works fine
[code]

[code]

That error in the logs you posted is from the Kubernetes API server and seems to indicate the json isn't valid.

[2021-08-03 20:48] andyw248 opened #599 "Client cert authentication fails because Secret Store CSI stores intermediate and root cert in tls.crt, not separately in ca.crt"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [X] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-08-03 21:36] pierluigilenoci commented on #564
@deyanp the problem is that the bug is inside the Klog library that many of the Kubernetes components use. To solve the problem, Klog needs to be fixed.

Ref: https://github.com/kubernetes/klog/issues/212

[2021-08-04 03:42] andyw248 commented on #599
Update on what got me unblocked:

- Nginx-ingress doesn't really seem to care what's in the ca.crt file within the secret. It just wants that file to exist before it is willing to pass the client certificate to the app.
- As long as the app doesn't evaluate the ca.crt file either, we can just replicate the tls.crt file to stand in and serve as a mock ca.crt. We can do this by using aliases to popu

[2021-08-04 07:23] deyanp commented on #564
@pierluigilenoci , check the issue you referenced yourself - dims there is implying the issue is not with klog but with the client applications (secrets-store-csi-driver-provider-azure) ..

[2021-08-05 11:38] ukreddy-erwin commented on #590
Hi aramase,
I have created the secret using kubectl command.

`kubectl create secret docker-registry <acr-mysecret> --docker-server=mycustomlinux.azurecr.io --docker-username=<username> --docker-password=<password>`

Which created the structure in this way.server,username,password all are merged to .dockerconfigjson.

[code]

This one saved as yaml file and same is working if we import this to ano

[2021-08-05 16:09] aramase commented on #590
@ukreddy-erwin I'm still not clear on what is your `dockerconfigjson` value that's stored in keyvault.

1. Are you uploading a json file similar to the one I posted in Azure Keyvault?
2. Is that json correctly available in mount?
3. That json will be used for sync Kubernetes secret. The driver/provider doesn't parse the json. The provider gets the secret as stored in Key vault and passes back to d

[2021-08-05 21:36] sebansal commented on #273
Adding @shisriva-msft

[2021-08-06 03:43] ukreddy-erwin commented on #590
The driver is showing the secret when I mount it to a container as a volume.
But, when I create it as a Kubernetes secret, it is not showing in

kubectl get secrets

May be it should be created when we first use that but it is not accessible with the imagePullSecrets.

From: Anish Ramasekar ***@***.***>
Sent: 05 August 2021 21:39
To: Azure/secrets-store-csi-driver-provider-azure ***@***.***>
Cc: U

[2021-08-06 16:57] aramase commented on #599
@andyw248 Thank you for reporting the issue.

When there is a chain of cert, the provider will get the chain and write to mount as is. We have added an optional feature to construct the chain in the correct order at the provider (server, intermediate, root): https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/feature-flags/#construct-pem-chain-feature-flag.

Could you tr

[2021-08-06 17:09] aramase commented on #590
@ukreddy-erwin Could you help answer these questions: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/590#issuecomment-893581464?

[2021-08-06 17:47] #196 closed

[2021-08-07 00:03] #518 closed

[2021-08-07 00:03] #506 closed

[2021-08-09 12:54] jabbera opened #604 "Difference between this driver and sig"
Can someone explain the difference between this driver and the sig driver located here: https://github.com/kubernetes-sigs/secrets-store-csi-driver

I'm very confused.

Thanks!

[2021-08-09 16:13] aramase commented on #604
@jabbera Thank you for opening the issue!

This repo is the implementation of Azure Keyvault for the Secrets Store CSI Driver. It's not a different project. The Secrets Store CSI Driver supports multiple secrets store providers and has a pluggable interface.

Check out https://secrets-store-csi-driver.sigs.k8s.io/concepts.html

[2021-08-10 00:04] #570 closed

[2021-08-10 12:44] dkirrane opened #606 "Question: Minimum supported secret rotation interval"
**Question**
The default secrets `--rotation-poll-interval` is 2 minutes.

Is it possible to have a second or millisecond interval?
I'd like faster or even immediate refresh of mounted secrets to latest Key Vault version.

Does the KV CSI cpu/memory footprint drastically increase if I do this?

[2021-08-10 13:04] phantomkingx commented on #97
Implementing the proposed format would also make kustomize manipulation possible.

[2021-08-10 13:11] trhumphries commented on #357
This also might allow the drive to load all of the matching items via a single call to the provider where as today it has to perform a separate API call to get the value of each secret. Loading them one by one seems to be very resource intensive, where as the load used by the Configuration class Key vault extension loads them all in a few milliseconds.

[2021-08-10 16:44] aramase commented on #357
@trhumphries AFAIK the list API in keyvault only providers the metadata about the secrets/certs/keys. It doesn't return the actual secret value. To get the secret value it has to be a `GET` call on the individual secret. With regex, the provider would still need to list all secrets, perform client side filtering to find secrets that match regex and make a `GET` call for each secret.

[2021-08-10 16:56] #567 closed

[2021-08-10 17:54] trhumphries commented on #357
Well the AddAzureKeyVault extension to the Microsoft.Extensions.Configuration loads all of the secrets from a Key Vault several times faster than the CSI Driver does.

[2021-08-10 21:03] aramase commented on #606
Thank you for opening the issue!

How often are you updating the secret/keys in keyvault?

`second` or `millisecond` is too aggressive. Every rotation call is translated to the keyvault `GET` call for the secrets/keys defined per pod + `SecretProviderClass`. This will exhaust the API limits pretty quickly: https://docs.microsoft.com/en-us/azure/key-vault/general/service-limits.

[2021-08-11 09:51] dkirrane commented on #606
Ya, my use case is storing database credentials in Key Vault.
If we change the credentials then the application have an db connection outage for 2 minutes.

[2021-08-11 10:11] pierluigilenoci commented on #564
@deyanp I have read the Klog code and I have also proposed a PR.
I assure you that the error is on the Klog side. 😉

[2021-08-11 17:10] aramase commented on #606
As part of rotation, don't the old and new version of database credentials exist for a brief period of time for the clients to pick up the new creds?

Setting it to a `second` or `millisecond` is aggressive and will exhaust the API limits. If the rate limit is hit, that can prevent further mount requests to succeed until we're past the throttling window.

cc @jlichwa

[2021-08-13 14:35] viktoriiakarpova-TomTom opened #610 "Update documentation and examples for CSI user assigned managed identity"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
I followed [this](

[2021-08-13 16:56] ddskit opened #611 "Create secret of type 'azure/blobfuse'"
**What steps did you take and what happened:**
I am using following azure [blobfuse](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse) to create the persistent Volume and pvc. This driver needs a secret to be created which has storageaccount access details. This secret is of type 'azure/blodfuse'

I am putting the storageaccount access key in azure key vault and u

[2021-08-16 16:18] aramase commented on #592
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/608 which sets `fullnameOverride` for the driver charts to `secrets-store-csi-driver`. Please feel free to open a new issue if you have any questions.

[2021-08-16 16:18] #592 closed

[2021-08-16 16:18] aramase commented on #596
Closed with #608

[2021-08-16 16:18] #596 closed

[2021-08-16 16:54] aramase commented on #604
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/604#issuecomment-895353564. Please feel free to reopen if you have any questions.

[2021-08-16 16:54] #604 closed

[2021-08-16 20:29] jlichwa commented on #606
Key vault recommends caching for several hours to avoid service outages - so for Key Vault default should be 8 hours.
The recommendation is to always have primary and secondary credentials and alternate rotation between them to prevent any outages.
You can read more about pattern here:
https://docs.microsoft.com/en-us/azure/key-vault/secrets/tutorial-rotation-dual?tabs=azure-cli

[2021-08-16 21:39] aramase commented on #514
Closing this issue with #534

[2021-08-16 21:39] #514 closed

[2021-08-16 21:42] aramase commented on #325
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/325#issuecomment-754311586. Please feel free to reopen if you have any questions.

[2021-08-16 21:42] #325 closed

[2021-08-16 22:34] aramase commented on #566
Duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/567

[2021-08-16 22:34] #566 closed

[2021-08-16 22:40] aramase commented on #223
We have an e2e test today for custom cloud environment validation: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/test/e2e/custom_cloudenv_test.go. Closing this issue with test.

[2021-08-16 22:40] #223 closed

[2021-08-17 11:13] jiestebanw commented on #584
@aramase  we are still interested in knowing if this syncSecret functionality can work with the PV/PVC as commented in previous comment. If so how and which are the pros and cons of using the PV/PVC approach

Many thanks for your support

[2021-08-17 17:44] nilekhc commented on #569
@dkirrane With latest release, secret store CSI driver is now by default writing secret content to mount instead of provider. With this enabled you can use `objectAlias` in `SecretProviderClasss` and manage the path of your secrets. You can do something like :

[code]

Note: `objectName` must be same as secret name configured in KeyVault. Also I would recommend using latest `v0.2.0` for both drive

[2021-08-18 15:39] ramooncamacho commented on #292
I've had the same problem using AKS. I realized the kubernetes cluster vnet was not configured to use Azure-provided DNS server, but Google and Microsoft defined mannually. Because of that, some requests to Azure KeyVault was done via internet, and others via private endpoint. That's why intermittent. I forced Azure-provided DNS, to get only private endpoint, and it was solved. I was not expecting

[2021-08-18 17:14] aramase commented on #610
@viktoriiakarpova-TomTom Those parameters are required to be specified in the `SecretProviderClass` and not in the deployment. The only required field in the volume spec for the driver is the `secretProviderClass`.

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/07859c33d3a5c2b318414ed4bd1dc9e4f84c2400/examples/user-assigned-managed-identity/v1alpha1_secretproviderclass_user

[2021-08-18 18:54] thcp commented on #273
Currently facing the same issue here, pinging to keep this issue alive.

[2021-08-20 11:49] flisak-robert opened #614 "SecretObject not created when using pod identity"
Not sure if this is a bug or if I am doing something incorrectly - I'm trying to inject my keyvault secrets to a pod as environment variables. The pod identity and permissions are working fine - the secrets are correctly mounted as files and I can display them in a pod. The problem occurs when I try to use them as env variables. Here is my `secretprovidersclass.yml`:

[code]
And my `deployment.yml

[2021-08-20 14:36] #614 closed

[2021-08-20 14:36] flisak-robert commented on #614
Turns out that I did not have syncSecret enabled:
https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/#failed-to-create-kubernetes-secret-errsecrets-is-forbidden-user-systemserviceaccountdefaultsecrets-store-csi-driver-cannot-create-resource-secrets-in-api-group--in-the-namespace-default

[2021-08-20 18:26] aramase commented on #406
The load tests documented [here](https://secrets-store-csi-driver.sigs.k8s.io/load-tests.html) were run with 250 nodes, 17.5k pods and 3.5k secrets.

For this issue, we want to run the load tests with 1k nodes, 20k pods and 3.5k to 5k secrets and document the results in https://azure.github.io/secrets-store-csi-driver-provider-azure/

[2021-08-20 18:29] aramase commented on #575
@BlackRider97 Thank you for opening the issue!

Could you provide more information on why the subcharts would want to be deployed in different namespace than the parent chart? For this particular project, wouldn't the intent be to deploy the provider and the driver in the same namespace ?

[2021-08-20 18:34] aramase commented on #611
Closed with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/703

[2021-08-20 18:34] #611 closed

[2021-08-20 18:38] aramase opened #615 "Hosting helm charts in github pages"
- Hosting in github pages will give us the flexibility to publish charts from release branches
- Automate the packaging and publish of helm charts using github actions.

Things to do:
- [x] Update `gh-pages` branch to move website docs into `docs` folder
    - Delete the `gh-pages` branch
    - Merge PR to update publish dir: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/07

[2021-08-20 18:57] cheslijones opened #616 "Failed to pull image "mcr.microsoft.com/oss/kubernetes-csi/csi-node-driver-registrar:v2.2.0": rpc error: code = Unknown desc = no matching manifest for linux/arm64/v8 in the manifest list entries"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-08-20 19:19] aramase commented on #616
@cheslijones Thank you for opening the issue. The official image published by the Kubernetes CSI community should have support for arm64. For the images hosted in mcr, we will add it when we build the next release.

You can try using the Kubernetes CSI community published image. As part of helm install `--set secrets-store-csi-driver.linux. registrarImage.repository=k8s.gcr.io/sig-storage/csi-node

[2021-08-21 00:03] #585 closed

[2021-08-22 15:47] ahmedig opened #618 "failed to download "https://raw.githubusercontent.com/Azure/secrets-store-csi-driver-provider-azure/master/charts/csi-secrets-store-provider-azure-0.2.0.tgz""
**What steps did you take and what happened:**
Installing the latest version of the helm chart fails.
![image](https://user-images.githubusercontent.com/102851/130361393-6bd0d6c4-e45e-410d-a47f-10099e4dafc9.png)

**What did you expect to happen:**
The helm chart to get installed

**Anything else you would like to add:**
This happens with all versions of the helm chart

**Which access mode did you

[2021-08-22 15:59] #618 closed

[2021-08-22 16:06] ahmedig commented on #618
Please ignore..

[2021-08-24 00:05] #598 closed

[2021-08-24 13:25] deuch commented on #273
They made it …
https://akv2k8s.io/tutorials/sync/9-certificate-as-AKV-secret/

[2021-08-25 04:21] djj0809 commented on #527
It's also not easy to get the client id in air gapped clouds, so resource Id is a better choice

[2021-08-25 12:28] johannordincab opened #619 "azure-keyvault-secrets-provider (preview) fails on windows nodes"
**Have you**

- [ x ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [ x ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
* created a cl

[2021-08-25 13:36] Dolevco opened #620 ""mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers" on AKS windows pods"
We have issues with some of our windows pods - we are getting the following error:
"MountVolume.SetUp failed for volume "kv-volume" : kubernetes.io/csi:
  mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io
  not found in the list of registered CSI drivers"

some of the pods are working (on different nodes) and some are not. I verified the nodes having the same pods inst

[2021-08-25 13:45] trhumphries commented on #619
We've seen this issue as well, sometimes restarting the node resolves it

[2021-08-25 13:45] trhumphries commented on #620
We've seen this issue as well, sometimes restarting the node resolves it

[2021-08-26 09:58] KunalAdu opened #622 "Unable to retrieve the current version certificate from CSI drivers, its still pointing to older version"
**Have you**

- [-] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [-] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-08-27 21:14] nilekhc opened #624 "e2e test on supported k8s version on AKS"
Create a new pipeline with a supported k8s version matrix to perform e2e tests on provider.

[2021-08-28 00:03] #599 closed

[2021-08-28 00:03] #590 closed

[2021-08-28 01:49] eedorenko commented on #579
The major difference is that CSI driver synchronizes external secrets directly into a pod volume bypassing the native k8s secret resource. Although, optionally, it can mirror the content of the volume into a normal secret, it's an additional feature to handle use-cases like [Set as Env Var](https://secrets-store-csi-driver.sigs.k8s.io/topics/set-as-env-var.html). That said, the workloads, consumin

[2021-08-30 06:59] johannordincab commented on #619
@aramase Yes, thats the error.
We'll go back to helm charts for now as they work well for us. Looking forward to using this once it works better.

[2021-08-31 22:53] #551 closed

[2021-09-02 09:06] jakond1 opened #628 "Application pod is container creating state in AKS 1.20.7 with mount failure errors in secret-store logs"
we has upgraded the AKS to 1.20.7 and application pods stucked in container creating state. The pod is using secret-store and keyvault-secret-store-csi-driver pod has below errors. Where as we added new nodepool with 1.19 in same cluster which is working fine.

E0830 07:05:54.376166       1 nodeserver.go:190] "failed to mount" err="mount failed: exit status 32\nMounting command: mount\nMounting ar

[2021-09-02 09:07] jakond1 commented on #628
@aramase To check this issue please

[2021-09-02 09:18] #628 closed

[2021-09-02 15:02] aramase commented on #610
If you're using user-assigned managed identity to access keyvault, the user-assigned managed clientID needs to be provided in the `SecretProviderClass`.

https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/b53a0108da8d1e7204128aaa8a6cfdea9eaee04f/examples/user-assigned-managed-identity/v1alpha1_secretproviderclass_user_assigned_identity.yaml#L11

If the `userAssignedIdentityID` i

[2021-09-02 23:08] aramase commented on #569
Closing this issue with https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/569#issuecomment-900504627. Please feel free to reopen if the above config doesn't work.

[2021-09-02 23:08] #569 closed

[2021-09-03 07:48] #610 closed

[2021-09-06 07:46] pdonovan commented on #622
@KunalAdu Did you manage to resolve this?

I'm seeing the same behaviour, after deleting the secret it pulled a new one after a few minutes but it didn't get the "Latest" version. It pulled the Certificate version that was previously being used. It's still valid, but it's not the newly-renewed cert (not the one shown as CURRENT VERSION in the Key Vault admin portal).

I'm also using the same Key V

[2021-09-06 18:45] KunalAdu commented on #622
@pdonovan : Yes , I did a mistake

[2021-09-06 18:51] KunalAdu commented on #622
@pdonovan  : Yes its resolved , I missed to add below step while installing CSI drivers

--set secrets-store-csi-driver.enableSecretRotation=true

Check below issues , this worked for me like a charm  . Now as soon as we updated the certificate in the key vault . It got reflected for our APIs swagger URL If its a router certificate please restart it once

https://github.com/Azure/secrets-store-csi

[2021-09-06 18:51] KunalAdu commented on #622
@pdonovan : Yes its resolved , I missed to add below step while installing CSI drivers

--set secrets-store-csi-driver.enableSecretRotation=true

Check below issues , this worked for me like a charm  . Now as soon as we updated the certificate in the key vault . It got reflected for our APIs swagger URL If its a router certificate please restart it once

https://github.com/Azure/secrets-store-csi-

[2021-09-06 18:51] #622 closed

[2021-09-07 07:54] pdonovan commented on #622
Thanks, I'd missed that switch too.

[2021-09-07 09:36] KunalAdu commented on #622
@pdonovan : After adding Is it working ?

[2021-09-07 16:38] aramase commented on #584
@jiestebanw What is the requirement for using PVC with the CSI driver? The Secrets Store CSI Driver is recommended for use with Ephemeral volume. The volume is mounted in the pod as tmpfs and the secret contents are written to the volume.

[2021-09-08 00:03] #606 closed

[2021-09-08 09:44] thcp commented on #273
Commenting to keep this issue alive.

[2021-09-09 01:41] lee0c opened #631 "[Documentation] Pod Identity configuration options should reference both installation/operation modes - or just link out to documentation"
Pod Identity currently has two modes of installation/operation - standard and managed. However, the current [setup documentation for this project with pod identity](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/pod-identity-mode/) as the identity option references only standard mode.

It may be helpful to do one or both of the following:

1. N

[2021-09-09 08:42] tasb opened #632 "Connection refuse to Azure Key Vault"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [X] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Installed Secret S

[2021-09-09 09:06] pengjz89 opened #633 "Secrets-Store CSI Driver running AKS-Engine (Stack Hub) unable to connect to Stack Hub Key Vault"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-09-09 14:33] kedardeworks commented on #526
Hello,

While trying to run a pod yaml in azure redhat openshift with `SCC privileged true` it disaplays following error

[code]

[2021-09-09 16:10] aramase commented on #632
@tasb Did you deploy aad-pod-identity? "Connection refused" seems to indicate that the pod identity is not running in the cluster. This is the doc for using pod identity to access keyvault: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/pod-identity-mode/.

Note: the standard walkthrough is using [Service Principal](https://azure.github.io/secr

[2021-09-09 17:57] #400 closed

[2021-09-09 23:13] aramase commented on #633
This error usually indicates the request to keyvault didn't complete and the context deadlined. The default context timeout is 2m3s for the volume mount is expected to be complete by then. It's possible the endpoint and the dns suffix for keyvault is correct? I tried this on my cluster to validate csi driver is getting the custom endpoint for keyvault for `AzureStackCloud` and can confirm it works

[2021-09-10 06:40] deyanp commented on #564
@pierluigilenoci could you then *pls* answer the question of/convince dims in issue https://github.com/kubernetes/klog/issues/212 that this is an issue in klog, and that your PR makes sense?

[2021-09-10 07:15] pierluigilenoci commented on #564
@deyanp I've already tried.

They basically said it is a known bug but there is no intention to fix it because it would change the behavior of the logger for practically all the components of Kubernetes and must be fixed while maintaining backward compatibility. Obviously, this is not possible because it works badly and to fix it the behavior must necessarily be changed and it is not possible to d

[2021-09-10 07:15] pierluigilenoci commented on #564
As soon as I have a few hours of time I will try to find a solution that is backward compatible but I don't promise anything. 😞

[2021-09-10 14:48] deyanp commented on #564
@pierluigilenoci , appreciated, I understand that you may not have time for this!

@aramase as a workaround, if I change `--rotation-poll-interval` from 2 to 30 minutes for example (to work around the problem with too many logs in this way) will I hit again the other [issue](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/368) where your last comment was "We'll also explore

[2021-09-10 20:48] markgarrigan commented on #530
I'm getting this error 100% of the time.
Original Error: the MSI endpoint is not available. Failed HTTP request to MSI endpoint: Get "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01": context deadline exceeded
LAMU02Y40MKJG5J:myapi mgarriga$ ping 169.254.169.254

[2021-09-10 20:51] aramase commented on #530
@markgarrigan Are you able to ping `169.254.169.254` from the node to see if it's reachable?

[2021-09-11 10:43] deuch commented on #273
Almost 1 year and no news ?

[2021-09-11 15:23] JimFran opened #637 "Azure Key Vault using manage identity in AKS"
I am deploying in Azure AKS a regular deployment and i want to use keyvault to store my secrets to get access to a database.

This is my deployment file:

[code]

and this is my secret storage class:

[code]
Where "zzzz-zzzz-zzzz-zzzz-zzzz" is the Client ID of the created Managed Identity.

In the Key Vault that i created "dbkvtz" i added through "Access Policy" the Managed Identity that i created

[2021-09-12 09:07] Dolevco commented on #620
issue still active

[2021-09-13 13:49] markgarrigan commented on #530
/ # ping 169.254.169.254 -w 30
PING 169.254.169.254 (169.254.169.254): 56 data bytes

--- 169.254.169.254 ping statistics ---
30 packets transmitted, 0 packets received, 100% packet loss

[2021-09-13 14:35] kapopken commented on #637
try this
kind: SecretProviderClass
metadata:
  name: azure-kv-provider
spec:
  provider: azure
  secretObjects:
   - data:
      - key: username
        objectName: username
      - key: password
        objectName: password
     secretName: test-secret
     type: Opaque
  parameters:
    usePodIdentity: "true"
    userAssignedIdentityID: "zzzz-zzzz-zzzz-zzzz-zzzz"
    keyvaultName: "dbkvtz"
    o

[2021-09-13 15:13] JimFran commented on #637
Hi @kapopken
I'm not using pod binding in this case. I´ll explain you what I´m doing:

I would like to know if when I create a new AKS cluster with the option "System-assigned managed identity" enabled a new "Managed Identity" is automathycally created?

I am asking this because I am not using any other **"Managed Identity"** but the one that I created manually.

These are the steps followed:

1.

[2021-09-13 17:38] aramase commented on #235
Add the details here: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/

[2021-09-13 18:11] #423 closed

[2021-09-13 18:27] nilekhc commented on #637
@kapopken Thanks for the help!

@JimFran It looks like SecretProviderClass (SPC) is not correctly set. ~~`useAssignedIdentity`~~ => `useVMManagedIdentity`
Could you please take a look at `User-assigned Managed Identity` [doc](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/user-assigned-msi-mode/)? It has step by step guidance and examples for S

[2021-09-14 00:10] #616 closed

[2021-09-14 07:14] thomnowuk commented on #619
This is still an issue.

[2021-09-15 16:29] aramase opened #639 "`mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers` on windows nodes"
**Steps To Reproduce**

1. Deploy the Secrets Store CSI Driver and Azure Key Vault Provider on windows nodes.
2. Deploy a pod on windows node with a volume spec referencing the Secrets Store CSI Driver.
3. The pod will be stuck in `ContainerCreating` state. On inspecting the pod with `kubectl describe pod`, the following error message is seen:
[code]

**Expected behavior**
As the driver is running

[2021-09-15 16:30] aramase commented on #620
Create #639 to summarize this issue and marked it a known-issue. Closing this issue in favor of that.

[2021-09-15 16:30] #620 closed

[2021-09-15 16:31] aramase commented on #619
Created #639 to summarize this issue and marked it a known-issue. Closing this issue in favor of that.

[2021-09-15 16:31] #619 closed

[2021-09-19 14:26] jcobb48 opened #644 "/issues/new"
**Have you**

- [ yes ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [ yes ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
Configurin

[2021-09-20 13:17] cerginio opened #645 "missing secret in KeyVault prevents initialization of SecretProviderClass"
missing secret in Azure KeyVault prevents initialization of SecretProviderClass .

This behavior leads to blocked deployment in CrashLoop state.

Is it possible to force SecretProviderClass resource creation with some default secret values even if secrets are not present in Azure KeyVault?

Please make a note about expected behavior and configuration options for missing secret case in your documen

[2021-09-20 14:08] grafikkaos opened #646 "Azure Keyvault RBAC and Kubernetes"
Hi all,

Apologies if this may have been asked before.  I am looking to setup up an RBAC enabled K8s cluster to read keys from an RBAC enabled Keyvault. I have ensured that I do not Kubenet and use Azure as the network plugin and policy for my cluster.  I have also setup a managed user identity, assigned the appropriate roles and managed to create secrets.

However, my main issue with the Pod iden

[2021-09-20 16:36] aramase commented on #644
@jcobb48 Thanks for reporting the issue.

The yaml files you posted above look correct. That error message is from the keyvault SDK. To see the actual request being made and response, could you try adding the `AZURE_GO_SDK_LOG_LEVEL`: `AUTH` environment variable in the provider pods. Setting this environment variable will log the actual request and response.

[2021-09-20 16:39] aramase commented on #645
@cerginio Thank you for opening the issue. We'll add it to our documentation.

No, that's currently not possible. If any of the secret is missing it'll cause the volume mount to fail. This is the issue requesting similar feature: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/567

[2021-09-20 16:41] aramase commented on #646
@grafikkaos Thank you for opening the issue. Could you share the actual yaml files created in the cluster for the `AzureIdentity` and `AzureIdentityBinding`? Also, did you check the aad-pod-identity MIC and NMI pod logs for the error?

This is the pod identity troubleshooting guide: https://azure.github.io/aad-pod-identity/docs/troubleshooting/

[2021-09-20 17:47] sozercan opened #647 "Replace deprecated codecov uploader"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Codecov bash uploader is deprecated, we should replace that with https://github.com/codecov/codecov-action

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
https://docs.codecov.com/docs/about-the-codecov-bash-uploader

**Environment:**

- Se

[2021-09-20 18:48] JimFran commented on #637
Hi, after doing some changes i am getting this error:

This is my secret-class.yml file

`apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kv-provider
spec:
  provider: azure
  secretObjects:
   - data:
      - key: username
        objectName: username
      - key: password
        objectName: password
     secretName: test-secret
     type: Opaque

[2021-09-20 19:28] JimFran commented on #637
Extra info from Key vault:

**az keyvault show --name SonarQubeHelm**

[code]

[2021-09-21 10:51] pengjz89 commented on #633
Thanks @aramase for your help.

We managed to resolve the issue by setting the following two files for csi secret-store-provider via worker node volumeMount
- AzureStackCloud Configuration: /etc/kubernetes/azurestackcloud.json
- SSL Certificates : /etc/ssl/cert/ca-certificates.crt

AKS-Engine is configured with a specific domain and specific root certificate.
AzureStackCloud is used to provide CSI

[2021-09-21 10:51] #633 closed

[2021-09-21 11:35] deyanp commented on #564
Ok, I guess this is going nowhere, so I found an alternative solution (in case another poor soul needs it) - see below.

1) Upon pod start I used the trick of `Environment.SetEnvironmentVariable (Environment.GetEnvironmentVariable(key) |> get from key vault)`. So basically I am retrieving the connection string from key vault and then setting it as the same env var, before the env var is retrieved

[2021-09-21 11:35] #564 closed

[2021-09-21 18:46] yutanglin16 commented on #273
This work to change App Service Certificate as a "certificate" type in KV is still planned and is on our backlog . We don't have any ETA to provide yet regarding this. I am not expecting us to publicly support it this calendar year.

[2021-09-22 14:10] JuanmaBM opened #649 "Avoid too info logs"
To avoid reiterative info log when another log level is settings, change:
[code]
for
[code]

**Reference:** https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/4e0b2f7ca6bcb291ca5a075e2638e6f84136ecb0/pkg/provider/provider.go#L257

[2021-09-22 14:15] jcobb48 commented on #644
Hi here are the Azure Provider logs:

[code]

[2021-09-22 17:51] nilekhc commented on #637
@JimFran Could run `az vmss identity show -g <resource group>  -n <vmss scalset name> -o yaml` and get userAssignedIdentities?

Make sure the `clientId` (not principalId) from above output has the correct permissions on KeyVault.

[2021-09-22 18:17] #235 closed

[2021-09-22 18:31] #647 closed

[2021-09-22 20:35] JimFran commented on #637
Hi @nilekhc

I am not sure about how to use this command:

_az vmss identity show -g <resource group> -n <vmss scalset name> -o yaml_

What is exactly vmss in AKS? Where I get the **<vmss scalset name>**?

Also, is this command not showing the roles assigned to the managed identity created by AKS?

**az role assignment list --assignee xxx-xxxx-xxx-xxx-xxxxx4b5ec83 --all**

("xxx-xxxx-xxx-xxx-xxxxx

[2021-09-22 20:46] nilekhc commented on #637
@JimFran  When you create AKS cluster two RGs are created. One RG (which you specify while creating cluster) contains actual AKS clusters. One other RG is created behind the scene with following naming convention `MC_rgname_clustername_location`. This consist infra components like Virtual Machine Scale Set (VMSS), LB, Identity etc. In this RG you can find VMMS name that AKS has created to provisio

[2021-09-23 06:01] yktd26 opened #652 "RunAsNonRootUser"
**Describe the solution you'd like**
csi driver pods are ran with root

**Anything else you would like to add:**
AKS security reports that the pods in our cluster are running with root user. And we find that csi driver is ran with root.
Is it possible to run the csi driver pods with non root user?

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provide

[2021-09-23 12:34] JSvedberg85 opened #653 "Secrets are not syncing even though they are mounted in the pods"
**What steps did you take and what happened:**
Secret Store CSI Driver Azure Provider is installed via Helm chart version 0.2.0:
https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure

A SecretProviderClass is created for each namespace where we need to get secrets from Azure Key Vault.

Secrets from the Azure Key Vault are mounted in t

[2021-09-23 20:31] nilekhc commented on #653
@JSvedberg85 Thanks for opening the issue. Have you enabled syncSecrets while deploying? You can set `secrets-store-csi-driver.syncSecret.enabled=true` as part of helm install/upgrade

[2021-09-23 20:41] nilekhc commented on #652
@yktd26 Thanks for opening the issue. The driver pod need to run as root in order to mount the volume as tmpfs in pod. We recommend installing driver and provider in `kube-system` namespace.

Please refer to *Why kube-system* section in the [doc](https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/) for additional information.

[2021-09-24 00:49] nilekhc commented on #624
Yet to implement

[2021-09-24 07:04] JSvedberg85 commented on #653
Hi, sorry for not including that in the original post.

This is the output from helm get values:
[code]

[2021-09-24 07:53] yktd26 commented on #652
@nilekhc thank you a lot, closing it.

[2021-09-24 07:53] #652 closed

[2021-09-24 11:57] Uvindu96 commented on #639
@aramase I faced the same issue after upgrading the CSI driver from version 0.0.14 to v0.2.0. I'm running the CSI driver in linux node. So I think this not only happening in windows instances.To upgrade the CSI driver I used the following command,
`helm upgrade csi csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --namespace kube-system`

[2021-09-24 19:23] JimFran commented on #637
Hello @nilekhc

The result of the command:

**az vmss identity show -g MC_rg-LD-sandbox_SonarQubeHelm_southcentralus -n aks-agentpool-xxxxx62-vmss -o yaml**

`clientId: 666e3535-b613-4698-ac3e-cfb79a3906b8`

[2021-09-24 20:50] nilekhc commented on #637
This was due to the misconfiguration of permission. The output above for `az keyvault show --name SonarQubeHelm` does not contain permission for `79a3906b8`(clientId). However I do see permissions were given for `a4b5ec83`(principalId). Provider works with clientId.

In a nutshell, if you are working with Managed Identity, then get `clientId` of that MSI, make sure it is assigned to VMMS, give per

[2021-09-24 21:09] nilekhc commented on #653
@JSvedberg85 Could you check if role `secretprovidersyncing-role` and role binding  `secretprovidersyncing-rolebinding` exists?

Also, could you provide yaml output of SPC configuration and the driver container logs?

[2021-09-26 05:15] MahdiKarimipour opened #654 "Dead links"

[2021-09-26 05:22] #654 closed

[2021-09-26 16:44] Uvindu96 opened #655 "MountVolume.SetUp failed for volume "secrets-store-inline" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers on Linux node"
**What steps did you take and what happened:**

1. Upgrading CSI driver chart version 0.0.14 to latest version.
2. After upgrading to the latest version when I deploy a sample pod my pod status is blocked in "ContainerCreating" status.

**What did you expect to happen:**
volume mount should succeed and pod start running.

**Anything else you would like to add:**
Command I used to upgrade the drive

[2021-09-27 09:05] g14como opened #656 "Secrets stored as symbolic link"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

but didn't find anything related to the issue described below

**

[2021-09-27 15:59] aramase commented on #656
Prior to v0.1.0, the provider wrote the files to the filesystem. In v0.1.0 we switched to the CSI driver writing the files instead of the provider. This is to standardize how the files are written to fs instead of each provider having their own implementation.

As part of this change, we also switched to using the atomic writer which is what Kubernetes uses today for all the volume types using sym

[2021-09-27 17:18] nilekhc commented on #655
@Uvindu96 Thanks for reporting this. It is likely due to kubelet is failing to register the driver. Restarting the pod is easy workaround. Though we have observed this [issue](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/639) with Windows nodes prominently with k8s 1.21+.

We will have to check why it's failing on Linux nodes.

[2021-09-27 17:57] nilekhc commented on #655
@Uvindu96 Could you provide `node-driver-registrar` and `kubelet` logs? I also wonder if you can reproduce this?

[2021-09-28 06:57] g14como commented on #656
@aramase thank you for the clarification.

[2021-09-28 06:57] #656 closed

[2021-09-29 00:04] #584 closed

[2021-09-29 06:42] Uvindu96 commented on #655
@nilekhc I was able to reproduce this using following steps.

1. Install the CSI driver version 0.0.14
       `helm install csi csi-secrets-store-provider-azure/csi-secrets-store-provider-azure --version 0.0.14 --namespace kube-system`
2. Provide identity to access Azure Key Vault
         `az keyvault set-policy -n my-key-vault --secret-permissions get --spn 9531***********************`
3. Create

[2021-09-30 12:36] swapnilpotnis opened #665 "Mount Failed: rpc error: code = Unknown desc = mount failed: exit status 32"
**Have you**

- [ ] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [ ] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2021-09-30 15:22] aramase commented on #665
What version of the driver and provider are you installing? Could you share the command output for `helm ls -A`?

[2021-09-30 16:04] swapnilpotnis commented on #665
`csi             	kube-system	1       	2021-09-30 17:39:32.111226238 +0530 IST	deployed	csi-secrets-store-provider-azure-0.0.10	0.0.8    `

[2021-09-30 16:16] aramase commented on #665
@swapnilpotnis That's an unsupported release from 1yr back. There have been quite a few changes since then. Could you use the latest release?

[2021-09-30 17:25] swapnilpotnis commented on #665
@aramase : I just made use of the instructions as posted on the following page: https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/#deployment-using-helm

Haven't made any specific changes to the helm installation.

[2021-09-30 17:41] aramase commented on #665
@swapnilpotnis your helm repo might be outdated. Run `helm repo update` to fetch the latest versions available.

[2021-09-30 18:15] swapnilpotnis commented on #665
Thanks alot @aramase  for helping me out with the issue. Repo Update -> Installation worked for me.

[2021-10-01 00:04] #632 closed

[2021-10-01 00:09] aramase commented on #665
Thanks for confirming. I'm going to close this as the issue is resolved. Please feel free to reopen if you have any other issues.

[2021-10-01 00:09] #665 closed

[2021-10-03 15:42] Uvindu96 commented on #655
@nilekhc is there any update on this? can we expect a fix for this soon?

[2021-10-04 07:32] vivekjilla commented on #628
@jakond1 How did this issue get resolved for you. We're also hitting into this exact issue. Can you please help.

[2021-10-04 07:50] jakond1 commented on #628
@vivekjilla  We have updated chart version to 0.20 and pods came to running state

[2021-10-04 16:54] nilekhc commented on #655
Hey @Uvindu96 Apologies for delay, was swamped with other work. I am trying to repro this at my end but have not found any issues so far. Is it possible to share `node-driver-registrar` logs? This is the container responsible for driver registration.

Also, `v0.0.14` is very old version and a lot has change since. Is uninstalling and reinstalling latest version an option? If so, could you give it

[2021-10-06 07:46] Uvindu96 commented on #655
Hi @nilekhc I think it is not possible us to completely reinstall and again install the latest version, because it will give us a down time. If we can't directly update to the latest version, is there any stable version we can move ? and then we can update from there to the latest version. (Please note that we are going to upgrade our K8s version to v1.22 and we have to update the CSI driver which

[2021-10-08 16:19] danifran opened #672 "Support for private endpoint - private dns names"
**Describe the solution you'd like**
The CSI Provider is not able to connect to a Key Vault exposed only by private endpoints without traslating the dns call. I would suggest to add a configuration section to support private endpoints and private dns names, so that there is no need to open a service endpoint for it or to make changes on dns resolution.

**Anything else you would like to add:**
[Mi

[2021-10-08 18:23] danifran commented on #672
Found the original error in a misconfigured vnet-private dns association. Missed it before.

[2021-10-12 00:04] #646 closed

[2021-10-12 14:07] Xitric opened #673 "FailedToCreateSecret: file matching objectName ... not found in the pod"
**Have you**
- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

I am aware of the existence of similar issues, however I have been

[2021-10-14 13:07] Xitric commented on #673
Luckily this turned out to be just a misconfiguration from my side. I had repeated the `array` keyword in my `SecretsProviderClass`. The correct definition should look like this:

[code]

[2021-10-14 13:07] #673 closed

[2021-10-14 16:27] aramase opened #676 "Mark v1.0.0 release"
Cut a `v1.0.0` release for provider after driver stable release is available

[2021-10-15 12:17] JimFran commented on #637
Hi,

the solution worked like a charm!

Thanks.

[2021-10-16 00:04] #653 closed

[2021-10-16 00:04] #624 closed, assigned to nobody

[2021-10-20 02:29] sasarava opened #682 "The secrets are not getting loaded while using pod identity with CSI secret driver"
###### The AzureIdentity

[code]

###### The Azure Identity Binding

[code]

###### The pod definition

[code]

###### The secret provider class

[code]

###### Azure Assigned Identity that got created
[code]

Given the above state and given the secrets are present in the Key Vaults, the kubernetes secrets are not getting generated as expected. We have given the necessary permissions to the Key Va

[2021-10-25 21:24] philwelz opened #689 "SecretProviderClass CRD"
**Describe the solution you'd like**

Could you please add the Custom Resource Definition for the SecretProviderClass as YAML to the repository? There are scenarios especially with GitOps and API-Server validation where you need to pre-install the CRDs. Also as Helm does not upgrade existing CRDs, so this would be very helpful as mitigation.

**Anything else you would like to add:**

* [Example is

[2021-10-25 23:34] nilekhc opened #690 "implement e2e test pipeline for arc extension with outbound proxy"
- setup proxy vms with squid (or some other equivalent proxy server).
- connect k8s cluster to Azure arc [using an outbound proxy server](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/quickstart-connect-cluster?tabs=azure-cli#4a-connect-using-an-outbound-proxy-server).
- Install driver, provider and arc extension.
- run e2e tests.

[2021-10-26 17:46] #676 closed, assigned to aramase

[2021-10-26 22:08] #689 closed, assigned to nobody

[2021-10-27 13:11] alxy opened #696 "Moving the provider to a different namespace results in loss of all `SecretProviderClass` objects"
**What steps did you take and what happened:**
As we are currently going through all the security center recommendation by Azure Security Center, one high severity issue with our AKS was that all pods were running as root. As written in [the docs](https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/), the provider should be installed to the `kube-system` na

[2021-10-28 09:39] amarkevich opened #697 "Kubernetes secret value was not updated after pod redeploy"
**What steps did you take and what happened:**

[code]

[code]

k8s secret created. Keyvault object updated, on next deploy secret version is actual but secret value was not changed:

[code]
[code]
still old value:
`>kubectl get secret app-secrets --namespace app -o jsonpath='{.data}'`

**What did you expect to happen:**
k8s secret value updated from keyvault

**Anything else you would like to add

[2021-10-29 09:58] #697 closed, assigned to nobody

[2021-10-29 10:47] Uvindu96 opened #699 "mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers on Linux node"
**What steps did you take and what happened:**

1. Upgrading CSI driver chart version 0.0.14 to latest version.
2. After upgrading to the latest version when I deploy a sample pod my pod status is blocked in "ContainerCreating" status.

**What did you expect to happen:**
volume mount should succeed and pod start running.

**Anything else you would like to add:**
Command I used to upgrade the drive

[2021-10-29 16:58] KGAJUL opened #700 "AKS Vulnerability issue -Running containers as root user should be avoided"
Issue:

We have AKS cluster deployed in multiple environments and we deployed CSI secret store in AKS cluster but Azure Security center reported one of the vulnerability "Running containers as root user should be avoided"

What we have done to resolve:

We have followed the Microsoft documentation "https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/deployment/provider-azu

[2021-10-29 18:14] KGAJUL commented on #700
@aramase , Thank you for the quick response and recommendation. We have deployed in "kube-system" and this issue is fixed for now but my question is if we deploy this provider in kube-system then it would suppress the vulnerabilities in Security center but Is this recommended approach from Microsoft? Can you please help me understand?

[2021-10-29 18:18] aramase commented on #700
@KGAJUL For the provider, it needs to run as root to be able to perform the operations. As it runs as root, it's high privilege and we recommend deploying in `kube-system`. This is the recommendation for this project.

[2021-11-02 16:54] nilekhc commented on #699
Hey @Uvindu96 Continuing our disucssion from https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/655, were you able to try it out in another test env? We recommend to install table `v1.0.0` for both driver and provider.

[2021-11-03 07:45] Makdaam opened #704 "The provider isn't compatible with RHCOS"
**What steps did you take and what happened:**
Secrets Store CSI driver is incompatible with Red Hat CoreOS (RHCOS) based nodes used for example in OpenShift products like Azure Red Hat OpenShift.

It places a socket (azure.sock) in /etc/kubernetes/secrets-store-csi-providers which is not expected in RHCOS, as /etc is expected to be managed by the Machine Config Operator in a transactional way. Se

[2021-11-04 20:23] aramase commented on #704
@Makdaam How are you deploying the driver and provider? The provider volume path is configurable and you can change it to a different path if `/etc` is not accepted in RHCOS.

For the driver:
1. Use this flag to configure custom path for provider sock: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/deploy/secrets-store-csi-driver.yaml#L57
2. Update the volume mount path here

[2021-11-06 04:58] xieskysky commented on #628
@jakond1 , we see the same thing when trying to upgrade from K8S 1.19 to K8S 1.20. Did you upgrade yaml including the CSI driver container images? What was your previous CSI driver version? What did you upgrade to? Can you share some details how you fixed the issue?

[2021-11-07 00:04] #637 closed

[2021-11-08 08:21] franzoir opened #711 "Azure Key Vault and private link using pod identity"
I'm doing some testing now accessing AKV with private link using Pod Identity and have problems with fetching secrets successfully.

My current lab config:
[code]

And some logs from the CSI store:
[code]

Based on the troubleshooting docs this points to firewall configuration, but the source network is allowed in AKV.
nslookup returns the expected private link FQDN.
Pod identity resource has nece

[2021-11-08 17:21] aramase commented on #711
@franzoir To confirm if this is working have you tried any other identity access mode to retrieve the secrets from keyvault (service principal/ managed identity without pod identity)?

You can also try setting `AZURE_GO_SDK_LOG_LEVEL: debug` environment variable in the provider pods. That'll log the actual API calls from the SDK and log the response. It'll provide more info on which call is failin

[2021-11-08 20:05] aramase opened #712 "Set file-system permissions for mounted secrets"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/722

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

The proto definition has file permission which we set to the default value today:
https://github.com/Azure/secrets

[2021-11-09 08:39] franzoir commented on #711
I've validated the setup using pod identity and same `SecretProviderClass` against another key vault which isn't configured with private link, but firewall only and it works fine there.
But for testing purposes I'll do some more debugging and test with managed identity/service principal.

I will update with outcome.

[2021-11-09 11:12] kamilzzz opened #713 "Mount fails after upgrading AKS from 1.19.3 to 1.20.9"
**What steps did you take and what happened:**
Started upgrading AKS cluster & node pools from 1.19.3 to 1.20.9.

Secret Store CSI Driver and Secret Store Provider Azure pods started correctly on new nodes with 1.20.9 AKS version.
However, my application pods cannot start due to mount errors, they're stuck in ContainerCreating status.

Events from application pod:
[code]

**What did you expect to

[2021-11-09 14:00] Gmanweb opened #714 "secrets-store secret not found when pod tries to start"
**Have you**

- [yes] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [ yes] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
I have an Ngi

[2021-11-09 17:14] aramase commented on #713
@kamilzzz `v0.0.17` is an old version of the driver that's no longer supported. Also, there was a change in `v0.0.18` of driver to support kubernetes version v1.20+. Please review the release notes: https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.18 and update to the latest supported versions:

https://secrets-store-csi-driver.sigs.k8s.io/#project-status
https://azure

[2021-11-09 17:16] aramase commented on #714
@Gmanweb To sync the mounted content as Kubernetes secret, you need to additionally define the `secretObjects` field in the `SecretProviderClass`. Please refer to https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/sync-with-k8s-secrets/ for more details.

Here are some examples: https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/examples/sync-a

[2021-11-09 17:36] kamilzzz commented on #713
@aramase thanks.
I was looking at the changelog before because I indeed thought maybe an update is required but somehow I missed it 😊

[2021-11-09 19:09] Gmanweb commented on #714
Hi @aramase

I do have it or I thought I did, see code block above and snip below. Am I missing something else?

[code]

[2021-11-09 19:22] aramase commented on #714
@Gmanweb Could you check the driver logs for errors: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/#for-csi-driver-logs.

Did you set `secrets-store-csi-driver.syncSecret.enabled=true` when installing the driver and provider with helm? If not, then the secret creation could be failing because of that: https://azure.github.io/secrets-store-csi-driver-provider-azure

[2021-11-09 19:40] kamilzzz commented on #713
Working fine after upgrading to latest version.

[2021-11-09 19:40] #713 closed

[2021-11-09 21:11] Gmanweb commented on #714
when you say installing the driver and provider with helm are there two different repos you are talking about for just one.

[code]

[2021-11-09 21:14] Gmanweb commented on #714
if it's two can what is the second helm repo and would you have the link to it.

[2021-11-10 01:28] aramase commented on #714
The charts in [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver) only installs the driver. The charts in this [repo](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure) have the driver charts as dependency and will install the driver and provider.

The li

[2021-11-10 09:28] franzoir commented on #711
@aramase (update) I have noticed that all methods of authentication fails/times out. However I cannot see any logs in key vault for failed/forbidden attempts from my source. So it doesn't seem like it even reaches the key vault. I'll will continue with debugging network/routing.

CSI is deployed into kube-system and I've verified that there isn't any network policies that block egress in-cluster.

[2021-11-11 00:04] #682 closed

[2021-11-11 21:28] curtisman opened #716 "Documentation: Using the Azure Key Vault Provider"
All the links under this section goes to 404:
https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/#provide-identity-to-access-key-vault

[2021-11-12 19:59] aramase commented on #716
The PR update has been reverted. The docs should be fixed now.

[2021-11-12 19:59] #716 closed

[2021-11-15 16:43] franzoir commented on #711
Late update:
We found that the problem was caused by routing issues in our network. So when that was sorted out it worked just fine.

[2021-11-15 16:43] #711 closed

[2021-11-15 17:15] aramase commented on #711
Thanks for confirming @franzoir. Based on your investigation anything that you think would be a good addition to our docs? Or the troubleshooting guide?

[2021-11-16 00:04] #690 closed

[2021-11-16 10:03] franzoir commented on #711
It would be a good idea to mention the `AZURE_GO_SDK_LOG_LEVEL: debug` environment variable in the troubleshooting guide.
Add `destination network unreachable/timeout` as a possible reason for the error ref: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/#keyvaultbaseclientgetsecret-failure-sending-request-statuscode0----original-error-context-canceled

The command

[2021-11-16 17:09] aramase commented on #711
Thanks for the feedback! We'll get those added to our troubleshooting guide.

[2021-11-19 03:21] iamworldsky commented on #699
I encountered the same problem from v0.0.19 to v0.2.0,  I have tried many times to reproduce it. must need to restart CSI pods to fix it.

but I tried to upgrade from v0.0.19 to v1.0.0, it works

Environment:

- identity: user-assigned managed identity
- Secrets Store CSI Driver version: (0.0.19):
- Azure Key Vault provider version: (0.0.19):
- namespace: secrets-store-provider
- Kubernetes versio

[2021-11-20 00:04] #696 closed

[2021-11-21 00:04] #700 closed

[2021-11-23 02:46] briantre opened #722 "[Question] Key Vault Throttling Limits with a Large Number of Pods"
We're considering using this secrets provider in our service but we're concerned about getting throttled by Key Vault when there are a large number of pods running in our cluster.  I want to make sure that my understanding of the system is correct before we move forward.

Is it correct to say that for every polling interval that the number of requests being sent to Key Vault is equal to _(number o

[2021-11-23 19:27] nilekhc commented on #722
Hello @briantre, thanks for the question.
We do not process rotation [concurrently](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/67ba18dc1df132ff7328a04ce5e18318668e1994/pkg/rotation/reconciler.go#L140-L142). Every rotation call is translated to the keyvault `GET` call for the secrets/keys defined per pod + `SecretProviderClass`(SPC). You can refer SPC into multiple pods. We cr

[2021-11-23 21:19] Gmanweb commented on #714
@aramase all working now, I will put up my full solution to help other but what you said

thanks

[2021-11-25 02:49] caseyzhang123 commented on #598
I am having the same issue, where I am using the system assigned identity to retrieve secrets from key vault.  Here is some info from our cluster:

1. I believe we have no user assigned identities on our cluster.
2. We have one system assigned identity on our cluster.

3. Output from az aks show -g <resourceGroupName> -n <aksName> --query "identity":
[code]

4. SecretProviderClass.yaml:
[code]

5.

[2021-11-25 03:00] caseyzhang123 opened #725 "Multiple user assigned identities exist, please specify the clientId / resourceId of the identity in the token request"
Same issue as #598, but I can't reopen it so here's a new one.

**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

*

[2021-11-27 00:04] #704 closed

[2021-11-27 00:56] esune opened #726 "Unable to install SecretProviderClass using Helm chart"
I am following [this](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver) documentation to enable the Secrets Store CSI driver provider in an existing aks cluster, which was provisioned using Terraform (as far as my understanding goes, there is no Terraform API to do so, yet).

The chart providing the extension was successfully installed as I can see the pods running:
[code]

I ha

[2021-11-29 18:33] aramase commented on #725
Hello 👋🏻

Could you share the output for `az vmss identity show -g <rg> -n <vmss name>`?

[2021-11-29 18:46] caseyzhang123 commented on #725
We have two scale sets, each with the following output showing 2 user assigned identities:
[code]

[2021-11-29 18:57] aramase commented on #725
There is no `SystemAssiged` identity in the output. The error message is valid. To use system-assigned managed identity, please refer to https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/system-assigned-msi-mode/

[2021-11-29 20:56] miwithro commented on #725
Adding in @zeromagic to comment.

[2021-11-29 21:02] Nitesh002 opened #727 "The client does not have permission to perform action 'Microsoft.OperationalInsights/workspaces/sharedkeys/read'"
I have created a Azure Kubernetes Cluster but after that I am getting below error when I am running any commands.

Code: LinkedAuthorizationFailed
Message: The client 'xxxx with object id 'xxxx' has permission to perform action 'Microsoft.ContainerService/managedClusters/write' on scope '/subscriptions/2xxxx/resourceGroups/xxxx/providers/Microsoft.ContainerService/managedClusters/demoAKS_ITE'; how

[2021-11-30 02:05] briantre commented on #722
Hello @nilekhc , thank you so much for your reply.  I had not seen the results of the load test before, thank you for pointing those out to me!  The results of the load test look very encouraging but I'm still trying to wrap my head around why the load test _didn't_ run into issues with throttling.  If my understanding is correct, in the load test there were 10,000 pods that all referenced the sam

[2021-11-30 18:14] nilekhc commented on #727
Hello @Nitesh002, Is this related to Secrets Store CSI AKV provider project? If you are planning to use Secrets Store CSI driver, it's available as managed add-on on AKS.
https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver

[2021-11-30 22:12] miwithro commented on #598
@hbc

[2021-12-01 09:47] Dkaivalya opened #728 "Feature: Add "ownerReferance" feild in secretPRoviderClass manifest"
While performing the walkthrough of how to use CSI driver to fetch secrets from AKV, I observed that the secret created using secretProviderClass is having ownerReferance which have information regarding owner of that secret and where it is mounted. Generally we use pod or replica set where the secretPRoviderClass is passes as volume and in there it is stored.

In the one of the scenario, I have c

[2021-12-03 16:41] nerddtvg opened #731 "Idle Cronjob Secrets Are Not Rotated"
**What steps did you take and what happened:**

When a Cronjob references a secret, the secrets are not created initially. They are only created when the containers which is expected from the documentation. The secret is not deleted when the containers finish since they are still referenced by the Cronjob definition. That is fine because it speeds up the next run startup.

However, because the sec

[2021-12-03 16:45] nerddtvg commented on #731
This seems related to, but not the same as: https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298

[2021-12-08 17:35] paulczar opened #735 "Azure CSI driver causes OpenShift to be un-upgradable"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

The CSI driver uses `/etc/kubernetes/...` for the shared csi sock

[2021-12-09 16:21] djarvis commented on #521
@aramase @dmcconnell-m I am seeing this exact same issue:

_Warning  FailedMount  4s (x6 over 20s)  kubelet            MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod myapp1/nginx-secrets-store-inline, err: rpc error: code = Unknown desc = error making mount request: secrets-store csi driver failed to write

[2021-12-09 19:32] aramase commented on #735
Duplicate of https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/704. The providers dir is made is already made configurable in helm charts and is pending chart release.

[2021-12-09 23:18] aramase commented on #649
closed with #730

[2021-12-09 23:18] #649 closed

[2021-12-10 15:07] micheleietri opened #738 "Can't get secret resource created with azure secret store provider"
as said in title I'm facing an issue with secret creation using SecretProviderClass.

I've created my aks and my kv (and filled it) on azure. then I'll proceed to follow [those][1] steps using a user-assigned managed identity

but no `secret` resource get created and pods got stuck on creation with mount errors

those are the steps I followed

    az extension add --name aks-preview
    az extensi

[2021-12-10 15:13] micheleietri commented on #738
closing and reopening for adding wrong label, sorry!

[2021-12-10 15:13] #738 closed

[2021-12-10 15:14] micheleietri opened #739 "Can't get secret resource created with azure secret store provider"
as said in title I'm facing an issue with secret creation using SecretProviderClass.

I've created my aks and my kv (and filled it) on azure. then I'll proceed to follow [those][1] steps using a user-assigned managed identity

but no `secret` resource get created and pods got stuck on creation with mount failure.

those are the steps I followed

    az extension add --name aks-preview
    az exten

[2021-12-10 18:08] aramase commented on #739
Hello 👋🏻

Could you provide the logs from the driver and provider pods running on the same node as your app pod? As you're using the AKS addon, here are steps to gather the logs: https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-troubleshooting#logging. Also, `kubectl describe pod` will contain the error for mount failure.

Aside from that, `resourceGroup` and `subscriptionId` aren't re

[2021-12-11 00:04] #699 closed

[2021-12-13 07:44] micheleietri commented on #739
It was actual a misconfiguration, wrong kv name

[2021-12-13 07:44] #739 closed

[2021-12-13 15:34] satr commented on #104
The link above is not available. Maybe this article can help:
https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/getting-certs-and-keys/
Found it in [website-getting-started](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/website/content/en/getting-started/usage/_index.md) , in a comment to `objectType: secret`

[2021-12-13 16:37] chrisamert opened #740 "Synced Kubernetes Secrets were not updated when the value changed in KeyVault"
**Have you**

- [x] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [x] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
We have a cluster

[2021-12-13 17:30] aramase commented on #740
This is a known limitation that's documented: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html. The Kubernetes secret is only updated with the rotation feature enabled. Without rotation, the steps are to delete the kubernetes secret before triggering rollout of the deployment. The reason for this is the Kubernetes secret is created based on the secret stored in mount. If the sec

[2021-12-13 17:57] chrisamert commented on #740
Ahh got it, I missed that known limitations page.  I would suggest linking the known limitations page from the 'Sync as Kubernetes Secret' page, as this behavior wasn't clear.  I'll close this since it sounds like expected behavior.

[2021-12-13 18:02] aramase commented on #740
Thanks for the feedback! I'll link it to the doc.

[2021-12-13 18:04] #740 closed

[2021-12-13 18:12] esune commented on #726
Bumping this. I was able to get things running, however guidance on the preferred way to setup RBAC would be appreciated, or feedback on the suggested automated setup of appropriate RBAC profiles when installing the chart.

[2021-12-14 01:36] MouniR-123 commented on #590
@aramase Hi, I have followed the Microsoft documentation to integrate CSI Volume Driver , my application pod and secretproviderclass both are in same namespace , but here is the error: ( describe pod)
-MountVolume.SetUp failed for volume "secrets-store-inline" : rpc error: code = Unknown desc = secretProviderClass is not set
-Unable to attach or mount volumes: unmounted volumes=[secrets-store-inli

[2021-12-14 22:50] steephan-s1 opened #742 "MountVolume.NewMounter initialization failed for volume "secrets-store-inline" : volume mode "Ephemeral" not supported by driver secrets-store.csi.k8s.io (no CSIDriver object)"
E1214 22:27:31.518630       1 mic.go:1111] failed to update user-assigned identities on node aks-agentpool-33013998-vmss (add [1], del [0], update[0]), error: failed to update identities for aks-agentpool-33013998-vmss in MC_rg-demo5678_aks-demo5678_eastus, error: compute.VirtualMachineScaleSetsClient#Update: Failure sending request: StatusCode=0 -- Original Error: Code="LinkedAuthorizationFailed"

[2021-12-15 00:04] #714 closed

[2021-12-15 00:14] aramase commented on #742
Hello 👋🏻  From the error message you posted this looks like insufficient permissions when using aad-pod-identity. Please refer to https://azure.github.io/aad-pod-identity/docs/getting-started/role-assignment/ for required role assignments. Also, checkout the aad-pod-identity troubleshooting which has the topic: https://azure.github.io/aad-pod-identity/docs/troubleshooting/#linkedauthorizationfaile

[2021-12-15 09:08] vinshetty opened #743 "KV CSI will not work for China region AKS"
**Have you**

**What steps did you take and what happened:**
I tried using CSI in China region but it's not  working as expected its throwing an error getting below  error

 Warning  FailedMount  1s    kubelet            MountVolume.SetUp failed for volume "emoryalgogpu" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod default/nginx-deployment-665469d894-zcw4g, err:

[2021-12-16 05:01] steephan-s1 commented on #742
Thanks so much now it's working properly.

[2021-12-16 12:30] shayc12 commented on #346
Hello,
I have used a security script that on my test aks cluster verifies NSA Hardening for k8s, we have the following issues:

`[control: Allow privilege escalation] failed
Description: Attackers may gain access to a container and uplift its privilege to enable excessive capabilities.
Failed:
   Namespace kube-csi
      Deployment - aad-pod-identity-mic
      DaemonSet - aad-pod-identity-nmi
Reme

[2021-12-16 15:37] MarekLani commented on #127
@aramase @Mimetis sorry for opening the closed issue and asking bit unrelated question, but what does actually nodePublishSecretRef do? I can't find any piece of documentation on it and this issue comes up as number one results of web search.

[2021-12-16 17:18] aramase commented on #742
Thanks for confirming! Closing this issue now. Feel free to reopen if you've any questions.

[2021-12-16 17:18] #742 closed

[2021-12-16 18:16] caseyzhang123 commented on #725
Commenting to keep thread alive.  The core issue is that the system assigned identity I'm trying to use is the AKS system assigned identity, which is distinct from vmss system-assigned identities.  This seems poorly documented to me, but at least I can find a workaround now - likely I will switch to user-assigned identities.

[2021-12-16 18:31] miwithro commented on #725
@caseyzhang123 I updated the AKS documentation to walk you through the use cases.

[2021-12-18 00:27] sharmakhushboo commented on #487
Hi @nilekhc , the fix you proposed is not working for the csi-secrets-store-provider-azure pods. These provider pods are still only getting deployed to the nodes without the taint. I even tried adding this to my yaml file but it didn't work.

`csi-secrets-store-provider-azure:
  install: true
  linux:
    enabled: true
    tolerations:
      - key: "dedicated"
        operator: "Equal"
        val

[2021-12-20 07:54] shayc12 opened #744 "[Question] potential vulnerability issues on csi driver"
Hello,
I have used a security script that on my test aks cluster verifies NSA Hardening for k8s, we have the following issues:

[code]

My question is if I were implemented it is it will effect Azure AKS management and may effect the cluster usage ?

[2021-12-20 17:49] steephan-s1 commented on #742
Hi Aramase,

This is SecretProviderClass
apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: secret-provider-kv
  namespace: default
spec:
  provider: azure
  secretObjects:
    - data:
        - key: RABBITMQPASSWORD
          objectName: RABBITMQPASSWORD
      secretName: akvsecrets
      type: Opaque
  parameters:
    usePodIdentity: "true"
    useVMManag

[2021-12-20 18:57] steephan-s1 opened #745 "How to Pass Key vault secrets in Env"
Hi Aramase,

This is SecretProviderClass
apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
name: secret-provider-kv
namespace: default
spec:
provider: azure
secretObjects:
- data:
- key: RABBITMQPASSWORD
objectName: RABBITMQPASSWORD
secretName: akvsecrets
type: Opaque
parameters:
usePodIdentity: "true"
useVMManagedIdentity: "false"
userAssignedIdentityID: ""
keyva

[2021-12-21 00:27] MouniR-123 commented on #745
Hi @steephan-s1 could you please share the steps you have followed for csidrivervolume integration. I am trying to implement this but seeing 404 error in nmi pods.  our keyvault is RBAC enabled, and I have Reader and "Key Vault Secret Reader" roleassginments created.
Thankyou!

[2021-12-21 00:39] steephan-s1 commented on #745
This is the link  which i followed to implement Keyvault ( https://github.com/HoussemDellai/aks-keyvault )

[2021-12-21 15:25] simon-an opened #746 "Secret does not get updated"
**What steps did you take and what happened:**
I use a secret provider class to sync kubernetes secrets from the mounted volume to environment variables.
This works fine, initially.
But when adding new secrets to the Keyvault, updating the SecretProviderClass and the Deployment, the secrets are not patched to the kubernetes secret.

**What did you expect to happen:**
Adding keys to and existing se

[2021-12-22 00:04] #727 closed

[2021-12-22 22:07] aj9411 opened #747 "PEM certificate chain is backwards, even with 'constructPEMChain' = true, after upgrading from v0.1.0"
**What steps did you take and what happened:**
I am running an haproxy container, which needs to fetch some certificates from my Azure Key Vault. I have a csi-secrets-store-provider-azure container (version 0.0.14) for this purpose. Today everything is working fine, the secrets store provider grabs the certificate and makes it available for haproxy. We want to move to the latest version of csi-sec

[2021-12-26 00:05] #731 closed

[2021-12-29 20:58] joseph-flinn commented on #725
I'm having the same (or similar) issue. When creating an AKS cluster, we select the `System Assigned` managed identity which is assigned to the AKS cluster and not the VMSS. AKS instead automatically creates a `User Assigned` managed identity on the VMSS. We can use this managed identity to connect to the needed KV via this manifest:

[code]

This works just great if there is only that one user as

[2021-12-29 21:13] joseph-flinn commented on #725
I'd also like to highlight that the AKS documentation for `SystemAssigned` managed identities is a bit off:  https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-identity-access#prerequisites-1. Like mentioned above, if you create an AKS cluster with a `SystemAssigned` managed identity, the resulting VMSS don't have SystemAssigned identities, just the AKS created `UserAssigned` one. If the

[2021-12-29 23:01] Hipster74 commented on #149
Ok, many hours troubleshooting later I found this issue.

It seems to still be true that if you like to use KEDA and scale down to zero in AKS you can't use the KeyVault CSI Provider.

Just like @NileshGule I have found out that the pods simply won't start because mounting the secrets from KeyVault to filesystem fails during boot.

Would it be possible to add functionality for this to work in futu

[2021-12-30 21:13] JawnnyB commented on #746
You'll want to ensure that you've enabled SecretRotation and the rotationPollInterval.  For example if deploying as a Helm chart:

--set secrets-store-csi-driver.enableSecretRotation=true
--set secrets-store-csi-driver.rotationPollInterval=30m

When secrets are added or updated in Keyvault they will be patched into the kubernetes secret when the csi driver next polls Keyvault based on the value yo

[2021-12-31 00:05] #735 closed

[2022-01-03 17:07] aramase commented on #744
Hello 👋🏻

By default we only set the required RBAC permissions and security context for the the driver and provider pods. Changing the default will cause the driver and provider to fail when trying to perform the volume mount operation.

[2022-01-03 17:09] aramase commented on #745
Using pod identity to access keyvault is documented here: https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/pod-identity-mode/. If you receive a 404 from NMI it means the token operation failed in pod identity. You can troubleshoot pod identity failures from the MIC and NMI logs: https://azure.github.io/aad-pod-identity/docs/troubleshooting/.

Her

[2022-01-03 17:11] aramase commented on #746
Thanks for adding the details @JawnnyB!

As mentioned, enabling secret rotation will update the volume mount and kubernetes secret with the latest/new values. If the feature isn't enabled, here are the steps for the new secret to be added to the pod and kubernetes secret: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html#mounted-content-and-kubernetes-secret-not-updated

[2022-01-03 17:27] aramase commented on #149
Thank you for the feedback! We'll add this to our troubleshooting guide.

Tying the lifetime of the kubernetes secret created to the lifetime of the pods using it keeps it secure and prevents secrets from existing in the cluster longer than they're required. The actual data in kubernetes secret is a mirror of the mounted content and in the absence of any pod using the secret there is no data to mi

[2022-01-03 21:16] #747 closed

[2022-01-03 21:18] aj9411 commented on #747
Sorry for the hassle, please ignore. I figured out some other process was altering the PEM chain to get the right order. With `--construct-pem-chain=true`, that process ended up writing the chain backwards.

[2022-01-04 00:05] #726 closed

[2022-01-04 16:14] shayc12 commented on #744
So I cant apply those changes if I get you right because it will cause failure on the driver?

[2022-01-04 19:23] aramase commented on #744
That's right!

[2022-01-04 19:28] shayc12 commented on #744
10x

[2022-01-04 19:28] #744 closed

[2022-01-06 00:05] #743 closed

[2022-01-07 09:29] Borrelworst opened #748 "Unable to install with Egress Firewall, depricated objects"
**What steps did you take and what happened:**
When installing the latest version of the provider in Kubernetes 1.22.4 I ran into the following issues:

- Our cluster has an egress route on network level, so I a manually have to set the KUBERNETES_SERVICE_HOST environment var to the pods for API communication. This works fine for the pods, however when deploying, the CRDs are installed with a batc

[2022-01-07 17:17] aramase commented on #748
If the driver and provider are deployed in `kube-system` namespace, `KUBERNETES_SERVICE_HOST` is already set for the pods. This is validated and the [AKS add-on for Secrets Store CSI Driver](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver) deploys it in `kube-system`. We have the recommendation to deploy in `kube-system` in our docs: https://azure.github.io/secrets-store-csi-dr

[2022-01-12 08:44] deyanp opened #750 "deployment/provider-azure-installer.yaml in tag v1.0.0 has image: mcr.microsoft.com/oss/azure/secrets-store/provider-azure:v1.0.0-rc.0"
Deployment/provider-azure-installer.yaml in tag v1.0.0 has image: mcr.microsoft.com/oss/azure/secrets-store/provider-azure:v1.0.0-rc.0, but should be v1.0.0 instead ..

[2022-01-12 12:47] nilekhc commented on #750
Thanks for opening issue @deyanp

I can see correct image tag in [deployment yaml file](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/a40f8978a9532701b0023d08f9dd94eb1ee32f01/deployment/provider-azure-installer.yaml#L27).

[2022-01-12 18:03] nilekhc commented on #750
I see. It appears that we inadvertently miss this change in our release. We are releasing v1.0.1 this week.

[2022-01-13 11:48] ashisa commented on #725
I am running in to precisely this issue with a partner. Looking guidance to make this production capable.

[2022-01-13 12:01] miwithro commented on #725
Sorry for the confusion here all. I am going to make some updates to the CSI Secret Store document today.  Essentially here is the key data point to use this for production on AKS.

This confusion is due to using upstream version. For the AKS addon version, we assigned one user assigned identity on VMSS. Users can directly use this identity if they use our addon. Users Do not need to assign it to

[2022-01-13 12:15] miwithro commented on #725
@joseph-flinn @ashisa for an AKS deployment with CSI Secret Store it is recommended to use the AKS provided User Assigned Managed Identity.

A user-assigned managed identity, named azurekeyvaultsecretsprovider-*, is created by the add-on for the purpose of accessing Azure resources. The following example uses this identity to connect to the Azure key vault where the secrets will be stored, but you

[2022-01-13 12:18] miwithro commented on #725
An additional note on this topic as well.  If you don't specify a UAMI ID in the yml CSI Secret Store will default back to a System Assigned MI.

userAssignedIdentityID: ""      # If empty, then defaults to use the system assigned identity on the VM

[2022-01-14 19:20] aramase opened #754 "Remove `aks-engine` tests and template from PR and nightly runs"
- We have tests running with:
  - kind
  - aks-engine
  - AKS

clusters as part of our PR gate and nightly runs. As `aks-engine` will eventually be replaced with CAPZ, we should remove the aks-engine tests and templates.

[2022-01-17 12:22] mkemmerz commented on #84
Any update on how to set the env var without using Kubernetes secrets?

I also can confirm that the command @ritazh posted does not work, sadly.

[2022-01-17 16:23] oshaikh-bronga commented on #138
@aramase is there way we could mount certs in JKS using object format or object encoding

[2022-01-18 11:37] HoussemDellai opened #758 "Will this project replaced by Azure AD Workload Identity ?"
I see a new project: [https://azure.github.io/azure-workload-identity/docs/introduction.html](https://azure.github.io/azure-workload-identity/docs/introduction.html)
It enables to connect to Azure Key Vault using AAD on any Kubernetes cluster.
Will it replace this project ?

[2022-01-18 14:11] nilekhc commented on #758
Hello @HoussemDellai, Thanks for opening the issue.

Azure Workload Identity will serve as yet another [identity access method](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/) for secrets store CSI AKV provider.

We are working on adding support for same in this project. This will be our recommended method to connect with AKV when using this p

[2022-01-18 14:34] nilekhc commented on #84
Hey @shubhammicrosoft1, Could you try [this](https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/ingress-tls/)?

[2022-01-18 21:54] sjdweb opened #759 "Failing to mount secrets when a new node is scaled up"
**Have you**

- [X] Read [Troubleshooting Guide](https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/)
- [X] Searched on [GitHub issues](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) and [Discussions](https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions)

**What steps did you take and what happened:**
[A clear and conci

[2022-01-18 22:04] sjdweb commented on #759
Here's some more detail as I watch another deployment:

[code]

│ Events:                                                                                                                                                                                                              │
│   Type     Reason            Age                From                Message

[2022-01-18 22:09] aramase commented on #759
Thanks for reporting the issue!

Unfortunately, this behavior isn't specific to the secrets-store-csi-driver implementation but rather how workloads are scheduled in Kubernetes. The CSI driver needs to be running on the node for the volume mount request to be processed but in case of a scale up event there is no way to ensure all system pods (csi driver, kube-proxy, other pods in `kube-system` nam

[2022-01-18 22:11] aramase commented on #759
Typically the images for some of these components are baked in the VHD image. If they're not present in the VHD, then the image needs to be pulled which is probably what you're seeing in the describe output.

[2022-01-19 00:37] sjdweb commented on #759
@aramase thank you for the quick response! I assume there's no known workaround for this?

The behaviour we've observed over ~10 rollouts is that the pods never hit `Running` without manual intervention (delete pod, new one then starts). We have a timeout of 25 minutes for the helm upgrade.

[2022-01-19 09:42] nilekhc commented on #759
@sjdweb, Do we know if driver and provider pods were running at the time of manual intervention?

[2022-01-19 14:20] sjdweb commented on #759
@nilekhc yes all other pods were running relating to the secret provider, identity etc before manual intervention

[2022-01-19 17:23] NikhilRajNR commented on #746
Is there any update on this issue? We have same issue after upgrading from 0.0.6 to 1.0.0. having same environment and cluster.

[2022-01-19 17:29] aramase commented on #746
@NikhilRajNR What is the issue you're seeing? This issue is specific to the enable secret rotation feature not being enabled. If you have the feature enabled and aren't seeing the mounted content updated with new values, please provide your environment information, scenario and relevant logs.

Here is a link to the troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-az

[2022-01-19 17:31] aramase commented on #759
Currently there is no workaround for this. Eventually the pod volume mounts will succeed when the drivers are running because of the retries available in `kubelet`. Long term I think it would be great if node readiness as mentioned in the KEP above is a thing so we can mark the node ready only after the csi drivers and other system critical pods are running.

[2022-01-19 17:39] aramase commented on #750
Thanks for reporting the issue.

The diff in the tag should only be the image `v1.0.0-rc.0` instead of `v1.0.0`. The tag was accidentally performed against `main` instead of the release branch.

The helm install will use the current image for the chart version `1.0.0`

We've published `v1.0.1` release which should be tagged to the correct branch. Please do let us know if you run into any issues wi

[2022-01-19 17:40] aramase commented on #748
https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/v1.0.1 is now released and the chart has the fix for `pspEnabled`.

Closing this issue now. Feel free to reopen if you've any questions.

[2022-01-19 17:40] #748 closed

[2022-01-19 18:16] NikhilRajNR commented on #746
We have enabled secret rotation feature. But secret is not getting updated. Although after restart pods getting Mount location secret updated. But to get secret updated we have to delete secret and then restart the pod.

[2022-01-19 18:23] aramase commented on #746
Please create a new github issue and provide the following:

1. Installation commands used
2. Driver and provider version
3. `SecretProviderClass` yaml
4. `Pod` yaml

[2022-01-19 18:27] sjdweb commented on #759
@aramase unfortunately the pod volume mounts never succeed in our case. Today for example the containers were stuck for 35m in `ContainerCreating` without intervention. Killing the pods fixed the issue, but we cannot do this every deployment.

[2022-01-19 18:36] aramase commented on #759
Yeah, I agree that's not a great experience.

1. Could you use the `v1.0.0` version for the driver and provider?
2. Share the `kubectl events` during the timeframe.
3. If you have access to kubelet logs on the node, that'll be great so we can see how often kubelet is retrying the mount.
4. Output for `kubectl get pods` to show when the driver, provider pods started running.
5. Logs from the driver

[2022-01-19 20:18] #712 closed

[2022-01-21 10:46] deyanp commented on #750
thanks, @aramase , all good with v1.0.1!

[2022-01-21 10:46] #750 closed

[2022-01-21 14:03] HoussemDellai commented on #758
Thanks very much @nilekhc 💯

[2022-01-21 14:10] nilekhc commented on #758
Closing this. Please open new one if you face any problems.

[2022-01-21 14:10] #758 closed

[2022-01-24 21:17] ivanalfonso-msft commented on #571
Hello, does anyone knows if this request has been evaluated/considered for implementation?

We have a need that should be satisfied by this feature, we need to keep the latest _**n**_ versions mounted with **autorotation**.

[code]

[2022-01-26 00:05] #745 closed

[2022-01-27 15:42] rudolphjacksonm commented on #725
Is there support for a scenario where you would want to migrate from system-assigned to user-assigned identities for na AKS cluster? For example, we bundle the secretproviderclass into our app Helm chart. This is deployed to an AKS cluster with a system-assigned identity. If we bind a user-assigned identity to this cluster, the CSI driver will stop working.

If we want to use a user-assigned ident

[2022-01-27 17:49] aramase opened #775 "Upgrade tests for published arc extension"
Nightly tests to test upgrade between 2 version of the extension
- Deploy extension with `v1` and run e2e tests
- Upgrade to `v2` and then rerun e2e tests

[2022-01-29 00:06] sozercan commented on #754
.

[2022-02-01 10:18] nilekhc commented on #754
We should also add e2e tests with CAPZ

[2022-02-01 17:05] aramase commented on #754
I don't think we need tests with CAPZ. We already have tests with kind and the initial motivation for `aks-engine` was to setup the feature gate required for inline volumes. For Azure specific scenarios, just AKS cluster should be enough.

[2022-02-01 20:03] aramase commented on #615
All the items are now complete. The existing charts are available at `https://azure.github.io/secrets-store-csi-driver-provider-azure/charts`. All new charts will be published to the new helm repo url.

[2022-02-01 20:03] #615 closed

[2022-02-02 20:49] #754 closed

[2022-02-02 23:31] aramase commented on #225
PR to make file permission configurable is merged: https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/751. This will be available in `v1.1.0` release planned for next week.

[2022-02-02 23:31] #225 closed

[2022-02-02 23:33] #306 closed

[2022-02-03 14:15] stan-sz opened #787 "policy/v1beta1 PodSecurityPolicy is deprecated in v1.21+, unavailable in v1.25+"
Based on https://kubernetes.io/docs/reference/using-api/deprecation-guide/#psp-v125 `PodSecurityPolicy` is deprecated. Opening an issue to track replacement for it.

[2022-02-04 19:35] caseyzhang123 commented on #725
Update on our final approach:

We are using terraform, so we created a user assigned managed identity via terraform, and used powershell scripts to bind it to our vmss (`az vmss identity assign -g $ResourceGroup -n $name --identities $Msi).  We decided against using ` az aks update -g <RGName> -n <AKSName> --enable-managed-identity` because it didn't integrate as well with terraform, and seemed pr

[2022-02-06 04:12] brandonmaul commented on #726
How were you able to get this working? Having the exact same issue on my cluster.

[2022-02-07 15:03] nilekhc opened #789 "Add e2e pipeline for conformance test plugin"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Azure Key Vault provider version: (use the image tag):
- Kubernetes version: (use `kubectl version`):
- Cluster ty

[2022-02-07 17:43] #68 closed

[2022-02-07 18:13] esune commented on #726
I created my own cluster role and assigned it to my service account.
[code]
Please note my RBAC is pretty lax and could likely be tightened further. What I am not happy with is how the Secrets Store doesn't provide an ou-of-the-box clusterrole to do this, yet it requires the permission in order to create resources required to use the driver.

[2022-02-07 18:21] aramase commented on #726
Hello 👋🏻

We recently merged a PR in the driver to add custom roles for `view`, `edit` and `admin`. This will be available as part of `v1.1.0` release for the driver.

[2022-02-08 09:02] timokd opened #790 "Links in Readme.md Getting started section show Page not found"
Hi,
all the links in the readme.md's Getting started section show Page not found.

[2022-02-08 13:41] schwichti commented on #284
@jbearor Is there something new to this? Maybe https://github.com/Azure/secrets-store-csi-driver-provider-azure/discussions/771 is relevant.

[2022-02-08 18:12] #790 closed

[2022-02-11 00:05] #759 closed

[2022-02-11 00:05] #746 closed

[2022-02-11 15:05] o1da opened #796 "Creation of kubernetes.io/tls object triggered by Ingress object"
**Describe the solution you'd like**
From https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/419 it seems that Secret object with TLS certificate is created only when a Pod is using that object as mount. But when working with AGIC addon in AKS the only thing needed for SSL configuration of Application Gateway is Ingress object (https://docs.microsoft.com/en-us/azure/applicatio

[2022-02-15 04:50] luckerby opened #798 "Failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers"
**What steps did you take and what happened:**
We are having issues occasionally - once every few weeks - whereby pods on our single Windows node in an AKS cluster fail to start with `MountVolume.SetUp failed for volume "secrets-store-inline" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers`.

**What

[2022-02-15 05:36] luckerby commented on #798
Deleting the secrets store CSI driver pod doesn't have any impact on the problem. However, [deploying the Helm chart](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/getting-started/installation/#deployment-using-helm) and then deleting the secrets store CSI driver - and waiting for a new one to be automatically created - was found to be an effective temporary workaround.

The

[2022-02-15 18:46] nilekhc commented on #798
Hey @luckerby We are tracking an issue https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/639 for windows node. Basically node driver registrar on windows nodes is not working as expected.

Meanwhile could you do couple things:
- Since you are on AKS are you using managed AKS add-on for the same? It's the preferred way for using [Secret Store CSI driver on AKS cluster](https:/

[2022-02-15 18:51] nilekhc commented on #796
Hey @o1da, Thanks for opening the issue. The primary objective of Secrets Store CSI driver and provider project is to mount secrets on volume mount. Hence in order to create k8s secrets from KeyVault it needs to mount them first on volume and then sync to k8s secret.

However, there is a similar ask from other users (https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298) and we ar

[2022-02-18 13:13] stan-sz opened #802 "Provide the helm chart through mcr.microsoft.com"
**Describe the solution you'd like**
mcr.microsoft.com is capable of storing helm charts. Since all images referenced in the helm chart are from mcr.microsoft.com, it would be coherent to have the chart be pullable from the same source.

[2022-02-21 01:12] lpunati commented on #235
Hello @aramase, the above link is not working. It is throwing a 404

[2022-02-22 12:03] nilekhc commented on #235
Could you try https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/

[2022-02-23 02:46] lpunati commented on #235
This link is working, thanks

[2022-02-25 16:20] gowthambalram opened #809 "Kubernetes Secret is not being generate"
Hi,

We have installed the CSI driver and followed the steps to create the SecretProviderClass with secretObjects to create the kubernetes secret for the certificate, however, the kubernetes secret is not getting generated even after deploying the pod. The mounted path has the certificate as expected though.

Attaching the various files below, can you please help us where we are going wrong:

apiV